@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

:host {
  display: block;
  width: 100%;
}

.govuk-tabs {
  @include rem(font-size, 19px);
  color: black;
  @include rem(margin-top, 5px);
  @include rem(margin-bottom, 30px);
}

.govuk-tabs__title {
  @include rem(font-size, 19px);
  @include rem(margin-bottom, 5px);
}

.govuk-tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  // @include mq($until: tablet) {
  @include rem(margin-bottom, 30px);
  // }
}

.govuk-tabs__list-item {
  display: inline-block;
  @include rem(margin-left, 25px);

  &::before {
    content: '— ';
    @include rem(margin-left, -25px);
    @include rem(padding-right, 5px);
  }
}

.govuk-tabs__tab {
  @include rem(font-size, 19px);

  display: inline-block;
  // padding-top: govuk-spacing(2);
  // padding-bottom: govuk-spacing(2);

  &[aria-current='true'] {
    color: black;
    text-decoration: none;
  }
}

.govuk-tabs__panel {
  @include rem(margin-bottom, 40px);
}

// JavaScript enabled
// .js-enabled {

//   @include mq($from: tablet) {

.govuk-tabs__list {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  border-bottom: 1px solid map-get($color, grey);
}

.govuk-tabs__list-item {
  margin-left: 0;

  &::before {
    content: none;
  }
}

.govuk-tabs__title {
  display: none;
}

.govuk-tabs__tab {
  @include rem(margin-right, 5px);
  @include rem(padding-top, 15px);
  @include rem(padding-right, 20px);
  @include rem(padding-bottom, 15px);
  @include rem(padding-left, 20px);
  float: left;
  color: map-get($color, black);
  background-color: map-get($color, grey-light);
  text-align: center;
  text-decoration: none;

  &--selected {
    @include rem(margin-top, -5px);
    margin-bottom: -5px;

    // 1px is compensation for border (otherwise we get a 1px shift)
    @include rem(padding-top, 20px);
    @include rem(padding-right, 19px);
    @include rem(padding-bottom, 20px);
    @include rem(padding-left, 19px);

    border: 1px solid map-get($color, grey);
    border-bottom: 0;
    color: map-get($color, black);
    background-color: map-get($color, white);

    &:focus {
      outline: 3px solid #ffbf47;
      // background-color: transparent;
    }
  }
}

.govuk-tabs__panel {
  @include rem(margin-bottom, 0px);
  @include rem(padding-top, 30px);
  @include rem(padding-right, 20px);
  @include rem(padding-bottom, 30px);
  @include rem(padding-left, 20px);
  border: 1px solid map-get($color, grey);
  border-top: 0;

  &--hidden {
    display: none;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
//   }

// }
