<div class="govuk-tabs" data-module="tabs"></div>

<ul class="govuk-tabs__list" role="tablist">
  <li class="govuk-tabs__list-item" *ngFor="let tab of tabs">
    <a
      id="tab_{{ tab.slug }}"
      class="govuk-tabs__tab"
      [class.govuk-tabs__tab--selected]="tab.active"
      href="#{{ tab.slug }}"
      role="tab"
      [attr.aria-controls]="tab.slug"
      [attr.aria-selected]="tab.active"
      (click)="selectTab($event, tab)"
    >
      {{ tab.title }}
    </a>
  </li>
</ul>
<ng-content></ng-content>
