<!-- <span class="govuk-!-margin-bottom-0 govuk-!-margin-top-1 govuk__flex govuk__nowrap">
  <p>
    <img class="govuk-!-margin-right-1" src="/assets/images/flag-orange.svg" alt="" /> You've more staff than staff
    records.<br />
    Either change the total or view staff records to add more records.
  </p>
</span>
<span class="govuk__flex govuk__nowrap govuk-!-margin-right-9"
  >Either change the total or view staff records to add more records.</span
> -->

<!-- <span class="govuk-!-margin-bottom-0 govuk-!-margin-top-1 govuk__flex govuk__nowrap">
  <img class="govuk-!-margin-right-1" src="/assets/images/flag-orange.svg" alt="" />
</span>
<span class="govuk-!-margin-bottom-0 govuk-!-margin-top-1 govuk__nowrap">
  <p>You've more staff than staff records.</p>
  <p>Either change the total or view staff records to add more records.</p>
</span> -->
