@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

.column-desc {
  margin-bottom: .5rem;

  > * {
    font-size: 19px;
    font-weight: 600;
    margin: auto 0;
  }
}

.btn-link {
  margin: auto 0;
  font-size: 15px;
  letter-spacing: 1px;
  border: 0;
  color: #1078c7;
  text-decoration: underline;
  line-height: 2rem;

  @include media(map-get($breakpoints, tablet)) {
    line-height: 20px;
  }
}

.record {
  & ~ .record {
    margin-top: 3rem;
  };
  line-height: 32px;
}

.record select {
  height: 30px;
}

.summary-and-controls {
  line-height: 1rem;

  .summary {
    font-size: 30px;
    font-weight: 600;
  }
}

.btn-container {
  margin-top: 5rem;

  .btn.btn-primary {
    font-weight: 300;
    letter-spacing: 1px;
  }
}
