<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"> Training and qualifications </span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      {{ title }}
    </h1>
  </div>
</div>
<app-table-pagination-wrapper
  [totalCount]="totalWorkerCount"
  [count]="workerCount"
  [searchTerm]="searchTerm"
  [sortByParamMap]="sortByParamMap"
  [sortByValue]="sortByValue"
  [sortOptions]="sortTrainingOptions"
  label="Search by name or ID number"
  accessibleLabel="staff training records"
  (fetchData)="getTrainingByStatus($event)"
>
  <table class="govuk-table" data-testid="table" *ngIf="workerCount; else noTrainingFoundInSearch">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" style="width: 22%">Name or ID number</th>
        <th class="govuk-table__header" scope="col" style="width: 37%">Training category</th>
        <th class="govuk-table__header" scope="col" style="width: 15%">Expiry date</th>
        <th class="govuk-table__header" scope="col" style="width: 18%">Status</th>
        <th class="govuk-table__header" scope="col" style="width: 8%"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <ng-container *ngFor="let worker of workers">
        <ng-container *ngFor="let training of worker.workerTraining; let i = index">
          <tr
            class="govuk-table__row govuk-util__vertical-align-top"
            [attr.data-testid]="'table-row-' + worker.NameOrIdValue + '-' + i"
          >
            <td
              class="govuk-table__cell govuk-!-font-weight-regular"
              [ngClass]="tableRowConditionalClass(worker.workerTraining, i)"
            >
              <ng-container *ngIf="i === 0">
                <ng-container *ngIf="canEditWorker; else nameOrId">
                  <a
                    class="govuk-link--no-visited-state"
                    [attr.data-testid]="'worker-' + i"
                    href="#"
                    [routerLink]="[
                      '/workplace',
                      workplaceUid,
                      'training-and-qualifications-record',
                      worker.uid,
                      'training'
                    ]"
                  >
                    {{ worker.NameOrIdValue }}</a
                  >
                </ng-container>
                <ng-template #nameOrId>
                  <span [attr.data-testid]="'worker-' + worker.NameOrIdValue + '-noLink'">{{
                    worker.NameOrIdValue
                  }}</span>
                </ng-template>
              </ng-container>
            </td>
            <td
              class="govuk-table__cell govuk-!-font-weight-regular"
              [attr.data-testid]="'cell-' + worker.NameOrIdValue + '-' + i"
              [ngClass]="tableRowConditionalClass(worker.workerTraining, i)"
            >
              {{ training.category.category }}
            </td>
            <td
              class="govuk-table__cell govuk-!-font-weight-regular"
              [ngClass]="tableRowConditionalClass(worker.workerTraining, i)"
            >
              {{ training.expires ? (training.expires | date: 'd MMM y') : '-' }}
            </td>
            <td class="govuk-table__cell" [ngClass]="tableRowConditionalClass(worker.workerTraining, i)">
              <div class="govuk-!-margin-bottom-1">
                <img src="{{ img }}" alt="" class="govuk-!-margin-right-1 govuk-util__vertical-align-top" />
                {{ flagText }}
              </div>
            </td>
            <td class="govuk-table__cell" [ngClass]="tableRowConditionalClass(worker.workerTraining, i)">
              <div *ngIf="canEditWorker">
                <a
                  [routerLink]="[
                    '/workplace',
                    workplaceUid,
                    'training-and-qualifications-record',
                    worker.uid,
                    'training',
                    training.uid
                  ]"
                  >Update</a
                >
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
  <ng-template #noTrainingFoundInSearch>
    <div class="govuk-!-margin-top-6">
      <p class="govuk-util__bold">There are no matching results</p>
      <p>Make sure that your spelling is correct.</p>
    </div>
  </ng-template>
</app-table-pagination-wrapper>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <button type="button" class="govuk-button govuk-!-margin-top-4" (click)="returnToHome()">Return to home</button>
  </div>
</div>
