<details class="govuk-details">
  <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Why do we want to
      know?</span></summary>
  <div class="govuk-details__text">
    <p>
      DHSC want to know how many workers will be protected from flu this winter.
      This information could tell us that 60% of care workers in a certain area are
      vaccinated. This will help identify any extra local demands on the NHS and
      the care sector. It could also highlight a need for better promotion of the
      vaccine within the care sector. Your data will not be shared with any other
      organisation.
    </p>
  </div>
</details>
