@import 'govuk-frontend/govuk/base';

h1 {
  @media only screen and (min-width: 40.0625em) {
    margin-right: -40px;
  }
}

.asc-job-role-numbers-table {
  display: grid;
  grid-auto-flow: row;

  .asc-job-role-numbers-table__row {
    display: grid;
    grid-template-columns: 2fr minmax(0, 1fr);
    text-align: left;

    .asc-job-role-numbers-table__cell {
      border-bottom: 1px solid $govuk-border-colour;
      padding: 10px 20px 10px 0;

      &--align-center {
        @extend .asc-job-role-numbers-table__cell;
        display: flex;
        align-items: center;
      }
      &--no-border {
        @extend .asc-job-role-numbers-table__cell;
        border-bottom: none;
      }
      &--number-input-column {
        @extend .asc-job-role-numbers-table__cell;
        @media only screen and (min-width: 40.0625em) {
          margin-right: -10px;
        }
      }
      &--number-input-header {
        @extend .asc-job-role-numbers-table__cell--number-input-column;
        padding-right: 0px;
      }
      input {
        width: 100%;
        @media only screen and (min-width: 40.0625em) {
          width: max(100px, 50%);
        }
      }
      .govuk-form-group--error {
        margin-top: -15px;
        padding-top: 15px;
      }
    }

    .asc-job-role-numbers-table__error_message {
      grid-column: 1 / span 2;
      padding: 5px 0 0 15px;
      margin-top: 10px;

      p {
        margin-bottom: 5px;
      }
    }
  }
}
