@if (workersToShow?.length) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l" data-testid="section-heading">Staff records</span>
        <h1 class="govuk-fieldset__heading govuk-!-width-three-quarters">
          Where are your staff on the Care Workforce Pathway?
        </h1>
      </legend>
      <app-details
        [title]="'Why assign Care Workforce Pathway role categories?'"
        data-testid="reveal-whatsCareWorkforcePathway"
      >
        <p>
          The care workforce pathway outlines the knowledge, skills, values and behaviours needed for a career in adult
          social care. It provides a clear career structure for your staff.
        </p>
        <p>
          You'll use the pathway to set out how staff can gain skills, learn and develop, and progress in their careers.
        </p>
        <p>
          <a
            href="https://www.gov.uk/government/publications/care-workforce-pathway-for-adult-social-care/care-workforce-pathway-for-adult-social-care-overview"
            class="govuk-link"
            target="_blank"
            >Read more about the care workforce pathway<span class="govuk-visually-hidden">
              (opens in a new window)</span
            ></a
          >
        </p>
      </app-details>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        You can now choose from the full list of role categories published by the Department of Health and Social Care
        (DHSC).
      </p>
      <p>
        This table might not show all of your staff. Regulated professionals (like registered nurses or social workers)
        are not listed because they have their own career structures.
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table govuk-!-margin-bottom-8">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="30%">Name or ID number</th>
            <th scope="col" class="govuk-table__header">Job role</th>
            <th scope="col" class="govuk-table__header" width="25%">CWP role category</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          @for (worker of workersToShow; track worker.uid; let index = $index) {
            <tr class="govuk-table__row" [attr.data-testid]="'worker-row-' + index">
              <td class="govuk-table__cell">
                {{ worker.nameOrId }}
              </td>
              <td class="govuk-table__cell">{{ worker.mainJob.title }}</td>
              <td class="govuk-table__cell">
                <a
                  [routerLink]="['../', worker.uid, 'staff-record-summary', 'care-workforce-pathway']"
                  (click)="setReturnToThisPage()"
                  >Choose a category <span class="govuk-visually-hidden">for {{ worker.nameOrId }}</span></a
                >
              </td>
            </tr>
          }
        </tbody>
      </table>
      @if (workerCount > itemsPerPage) {
        <app-pagination
          [attr.data-testid]="'pagination'"
          [itemsPerPage]="itemsPerPage"
          [totalNoOfItems]="workerCount"
          (currentPageIndexChange)="handlePageUpdate($event)"
          [currentPageIndex]="pageIndex"
        />
        <p><strong>Check all pages before confirming.</strong></p>
      }
      <button class="govuk-button" type="button" (click)="returnToHome()">Return to home</button>
    </div>
  </div>
}
