@import '../../../../assets/scss/mixins.scss';

.govuk-panel--confirmation {
  color: #fff;
  background: #28a197;
}

.govuk-panel {
  font-weight: 400;
  @include rem(font-size, 36px);
  line-height: 1.25;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 35px;
  border: 5px solid transparent;
  text-align: center;
}

.govuk-panel__title {
  @include rem(font-size, 48px);
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 0;
}

.govuk-panel__body {
  font-weight: 400;
}
