<div class="main-page-container col-12">

  <form novalidate
    (ngSubmit)="submitHandler()"
    [formGroup]="form">

    <header>
      <h1 class="h1">Arey they an Approved Mental Health Professional?</h1>
    </header>

    <app-messages></app-messages>

    <div class="form-group">
      <div class="field-group mb-5">
        <div class="multiple-choice">
          <input type="radio" formControlName="answer" class="form-control" value="yes" id="answer_yes">
          <label for="answer_yes">Yes</label>
        </div>
        <div class="multiple-choice">
          <input type="radio" formControlName="answer" class="form-control" value="no" id="answer_no">
          <label for="answer_no">No</label>
        </div>
        <div class="multiple-choice">
          <input type="radio" formControlName="answer" class="form-control" value="dontknow" id="answer_dontknow">
          <label for="answer_dontknow">Don't know</label>
        </div>
      </div>
    </div>

    <app-submit-button [saveCallback]="saveHandler"></app-submit-button>
  </form>
</div>
