@import "../../../assets/scss/variables";

.alert {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 15px;
  padding: 0;
  color: $error-red;
  background-color: map-get($color, white);
  border: 0;

  ~ .alert {
    margin-top: 1.5rem;
  }
}
