@import 'govuk-frontend/govuk/base';

.input--search .tray-list {
  position: absolute;
  top: 100%;
}

button > img {
  filter: brightness(0) invert(1);
}

.input--search .govuk-input:focus {
  z-index: 1;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.tray-list-item {
  line-height: 25px !important;
  margin-bottom: 0px;
  padding: 6px 8px;
}
