.comparison-row-header,
.comparison-group-cell,
.workplace-cell {
  border-bottom: 0;
}

.comparison-group-cell {
  background-color: #6f72af;
  color: #ffffff;
  opacity: 1;
}

.workplace-cell {
  background-color: #28a197;
  border-right: 5px #ffffff solid;
  color: #ffffff;
  opacity: 1;
}

td {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.comparison-table-header {
  width: 30.3%;
}

.comparison-table-body {
  border-top: 1px solid #b1b4b6;
  border-bottom: 1px solid #b1b4b6;
}

tr :first-child {
  th,
  td {
    padding-top: 30px;
  }
}

tr :not(.first-row, .last-row) th,
td {
  padding-top: 12px;
  padding-bottom: 12px;
}

.first-row {
  th,
  td {
    padding-top: 24px;
    padding-bottom: 12px;
  }
}

.last-row {
  th,
  td {
    padding-top: 12px;
    padding-bottom: 24px;
  }
}
