@if (totalRecords === 0) {
  <div class="govuk-grid-row" data-testid="noRecords">
    <div class="govuk-grid-column-three-quarters">
      <p>
        You need to click on the name or ID number of the person you want to <br />
        add a training or qualification record for.
      </p>
    </div>
  </div>
}
<app-table-pagination-wrapper
  [totalCount]="totalWorkerCount"
  [count]="workerCount"
  [searchTerm]="searchTerm"
  [sortByParamMap]="sortByParamMap"
  [sortByValue]="sortByValue"
  [sortOptions]="sortTrainingAndQualsOptions"
  label="Search by name or ID number"
  accessibleLabel="staff training records"
  (fetchData)="getPageOfWorkers($event)"
>
  @if (workerCount) {
    <table class="govuk-table" data-testid="training-worker-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name or ID number</th>
          <th class="govuk-table__header" scope="col">Records</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        @for (worker of paginatedWorkers; track worker.uid) {
          <tr class="govuk-table__row govuk-util__vertical-align-top">
            <td class="govuk-table__cell govuk-!-font-weight-regular">
              @if (canViewWorker) {
                <a href="#" (click)="getWorkerTrainingAndQualificationsPath($event, worker)">
                  {{ worker.nameOrId }}
                </a>
                @if (worker.longTermAbsence) {
                  <p class="govuk-tag govuk-tag--grey govuk-!-margin-left-2 govuk-!-margin-bottom-0 asc-tag">
                    Long-term absent
                  </p>
                }
              } @else {
                {{ worker.nameOrId }}
              }
            </td>
            <td class="govuk-table__cell">{{ worker.trainingCount + worker.qualificationCount }}</td>
            <td class="govuk-table__cell">
              @if (worker.expiredTrainingCount > 0) {
                <div class="govuk-!-margin-bottom-0">
                  <img
                    src="/assets/images/flag-red.png"
                    alt="red-flag"
                    class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
                  />
                  {{ worker.expiredTrainingCount }}
                  expired
                </div>
              }
              @if (worker.missingMandatoryTrainingCount > 0) {
                <div class="govuk-!-margin-bottom-0">
                  <img
                    src="/assets/images/flag-red.png"
                    alt="red-flag"
                    class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
                  />
                  {{ worker.missingMandatoryTrainingCount }}
                  missing
                </div>
              }
              @if (worker.expiringTrainingCount > 0) {
                <div class="govuk-!-margin-bottom-0">
                  <img
                    src="/assets/images/flag-orange.png"
                    alt="Orange-flag"
                    class="govuk-!-margin-right-2 govuk-util__vertical-align-top"
                  />
                  <ng-container [ngPlural]="worker.expiringTrainingCount">
                    <ng-template ngPluralCase="=1">{{ worker.expiringTrainingCount }} expires soon</ng-template>
                    <ng-template ngPluralCase="other">{{ worker.expiringTrainingCount }} expire soon</ng-template>
                  </ng-container>
                </div>
              }
              @if (
                worker.expiredTrainingCount === 0 &&
                worker.expiringTrainingCount === 0 &&
                worker.missingMandatoryTrainingCount === 0
              ) {
                <div>OK</div>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="govuk-!-margin-top-6">
      <p class="govuk-util__bold">There are no matching results</p>
      <p>Make sure that your spelling is correct.</p>
    </div>
  }
</app-table-pagination-wrapper>
