<div>
  <table class="govuk-table govuk-!-margin-top-7">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Average pay and salaries
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header commparision-table-header govuk-!-text-align-centre govuk-!-padding-right-0">
          Your workplace
        </th>
        <th scope="col" class="govuk-table__header commparision-table-header govuk-!-text-align-centre">
          Comparison group
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body comparison-table-body">
      <tr
        app-data-area-table-row
        class="govuk-table__row first-row"
        header="Care worker pay"
        [workplaceCell]="careWorkerPay"
        [comparisonCell]="comparisionGroupCareWorkerPay"
      ></tr>
      <tr
        app-data-area-table-row
        class="govuk-table__row"
        header="Senior care worker pay"
        [workplaceCell]="seniorCareWorkerPay"
        [comparisonCell]="comparisionGroupSeniorCareWorkerPay"
      ></tr>
      <tr
        *ngIf="showRegisteredNurseSalary"
        data-testid="register-nurse-comparision"
        app-data-area-table-row
        class="govuk-table__row"
        header="Registered nurse salary"
        [workplaceCell]="registeredNurseSalary"
        [comparisonCell]="comparisionGroupRegisteredNurseSalary"
      ></tr>
      <tr
        app-data-area-table-row
        class="govuk-table__row"
        header="Registered manager salary"
        [workplaceCell]="registeredManagerSalary"
        [comparisonCell]="comparisionGroupRegisteredManagerSalary"
      ></tr>
    </tbody>
  </table>

  <div class="govuk-width-container govuk-!-margin-top-7">
    <app-benchmarks-select-view-panel
      [falseSelectionName]="'Where you rank'"
      [trueSelectionName]="'Where you\'re positioned'"
      (handleViewToggle)="handleViewBenchmarkPosition($event)"
    >
    </app-benchmarks-select-view-panel>

    <ng-container *ngIf="viewBenchmarksPosition; else showRankings">
      <ng-container *ngFor="let position of positionData | keyvalue" class="govuk-!-margin-top-7" data-testid="barcharts">
        <app-data-area-barchart
          [positionedTitle]="position.value.title"
          [payMoreThanWorkplacesNumber]="position.value.payMoreThanWorkplacesNumber"
          [workplacesNumber]="position.value.totalWorkplaces"
        ></app-data-area-barchart>
      </ng-container>
    </ng-container>
    <ng-template #showRankings>
      <ng-container *ngFor="let ranking of rankingData | keyvalue" class="govuk-!-margin-top-7" data-testid="rankings">
        <app-data-area-ranking
          *ngIf="ranking.value !== undefined"
          [rankingTitle]="ranking.value.title"
          [workplaceRankNumber]="ranking.value.workplacesRankNumber"
          [workplacesNumber]="ranking.value.totalWorkplaces"
        ></app-data-area-ranking>
      </ng-container>
    </ng-template>
  </div>
</div>
