<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">The link you used has expired</h1>
    <p>The reason for this may be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the account was cancelled</li>
      <li>a new set up email has been sent to you</li>
      <li>the time period for the link has passed - it only lasts for 2 days</li>
    </ul>
    <h2 class="govuk-heading-m">What can you do next</h2>
    <p>
      Check your inbox to see whether you have a new set up email. If you do not have a new email you can contact one of
      the account holders for your workplace.
    </p>
  </div>
</div>
