<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span *ngIf="parentEstablishment?.name" class="govuk-caption-xl">{{ parentEstablishment.name }}</span>
      {{ workplace.name }}
    </h1>
  </div>

  <div class="govuk-grid-column-one-third">
    <button class="govuk-button govuk-button--link"><img src="/assets/images/bin.svg" />Delete Workplace</button>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-tabs>
      <app-tab [title]="'User accounts'">
        <app-user-accounts-summary [workplace]="workplace"></app-user-accounts-summary>
      </app-tab>

      <app-tab [title]="'Workplace'">
        <app-workplace-summary [workplace]="workplace" [return]="summaryReturnUrl"> </app-workplace-summary>
      </app-tab>

      <app-tab [title]="'Staff records'" *ngIf="checkPermission(staffPermission)">
        <!-- <app-staff-records-sub-tab></app-staff-records-sub-tab> -->
      </app-tab>
    </app-tabs>
  </div>
</div>
