<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
      <span class="govuk-caption-xl govuk-!-margin-bottom-3">{{ workplace.name }}</span>
      Workplace
    </h1>
    <p class="govuk-!-font-size-16 govuk-!-margin-top-4 govuk-!-margin-bottom-0">
      Workplace ID: {{ workplace?.nmdsId }}
    </p>
  </div>

  <div class="govuk-grid-column-one-third-from-desktop govuk-util__align-right">
    <button
      *ngIf="canDeleteEstablishment"
      class="govuk-button govuk-button--link govuk__flex govuk__align-items-center"
      (click)="onDeleteWorkplace($event)"
    >
      <img src="/assets/images/bin.svg" alt="" />
      <span class="govuk-!-margin-left-1">
        Delete <span class="govuk-visually-hidden">{{ workplace.name }}</span> Workplace
      </span>
    </button>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-tabs>
      <app-tab [title]="'Workplace'">
        <app-workplace-tab [workplace]="workplace" [summaryReturnUrl]="summaryReturnUrl"></app-workplace-tab>
      </app-tab>

      <app-tab *ngIf="workplace && canViewListOfWorkers" [alert]="totalStaffRecords === 0" [title]="'Staff records'">
        <app-staff-records-tab [workplace]="workplace"></app-staff-records-tab>
      </app-tab>
      <app-tab
        *ngIf="workplace && canViewListOfWorkers"
        [alert]="trainingAlert === 1"
        [redAlert]="trainingAlert === 2"
        [title]="'Training and qualifications'"
      >
        <app-training-and-qualifications-tab [workplace]="workplace"></app-training-and-qualifications-tab>
      </app-tab>
      <app-tab *ngIf="workplace && workplace.isRegulated" [title]="'Benchmarks'">
        <app-benchmarks-tab [workplace]="workplace"></app-benchmarks-tab>
      </app-tab>
      <app-tab *ngIf="canViewListOfUsers" [title]="'Users'">
        <app-user-accounts-summary [workplace]="workplace"></app-user-accounts-summary>
      </app-tab>
    </app-tabs>
  </div>
</div>
