<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"> Training and qualifications </span>
    <span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Staff missing mandatory training</h1>
    </span>
  </div>
</div>
<app-table-pagination-wrapper
  [totalCount]="totalMissingTrainingCount"
  [count]="missingTrainingCount"
  [searchTerm]="searchTerm"
  [sortByParamMap]="sortByParamMap"
  [sortByValue]="sortByValue"
  [sortOptions]="sortMissingTrainingOptions"
  [accessibleLabel]="'missing mandatory training'"
  (fetchData)="getMissingMandatoryTraining($event)"
>
  <table class="govuk-table" data-testid="table" *ngIf="missingTrainingCount; else noTrainingFoundInSearch">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" style="width: 30%">Name or ID number</th>
        <th class="govuk-table__header" scope="col" style="width: 40%">Training category</th>
        <th class="govuk-table__header" scope="col" style="width: 20%">Status</th>
        <th class="govuk-table__header" scope="col" style="width: 10%"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <ng-container>
        <tr
          class="govuk-table__row govuk-util__vertical-align-top"
          *ngFor="let worker of missingTrainingList; let i = index"
          [attr.data-testid]="'table-row-' + i"
        >
          <td class="govuk-table__cell govuk-!-font-weight-regular">
            <div class="govuk-!-margin-bottom-1">
              <ng-container *ngIf="canEditWorker; else nameOrId">
                <a
                  [routerLink]="[
                    '/workplace',
                    this.workplace.uid,
                    'training-and-qualifications-record',
                    worker.uid,
                    'training'
                  ]"
                >
                  {{ worker.name }}</a
                >
              </ng-container>
              <ng-template #nameOrId>
                <span [attr.data-testid]="'worker-' + i + '-noLink'">
                  {{ worker.name }}
                </span>
              </ng-template>
            </div>
          </td>

          <td class="govuk-table__cell govuk-!-font-weight-regular">
            <div *ngFor="let training of worker.missingTraining" class="govuk-!-margin-bottom-1">
              {{ training.category }}
            </div>
          </td>

          <td class="govuk-table__cell">
            <div *ngFor="let training of worker.missingTraining">
              <div class="govuk-!-margin-bottom-1">
                <img
                  src="/assets/images/flag-red.svg"
                  alt=""
                  class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
                />
                Missing
              </div>
            </div>
          </td>

          <td class="govuk-table__cell">
            <div *ngFor="let training of worker.missingTraining">
              <div *ngIf="canEditWorker" class="govuk-!-margin-bottom-1">
                <a
                  [routerLink]="[
                    '/workplace',
                    workplaceUid,
                    'training-and-qualifications-record',
                    worker.uid,
                    'add-training',
                    { trainingCategory: { category: training.category } | json }
                  ]"
                  >Add</a
                >
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ng-template #noTrainingFoundInSearch>
    <div class="govuk-!-margin-top-6">
      <p class="govuk-util__bold">There are no matching results</p>
      <p>Make sure that your spelling is correct.</p>
    </div>
  </ng-template>
</app-table-pagination-wrapper>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <button type="button" class="govuk-button govuk-!-margin-top-4" (click)="returnToHome()">Return to home</button>
  </div>
</div>
