<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"> Training and qualifications </span>
    <span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Staff missing mandatory training</h1>
    </span>
  </div>
</div>
<table class="govuk-table" data-testid="userTable">
  <thead class="govuk-table__head" data-testid="userTable-Heading">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col" style="width: 30%">Name or ID number</th>
      <th class="govuk-table__header" scope="col" style="width: 40%">Training category</th>
      <th class="govuk-table__header" scope="col" style="width: 20%">Status</th>
      <th class="govuk-table__header" scope="col" style="width: 10%"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body" *ngIf="gropByName">
    <ng-container>
      <tr class="govuk-table__row govuk-util__vertical-align-top" *ngFor="let worker of getKeys()">
        <td class="govuk-table__cell govuk-!-font-weight-regular">
          <ng-container *ngIf="canEditWorker; else nameOrId">
            <a
              [routerLink]="[
                '/workplace',
                this.workplace.uid,
                'training-and-qualifications-record',
                worker.uid,
                'training'
              ]"
            >
              {{ removeIdFromKey(worker) }}</a
            >
          </ng-container>
          <ng-template #nameOrId>
            {{ removeIdFromKey(worker) }}
          </ng-template>
        </td>

        <td class="govuk-table__cell govuk-!-font-weight-regular">
          <div *ngFor="let training of gropByName[worker]">
            {{ training.category }}
          </div>
        </td>

        <td class="govuk-table__cell">
          <div *ngFor="let training of gropByName[worker]">
            <div *ngIf="trainingStatus(training) === trainingStatusService.MISSING" class="govuk-!-margin-bottom-1">
              <img
                src="/assets/images/flag-red.svg"
                alt=""
                class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
              />
              Missing
            </div>
          </div>
        </td>

        <td class="govuk-table__cell">
          <div *ngFor="let training of gropByName[worker]">
            <div *ngIf="trainingStatus(training) === trainingStatusService.MISSING && canEditWorker">
              <app-missing-mandatory-training
                [missingRecord]="training"
                [training]="training"
                [canEditWorker]="canEditWorker"
              ></app-missing-mandatory-training>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <button type="button" class="govuk-button govuk-!-margin-top-4" (click)="returnToHome()">Return to home</button>
  </div>
</div>
