<div data-testid="search" class="govuk-auto-suggest">
  <input
    [id]="inputId"
    class="govuk-input"
    [class.govuk-input--error]="hasError"
    type="text"
    [ngClass]="{ 'overflow-ellipsis': showEllipsis }"
    [formControl]="textInput"
  />
  @if (showSuggestion() && suggestions.length > 0) {
    <ul data-testid="tray-list">
      @for (item of suggestions; track item.dataValue.id) {
        <li
          [class]="{ 'tray-list-item': showEllipsis }"
          (click)="onClick(item)"
          [tabIndex]="0"
          (keyup.enter)="onClick(item)"
        >
          {{ item.suggestion }}
        </li>
      }
    </ul>
  }
</div>
