<div class="govuk-!-width-full input--search">
  <label [for]="inputBoxId" class="govuk-label"
    >{{ label }}
    @if (accessibleLabel) {
      <span class="govuk-visually-hidden"> {{ accessibleLabel }}</span>
    }
  </label>

  <div class="govuk-grid-column-two-thirds govuk-util__light-bg govuk-!-padding-2">
    <app-new-auto-suggest
      #searchBox
      [inputBoxId]="inputBoxId"
      [dataProvider]="dataProvider"
      (emitInput)="handleOnSubmit($event)"
      [showEllipsis]="true"
    >
    </app-new-auto-suggest>
  </div>

  @if (searched && showClearResults) {
    <div class="govuk-grid-column-one-third govuk-!-padding-top-2 govuk-!-padding-bottom-2">
      <button
        class="govuk-button govuk-button--link govuk-!-margin-bottom-0 govuk-util__vertical-align-center"
        type="button"
        (click)="handleResetSearch()"
      >
        Clear search results
      </button>
    </div>
  }
</div>
