<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Add current staff vacancies</h1>
    <p class="govuk-hint">This should only be for permanent or temporary staff</p>
  </div>
</div>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-form-group">
    <div class="govuk-radios govuk-radios--conditional">
      <ng-container *ngFor="let option of vacanciesKnownOptions; let i = index">
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="vacanciesKnown-{{ i }}"
            name="vacanciesKnown"
            formControlName="vacanciesKnown"
            type="radio"
            [value]="option.value"
          />
          <label class="govuk-label govuk-radios__label" for="vacanciesKnown-{{ i }}">
            {{ option.label }}
          </label>
        </div>
        <div
          *ngIf="option.vacancies"
          class="govuk-radios__conditional"
          [class.govuk-radios__conditional--hidden]="form.get('vacanciesKnown').value !== option.value"
          id="vacanciesKnown-conditional-{{ i }}"
        >
          <ng-container formArrayName="vacancies">
            <div *ngFor="let vacancy of vacanciesControl.controls; let i = index" [formGroupName]="i">
              <div class="govuk-form-group">
                <select class="govuk-select" formControlName="jobRole" id="jobRole-{{ i }}" name="jobRole">
                  <option [ngValue]="null">Select job role</option>
                  <option *ngFor="let job of selectableJobs(i)" [value]="job.id">
                    {{ job.title }}
                  </option>
                </select>
              </div>
              <div class="govuk-form-group">
                <input class="govuk-input" formControlName="total" id="total-{{ i }}" name="total" type="number" />
              </div>
              <div *ngIf="vacanciesControl.controls.length > 1">
                <button class="govuk-button govuk-button--link" type="button" (click)="removeVacancy($event, i)">
                  Remove
                </button>
              </div>
            </div>
          </ng-container>

          <button
            *ngIf="!allJobsSelected"
            class="govuk-button govuk-button--secondary"
            type="button"
            (click)="addVacancy()"
          >
            Add another staff vacancy
          </button>

          Total: {{ totalVacancies }}
        </div>
      </ng-container>
    </div>
  </div>
  <!--
    Job role
    Number of vacancies
  -->

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button">Save and continue</button>
  </div>
</form>
