<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      <span class="govuk-caption-l">Workforce Development Fund (WDF)</span>
      WDF data<ng-container *ngIf="workplace && !isStandalone">: {{ workplace.name }}</ng-container>
    </h1>
    <app-wdf-data-status-message
      [wdfStartDate]="wdfStartDate"
      [wdfEndDate]="wdfEndDate"
      [wdfEligibilityStatus]="wdfEligibilityStatus"
      [isStandalone]="isStandalone"
    ></app-wdf-data-status-message>
  </div>
</div>

<ng-container *ngIf="standAloneAccount && newHomeDesignFlag; else parentView">
  <app-new-wdf-tab
    [viewWDFData]="viewWDFData"
    (handleViewToggle)="handleViewTrainingByCategory($event)"
    [workplaceGreenTick]="wdfEligibilityStatus.currentWorkplace"
    [workplaceAlert]="wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentWorkplace"
    [workplaceRedCross]="!wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentWorkplace"
    [staffGreenTick]="wdfEligibilityStatus.currentStaff"
    [staffAlert]="wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentStaff"
    [staffRedCross]="!wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentStaff"
  >
  </app-new-wdf-tab>
  <app-wdf-workplace-summary
    *ngIf="!viewWDFData && workplace"
    [workplace]="workplace"
    [workerCount]="workerCount"
    [return]="returnUrl"
    [wdfView]="true"
    [overallWdfEligibility]="wdfEligibilityStatus.overall"
    (allFieldsConfirmed)="getWdfReport()"
  ></app-wdf-workplace-summary>

  <app-wdf-staff-summary
    *ngIf="viewWDFData && workers && workplace"
    [workplace]="workplace"
    [workers]="workers"
    [canEditWorker]="canEditWorker"
    [standAloneAccount]="standAloneAccount"
  ></app-wdf-staff-summary>
</ng-container>

<ng-template #parentView>
  <app-tabs>
    <app-tab
      [greenTick]="wdfEligibilityStatus.currentWorkplace"
      [alert]="wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentWorkplace"
      [redCross]="!wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentWorkplace"
      [title]="'Workplace'"
    >
      <app-workplace-summary
        *ngIf="workplace"
        [workplace]="workplace"
        [workerCount]="workerCount"
        [return]="returnUrl"
        [wdfView]="true"
        [overallWdfEligibility]="wdfEligibilityStatus.overall"
        (allFieldsConfirmed)="getWdfReport()"
      ></app-workplace-summary>
    </app-tab>
    <app-tab
      *ngIf="canViewWorker"
      [greenTick]="wdfEligibilityStatus.currentStaff"
      [alert]="wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentStaff"
      [redCross]="!wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentStaff"
      [title]="'Staff records'"
    >
      <app-wdf-staff-summary
        *ngIf="workers && workplace"
        [workplace]="workplace"
        [workers]="workers"
        [canEditWorker]="canEditWorker"
      ></app-wdf-staff-summary>
    </app-tab>
  </app-tabs>
</ng-template>
