<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      <span class="govuk-caption-xl" data-testid="pre-header">{{ workplace?.name }} (Workplace ID: {{ workplace?.nmdsId }})</span>
      Your data
    </h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-full-width">
    <app-wdf-summary-panel
      [wdfStartDate]="wdfStartDate"
      [wdfEndDate]="wdfEndDate"
      [workplaceWdfEligibilityStatus]="wdfEligibilityStatus.currentWorkplace"
      [staffWdfEligibilityStatus]="wdfEligibilityStatus.currentStaff"
      [parentOverallWdfEligibility]="parentOverallWdfEligibility"
      [overallWdfEligibility]="wdfEligibilityStatus.overall"
      [isParent]="isParent"
    ></app-wdf-summary-panel>
  </div>
</div>

<ng-container *ngIf="standAloneAccount && newHomeDesignFlag; else parentView">
  <app-select-view-panel
    [falseSelectionName]="'Workplace'"
    [trueSelectionName]="'Staff'"
    (handleViewToggle)="handleTabChange($event)"
  >
  </app-select-view-panel>
  <app-wdf-workplace-summary
    *ngIf="!viewWDFData && workplace"
    [workplace]="workplace"
    [workerCount]="workerCount"
    [return]="returnUrl"
    [wdfView]="true"
    [overallWdfEligibility]="wdfEligibilityStatus.overall"
    (allFieldsConfirmed)="getWdfReport()"
  ></app-wdf-workplace-summary>

  <app-wdf-staff-summary
    *ngIf="viewWDFData && workers && workplace"
    [workplace]="workplace"
    [workers]="workers"
    [standAloneAccount]="standAloneAccount"
    [workerCount]="workerCount"
  ></app-wdf-staff-summary>
</ng-container>

<ng-template #parentView>
  <app-tabs>
    <app-tab
      [greenTick]="wdfEligibilityStatus.currentWorkplace"
      [alert]="wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentWorkplace"
      [redCross]="!wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentWorkplace"
      [title]="'Workplace'"
    >
      <app-workplace-summary
        *ngIf="workplace"
        [workplace]="workplace"
        [workerCount]="workerCount"
        [return]="returnUrl"
        [wdfView]="true"
        [overallWdfEligibility]="wdfEligibilityStatus.overall"
        (allFieldsConfirmed)="getWdfReport()"
      ></app-workplace-summary>
    </app-tab>
    <app-tab
      *ngIf="canViewWorker"
      [greenTick]="wdfEligibilityStatus.currentStaff"
      [alert]="wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentStaff"
      [redCross]="!wdfEligibilityStatus.overall && !wdfEligibilityStatus.currentStaff"
      [title]="'Staff records'"
    >
      <app-wdf-staff-summary
        *ngIf="workers && workplace"
        [workplace]="workplace"
        [workers]="workers"
        [workerCount]="workerCount"
      ></app-wdf-staff-summary>
    </app-tab>
  </app-tabs>
</ng-template>
