<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      <ng-container *ngIf="viewingSub; else primaryWorkplacePreHeader">
        <span class="govuk-caption-xl">{{ primaryWorkplaceName }}</span>
        <span class="govuk-caption-xl">(Workplace ID: {{ primaryWorkplaceNmdsId | removeTrailingWhitespace }})</span>
      </ng-container>
      <ng-template #primaryWorkplacePreHeader>
        <span class="govuk-caption-xl">{{ workplace?.name }}</span>
        <span class="govuk-caption-xl">(Workplace ID: {{ workplace?.nmdsId | removeTrailingWhitespace }})</span>
      </ng-template>
      <ng-container *ngIf="viewingSub; else mainWorkplace"> {{ workplace?.name }}: data </ng-container>
      <ng-template #mainWorkplace> Your data </ng-template>
    </h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-full-width">
    <app-wdf-summary-panel
      [wdfStartDate]="wdfStartDate"
      [wdfEndDate]="wdfEndDate"
      [workplaceWdfEligibilityStatus]="wdfEligibilityStatus.currentWorkplace"
      [staffWdfEligibilityStatus]="wdfEligibilityStatus.currentStaff"
      [overallWdfEligibility]="wdfEligibilityStatus.overall"
      [isParent]="isParent"
      [subsidiariesOverallWdfEligibility]="subsidiariesOverallWdfEligibility"
      [someSubsidiariesMeetingRequirements]="someSubsidiariesMeetingRequirements"
      [activatedFragment]="activeTab.fragment"
    ></app-wdf-summary-panel>
  </div>
</div>

<span data-testid="tabSection">
  <app-select-view-panel [tabs]="tabs" (handleTabChange)="handleTabChange($event)" [activeTabIndex]="activeTab.index">
  </app-select-view-panel>
  <app-wdf-workplace-summary
    *ngIf="activeTab.index === 0 && workplace"
    data-testid="workplaceSummaryTab"
    [workplace]="workplace"
    [workerCount]="workerCount"
    [return]="returnUrl"
    [overallWdfEligibility]="wdfEligibilityStatus.overall"
    (allFieldsConfirmed)="getWdfReport()"
  ></app-wdf-workplace-summary>

  <app-wdf-staff-summary
    *ngIf="activeTab.index === 1 && workers && workplace"
    data-testid="staffRecordsTab"
    [workplace]="workplace"
    [workers]="workers"
    [workerCount]="workerCount"
    [overallWdfEligibility]="wdfEligibilityStatus.overall"
  ></app-wdf-staff-summary>

  <app-wdf-workplaces-summary
    *ngIf="isParent && activeTab.index === 2"
    data-testid="yourOtherWorkplacesTab"
    [workplaces]="subsidiaryWorkplaces"
  ></app-wdf-workplaces-summary>
</span>
