<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      @if (viewingSub) {
      <span class="govuk-caption-xl">{{ primaryWorkplaceName }}</span>
      <span class="govuk-caption-xl">(Workplace ID: {{ primaryWorkplaceNmdsId | removeTrailingWhitespace }})</span>
      } @else {
      <span class="govuk-caption-xl">{{ workplace?.name }}</span>
      <span class="govuk-caption-xl">(Workplace ID: {{ workplace?.nmdsId | removeTrailingWhitespace }})</span>
      } @if (viewingSub) {
      {{ workplace?.name }}: data } @else { Your data }
    </h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-full-width">
    <app-wdf-summary-panel
      [wdfStartDate]="wdfStartDate"
      [wdfEndDate]="wdfEndDate"
      [workplaceWdfEligibilityStatus]="wdfEligibilityStatus.currentWorkplace"
      [staffWdfEligibilityStatus]="wdfEligibilityStatus.currentStaff"
      [overallWdfEligibility]="wdfEligibilityStatus.overall"
      [isParent]="isParent"
      [subsidiariesOverallWdfEligibility]="subsidiariesOverallWdfEligibility"
      [someSubsidiariesMeetingRequirements]="someSubsidiariesMeetingRequirements"
      [activatedFragment]="activeTab.fragment"
      [subsidiariesCount]="subsidiaryWorkplaces?.length"
      [someSubsidiariesNeedCheckAgain]="someSubsidiariesNeedCheckAgain"
    ></app-wdf-summary-panel>
  </div>
</div>

<span data-testid="tabSection">
  <app-select-view-panel [tabs]="tabs" (handleTabChange)="handleTabChange($event)" [activeTabIndex]="activeTab.index">
  </app-select-view-panel>
  @if (activeTab.index === 0 && workplace) {
  <app-wdf-workplace-summary
    data-testid="workplaceSummaryTab"
    [workplace]="workplace"
    [workerCount]="workerCount"
    [return]="returnUrl"
    [overallWdfEligibility]="wdfEligibilityStatus.overall"
    (allFieldsConfirmed)="getWdfReport()"
  ></app-wdf-workplace-summary>
  } @if (activeTab.index === 1 && workers && workplace) {
  <app-wdf-staff-summary
    data-testid="staffRecordsTab"
    [workplace]="workplace"
    [workers]="workers"
    [workerCount]="workerCount"
    [overallWdfEligibility]="wdfEligibilityStatus.overall"
  ></app-wdf-staff-summary>
  } @if (isParent && activeTab.index === 2) {
  <app-wdf-workplaces-summary
    data-testid="yourOtherWorkplacesTab"
    [workplaces]="subsidiaryWorkplaces"
  ></app-wdf-workplaces-summary>
  }
</span>
