<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('postcode').invalid">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl govuk-!-margin-bottom-8" for="postcode">
            What is their home postcode?
          </label>
        </h1>
        <span *ngIf="submitted && form.get('postcode').errors" id="postcode-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{ getFormErrorMessage('postcode', 'validPostcode') }}
        </span>
        <input
          class="govuk-input govuk-input--width-10"
          [class.govuk-input--error]="submitted && form.get('postcode').invalid"
          [formControlName]="'postcode'"
          id="postcode"
          name="postcode"
          type="text"
        />
      </div>
    </div>
  </div>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>
