<dl class="govuk-list--definition">
  <dt>Total number of staff</dt>
  <dd>
    {{ totalStaff }}
    <a
      *ngIf="canEdit"
      [routerLink]="['/workplace', workplace.uid, 'staff-record', 'total-staff']"
      class="govuk-util__float-right govuk-!-font-size-19 govuk-!-font-weight-regular"
      (click)="setReturn()"
    >
      Change <span class="govuk-visually-hidden"> total number of staff</span>
    </a>
  </dd>
  <ng-container *ngIf="totalStaff !== totalWorkers">
    <dt>Staff records added</dt>
    <dd>
      <img *ngIf="totalStaff < totalWorkers" src="/assets/images/flag-orange.svg" alt="Warning" /> {{ totalWorkers }}
    </dd>
    <dt>Staff records missing</dt>
    <dd>
      <img *ngIf="totalStaff > totalWorkers" src="/assets/images/flag-orange.svg" alt="Warning" />
      {{ totalStaff > totalWorkers ? totalStaff - totalWorkers : 0 }}
    </dd>
  </ng-container>
</dl>
