<ng-container>
  <div *ngFor="let trainingCategories of trainingRecords">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l govuk-!-margin-bottom-0" [attr.data-testid]="'category-' + trainingCategories.category">
          Category: {{ trainingCategories.category }} ({{ trainingCategories.trainingRecords.length }})
        </p>
      </div>
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-one-third" scope="col" style="width: 30%">Training name</th>
          <th class="govuk-table__header" scope="col" style="width: 12%">Accredited</th>
          <th class="govuk-table__header" scope="col" style="width: 20%">Completion date</th>
          <th class="govuk-table__header" scope="col" style="width: 18%">Expiry date</th>
          <th class="govuk-table__header" scope="col" style="width: 20%">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body" *ngFor="let records of trainingCategories.trainingRecords">
        <ng-container>
          <tr class="govuk-table__row govuk-util__vertical-align-top">
            <td class="govuk-table__cell">
              <ng-container *ngIf="canEditWorker; else viewOnly">
                <a
                  class="govuk-link--no-visited-state"
                  [routerLink]="['../training', records.uid]"
                  [attr.data-testid]="'Title-' + records.uid"
                  (click)="setLocalStorage($event, records.trainingCategory)"
                  >{{ records.title ? records.title : 'Missing training name - Add' }}</a
                >
              </ng-container>
              <ng-template #viewOnly>
                <span [attr.data-testid]="'Title-no-link-' + records.uid">{{
                  records.title ? records.title : 'Missing training name - Add'
                }}</span>
              </ng-template>
            </td>
            <td class="govuk-table__cell">{{ records.accredited ? records.accredited : '-' }}</td>
            <td class="govuk-table__cell">{{ records.completed ? (records.completed | date: 'dd MMM y') : '-' }}</td>
            <td class="govuk-table__cell">{{ records.expires ? (records.expires | date: 'dd MMM y') : '-' }}</td>
            <td class="govuk-table__cell" [attr.data-testid]="'Status-' + records.uid">
              <span *ngIf="!records.expires">-</span>
              <div *ngIf="records.trainingStatus === trainingStatusService.MISSING && records.expires">
                <img src="/assets/images/flag-red.svg" alt="" class="govuk-util__vertical-align-top" />
                Missing
              </div>
              <div *ngIf="records.trainingStatus === trainingStatusService.EXPIRED && records.expires">
                <img src="/assets/images/flag-red.svg" alt="" class="govuk-util__vertical-align-top" />
                Expired
              </div>
              <div *ngIf="records.trainingStatus === trainingStatusService.EXPIRING && records.expires">
                <img src="/assets/images/flag-orange.svg" alt="" class="govuk-util__vertical-align-top" />
                Expires soon
              </div>
              <div *ngIf="records.trainingStatus === trainingStatusService.ACTIVE && records.expires">OK</div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
