<div class="govuk-grid-row govuk-!-margin-1 govuk-!-margin-top-4">
  <div class="asc-summary-box">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-util__align-right">
        <a class="govuk-button govuk-button--link" href="/dashboard">Close</a>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-!-font-weight-regular govuk-!-margin-top-0">Help to get you started</h1>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          {{ wizards[currentIndex].title }}
        </h2>
        <div class="asc-cms-content" [innerHTML]="wizards[currentIndex].content"></div>
      </div>
      <div class="govuk-grid-column-one-half">
        <img
          class="asc-shadow-box"
          src="{{ imageUrl }}{{ wizards[currentIndex].image }}"
          alt="{{ wizards[currentIndex].title }}"
        />
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-util__inline-block govuk-grid-column-one-half govuk-util__align-left">
        <a
          *ngIf="!isFirst"
          class="asc-chevron-before govuk-button--link govuk-!-margin-top-3"
          href="#"
          (click)="previousWizard($event)"
          >Previous</a
        >
        <br />
        <a *ngIf="!isFirst" href="#" (click)="previousWizard($event)" class="govuk-button--link">{{
          wizards[currentIndex - 1].title
        }}</a>
      </div>
      <div class="govuk-util__inline-block govuk-grid-column-one-half govuk-util__float-right govuk-util__align-right">
        <a
          *ngIf="!isLast"
          class="asc-chevron-after govuk-button--link govuk-!-margin-top-3 margin-left-6"
          href="#"
          (click)="nextWizard($event)"
          >Next
        </a>
        <br />
        <a *ngIf="!isLast" href="#" (click)="nextWizard($event)" class="govuk-button--link">{{
          wizards[currentIndex + 1].title
        }}</a>
      </div>
    </div>
  </div>
</div>
