@import '~govuk-frontend/govuk/base';

.asc-summary-box {
  border: 1px solid $govuk-border-colour;
  background-color: govuk-colour('light-grey');
  padding: 20px 40px;
}

.asc-shadow-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.asc-no-underline {
  text-decoration: none;
}

.asc-image-width {
  max-width: 100%;
  height: auto;
}

.video_wrapper {
  max-width: 100%;
  height: calc(100% / (16 / 9));
  width: auto;
  //padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}
