<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl govuk-!-margin-bottom-2">{{ workplaceName }}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">The ASC-WDS Benefits Bundle</h1>
    <app-details [title]="revealTitle">
      <p>
        The ASC-WDS Benefits Bundle is our way of saying thank you for using the Adult Social Care Workforce Data Set
        (ASC-WDS). The Bundle give you exclusive discounts and special offers across a range of Skills for Care's
        products and services.
      </p>
    </app-details>
    <h3 class="govuk-heading-s govuk-!-margin-top-3">How to use the Benefits Bundle</h3>
    <p>
      Take a look at all the discounts and services that are available on this page then choose any that you fancy.
      Codes must be applied before you make a purchase though, as discounts cannot be given afterwards.
    </p>
    <p>Be sure to check back often, as more offers will be added in the future.</p>
    <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-0">Benefits Bundle discounts and services</h3>

    <div class="govuk-accordion" data-module="govuk-accordion">
      <div class="govuk-accordion__controls">
        <a role="button" href="#" (click)="toggleAll($event)" class="govuk-accordion__open-all" aria-expanded="false">
          {{ !allOpen ? 'Open all' : 'Close all' }}
          <span class="govuk-visually-hidden"> sections</span>
        </a>
      </div>

      <app-benefit-accordion [benefit]="benefits[0]" [index]="0" (toggleEmitter)="toggleAccordion(0)">
        <p>
          We've negotiated some great discounts from endorsed providers who offer high quality learning and development
          to the social care sector.
        </p>
        <p>
          <a href="/benefits-bundle/training-discounts"
            >View discounts from Skills for Care's endorsed training providers</a
          >
        </p>
      </app-benefit-accordion>

      <app-benefit-accordion [benefit]="benefits[1]" [index]="1" (toggleEmitter)="toggleAccordion(1)">
        <p>
          Skills for Care offer low cost eLearning on a variety of topics. Your ASC-WDS account entitles you to 10% off
          the purchase price of the modules.
        </p>

        <p>
          <a [routerLink]="['elearning-discounts']">Read more about the eLearning modules on offer</a>
        </p>
      </app-benefit-accordion>

      <app-benefit-accordion [benefit]="benefits[2]" [index]="2" (toggleEmitter)="toggleAccordion(2)">
        <p>
          <a href="https://bookshop.skillsforcare.org.uk/Shop" target="_blank">Visit the Skills for Care bookshop</a>
          and use voucher code <strong>ASCWDS-2223</strong> to claim your discount.
        </p>
      </app-benefit-accordion>

      <app-benefit-accordion [benefit]="benefits[3]" [index]="3" (toggleEmitter)="toggleAccordion(3)">
        <p>
          These seminars from Skills for Care offer learning on a range of topics. They can be tailored to your needs
          and delivered directly to your organisation. Claim 10% off with your ASC-WDS workplace ID.
        </p>
        <p>
          <a [routerLink]="['tailored-seminars']">Read more about these tailored seminars</a>
        </p>
      </app-benefit-accordion>

      <app-benefit-accordion [benefit]="benefits[4]" [index]="4" (toggleEmitter)="toggleAccordion(4)">
        <p>
          <a
            href="https://www.skillsforcare.org.uk/Documents/Standards-legislation/CQC/Recommendations-for-CQC-providers.pdf"
            target="_blank"
            >Recommendations for CQC providers</a
          >
        </p>
        <p>
          Skills for Care's recommendations offer practical support to help you deliver 'good' and 'outstanding' care.
        </p>

        <p>
          <a
            href="https://www.skillsforcare.org.uk/Documents/Standards-legislation/CQC/Good-and-outstanding-care-guide.pdf"
            target="_blank"
            >Good and outstanding care guide</a
          >
        </p>
        <p>
          This guide shares best practice from over 350 'good' and 'outstanding' CQC inspection reports to help you
          prepare for inspections.
        </p>

        <p>
          <a
            href="https://www.skillsforcare.org.uk/Documents/Leadership-and-management/Leadership-Qualities-Framework/Leadership-Qualities-Framework.pdf"
            target="_blank"
            >Leadership qualities framework</a
          >
        </p>
        <p>This framework describes the values and behaviours needed for high quality leadership at all levels.</p>

        <p>
          <a
            href="https://www.skillsforcare.org.uk/Documents/Learning-and-development/Effective-supervision/Effective-supervision-guide-ONLINE.pdf"
            target="_blank"
            >Effective supervision guide</a
          >
        </p>
        <p>
          This guide can be used by adult social care managers and supervisors to help them plan and implement effective
          supervision.
        </p>

        <p>
          <a
            href="https://www.skillsforcare.org.uk/Documents/Leadership-and-management/People-Performance-Management-Toolkit/People-Performance-Management-Toolkit.pdf"
            target="_blank"
            >The people performance management toolkit</a
          >
        </p>
        <p>
          This toolkit demonstrates how applying different skills and behaviours during the management process can help
          you maintain a motivated team.
        </p>
      </app-benefit-accordion>
    </div>
  </div>
</div>
