<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl govuk-!-margin-bottom-2">{{ workplaceName }}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">The ASC-WDS Benefits Bundle</h1>
    <app-details [title]="revealTitle">
      <p>
        The ASC-WDS Benefits Bundle is our way of saying thank you for using the Adult Social Care Workforce Data Set
        (ASC-WDS). The Bundle give you exclusive discounts and special offers across a range of Skills for Care's
        products and services.
      </p>
    </app-details>
    <h3 class="govuk-heading-s govuk-!-margin-top-3">How to use the Benefits Bundle</h3>
    <p>
      Take a look at all the discounts and services that are available on this page then choose any that you fancy.
      Codes must be applied before you make a purchase though, as discounts cannot be given afterwards.
    </p>
    <p>Be sure to check back often, as more offers will be added in the future.</p>
    <h3 class="govuk-heading-s govuk-!-margin-top-6">Benefits Bundle discounts and services</h3>

    <div class="govuk-accordion" data-module="govuk-accordion">
      <div
        class="govuk-accordion__section"
        [class]="{ 'govuk-accordion__section--expanded': benefits[0].open }"
        [attr.data-testid]="'accordion-' + 0"
      >
        <div class="govuk-accordion__section-header" (click)="benefits[0].open = !benefits[0].open">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" [id]="'accordion-default-heading-' + 0"
              >{{ benefits[0].name }}
            </span>
          </h2>
          <span class="govuk-accordion__icon" aria-hidden="true"></span>
        </div>
        <div
          [id]="'accordion-default-content-' + 0"
          class="govuk-accordion__section-content"
          [attr.data-testid]="'accordion-drop-' + 0"
        ></div>
      </div>

      <div
        class="govuk-accordion__section"
        [class]="{ 'govuk-accordion__section--expanded': benefits[1].open }"
        [attr.data-testid]="'accordion-' + 1"
      >
        <div class="govuk-accordion__section-header" (click)="benefits[1].open = !benefits[1].open">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" [id]="'accordion-default-heading-' + 1"
              >{{ benefits[1].name }}
            </span>
          </h2>
          <span class="govuk-accordion__icon" aria-hidden="true"></span>
        </div>
        <div
          [id]="'accordion-default-content-' + 1"
          class="govuk-accordion__section-content"
          [attr.data-testid]="'accordion-drop-' + 1"
        ></div>
      </div>

      <div
        class="govuk-accordion__section"
        [class]="{ 'govuk-accordion__section--expanded': benefits[2].open }"
        [attr.data-testid]="'accordion-' + 2"
      >
        <div class="govuk-accordion__section-header" (click)="benefits[2].open = !benefits[2].open">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" [id]="'accordion-default-heading-' + 2"
              >{{ benefits[2].name }}
            </span>
          </h2>
          <span class="govuk-accordion__icon" aria-hidden="true"></span>
        </div>
        <div
          [id]="'accordion-default-content-' + 2"
          class="govuk-accordion__section-content"
          [attr.data-testid]="'accordion-drop-' + 2"
        ></div>
      </div>

      <div
        class="govuk-accordion__section"
        [class]="{ 'govuk-accordion__section--expanded': benefits[3].open }"
        [attr.data-testid]="'accordion-' + 3"
      >
        <div class="govuk-accordion__section-header" (click)="benefits[3].open = !benefits[3].open">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" [id]="'accordion-default-heading-' + 3"
              >{{ benefits[3].name }}
            </span>
          </h2>
          <span class="govuk-accordion__icon" aria-hidden="true"></span>
        </div>
        <div
          [id]="'accordion-default-content-' + 3"
          class="govuk-accordion__section-content"
          [attr.data-testid]="'accordion-drop-' + 3"
        ></div>
      </div>

      <div
        class="govuk-accordion__section"
        [class]="{ 'govuk-accordion__section--expanded': benefits[4].open }"
        [attr.data-testid]="'accordion-' + 4"
      >
        <div class="govuk-accordion__section-header" (click)="benefits[4].open = !benefits[4].open">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" [id]="'accordion-default-heading-' + 4"
              >{{ benefits[4].name }}
            </span>
          </h2>
          <span class="govuk-accordion__icon" aria-hidden="true"></span>
        </div>
        <div
          [id]="'accordion-default-content-' + 4"
          class="govuk-accordion__section-content"
          [attr.data-testid]="'accordion-drop-' + 4"
        ></div>
      </div>

      <div
        class="govuk-accordion__section"
        [class]="{ 'govuk-accordion__section--expanded': benefits[5].open }"
        [attr.data-testid]="'accordion-' + 5"
      >
        <div class="govuk-accordion__section-header" (click)="benefits[5].open = !benefits[5].open">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" [id]="'accordion-default-heading-' + 5"
              >{{ benefits[5].name }}
            </span>
          </h2>
          <span class="govuk-accordion__icon" aria-hidden="true"></span>
        </div>
        <div
          [id]="'accordion-default-content-' + 5"
          class="govuk-accordion__section-content"
          [attr.data-testid]="'accordion-drop-' + 5"
        >
          <p>
            This free training comes as 3 individual packages for your staff. There's a rapid induction programme,
            refresher training and a volunteer programme.
          </p>
          <p>Your chosen training provider will need your Workplace ID ({{ workplaceId }}) when you register</p>
          <p>Read more about Funded essential training on the Skills for Care website.</p>
        </div>
      </div>

      <div
        class="govuk-accordion__section"
        [class]="{ 'govuk-accordion__section--expanded': benefits[6].open }"
        [attr.data-testid]="'accordion-' + 6"
      >
        <div class="govuk-accordion__section-header" (click)="benefits[6].open = !benefits[6].open">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" [id]="'accordion-default-heading-' + 6"
              >{{ benefits[6].name }}
            </span>
          </h2>
          <span class="govuk-accordion__icon" aria-hidden="true"></span>
        </div>
        <div
          [id]="'accordion-default-content-' + 6"
          class="govuk-accordion__section-content"
          [attr.data-testid]="'accordion-drop-' + 6"
        ></div>
      </div>
    </div>
  </div>
</div>
