<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl govuk-!-margin-bottom-2">{{ workplaceName }}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">The ASC-WDS Benefits Bundle</h1>
    <app-details [title]="revealTitle">
      <p>
        The ASC-WDS Benefits Bundle is our way of saying thank you for using the Adult Social Care Workforce Data Set
        (ASC-WDS). The Bundle give you exclusive discounts and special offers across a range of Skills for Care's
        products and services.
      </p>
    </app-details>
    <h3 class="govuk-heading-s govuk-!-margin-top-3">How to use the Benefits Bundle</h3>
    <p>
      Take a look at all the discounts and services that are available on this page then choose any that you fancy.
      Codes must be applied before you make a purchase though, as discounts cannot be given afterwards.
    </p>
    <p>Be sure to check back often, as more offers will be added in the future.</p>
    <h3 class="govuk-heading-s govuk-!-margin-top-6">Benefits Bundle discounts and services</h3>
  </div>
</div>
