<form #formEl (ngSumit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <fieldset class="govuk-fieldset" aria-describedby="laReturnStartDate-hint" role="group">
      <div class="govuk-grid-column-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">Local authority: {Darlington}</h1>
        </legend>
      </div>
      <div class="govuk-form-group"></div>
    </fieldset>
    <div class="govuk-grid-column-one-third">
      <button type="submit" class="govuk-button">Save and return</button>
    </div>
  </div>
</form>
