.btn-container {
  & ~ .btn-container {
    margin-top: 3rem;
  }

  //@include rem(padding, 30px 0 0 0);
}

.main-page-container > .btn-container {
  margin-top: 5rem;
}

a[role='button'] {
  text-decoration: none;
  line-height: 40px;
}

.btn {
  width: 100%;
  border: none;
  border-radius: 0;
  height: 40px;
  letter-spacing: 1.5px;

  @include rem(padding, 0 26px);
  @include box-shadow(0, 2px, 0, 0, $sfc-btn-primary-green-hover);

  @include rem(font-size, 13px);

  @media only screen and (min-width: 576px) {
    font-size: 19px !important;
  }

  @media only screen and (min-width: 768px) {
    width: auto;
  }

  &.btn-primary {
    letter-spacing: 1px;
    background-color: $sfc-btn-primary-green;

    &:hover,
    &:active {
      background-color: $sfc-btn-primary-green-hover !important;
    }

    &:focus {
      border: 2px solid $focus-yellow !important;
      box-shadow: none;
    }

    &:disabled,
    &.disabled {
      background-color: $sfc-btn-primary-green;

      &:hover,
      &:active {
        background-color: $sfc-btn-primary-green !important;
      }
    }
  }

  &.btn-blue {
    color: white;

    background-color: map-get($color, blue);

    &:hover,
    &:active {
      background-color: map-get($color, blue) !important;
    }

    &:focus {
      border: 2px solid $focus-yellow !important;
      box-shadow: none;
    }

    &:disabled,
    &.disabled {
      background-color: map-get($color, blue);

      &:hover,
      &:active {
        background-color: map-get($color, blue) !important;
      }
    }
  }

  ~ .btn:nth-of-type(2) {
    margin-top: 10px;

    @include media(map-get($breakpoints, tablet)) {
      margin-top: inherit;
    }
  }

  &.btn-link {
    font-size: 15px;
    letter-spacing: 1px;
    border: 0;
    color: map-get($color, link);
    text-decoration: underline;
    line-height: 2rem;
    box-shadow: none;

    &.btn-link-no-underline {
      text-decoration: none;
    }

    @include media(map-get($breakpoints, tablet)) {
      line-height: 20px;
    }
  }
}

.govuk-button {
  font-weight: 400;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin-top: 0;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #00823b;
  box-shadow: 0 2px 0 #003618;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
  margin-bottom: 32px;
  width: auto;

  &::before {
    /* content: ""; */
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
  }

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: #00692f;
  }

  &:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
  }

  &:active {
    top: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.govuk-button--start {
    font-weight: 700;
    line-height: 1;
    min-height: auto;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url(/assets/img/icon-pointer-2x.png);
    background-size: 30px 19px;
  }

  &.govuk-button--secondary {
    background-color: map-get($color, grey-lighter);
    box-shadow: 0 2px 0 map-get($color, grey-darker);

    &:link,
    &:visited,
    &:active,
    &:hover {
      color: $sfc-blue;
    }

    &:hover,
    &:focus {
      color: #FFF;
      background-color: map-get($color, grey);
    }

    &:focus {
      outline: 3px solid #ffbf47;
      outline-offset: 0;
    }
  }
}
