.center-v {
  margin-top: auto;
  margin-bottom: auto;
}

.no-padding-left {
  padding-left: 0;
}

#main-content .main-page-container.confirmation-page {
  margin: 7.5rem 0 9rem;
  padding: 4rem 4rem 2.5rem;

  h1,
  .facts {
    margin-bottom: 3rem;
  }

  h1 {
    font-size: 4rem;
    padding: 0;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 17px;
    margin-bottom: 2rem;
  }

  .facts {
    display: inline-block;
    padding: 20px 25px;

    span {
      display: block;
      font-weight: 600;

      & ~ span {
        margin-top: 15px;
      }

      &.amount {
        font-size: 60px;
        line-height: 50px;
      }

      &.label {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .btn {
    display: block;
    width: initial;
    margin: rem 0;

    &.btn-link {
      font-size: 15px !important;
      border: 0;
      padding: 0;
      margin-top: 2rem;
    }

    &.btn-primary {
      font-size: 15px !important;
      padding: 5px 10px;
      height: initial;
    }
  }
}
