@import '~govuk-frontend/settings/all';

$govuk-global-styles: true;
$govuk-font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

@import '~govuk-frontend/all';

body {
  font-family: $govuk-font-family;
}

@import 'modules/sticky-footer';
@import 'modules/utils';

// Custom Partials
@import 'partials/lists';

// Custom Components
@import 'components/auto-suggest';
@import 'components/buttons';
@import 'components/doh-logo';
@import 'components/footer';
@import 'components/header';
@import 'components/input';
@import 'components/radios';
@import 'components/tag';
