/* autoprefixer grid: on */

@import '~govuk-frontend/settings/all';

$govuk-global-styles: true;
$govuk-font-family: 'Helvetica Neue',
Helvetica,
Arial,
'Lucida Grande',
sans-serif;

@import '~govuk-frontend/all';

body {
  font-family: $govuk-font-family;
}

@import 'modules/overlay';
@import 'modules/sticky-footer';
@import 'modules/utils';
@import 'modules/responsive';

// Custom Partials
@import 'partials/lists';

// Custom Components
@import 'components/auto-suggest';
@import 'components/buttons';
@import 'components/doh-logo';
@import 'components/fieldset';
@import 'components/footer';
@import 'components/header';
@import 'components/input';
@import 'components/inset-text';
@import 'components/panel';
@import 'components/progress';
@import 'components/radios';
@import 'components/summary-list';
@import 'components/select';
@import 'components/tabs';
@import 'components/tag';
@import 'components/info';


// TO BE EXTRACTED INTO OWN COMPONENT

ul.total-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    list-style: none;
    font-size: 19px;
    padding-top: 35px;
    position: relative;

    .total {
      position: absolute;
      left: 20px;
      bottom: 24px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.ext-link {
  position: relative;
  padding-right: 23px;

  &:before {
    content: '';
    width: 13px;
    height: 13px;
    background: url('/assets/images/window.svg') no-repeat center;
    background-size: 13px auto;
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
  }
}
