@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    -moz-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  a {
    &[href]:after {
      content: none;
    }
  }

  .parent-page-break {
    position: relative;
  }

  .page-break {
    position: relative;
    page-break-inside: avoid;

    &::after {
      content: '';
      display: block;
      height: 200px;
      margin-bottom: -200px;
    }
  }

  .govuk-link--no-visited-state {
    color: black !important;
    text-decoration: none;
  }

  .govuk-breadcrumbs,
  .govuk-footer__link,
  .govuk-header__navigation,
  .hide-print {
    display: none;
  }

  .govuk-header__menu-button,
  .govuk-phase-banner,
  .govuk-header__navigation {
    visibility: hidden;
  }

  .govuk-header__strapline {
    position: relative !important;
    left: initial !important;
    right: initial !important;
    bottom: initial !important;
    display: inline-block !important;
  }
}
