@import './variables.scss';
@import './mixins.scss';

.tb-cell {
  @include rem(padding, 0 0 50px 0);
}

.govuk-table {
  @include rem(font-size, 19px);
  color: map-get($color, black);
  width: 100%;
  @include rem(margin-bottom, 30px);

  border-spacing: 0;
  border-collapse: collapse;
}

.govuk-table__header {
  font-weight: 700;
}

.govuk-table__header,
.govuk-table__cell {
  @include rem(padding-top, 10px);
  @include rem(padding-right, 20px);
  @include rem(padding-bottom, 10px);
  @include rem(padding-left, 0px);
  border-bottom: 1px solid map-get($color, grey);
  text-align: left;
  // GOV.UK Elements sets the font-size and line-height for all headers and cells
  // in tables.
  // @include govuk-compatibility(govuk_elements) {
    font-size: inherit;
    line-height: inherit;
  // }
}

// .govuk-table__cell--numeric {
//   @include govuk-font($size: false, $tabular: true);
// }

.govuk-table__header--numeric,
.govuk-table__cell--numeric {
  text-align: right;
}

.govuk-table__header:last-child,
.govuk-table__cell:last-child {
  padding-right: 0;
}

.govuk-table__caption {
  font-weight: 700;

  display: table-caption;
  text-align: left;
}
