// Text
h1, .h1 {
  font-weight: 700;
  margin: 0;

  @include rem(padding, 0 0 50px 0);
  @include rem(font-size, 48px);
  @include rem(line-height, 58px);
}

h2, .h2 {
  font-weight: 700;
  margin: 0;

  @include rem(padding, 0 0 0 0);
  @include rem(font-size, 30px);
  @include rem(line-height, 40px);
}

h5, .h5 {
  color: $light-grey-text;

  @include rem(font-size, 23px);
}

.heading-caption {
  color: $light-grey-text;

  @include rem(font-size, 27px);
}

.main-text {

  @include rem(font-size, 16px);
}

a.link-body-text {

  &:not([href]):not([tabindex]) {
    @include rem(font-size, 16px);

    @media (min-width: 641px) {
      @include rem(font-size, 19px);
    }
  }
}

.main-body-text {

  @include rem(font-size, 16px);

  @media (min-width: 641px) {
    @include rem(font-size, 19px);
  }
}

.main-body-text-bold {
  font-weight: 700;

  @include rem(font-size, 16px);

  @media (min-width: 641px) {
    @include rem(font-size, 19px);
  }
}

.text-weight-bold {
  font-weight: 700;
}

.text-weight-normal {
  font-weight: 400;
}

.text-weight-thin {
  font-weight: 300;
}

strong {
  font-weight: bold;
}

.fs-80 {

  @include rem(font-size, 80px);
  @include rem(line-height, 80px);
}

.fs-48 {

  @include rem(font-size, 48px);
  @include rem(line-height, 48px);
}

%fs-36 {
  @include rem(font-size, 36px);
  @include rem(line-height, 36px);
}
.fs-36 {
  @extend %fs-36;
}

.fs-27 {

  @include rem(font-size, 27px);
  @include rem(line-height, 27px);
}

.fs-24 {

  @include rem(font-size, 24px);
  @include rem(line-height, 24px);
}

%fs-19 {
  @include rem(font-size, 19px);
  @include rem(line-height, 19px);
}
.fs-19 {
  @extend %fs-19;
}

.fs-16 {

  @include rem(font-size, 16px);
  @include rem(line-height, 16px);
}

.fs-14 {

  @include rem(font-size, 14px);
  @include rem(line-height, 14px);
}

.main-page-container {
  header {
    margin-bottom: 1rem;

    h1 {
      padding: 0;

      ~ * {
        margin-top: 3rem;
      }
    }
  }
}

ul.list {
  @extend %fs-19;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  list-style-type: none;

  // Add a top margin for nested lists
  .list {
    margin-top: 10px;
  }

  & > li {
    margin-bottom: 5px;
  }

  &.list--bullet {
    padding-left: 20px;
    list-style-type: disc;

    & > li {
      list-style-type: disc;
    }
  }

  &.list--number {
    padding-left: 20px;
    list-style-type: decimal;

    & > li {
      list-style-type: decimal;
    }
  }
}
