// Colours
$black: #000;
$white: #fff;
$sfc-blue: #0065BD;
$sfc-btn-primary-green: #00823b;
$sfc-btn-primary-green-hover: #00692f;
$sfc-btn-primary-purple: #912b88;
$sfc-btn-primary-purple-hover: #2a006f;
$focus-yellow: #FFBF47;
$light-grey-text: #6F777B;
$lighter-grey: #dee0e2;
$headerline-border-grey: #c9cacc;
$mint-green: #28a197;
$error-red: #b10e1e;
$focus: #ffbf47;
$alert: #f47738;
$alert-background: rgba($alert, 0.25);
$primary-background: rgba($sfc-btn-primary-green, 0.25);
$notification-background: rgba($sfc-blue, 0.15);
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
  */

$color: (
  link: #1078c7,
  black: #000,
  white: #fff,
  blue: #0665bc,
  blue-light: #3d85b9,
  grey-lighter: #e9e9e9,
  grey-light: #dee0e2,
  grey-darker: #9A9C9E,
  grey: #808080,
  grey-dark: #c9cacc
);

$breakpoints: (
  mobile-s: 320px,
  mobile-m: 375px,
  mobile-l: 425px,
  tablet: 768px,
  laptop: 1024px,
  laptop-l: 1440px
);
