// Colours
$black: #000;
$white: #fff;
$sfc-blue: #0065BD;
$sfc-btn-primary-green: #00823b;
$sfc-btn-primary-green-hover: #00692f;
$sfc-btn-primary-purple: #912b88;
$sfc-btn-primary-purple-hover: #2a006f;
$focus-yellow: #FFBF47;
$light-grey-text: #6F777B;
$headerline-border-grey: #c9cacc;
$mint-green: #28a197;
$error-red: #b10e1e;
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
  */

$color: (
  link: #1078c7,
  white: #fff,
  blue: #0665bc
);

$breakpoints: (
  mobile-s: 320px,
  mobile-m: 375px,
  mobile-l: 425px,
  tablet: 768px,
  laptop: 1024px,
  laptop-l: 1440px
);
