.title-and-change-link-wrapper {
  position: relative;
}

.qualification-title {
  display: inline-block;
  margin-right: 50px;
}

.change-link {
  position: absolute;
  top: 0;
  white-space: nowrap;
}
