<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>
<div *ngIf="worker" class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-bottom-0">
      <span class="govuk-caption-l" data-testid="workerNameAndRole">{{ worker.nameOrId }}</span>
    </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ qualificationId ? 'Qualification record details' : 'Add qualification record details' }}
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <a
      class="govuk-button govuk-button--link govuk__flex govuk__align-items-center"
      role="button"
      draggable="false"
      *ngIf="qualificationId"
      data-testid="delete-this-qualification-record"
      (click)="navigateToDeleteQualificationRecord()"
    >
      <img src="/assets/images/bin.svg" alt="" />
      <span class="govuk-!-margin-left-1 govuk__nowrap"> Delete this qualification record </span></a
    >
  </div>
</div>
<form *ngIf="!qualificationId || (qualificationId && record)" (ngSubmit)="onSubmit()" [formGroup]="form" #formEl>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
        <fieldset class="govuk-fieldset" aria-describedby="qualification-conditional-hint" role="group">
          <app-qualification-form
            [form]="form"
            [worker]="worker"
            [workplace]="workplace"
            [type]="item"
            [notesMaxLength]="notesMaxLength"
            [submitted]="submitted"
            [formErrorsMap]="formErrorsMap"
            [preselectedQualification]="null"
          ></app-qualification-form>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-button-group govuk-!-margin-top-4">
        <button type="submit" class="govuk-button govuk-!-margin-right-5">{{ buttonText }}</button>
        <a
          class="govuk-button govuk-button--link govuk-!-margin-left-9"
          role="button"
          draggable="false"
          (click)="navigateToPreviousPage()"
        >
          Cancel
        </a>
      </div>
    </div>
  </div>
</form>
