<h2 class="govuk-heading-m">Workplace</h2>
<ng-container *ngIf="updateWorkplace; then alert; else summary"></ng-container>

<ng-template #alert>
  <app-inset-text *ngIf="updateWorkplace" color="todo">
    You need to provide information on your workplace.<br />
    <a [routerLink]="['/workplace', workplace.id, 'type-of-employer']">Add workplace information</a>
  </app-inset-text>
</ng-template>

<ng-template #summary>
  <app-workplace-summary
    [workplace]="workplace"
    [return]="summaryReturnUrl"
    [displayWDFReport]="displayWDFReport"
  ></app-workplace-summary>
</ng-template>
