<ng-container *ngIf="worker">
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        <span class="govuk-caption-xl">{{ worker.nameOrId }}</span>
        Staff record
      </h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-8 govuk__nowrap">
      <p>Last updated on {{ worker.updated | date: 'longDate' }}</p>
    </div>
  </div>
  <div class="govuk-!-margin-bottom-6">
    <app-wdf-staff-record-status-message
      [overallWdfEligibility]="overallWdfEligibility"
      [worker]="updatedWorker"
      [wdfStartDate]="wdfStartDate"
      [wdfEndDate]="wdfEndDate"
    ></app-wdf-staff-record-status-message>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-button-group">
        <a class="govuk-button" [routerLink]="exitUrl.url" [fragment]="exitUrl.fragment">Close this staff record</a>
        <app-wdf-pagination
          style="margin-left: auto"
          [workplaceUid]="workplaceUid"
          [workerList]="workerList"
        ></app-wdf-pagination>
      </div>
    </div>
  </div>

  <app-staff-record-summary
    *ngIf="workplace && worker"
    [workplace]="workplace"
    [worker]="worker"
    [wdfView]="true"
    [overallWdfEligibility]="overallWdfEligibility"
    (allFieldsConfirmed)="refreshUpdatedWorkerAndWdfEligibility()"
  ></app-staff-record-summary>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-button-group">
        <a class="govuk-button" [routerLink]="exitUrl.url" [fragment]="exitUrl.fragment">Close this staff record</a>
        <app-wdf-pagination
          style="margin-left: auto"
          [workplaceUid]="workplaceUid"
          [workerList]="workerList"
        ></app-wdf-pagination>
      </div>
    </div>
  </div>
</ng-container>
