<ng-container *ngIf="worker">
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        <span class="govuk-caption-xl">Staff record</span>
        {{ worker.nameOrId }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-8 govuk-util__align-right govuk__nowrap">
      <p>Last update, {{ workerUpdatedDate }}</p>
    </div>
  </div>
  <div class="govuk-!-margin-bottom-1">
    <app-wdf-staff-record-status-message
      [overallWdfEligibility]="overallWdfEligibility"
      [worker]="updatedWorker"
      [wdfStartDate]="wdfStartDate"
      [wdfEndDate]="wdfEndDate"
    ></app-wdf-staff-record-status-message>
  </div>

  <app-wdf-pagination [workplaceUid]="workplaceUid" [workerList]="workerList" [exitUrl]="exitUrl"></app-wdf-pagination>

  <app-staff-record-summary
    *ngIf="workplace && worker"
    [workplace]="workplace"
    [worker]="worker"
    [wdfView]="true"
    [overallWdfEligibility]="overallWdfEligibility"
    (allFieldsConfirmed)="refreshUpdatedWorkerAndWdfEligibility()"
  ></app-staff-record-summary>

  <div class="govuk-!-margin-top-4">
    <app-wdf-pagination
      [workplaceUid]="workplaceUid"
      [workerList]="workerList"
      [exitUrl]="exitUrl"
    ></app-wdf-pagination>
  </div>
</ng-container>
