<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Staff recruitment and retention</h1>
    <p class="govuk-inset-text">
      We've added 8 new questions. If necessary, you can skip questions and answer them later in the Workplace section
      of ASC-WDS.
    </p>
    <p>We would like to know:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          how much money is being spent on advertising for staff?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          how many people are being interviewed for care worker roles?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0 govuk__nowrap">
          whether new care workers have to repeat training done with previous employers?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          whether Care Certificates are transferable from workplace to workplace?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          whether a cash loyalty bonus is paid within the first 2 years of employment?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          whether care workers are paid more than statutory 'sick pay'?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          whether more than 3% is contributed towards care worker pensions?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          how many days holiday leave full-time care workers get?
        </p>
      </li>
    </ul>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Why are we collecting this data?</h2>
    <p>
      The Department of Health and Social Care (DHSC) want to use our anonymised data to help them better understand the
      difficulties and cost of recruiting staff and keeping them working in the adult social care sector.
    </p>
    <p>
      Your information will help DHSC to identify where policy changes could make staff recruitment easier in the
      future.
    </p>
    <a
      [routerLink]="['/workplace', establishment.uid, 'recruitment-advertising-cost']"
      role="button"
      draggable="false"
      class="govuk-button govuk-!-margin-top-5"
    >
      Continue to questions
    </a>
  </div>
</div>
