<h2 class="govuk-heading-m">Workplace</h2>
<ng-container *ngIf="updateWorkplace; then alert; else summary"></ng-container>

<ng-template #alert>
  <app-inset-text *ngIf="updateWorkplace" color="todo">
    You need to provide information on your workplace.<br />
    <a [routerLink]="['/workplace', workplace.id, 'start']">Add workplace information</a>
  </app-inset-text>
</ng-template>

<ng-template #summary>
  <app-workplace-summary *ngIf="workplace" [workplace]="workplace" [return]="summaryReturnUrl"></app-workplace-summary>
</ng-template>
