@if (notification) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds notificationTable">
      <div>
        @switch (notification.typeContent.approvalStatus) {
          @case ('REQUESTED') {
            <div>
              <p>{{ notificationRequestedFrom }}, {{ subPostcode }} want to link to you.</p>
            </div>
          }
          @case ('CANCELLED') {
            <div>
              <p>You have a request from {{ notificationRequestedFrom }} to link to you.</p>
              <p>Approve the request to set the following permissions:</p>
            </div>
          }
          @case ('DENIED') {
            <div>
              @if (isWorkPlaceRequester) {
                <p>You have rejected a request from {{ notificationRequestedFrom }} to link to you.</p>
                <h2 class="govuk-heading-s">Reason</h2>
                @if (notification.typeContent.rejectionReason) {
                  <p>{{ notification.typeContent.rejectionReason }}</p>
                } @else {
                  <p>No reason provided.</p>
                }
              } @else {
                <p>{{ notificationRequestedTo }}, {{ parentPostcode }} has rejected your request to link to them.</p>
                <h2 class="govuk-heading-s">Reason</h2>
                @if (notification.typeContent.rejectionReason) {
                  <p>{{ notification.typeContent.rejectionReason }}</p>
                } @else {
                  <p>No reason provided.</p>
                }
              }
            </div>
          }
          @case ('APPROVED') {
            <div>
              @if (isWorkPlaceRequester) {
                <p>
                  You approved a link request from {{ notificationRequestedFrom }}, {{ subPostcode }}, on
                  {{ notification.typeContent.updated | longDate }}.
                </p>
              } @else {
                <p>Your request to link to {{ notificationRequestedTo }}, {{ parentPostcode }}, has been approved.</p>
              }
            </div>
          }
          @default {
            <div></div>
          }
        }
      </div>
      <div>
        @switch (notification.typeContent.approvalStatus) {
          @case ('REQUESTED') {
            <div><h2 class="govuk-!-margin-top-6">Data permissions if approved</h2></div>
          }
          @case ('APPROVED') {
            <div>
              <h2 class="govuk-!-margin-top-6">Data permissions</h2>
            </div>
          }
        }
      </div>
      @if (notification.typeContent.approvalStatus !== 'DENIED') {
        <table class="govuk-table govuk-table__with-action">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row" data-testid="tableHeaders">
              <th scope="col" class="govuk-table__header">Workplace</th>
              <th scope="col" class="govuk-table__header">Permissions</th>
            </tr>
          </thead>
          <tbody class="govuk-tab">
            @if (isWorkPlaceRequester) {
              <tr class="govuk-table__row govuk-error-table__row--no-border">
                <td class="govuk-table__cell">
                  {{ notificationRequestedTo }}
                </td>
                @if (notification.typeContent.permissionRequest === 'None') {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                  </td>
                } @else {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                  </td>
                }
              </tr>
              <tr class="govuk-table__row govuk-error-table__row--no-border">
                <td class="govuk-table__cell">
                  {{ notificationRequestedFrom }}
                </td>
                <td class="govuk-table__cell">Workplace and staff records (edit)</td>
              </tr>
            } @else {
              <tr class="govuk-table__row govuk-error-table__row--no-border">
                <td class="govuk-table__cell">
                  {{ notificationRequestedFrom }}
                </td>
                <td class="govuk-table__cell">Workplace and staff records (edit)</td>
              </tr>
              <tr class="govuk-table__row govuk-error-table__row--no-border">
                <td class="govuk-table__cell">
                  {{ notificationRequestedTo }}
                </td>
                @if (notification.typeContent.permissionRequest === 'None') {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                  </td>
                } @else {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  </div>
}
