<app-error-summary
  *ngIf="submitted && form.invalid"
  [formErrorsMap]="formErrorsMap"
  [form]="form"
  [serverError]="serverError"
>
</app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">User account</span>
          <h1 class="govuk-fieldset__heading">Add your user details</h1>
        </legend>

        <p>
          You'll be the primary user of this account. The details you add will be used by Skills for Care to contact you
          about your workplace.
        </p>

        <ng-container *ngFor="let item of formControlsMap">
          <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get(item.name).errors">
            <label class="govuk-label" for="{{ item.name }}">
              {{ item.label }}
            </label>
            <span
              *ngIf="submitted && form.get(item.name).errors"
              id="{{ item.name }}-error"
              class="govuk-error-message"
            >
              <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage(item.name) }}
            </span>
            <span *ngIf="item.name === 'email'" class="govuk-hint">
              Try to avoid using shared email addresses, <br />
              like admin@myworkplace.com
            </span>
            <input
              class="govuk-input govuk-input--width-20"
              [formControlName]="item.name"
              id="{{ item.name }}"
              name="{{ item.name }}"
              [class.govuk-input--error]="submitted && form.get(item.name).errors"
              type="text"
            />
          </div>
        </ng-container>
      </fieldset>

      <button class="govuk-button govuk-!-margin-top-2" type="submit">{{ callToActionLabel }}</button>
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-util__float-right">
      <app-progress-bar
        data-testid="progress-bar-1"
        [header]="'Workplace'"
        [sections]="workplaceSections"
        [currentSection]="'Confirm workplace'"
      ></app-progress-bar>
      <app-progress-bar
        *ngIf="this.flow.includes('registration')"
        data-testid="progress-bar-2"
        [header]="'User account'"
        [sections]="userAccountSections"
        [currentSection]="'Confirm workplace'"
      ></app-progress-bar>
    </div>
  </div>
</div>
