<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
            Is your workplace using the <span class="govuk__nowrap-responsive">care workforce pathway?</span>
          </h1>
        </legend>

        <app-details
          [title]="'What\'s the care workforce pathway (CWP)?'"
          data-testid="reveal-whatsCareWorkforcePathway"
        >
          <p>
            The care workforce pathway outlines the knowledge, skills, values and behaviours needed for a career in
            adult social care. It provides a clear career structure for your staff.
          </p>
          <p>
            You'll use the pathway to set out how staff can gain skills, learn and develop, and progress in their
            careers.
          </p>
          <p>
            <a
              href="https://www.gov.uk/government/publications/care-workforce-pathway-for-adult-social-care/care-workforce-pathway-for-adult-social-care-overview"
              class="govuk-link"
              target="_blank"
              >Read more about the care workforce pathway</a
            >
          </p>
        </app-details>

        <div class="govuk-form-group">
          <div class="govuk-radios govuk-!-margin-bottom-4">
            <ng-container *ngFor="let option of cwpUseOptions; let i = index">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="use-{{ i }}"
                  name="use"
                  type="radio"
                  [formControlName]="'use'"
                  [value]="option.value"
                />
                <label class="govuk-label govuk-radios__label" for="use-{{ i }}">
                  {{ option.label }}
                </label>
              </div>

              <div
                class="govuk-radios__conditional"
                [ngClass]="{ 'govuk-radios__conditional--hidden': form.get('use').value !== 'Yes' }"
                *ngIf="option.value === 'Yes'"
                data-testid="reasons"
              >
                <p class="govuk-body">Select all the reasons that apply.</p>
                <div class="govuk-checkboxes" [formArrayName]="'reasons'">
                  <ng-container *ngFor="let reason of allReasons; let j = index">
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="reason-{{ j }}"
                        type="checkbox"
                        value="reason.id"
                        [formControlName]="j"
                      />
                      <label class="govuk-label govuk-checkboxes__label" for="reason-{{ j }}">
                        {{ reason.text }}
                      </label>
                    </div>

                    <div
                      *ngIf="reason.isOther"
                      [ngClass]="{ 'govuk-checkboxes__conditional--hidden': form.get('reasons.' + j).value !== true }"
                      class="govuk-checkboxes__conditional"
                      data-testid="otherReasonsText"
                    >
                      <label class="govuk-label" for="otherReasonText-{{ reason.id }}"> Tell us what (optional) </label>
                      <input
                        type="text"
                        class="govuk-input govuk-!-width-one-third"
                        id="otherReasonText-{{ reason.id }}"
                        name="otherReasonText-{{ reason.id }}"
                        [formControl]="getFormControlForOtherText(reason.id)"
                      />
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </fieldset>
      <app-workplace-submit-button
        [return]="!!return"
        (clicked)="setSubmitAction($event)"
      ></app-workplace-submit-button>
    </div>

    <div class="govuk-grid-column-one-third">
      <div *ngIf="!return" class="govuk-util__float-right">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="workplaceFlowSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
    </div>
  </div>
</form>
