@if (breadcrumbs) {
  <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-3">
    {{ workplaceName ? workplaceName : 'Go back to' }}:
    <ol class="govuk-breadcrumbs__list">
      @for (breadcrumb of breadcrumbs; track breadcrumb.title; let i = $index) {
        <li class="govuk-breadcrumbs__list-item" [attr.aria-current]="i + 1 === breadcrumbs.length ? 'page' : null">
          @if (i + 1 !== breadcrumbs.length) {
            <a
              class="govuk-breadcrumbs__link"
              (click)="selectTab($event, { path: breadcrumb.path, fragment: breadcrumb.fragment })"
              [routerLink]="breadcrumb.path"
              [fragment]="breadcrumb.fragment"
              >{{ breadcrumb.title }}</a
            >
          } @else {
            {{ breadcrumb.title }}
          }
        </li>
      }
    </ol>
  </div>
}
