<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds notificationTable">
    <div [ngSwitch]="notification.typeContent.approvalStatus">
      <div *ngSwitchCase="'REQUESTED'">
        <ng-container
          *ngIf="
            isWorkPlaceIsRequester && notification.typeContent.requestedOwnerType === 'Workplace';
            else nonWorkPlaceRequester
          "
        >
          <p>
            {{ ownerShipRequestedTo }}, {{ ownerShipRequestedToPostCode }}, have sent you a change data owner request
            because they want to be able to edit their own workplace details and staff records.
          </p></ng-container
        >
        <ng-template #nonWorkPlaceRequester
          ><p>
            {{ ownerShipRequestedTo }}, {{ ownerShipRequestedToPostCode }}, have sent you a change data owner request
            because they want to be able to edit your workplace details and staff records.
          </p></ng-template
        >
      </div>
      <div *ngSwitchCase="'CANCELLED'">
        <p>You have a request to transfer ownership of data to {{ ownerShipRequestedTo }}.</p>
        <p>Approve the request to set the following permissions:</p>
      </div>

      <div *ngSwitchCase="'DENIED'">
        <ng-container *ngIf="isWorkPlaceIsRequester; else nonWorkPlaceRequester">
          <p>You rejected the request to transfer ownership of data to {{ ownerShipRequestedTo }}</p>
        </ng-container>
        <ng-template #nonWorkPlaceRequester>
          <p>{{ ownerShipRequestedFrom }} has rejected your request to become the data owner.</p>
        </ng-template>
        <h2 class="govuk-heading-s">Reason</h2>
        <ng-container *ngIf="notification.typeContent.rejectionReason; else noReason">
          <p data-testid="rejection-reason">{{ notification.typeContent.rejectionReason }}</p>
        </ng-container>
        <ng-template #noReason>
          <p data-testid="no-rejection-reason">No reason provided.</p>
        </ng-template>
      </div>
      <div *ngSwitchCase="'APPROVED'">
        <ng-container *ngIf="isWorkPlaceIsRequester; else nonWorkPlaceRequester">
          <p>You approved the request to transfer ownership of data to {{ ownerShipRequestedFrom }}.</p>
        </ng-container>
        <ng-template #nonWorkPlaceRequester>
          <ng-container
            *ngIf="notification.typeContent.requestedOwnerType === 'Parent'; else nonParentRequestedOwnerType"
            ><p>
              {{ ownerShipRequestedTo }}, {{ ownerShipRequestedToPostCode }}, approved your change data owner request
              and you can now edit your own workplace details and staff records.
            </p></ng-container
          >
          <ng-template #nonParentRequestedOwnerType
            ><p>
              {{ ownerShipRequestedTo }}, {{ ownerShipRequestedToPostCode }}, approved your change data owner request
              and you can now edit their workplace details and staff records.
            </p></ng-template
          >
        </ng-template>
      </div>
      <div *ngSwitchDefault></div>
    </div>
    <div [ngSwitch]="notification.typeContent.approvalStatus">
      <div *ngSwitchCase="'REQUESTED'"><h2 class="govuk-!-margin-top-6">Data permissions if approved</h2></div>
      <div *ngSwitchCase="'APPROVED'">
        <h2 class="govuk-!-margin-top-6">Data permissions</h2>
      </div>
    </div>
    <table
      class="govuk-table govuk-table__with-action"
      *ngIf="notification.typeContent.approvalStatus !== 'DENIED'"
      data-testid="table"
    >
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Workplace</th>
          <th scope="col" class="govuk-table__header">Permissions</th>
        </tr>
      </thead>
      <tbody class="govuk-tab">
        <ng-container *ngIf="isWorkPlaceIsRequester; else nonWorkPlaceRequester">
          <ng-container *ngIf="notification.typeContent.approvalStatus !== 'APPROVED'; else approved">
            <tr class="govuk-table__row govuk-error-table__row--no-border" data-testid="not-approved">
              <td class="govuk-table__cell">
                {{ ownerShipRequestedFrom }}
              </td>

              <ng-container *ngIf="notification.typeContent.permissionRequest === 'None'; else notNone">
                <td class="govuk-table__cell">
                  {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                </td>
              </ng-container>
              <ng-template #notNone>
                <td class="govuk-table__cell">
                  {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                </td>
              </ng-template>
            </tr>
            <tr class="govuk-table__row govuk-error-table__row--no-border" *ngIf="notification">
              <td class="govuk-table__cell">
                {{ ownerShipRequestedTo }}
              </td>
              <td class="govuk-table__cell">Workplace and staff records (edit)</td>
            </tr>
          </ng-container>
          <ng-template #approved>
            <tr class="govuk-table__row govuk-error-table__row--no-border" data-testid="approved">
              <td class="govuk-table__cell">
                {{ ownerShipRequestedTo }}
              </td>

              <ng-container *ngIf="notification.typeContent.permissionRequest === 'None'; else notNone">
                <td class="govuk-table__cell">
                  {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                </td>
              </ng-container>
              <ng-template #notNone>
                <td class="govuk-table__cell">
                  {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                </td>
              </ng-template>
            </tr>
            <tr class="govuk-table__row govuk-error-table__row--no-border" *ngIf="notification">
              <td class="govuk-table__cell">
                {{ ownerShipRequestedFrom }}
              </td>
              <td class="govuk-table__cell">Workplace and staff records (edit)</td>
            </tr>
          </ng-template>
        </ng-container>
        <ng-template #nonWorkPlaceRequester>
          <ng-container *ngIf="notification.typeContent.approvalStatus !== 'APPROVED'; else approved">
            <tr class="govuk-table__row govuk-error-table__row--no-border" *ngIf="notification">
              <td class="govuk-table__cell">
                {{ ownerShipRequestedTo }}
              </td>
              <td class="govuk-table__cell">Workplace and staff records (edit)</td>
            </tr>
            <tr class="govuk-table__row govuk-error-table__row--no-border" data-testid="not-approved">
              <td class="govuk-table__cell">
                {{ ownerShipRequestedFrom }}
              </td>
              <ng-container *ngIf="notification.typeContent.permissionRequest === 'None'; else notNone">
                <td class="govuk-table__cell">
                  {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                </td>
              </ng-container>
              <ng-template #notNone>
                <td class="govuk-table__cell">
                  {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                </td>
              </ng-template>
            </tr>
          </ng-container>
          <ng-template #approved>
            <tr class="govuk-table__row govuk-error-table__row--no-border" *ngIf="notification">
              <td class="govuk-table__cell">
                {{ ownerShipRequestedFrom }}
              </td>
              <td class="govuk-table__cell">Workplace and staff records (edit)</td>
            </tr>
            <tr class="govuk-table__row govuk-error-table__row--no-border" data-testid="approved">
              <td class="govuk-table__cell">
                {{ ownerShipRequestedTo }}
              </td>
              <ng-container *ngIf="notification.typeContent.permissionRequest === 'None'; else notNone">
                <td class="govuk-table__cell">
                  {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                </td>
              </ng-container>
              <ng-template #notNone>
                <td class="govuk-table__cell">
                  {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                </td>
              </ng-template>
            </tr>
          </ng-template>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
