<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds notificationTable">
    <div>
      @switch (notification.typeContent.approvalStatus) {
        @case ('REQUESTED') {
          <div>
            @if (isWorkPlaceIsRequester && notification.typeContent.requestedOwnerType === 'Workplace') {
              <p>
                {{ ownerShipRequestedTo }}, {{ ownerShipRequestedToPostCode }}, have sent you a change data owner
                request because they want to be able to edit their own workplace details and staff records.
              </p>
            } @else {
              <p>
                {{ ownerShipRequestedTo }}, {{ ownerShipRequestedToPostCode }}, have sent you a change data owner
                request because they want to be able to edit your workplace details and staff records.
              </p>
            }
          </div>
        }
        @case ('CANCELLED') {
          <div>
            <p>You have a request to transfer ownership of data to {{ ownerShipRequestedTo }}.</p>
            <p>Approve the request to set the following permissions:</p>
          </div>
        }
        @case ('DENIED') {
          <div>
            @if (isWorkPlaceIsRequester) {
              <p>You rejected the request to transfer ownership of data to {{ ownerShipRequestedTo }}</p>
            } @else {
              <p>{{ ownerShipRequestedFrom }} has rejected your request to become the data owner.</p>
            }
            <h2 class="govuk-heading-s">Reason</h2>
            @if (notification.typeContent.rejectionReason) {
              <p data-testid="rejection-reason">{{ notification.typeContent.rejectionReason }}</p>
            } @else {
              <p data-testid="no-rejection-reason">No reason provided.</p>
            }
          </div>
        }
        @case ('APPROVED') {
          <div>
            @if (isWorkPlaceIsRequester) {
              <p>You approved the request to transfer ownership of data to {{ ownerShipRequestedFrom }}.</p>
            } @else {
              @if (notification.typeContent.requestedOwnerType === 'Parent') {
                <p>
                  {{ ownerShipRequestedTo }}, {{ ownerShipRequestedToPostCode }}, approved your change data owner
                  request and you can now edit your own workplace details and staff records.
                </p>
              } @else {
                <p>
                  {{ ownerShipRequestedTo }}, {{ ownerShipRequestedToPostCode }}, approved your change data owner
                  request and you can now edit their workplace details and staff records.
                </p>
              }
            }
          </div>
        }
        @default {
          <div></div>
        }
      }
    </div>
    <div>
      @switch (notification.typeContent.approvalStatus) {
        @case ('REQUESTED') {
          <div><h2 class="govuk-!-margin-top-6">Data permissions if approved</h2></div>
        }
        @case ('APPROVED') {
          <div>
            <h2 class="govuk-!-margin-top-6">Data permissions</h2>
          </div>
        }
      }
    </div>
    @if (notification.typeContent.approvalStatus !== 'DENIED') {
      <table class="govuk-table govuk-table__with-action" data-testid="table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Workplace</th>
            <th scope="col" class="govuk-table__header">Permissions</th>
          </tr>
        </thead>
        <tbody class="govuk-tab">
          @if (isWorkPlaceIsRequester) {
            @if (notification.typeContent.approvalStatus !== 'APPROVED') {
              <tr class="govuk-table__row govuk-error-table__row--no-border" data-testid="not-approved">
                <td class="govuk-table__cell">
                  {{ ownerShipRequestedFrom }}
                </td>
                @if (notification.typeContent.permissionRequest === 'None') {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                  </td>
                } @else {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                  </td>
                }
              </tr>
              @if (notification) {
                <tr class="govuk-table__row govuk-error-table__row--no-border">
                  <td class="govuk-table__cell">
                    {{ ownerShipRequestedTo }}
                  </td>
                  <td class="govuk-table__cell">Workplace and staff records (edit)</td>
                </tr>
              }
            } @else {
              <tr class="govuk-table__row govuk-error-table__row--no-border" data-testid="approved">
                <td class="govuk-table__cell">
                  {{ ownerShipRequestedTo }}
                </td>
                @if (notification.typeContent.permissionRequest === 'None') {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                  </td>
                } @else {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                  </td>
                }
              </tr>
              @if (notification) {
                <tr class="govuk-table__row govuk-error-table__row--no-border">
                  <td class="govuk-table__cell">
                    {{ ownerShipRequestedFrom }}
                  </td>
                  <td class="govuk-table__cell">Workplace and staff records (edit)</td>
                </tr>
              }
            }
          } @else {
            @if (notification.typeContent.approvalStatus !== 'APPROVED') {
              @if (notification) {
                <tr class="govuk-table__row govuk-error-table__row--no-border">
                  <td class="govuk-table__cell">
                    {{ ownerShipRequestedTo }}
                  </td>
                  <td class="govuk-table__cell">Workplace and staff records (edit)</td>
                </tr>
              }
              <tr class="govuk-table__row govuk-error-table__row--no-border" data-testid="not-approved">
                <td class="govuk-table__cell">
                  {{ ownerShipRequestedFrom }}
                </td>
                @if (notification.typeContent.permissionRequest === 'None') {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                  </td>
                } @else {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                  </td>
                }
              </tr>
            } @else {
              @if (notification) {
                <tr class="govuk-table__row govuk-error-table__row--no-border">
                  <td class="govuk-table__cell">
                    {{ ownerShipRequestedFrom }}
                  </td>
                  <td class="govuk-table__cell">Workplace and staff records (edit)</td>
                </tr>
              }
              <tr class="govuk-table__row govuk-error-table__row--no-border" data-testid="approved">
                <td class="govuk-table__cell">
                  {{ ownerShipRequestedTo }}
                </td>
                @if (notification.typeContent.permissionRequest === 'None') {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }}
                  </td>
                } @else {
                  <td class="govuk-table__cell">
                    {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
                  </td>
                }
              </tr>
            }
          }
        </tbody>
      </table>
    }
  </div>
</div>
