<div class="row">
  <div class="col-12">
    <h1>You are about to delete this staff record.</h1>
    <p>Once deleted you will not be able to access it again.</p>
    <h3>Why are you removing this staff record?</h3>
    <form novalidate (ngSubmit)="close()" [formGroup]="form">

      <div class="form-group mt-5">
        <div class="field-group mb-5">
          <label>
            Select a reason
            <select formControlName="reason" class="form-control">
                <option [ngValue]="null">Select Reason</option>
                <option *ngFor="let reason of reasons" [value]="reason.id">
                  {{ reason.reason }}
                </option>
            </select>
          </label>
        </div>
      </div>

    </form>
  </div>
</div>
