<div class="asc-back-to-parent-container">
  <div class="asc-back-to-parent govuk-width-container">
    <select class="govuk-select govuk-!-margin-left-0" (change)="onChange($event.target.value)">
      <option hidden disabled selected value>-- Select an option --</option>
      <option [value]="primaryWorkplace.name">{{ primaryWorkplace.name }}</option>
      <option [value]="'anotherWorkplace'">Another workplace</option>

      <option *ngFor="let childWorkplace of childWorkplaces; let i = index" [value]="i">
        {{ childWorkplace.name }}
      </option>
    </select>
  </div>
</div>
