
<div class="govuk-accordion__section govuk-!-padding-bottom-3" [class]="{ 'govuk-accordion__section--expanded': open }" data-testid="accordion">
  <div class="govuk-accordion__section-header" (click)="emitToggle()">
    <h2 class="govuk-accordion__section-heading" data-testid="title">
      <span class="govuk-accordion__section-button">{{title}}</span>
    </h2>
    <div class="govuk-accordion__section-summary" data-testid="description">{{ description }}</div>
  </div>
  <div class="govuk-accordion__section-content">
    <div class="govuk-radios">
      <div *ngFor="let item of items">
        <div class="govuk-radios__item" data-testid="radioButton">
          <input
            class="govuk-radios__input"
            id="{{ formControlName }}-{{ item.id }}"
            [name]="formControlName ? formControlName : controlName"
            type="radio"
            [value]="item"
            (click)="onClick(item)"
          />
          <label for="{{ formControlName }}-{{ item.id }}" class="govuk-label govuk-radios__label">{{
            item.label
          }}</label>
        </div>
      </div>
    </div>
  </div>
</div>