<div>
  <div class="govuk-grid-row govuk-!-padding-bottom-1">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Delete workplace</h1>
      <div style="width: 70%">
        <h2 class="govuk-heading-s govuk-!-font-size-24">Are you sure you want to delete [sub]?</h2>
      </div>

      <div>
        <p>
          <span class="govuk-body govuk-!-font-weight-bold">This action cannot be undone.</span> It will permanently
          delete all the workplace details and staff records.
        </p>
      </div>
    </div>
  </div>
</div>
