<div class="govuk-grid-row" *ngIf="validationComplete">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <app-inset-text *ngIf="!hasErrors" [color]="hasWarnings ? 'warning' : 'success'">
      The files have passed validation with <strong>{{ totalWarnings }}</strong>
      {{ totalWarnings | i18nPlural: { '=1': 'warning', other: 'warnings' } }}.
    </app-inset-text>
  </div>
</div>

<table class="govuk-table" [class.govuk-error-table]="hasErrors" [class.govuk-!-margin-top-6]="!validationComplete">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">File name</th>
      <th class="govuk-table__header" scope="col">File type</th>
      <th class="govuk-table__header" scope="col">Records in the file</th>
      <th class="govuk-table__header" scope="col">Uploaded by</th>
      <th class="govuk-table__header" scope="col">Validation</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <ng-container *ngFor="let file of uploadedFiles">
      <tr *ngIf="file.errors">
        <td class="govuk-error-table__message-cell" colspan="5">
          <p class="govuk-error-message govuk-error-table__message">
            Check the file before validating.
          </p>
        </td>
      </tr>
      <tr class="govuk-table__row" [class.govuk-error-table__row]="file.errors">
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors" scope="row">
          {{ file.name }}
          <p *ngIf="file.warnings" class="govuk-!-margin-bottom-1 govuk-!-margin-top-2">
            <strong class="govuk__flex">
              <img class="govuk-!-margin-right-2" src="/assets/images/flag-orange.svg" alt="" />
              {{ file.warnings }}
              {{ file.warnings | i18nPlural: { '=1': 'warning', other: 'warnings' } }}
            </strong>
          </p>
        </td>
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors">
          {{ file.fileType ? file.fileType : file.extension }}
        </td>
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors">
          {{ file.records ? file.records : '-' }}
        </td>
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors">-</td>
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors">
          <app-file-validate-status [status]="file.status"></app-file-validate-status>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-container *ngIf="!validationComplete">
  <p>The files must be validated before completing the upload.</p>

  <button type="button" class="govuk-button govuk-button--tertiary govuk-!-margin-top-2" (click)="validateFiles()">
    Validate files
  </button>
</ng-container>

<ng-container *ngIf="validationComplete">
  <ng-container *ngIf="hasErrors">
    <p>
      Review the <strong>{{ totalErrors }}</strong> errors in the report.
    </p>
    <p>
      <button (click)="downloadReport()" class="govuk-button govuk-button--link govuk-!-padding-0">
        Download the report
      </button>
    </p>
  </ng-container>

  <p *ngIf="hasWarnings && !hasErrors">
    Review the <strong>{{ totalWarnings }}</strong>
    {{ totalWarnings | i18nPlural: { '=1': 'warning', other: 'warnings' } }} in the report or complete the upload to
    import the data.
  </p>

  <p *ngIf="!hasWarnings && !hasErrors">
    You need to complete the upload to import the data.
  </p>

  <button
    *ngIf="!hasErrors"
    type="button"
    class="govuk-button govuk-button--primary govuk-!-margin-top-2"
    (click)="importFiles()"
  >
    Complete upload
  </button>
</ng-container>
