<div class="govuk-panel govuk-panel--interruption">
  <h1 class="govuk-panel__title">Staff who have left in the last 12 months</h1>
  <div class="govuk-panel__body">
    <p class="govuk-heading-m">You told us you have:</p>
    <dl class="govuk-list--definition govuk-list--definition-xl govuk-!-margin-bottom-8">
      <dt>Staff who left</dt>
      <dd>{{ establishment.totalLeavers }}</dd>
    </dl>
    <p>Continue if this is correct or go back and make a change.</p>
    <div class="govuk-button-group">
      <a
        class="govuk-button govuk-!-margin-right-8 govuk-!-margin-bottom-0"
        role="button"
        draggable="false"
        [routerLink]="next.url"
        [fragment]="next.fragment"
      >
        {{ return ? 'Return' : 'Continue' }}
      </a>
      <span class="govuk-visually-hidden">or</span>
      <a
        class="govuk-button govuk-button--link govuk-!-margin-bottom-0"
        role="button"
        draggable="false"
        [routerLink]="['/workplace', this.establishment.uid, 'leavers']"
      >
        Make a change <span class="govuk-visually-hidden">to the number of staff who left in the last 12 months</span>
      </a>
    </div>
  </div>
</div>
