services:
  sfc-test:
    image: postgres:13
    container_name: sfc-test
    build:
      context: ./docker
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 90:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h 127.0.0.1 -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 10s
      retries: 300

  frontend_backend:
    image: node:22-alpine
    container_name: frontend_backend
    working_dir: /app
    depends_on:
      sfc-test:
        condition: service_healthy
      sfc-redis:
         condition: service_started
    ports:
      - 3000:3000
      - 8080:8080
    environment:
      - DB_TEST_HOSTNAME=sfc-test
      - DB_TEST_PORT=5432
      - REDIS_ENDPOINT=sfc-redis
    volumes:
      - ./:/app
    command: sh -c "apk add --no-cache make; make run-e2e-server"

  sfc-redis:
    image: redis
    ports:
      - '6379:6379'