@import 'govuk-frontend/govuk/base';

.asc-security-question__container {
  > * {
    margin-top: 0;
    margin-bottom: 5px;
  }

  margin-bottom: govuk-spacing(6);
}

.asc-security-question {
  height: 2.5rem;
  max-width: 20.5em;
  padding: 5px 5px 5px 10px;
  font-size: 19px;
  box-sizing: border-box;
  outline: none;

  display: flex;
  align-items: center;
  background-color: govuk-colour('light-grey');
}
