@import '~govuk-frontend/govuk/base';

.asc-tabs-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 0;
}

.asc-active {
  border-bottom: 4px solid govuk-colour('blue');
}

.asc-tab {
  padding: 0 40px;
  color: black;
  width: 100%;
  font-weight: bold;

  &--active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 4px solid #e6e5e3;
    background-color: #e6e5e3;
  }
}
