<div class="govuk-button-group">
  <button type="submit" class="govuk-button">
    <ng-container *ngIf="cta; else default">
      {{ cta }}
    </ng-container>
    <ng-template #default> Save and {{ return ? 'return' : 'continue' }} </ng-template>
  </button>
  <ng-container *ngIf="return">
    <span class="govuk-visually-hidden">or</span>
    <a
      [routerLink]="return.url"
      [fragment]="return.fragment"
      role="button"
      draggable="false"
      class="govuk-list govuk-list--inline govuk-util__float-right"
    >
      <ng-container *ngIf="exit; else defaultexit">
        {{ exit }}
      </ng-container>
      <ng-template #defaultexit>Exit</ng-template>
    </a>
  </ng-container>
</div>
