<div>
  <table class="govuk-table govuk-!-margin-top-2">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header commparision-table-header govuk-!-text-align-centre">
          Your workplace
        </th>
        <th scope="col" class="govuk-table__header commparision-table-header govuk-!-text-align-centre">
          Comparison group
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row first-row" data-testid="vacancyRow">
        <th scope="row" class="govuk-table__header commparision-row-header govuk-!-font-weight-regular">
          Vacancy rate
        </th>
        <td class="govuk-table__cell workplace-cell">
          {{ data?.vacancyRate.workplaceValue.value * 100 | number: '1.0-0' }}%
        </td>
        <td class="govuk-table__cell comparision-group-cell">
          <ng-container *ngIf="viewBenchmarksComparisonGroups; else vacancyTotalComparison">
            {{ data?.vacancyRate.goodCqc.value * 100 | number: '1.0-0' }}%
          </ng-container>
          <ng-template #vacancyTotalComparison>
            {{ data?.vacancyRate.comparisonGroup.value * 100 | number: '1.0-0' }}%
          </ng-template>
        </td>
      </tr>
      <tr class="govuk-table__row" data-testid="turnoverRow">
        <th scope="row" class="govuk-table__header commparision-row-header govuk-!-font-weight-regular">
          Turnover rate
        </th>
        <td class="govuk-table__cell workplace-cell">
          {{ data?.turnoverRate.workplaceValue.value * 100 | number: '1.0-0' }}%
        </td>
        <td class="govuk-table__cell comparision-group-cell">
          <ng-container *ngIf="viewBenchmarksComparisonGroups; else turnoverTotalComparison">
            {{ data?.turnoverRate.goodCqc.value * 100 | number: '1.0-0' }}%
          </ng-container>
          <ng-template #turnoverTotalComparison>
            {{ data?.turnoverRate.comparisonGroup.value * 100 | number: '1.0-0' }}%
          </ng-template>
        </td>
      </tr>
      <tr class="govuk-table__row" data-testid="timeInRoleRow">
        <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
          Percentage of staff still in their main job role after 12 months
        </th>
        <td class="govuk-table__cell workplace-cell">
          {{ data?.timeInRole.workplaceValue.value * 100 | number: '1.0-0' }}%
        </td>
        <td class="govuk-table__cell comparision-group-cell">
          <ng-container *ngIf="viewBenchmarksComparisonGroups; else timeInRoleTotalComparison">
            {{ data?.timeInRole.goodCqc.value * 100 | number: '1.0-0' }}%
          </ng-container>
          <ng-template #timeInRoleTotalComparison>
            {{ data?.timeInRole.comparisonGroup.value * 100 | number: '1.0-0' }}%
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="govuk-width-container govuk-!-margin-top-7">
    <app-benchmarks-select-view-panel
      [falseSelectionName]="'Where you rank'"
      [trueSelectionName]="'Where you\'re positioned'"
      (handleViewToggle)="handleViewBenchmarkPosition($event)"
    >
    </app-benchmarks-select-view-panel>
    <ng-container *ngIf="viewBenchmarksPosition; else showRankings">
      <div class="govuk-!-margin-top-7" data-testid="barcharts">
        <app-data-area-barchart
          [section]="'Vacancy rate'"
          [type]="'vacancy'"
          [rankingsData]="vacancyRankings"
          [isPay]="false"
          [altDescription]="'Vacancy rate barchart'"
        ></app-data-area-barchart>
        <app-data-area-barchart
          [section]="'Turnover rate'"
          [type]="'turnover'"
          [rankingsData]="turnoverRankings"
          [isPay]="false"
          [altDescription]="'Turnover rate barchart'"
        ></app-data-area-barchart>
        <app-data-area-barchart
          [section]="'Percentage of staff still in their main job role after 12 months'"
          [type]="'timeInRole'"
          [rankingsData]="timeInRoleRankings"
          [isPay]="false"
          [altDescription]="'Time in role rate barchart'"
        ></app-data-area-barchart>
      </div>
    </ng-container>
    <ng-template #showRankings>
      <div class="govuk-!-margin-top-7" data-testid="rankings">
        <app-data-area-ranking
          [rankingTitle]="'Vacancy rate'"
          [workplaceRankNumber]="vacancyCurrentRank"
          [workplacesNumber]="vacancyMaxRank"
        ></app-data-area-ranking>
        <app-data-area-ranking
          [rankingTitle]="'Turnover rate'"
          [workplaceRankNumber]="turnoverCurrentRank"
          [workplacesNumber]="turnoverMaxRank"
        ></app-data-area-ranking>
        <app-data-area-ranking
          [rankingTitle]="'Percentage of staff still in their main job role after 12 months'"
          [workplaceRankNumber]="timeInRoleCurrentRank"
          [workplacesNumber]="timeInRoleMaxRank"
        ></app-data-area-ranking>
      </div>
    </ng-template>
  </div>
</div>
