<div class="govuk-summary-list__row asc-summary-list__row-no-bottom-border">
  <dt class="govuk-summary-list__key govuk-!-width-one-half"></dt>
  <dd class="govuk-summary-list__value govuk-summary-list__message">
    <div class="govuk-button-group govuk-!-margin-left-2 confirmation-content">
      <ng-container *ngIf="!confirmButtonClicked; else confirmed">
        <img class="govuk-!-margin-right-1 asc-icon-align" src="/assets/images/flag-red.png" alt="Red flag" />
        <div class="govuk-!-margin-right-5">Is this still correct?</div>
        <button
          class="govuk-button govuk-button--primary govuk-!-margin-right-5"
          data-module="govuk-button"
          (click)="confirmField()"
        >
          Yes, it is
        </button>
        <a class="govuk-link" [routerLink]="changeLink" (click)="setReturn()">No, change it</a>
      </ng-container>
      <ng-template #confirmed>
        <img
          class="govuk-!-margin-top-1 govuk-!-margin-right-1 asc-icon-align"
          src="/assets/images/tick-icon.svg"
          alt=""
        />
        <div class="govuk-!-margin-right-5">Meeting requirements</div>
      </ng-template>
    </div>
  </dd>
  <dd class="govuk-summary-list__value govuk-summary-list__message"></dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-!-padding-top-2"></dt>
  <dd></dd>
  <dd></dd>
</div>
