<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-full">
    <h4 class="govuk-heading-m"><span class="govuk-!-padding-right-5">3</span>Upload data files</h4>
    <div class="govuk-!-padding-left-7">
      <p class="govuk-caption-m">20Mb maximum file size. Zip larger files</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>choose files to upload</li>
        <li>check uploaded files</li>
        <li>complete upload</li>
      </ul>
      <!--
        TODO uncomment once relevant sections have been developed
        <p *ngIf="***">Last updated on {{ lastUpdated | date: 'd MMMM y' }}</p>
        <a [routerLink]="['/reports']">View workplace references</a>
      -->
    </div>
  </div>
</div>
