<ng-container *ngIf="trainingRecords.length">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Training({{ trainingRecords.length }})</h2>
      <p>Last updated on {{ lastUpdated | date: 'd MMMM y' }}</p>
    </div>
  </div>

  <table class="govuk-table" *ngIf="trainingRecords.length">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Training category</th>
        <th class="govuk-table__header" scope="col">Training name</th>
        <th class="govuk-table__header" scope="col">Expiry Date</th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row govuk-util__vertical-align-top" *ngFor="let trainingRecord of trainingRecords">
        <td class="govuk-table__cell govuk-!-font-weight-regular">
          {{ trainingRecord.trainingCategory.category }}
        </td>
        <td class="govuk-table__cell">{{ trainingRecord.title }}</td>
        <td class="govuk-table__cell">
          <span [class.govuk-util__bold]="trainingRecord.trainingStatus === 2"
            >{{ trainingRecord.expires ? (trainingRecord.expires | date: 'dd/MM/y') : '-' }}
          </span>
          <div *ngIf="trainingRecord.trainingStatus === 2" class="govuk-!-margin-bottom-1">
            <img
              src="/assets/images/flag-red.svg"
              alt="expired"
              class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
            />
            Expired
          </div>
          <div *ngIf="trainingRecord.trainingStatus === 1">
            <img
              src="/assets/images/flag-orange.svg"
              alt="expiring"
              class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
            />
            Expiring soon
          </div>
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-regular">
          <a
            *ngIf="canEditWorker"
            class="govuk-link--no-visited-state"
            href="#"
            (click)="deleteTrainingRecord(trainingRecord, $event)"
            >Open</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
