<ng-container>
  <div *ngFor="let trainingCategories of trainingRecords">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l govuk-!-margin-bottom-0">
          Category: {{ trainingCategories.category }} ({{ trainingCategories.trainingRecords.length }})
        </p>
      </div>
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-one-third" scope="col">Training name</th>
          <th class="govuk-table__header" scope="col">Accredited</th>
          <th class="govuk-table__header" scope="col">Completion Date</th>
          <th class="govuk-table__header" scope="col">ExpiryDate</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body" *ngFor="let records of trainingCategories.trainingRecords">
        <ng-container>
          <tr class="govuk-table__row govuk-util__vertical-align-top">
            <td class="govuk-table__cell">
              <a class="govuk-link--no-visited-state" [routerLink]="['../training', records.uid]">{{
                records.title
              }}</a>
            </td>
            <td class="govuk-table__cell">{{ records.accredited }}</td>
            <td class="govuk-table__cell">{{ records.completed | date: 'dd MMM y' }}</td>
            <td class="govuk-table__cell">{{ records.expires | date: 'dd MMM y' }}</td>
            <td class="govuk-table__cell">
              <div *ngIf="records.trainingStatus === trainingStatusService.MISSING" class="govuk-!-margin-bottom-1">
                <img
                  src="/assets/images/flag-red.svg"
                  alt=""
                  class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
                />
                Missing
              </div>
              <div *ngIf="records.trainingStatus === trainingStatusService.EXPIRED" class="govuk-!-margin-bottom-1">
                <img
                  src="/assets/images/flag-red.svg"
                  alt=""
                  class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
                />
                Expired
              </div>
              <div *ngIf="records.trainingStatus === trainingStatusService.EXPIRING">
                <img
                  src="/assets/images/flag-orange.svg"
                  alt=""
                  class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
                />
                Expiring soon
              </div>
              <div *ngIf="records.trainingStatus === trainingStatusService.ACTIVE">OK</div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
