<div class="govuk-grid-row">
  <div class="govuk-tabs govuk-!-padding-top-0">
    <div class="govuk-grid-column-full">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a
            class="govuk-tabs__tab"
            [class.govuk-tabs__tab--selected]="form.type === 'users'"
            [routerLink]="['/search-users']"
          >
            Users
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a
            class="govuk-tabs__tab"
            [class.govuk-tabs__tab--selected]="form.type === 'establishments'"
            [routerLink]="['/search-establishments']"
          >
            Workplaces
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a
            class="govuk-tabs__tab"
            [class.govuk-tabs__tab--selected]="form.type === 'groups'"
            [routerLink]="['/search-groups']"
          >
            Groups
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a
            class="govuk-tabs__tab"
            [class.govuk-tabs__tab--selected]="form.type === 'registrations'"
            [routerLink]="['/registrations']"
          >
            Registrations
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a
            class="govuk-tabs__tab"
            [class.govuk-tabs__tab--selected]="form.type === 'parent-requests'"
            [routerLink]="['/parent-requests']"
          >
            Parent Requests
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a
            class="govuk-tabs__tab"
            [class.govuk-tabs__tab--selected]="form.type === 'cqc-status-changes'"
            [routerLink]="['/cqc-status-changes']"
          >
            CQC Changes
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel has-border" *ngIf="form.type !== 'registrations' && form.type !== 'parent-requests' && form.type !== 'cqc-status-changes' ">
        <form (ngSubmit)="onSubmit()" novalidate id="server-error">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">{{ form.subTitle }}</span>
              <h1 class="govuk-fieldset__heading">
                {{ form.title }}
              </h1>
            </legend>

            <div
              class="govuk-error-summary"
              aria-labelledby="error-summary-title"
              role="alert"
              tabindex="-1"
              data-module="error-summary"
              *ngIf="form.errors.length"
            >
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li *ngFor="let item of form.errors">
                    {{ item.error }}
                  </li>
                </ul>
              </div>
            </div>

            <div class="govuk-grid-row">
              <div
                [ngClass]="{
                  'govuk-grid-column-one-half': form.type === 'users',
                  'govuk-grid-column-one-third': form.type === 'establishments'
                }"
                *ngIf="form.type === 'users' || form.type === 'establishments'"
              >
                <div class="govuk-form-group" [class.govuk-form-group--error]="form.errors.length">
                  <label class="govuk-label" for="username">
                    {{ form.usernameLabel }}
                  </label>
                  <input
                    class="govuk-input govuk-input--width-20"
                    [(ngModel)]="form.username"
                    [ngModelOptions]="{ standalone: true }"
                    id="username"
                    name="username"
                    [class.govuk-input--error]="form.errors.length"
                    type="text"
                  />
                </div>
              </div>

              <div
                [ngClass]="{
                  'govuk-grid-column-one-half': form.type === 'users',
                  'govuk-grid-column-one-third': form.type === 'establishments'
                }"
                *ngIf="form.type === 'users' || form.type === 'establishments'"
              >
                <div class="govuk-form-group" [class.govuk-form-group--error]="form.errors.length">
                  <label class="govuk-label" for="name">
                    {{ form.nameLabel }}
                  </label>
                  <input
                    class="govuk-input govuk-input--width-20"
                    [(ngModel)]="form.name"
                    [ngModelOptions]="{ standalone: true }"
                    id="name"
                    name="name"
                    [class.govuk-input--error]="form.errors && form.errors.length"
                    type="text"
                  />
                </div>
              </div>

              <div class="govuk-grid-column-one-third" *ngIf="form.type === 'establishments'">
                <div class="govuk-form-group" [class.govuk-form-group--error]="form.errors.length">
                  <label class="govuk-label" for="locationid">
                    Location ID
                  </label>
                  <input
                    class="govuk-input govuk-input--width-20"
                    [(ngModel)]="form.locationid"
                    [ngModelOptions]="{ standalone: true }"
                    id="locationid"
                    name="locationid"
                    [class.govuk-input--error]="form.errors && form.errors.length"
                    type="text"
                  />
                </div>
              </div>

              <div class="govuk-grid-column-one-half" *ngIf="form.type === 'groups'">
                <div class="govuk-form-group" [class.govuk-form-group--error]="form.errors.length">
                  <label class="govuk-label" for="employerType">
                    Employer Type
                  </label>
                  <select
                    class="govuk-select"
                    id="employerType"
                    name="employerType"
                    [(ngModel)]="form.employerType"
                    [ngModelOptions]="{ standalone: true }"
                    [class.govuk-select--error]="form.errors && form.errors.length"
                  >
                    <option value="All">All</option>
                    <option value="Local Authority (adult services)">Local Authority (adult services)</option>
                    <option value="Local Authority (generic/other)">Local Authority (generic/other)</option>
                    <option value="Private Sector">Private Sector</option>
                    <option value="Voluntary / Charity">Voluntary / Charity</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>

          <button class="govuk-button" type="submit">{{ form.buttonText }}</button>
        </form>
      </section>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-full">
    <div *ngIf="form.submitted && !results.length && !form.errors.length">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Information</span>
          Your search returned no results. Please refine your search criteria.
        </strong>
      </div>
    </div>

    <div *ngIf="form.type === 'users'">
      <table class="govuk-table" *ngIf="results && results.length">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Username</th>
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Establishment</th>
            <th class="govuk-table__header" scope="col">NMDS ID</th>
            <th class="govuk-table__header" scope="col">Postcode</th>
            <th class="govuk-table__header" scope="col">Security Question</th>
            <th class="govuk-table__header" scope="col">Security Answer</th>
            <th class="govuk-table__header" scope="col">Parent ID</th>
            <th class="govuk-table__header" scope="col">Locked</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" *ngFor="let item of results; index as index">
            <td class="govuk-table__cell">{{ item.username }}</td>
            <td class="govuk-table__cell">{{ item.name }}</td>
            <td class="govuk-table__cell">
              <a (click)="setEstablishmentId(item.establishment.uid, item.username, null, $event)" href="#">{{
                item.establishment.name
              }}</a>
            </td>
            <td class="govuk-table__cell">{{ item.establishment.nmdsId }}</td>
            <td class="govuk-table__cell">{{ item.establishment.postcode }}</td>
            <td class="govuk-table__cell">{{ item.securityQuestion }}</td>
            <td class="govuk-table__cell">{{ item.securityQuestionAnswer }}</td>
            <td class="govuk-table__cell">
              {{
                item.establishment.parent && item.establishment.parent.nmdsId ? item.establishment.parent.nmdsId : ''
              }}
            </td>
            <td class="govuk-table__cell">
              <a (click)="unlockUser(item.username, index, $event)" href="#" *ngIf="item.isLocked">Unlock</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="form.type === 'establishments'">
      <table class="govuk-table" *ngIf="results && results.length">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-third" scope="col">Workplace name</th>
            <th class="govuk-table__header" scope="col">Postcode</th>
            <th class="govuk-table__header" scope="col">Workplace ID</th>
            <th class="govuk-table__header" scope="col">Location ID</th>
            <th class="govuk-table__header" scope="col">Provider ID</th>
            <th class="govuk-table__header" scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <ng-container *ngFor="let item of results; index as workplaceIndex">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a (click)="setEstablishmentId(item.uid, '', item.nmdsId, $event)" href="#">{{ item.name }}</a>
              </td>
              <td class="govuk-table__cell">{{ item.postcode }}</td>
              <td class="govuk-table__cell">{{ item.nmdsId || '-' }}</td>
              <td class="govuk-table__cell">{{ item.locationId || '-' }}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">
                <a
                  class="govuk-link--no-visited-state"
                  href="#"
                  (click)="toggleDetails(item.uid, $event)"
                  >{{ workerDetailsLabel[item.uid] ? workerDetailsLabel[item.uid] : 'Open' }}</a
                >
              </td>
            </tr>
            <tr *ngIf="workerDetails[item.uid]" class="govuk-panel--gray">
              <td colspan="6">
                <div class="govuk-!-margin-2">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th class="govuk-table__header govuk-!-width-one-third" scope="col">Address</th>
                          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Parent ID</th>
                          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Regulated</th>
                          <th class="govuk-table__header" scope="col">Data Owner</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row govuk-util__vertical-align-top">
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ displayAddress(item) }}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          <ng-container *ngIf="item.parent?.nmdsId else noParentID">
                            <a (click)="setEstablishmentId(item.parent.uid, '', item.parent.nmdsId, $event)" href="#">{{ item.parent.nmdsId }}</a>
                          </ng-container>

                          <ng-template #noParentID>-</ng-template>
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ item.isRegulated ? 'Yes' : 'No' }}
                        </td>
                        <td colspan="2" class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ item.dataOwner }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="govuk-!-margin-2" *ngIf="item.users.length > 0">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th class="govuk-table__header govuk-!-width-one-third" scope="col">Users</th>
                          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Security question</th>
                          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Answer</th>
                          <th class="govuk-table__header" scope="col">Locked</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row govuk-util__vertical-align-top" *ngFor="let user of item.users; index as userIndex">
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ user.name }}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ user.securityQuestion }}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ user.securityAnswer }}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          <a (click)="unlockWorkplaceUser(user.username, workplaceIndex, userIndex, $event)" href="#" *ngIf="user.isLocked else notLocked">Yes, unlock</a>
                          <ng-template #notLocked>No</ng-template>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div *ngIf="form.type === 'groups'">
      <table class="govuk-table" *ngIf="results && results.length" data-testid="group-search-results">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-third" scope="col">Workplace name</th>
            <th class="govuk-table__header" scope="col">Workplace ID</th>
            <th class="govuk-table__header" scope="col">Employer Type</th>
            <th class="govuk-table__header" scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <ng-container *ngFor="let item of results; index as workplaceIndex">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a (click)="setEstablishmentId(item.uid, '', item.nmdsId, $event)" href="#">{{ item.name }}</a>
              </td>
              <td class="govuk-table__cell">{{ item.nmdsId || '-' }}</td>
              <td class="govuk-table__cell">
                {{ item.employerType?.other ? item.employerType.other : item.employerType?.value || '-' }}
              </td>
              <td class="govuk-table__cell">
                <a
                  class="govuk-link--no-visited-state"
                  href="#"
                  (click)="toggleDetails(item.uid, $event)"
                  >{{ workerDetailsLabel[item.uid] ? workerDetailsLabel[item.uid] : 'Open' }}</a
                >
              </td>
            </tr>
            <tr *ngIf="workerDetails[item.uid]" class="govuk-panel--gray">
              <td colspan="6">
                <div class="govuk-!-margin-2">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th class="govuk-table__header govuk-!-width-one-third" scope="col">Address</th>
                          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Parent ID</th>
                          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Regulated</th>
                          <th class="govuk-table__header" scope="col">Data Owner</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row govuk-util__vertical-align-top">
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ displayAddressForGroups(item) }}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          <ng-container *ngIf="item.parent?.nmdsId else noParentID">
                            <a (click)="setEstablishmentId(item.parent.uid, '', item.parent.nmdsId, $event)" href="#">{{ item.parent.nmdsId }}</a>
                          </ng-container>

                          <ng-template #noParentID>-</ng-template>
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ item.isRegulated ? 'Yes' : 'No' }}
                        </td>
                        <td colspan="2" class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ item.dataOwner }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="govuk-!-margin-2" *ngIf="item.users.length > 0">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th class="govuk-table__header govuk-!-width-one-third" scope="col">Users</th>
                          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Security question</th>
                          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Answer</th>
                          <th class="govuk-table__header" scope="col">Locked</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row govuk-util__vertical-align-top" *ngFor="let user of item.users; index as userIndex">
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ user.name }}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ user.securityQuestion }}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          {{ user.securityAnswer }}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-regular">
                          <a (click)="unlockWorkplaceUser(user.username, workplaceIndex, userIndex, $event)" href="#" *ngIf="user.isLocked else notLocked">Yes, unlock</a>
                          <ng-template #notLocked>No</ng-template>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <app-registrations *ngIf="form.type === 'registrations'"></app-registrations>
    <app-parent-requests *ngIf="form.type === 'parent-requests'"></app-parent-requests>
    <app-cqc-status-changes *ngIf="form.type === 'cqc-status-changes'"></app-cqc-status-changes>
  </div>
</div>
