<h1 id="dialogHeading" class="govuk-heading-l">
  You have information that hasn’t been changed since the previous funding year.
</h1>

<p>Check and confirm the mandatory WDF information is up-to-date before applying for funding.</p>

<dl class="govuk-summary-list govuk-summary-list--wide govuk-summary-list--top-border">
  <div *ngIf="data.daysSick" class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-summary-list__key">
      Days sickness in last 12 months
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data.daysSick | workerDays | openEndedAnswer }}
    </dd>
  </div>
  <div *ngIf="data.pay" class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-summary-list__key">
      Pay
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data.pay | workerPay | closedEndedAnswer }}
    </dd>
  </div>
</dl>

<button (click)="close(true)" class="govuk-button">Confirm and Submit</button>
<button (click)="close(false)" class="govuk-button govuk-button--link govuk-util__float-right">
  Go back and make a change
</button>
