<div
  class="govuk-error-summary"
  aria-labelledby="error-summary-title"
  role="alert"
  tabindex="-1"
  data-module="error-summary"
>
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li *ngFor="let i of errors">
        <a
          routerLink="."
          fragment="{{ i.item }}-error"
          queryParamsHandling="merge">
          {{ getFormErrorMessage(i.item, i.errors[0]) }}
        </a>
      </li>
      <li *ngIf="serverError">
        <a
          routerLink="."
          fragment="server-error"
          queryParamsHandling="merge">
          {{ serverError }}
        </a>
      </li>
    </ul>
  </div>
</div>
