@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.govuk-error-summary {
  color: $black;
  @include rem(padding, 20px);
  @include rem(margin-bottom, 40px);
  // @include govuk-focusable;
  &:focus {
    outline: 3px solid $focus;
    outline-offset: 0;
  }

  border: 4px solid $error-red;

  @include media(map-get($breakpoints, tablet)) {
    border: 5px solid $error-red;
  }
}

.govuk-error-summary__title {
  @include rem(font-size, 24px);
  font-weight: 700;

  margin-top: 0;
  @include rem(margin-bottom, 20px);
}

.govuk-error-summary__body {
  @include rem(font-size, 19px);

  p {
    margin-top: 0;
    @include rem(margin-bottom, 20px);
  }
}

// Cross-component class - adjusts styling of list component
.govuk-error-summary__list {
  margin-top: 0;
  margin-bottom: 0;
}

.govuk-error-summary__list a {
  // @include govuk-focusable-fill;
  // @include govuk-typography-weight-bold;

  // Override default link styling to use error colour
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $error-red;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $black;
  }

  &:link:focus {
    color: $error-red;
  }
}
