<h1 class="govuk-heading-xl">Registrations</h1>
<div class="govuk-!-margin-top-4 govuk__flex govuk-util__vertical-align-center">
  <div class="govuk-list--inline govuk-list govuk__flex govuk__align-items-center">
    <a class="govuk__flex govuk__align-items-center" (click)="downloadReport($event)" href="#">
      <img alt="" src="/assets/images/icon-download.svg" />
      <span class="govuk-!-margin-left-1">Download report</span>
    </a>
  </div>
</div>
<div *ngFor="let registration of registrations; let i = index">
  <app-registration
    [index]="i"
    [registration]="registration"
    (handleRegistration)="handleRegistration($event)"
  ></app-registration>
</div>
