<div
  class="govuk-inset-text"
  [ngClass]="[
    color,
    removeBottomMargin ? 'govuk-!-margin-bottom-0' : '',
    removeTopMargin ? 'govuk-!-margin-top-0' : ''
  ]"
>
  <ng-content></ng-content>
  @if (closable) {
  <a href="#" (click)="close($event)" class="govuk-util__float-right">Close</a>
  } @if (linkTextForAlert) { @if (noFloatRight) {
  <a class="inset_link" href="#" (click)="alertLinkClick($event)" data-testid="noFloatRight">{{ linkTextForAlert }} </a>
  } @else {
  <a href="#" class="govuk-util__float-right" (click)="alertLinkClick($event)" data-testid="floatRight">{{
    linkTextForAlert
  }}</a>
  } }
</div>
