<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Privacy Notice for Workers</h1>
    <h2 class="govuk-heading-m">Who we are and what we do</h2>
    <p>
      Skills for Care Ltd (registered company number 03866683 with its registered office at West Gate, 6 Grace Street,
      Leeds LS1 2RP) (&quot;<strong>Skills for Care</strong>&quot;, &quot;<strong>we</strong>&quot;,
      &quot;<strong>our</strong>&quot;) is the national workforce development organisation for adult social care in
      England. Both we and your employer are controllers of the personal data you provide to your employer and that is
      inputted into the ASC-WDS database (defined below). We work alongside people who use services, carers, social care
      workers, employers and a range of other stakeholders to ensure that the social care workforce is able to meet the
      changing needs of the people who use these services, now and in the future. Our aims are to reduce vacancy rates
      and encourage new entrants, improve recruitment and retention rates and increase the numbers of staff with
      relevant qualifications and skills so as to meet current and future needs for care and support.
    </p>
    <p>
      To do this, we need to have accurate information about social care providers, the services they offer and the
      workers who deliver the services. The Adult Social Care Workforce Data Set (&quot;<strong>ASC-WDS</strong>&quot;)
      enables us to collect this information.
    </p>
    <h2 class="govuk-heading-m">What is the ASC-WDS?</h2>
    <p>
      The ASC-WDS is a method for collecting and analysing information about the social care workforce in England. It is
      operated by Skills for Care in partnership with the Department of Health and other major social care
      organisations. It is designed to collect workforce information from private and voluntary sector organisations,
      local authorities, and other employers of social care workers including the NHS.
    </p>
    <h2 class="govuk-heading-m">What personal data is provided about you by your employer?</h2>
    <p>Your employer may provide the following personal information about you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Name</li>
      <li>Post Code</li>
      <li>Gender</li>
      <li>Date of birth</li>
      <li>National Insurance number</li>
      <li>Nationality and country of birth</li>
      <li>Year of arrival in the UK</li>
      <li>Ethnic group</li>
      <li>Disability status</li>
      <li>Job role</li>
      <li>Date employment commenced</li>
      <li>Source of recruitment</li>
      <li>Employment status</li>
      <li>Salary</li>
      <li>Contracted hours</li>
      <li>Any agreed working arrangements</li>
      <li>
        Sickness / absence record within the 12 months prior to the date your employer completed the questionnaire
      </li>
      <li>Qualifications obtained and currently studying</li>
      <li>Training information</li>
    </ul>
    <h2 class="govuk-heading-m">Why are we collecting this information?</h2>
    <p>
      The ASC-WDS was designed to address the lack of comprehensive information about the social care workforce. With an
      ageing population, we need to plan now to meet future social care needs. The ASC-WDS will inform plans for
      recruiting people in the future, the qualifications and skills they will need, and in some cases to argue for the
      necessary funding.
    </p>
    <p>
      We use the personal data provided by your employer to produce analyses and statistical reports to help us to plan
      ahead and make the case for resources to recruit, develop and train the social care workforce that our society
      needs now and in the future.
    </p>
    <h2 class="govuk-heading-m">Why do we need specific information about individual workers?</h2>
    <p>We collect <strong>date of birth</strong> for two reasons:</p>
    <ul class="govuk-list govuk-list--number">
      <li>to calculate your age, an important piece of information for workforce planning, and</li>
      <li>to create a unique reference for you.</li>
    </ul>
    <p>
      We create the unique reference by combining your <strong>National Insurance Number</strong> (NINO) with your
      <strong>date of birth</strong> to create a unique anonymised reference number. By doing this, we ensure that
      individual workers cannot be identified, but we do need to distinguish individual workers from one another, for
      three reasons:
    </p>
    <ul class="govuk-list govuk-list--number">
      <li>so that each individual is not counted more than once;</li>
      <li>to find out how much social care depends on the same people working in more than one job; and</li>
      <li>to understand how people move from job to job, and in and out of social care work settings.</li>
    </ul>
    <p>
      Using the NINO in combination with date of birth is the most efficient way to distinguish workers from each other
      without identifying them. The Department for Work & Pensions NINO Board has given Skills for Care permission to
      use the NINO for the purpose of internal data matching only, and not for linking to any other data, including data
      which could enable individuals to be identified.
    </p>
    <p>
      <strong>Home postcode</strong> is used for one purpose only: in conjunction with workplace postcode, to look at
      how far you travel to work. This is also important information for workforce planning.
    </p>
    <p>
      <strong>Nationality and Country of Birth</strong> are used to assess to what extent social work and social care
      depend on workers from overseas and to help develop workforce planning and training policies.
    </p>
    <p>
      <strong>Ethnic group and disability</strong> are important for equality and diversity monitoring and enables
      assessment of the extent to which the workforce reflects the culture and diversity of the community it serves.
    </p>
    <p>
      The other information provided by your employer gives us a detailed picture of your job roles, employment status,
      pay, hours, time in the workforce and qualifications held and being worked towards, all of which are an essential
      basis for planning for the future at national, regional and local levels.
    </p>
    <p>
      The information is analysed in aggregated form. This means that data from individual employers and on individual
      workers are combined so that analyses show information about the group as a whole
      <strong>without identifying any individual worker or employer</strong>. The analyses produced are freely available
      on the Workforce Intelligence page on the Skills for Care website as reports and are used by government, local
      authorities, employers and other organisations, academics and individuals to research and understand how social
      care is delivered and by whom.
    </p>
    <h2 class="govuk-heading-m">How do we obtain your information?</h2>
    <p>
      Your employer provides information about you to us. Your employer will determine whether they need your consent to
      input your information on to the ASC-WDS database or whether they are able to rely on another ground under the
      General Data Protection Regulation ((EU) 2016/679) (&quot;<strong>GDPR</strong>&quot;). Those grounds may include,
      for example, legitimate interests, fulfilment of a contract or compliance with a legal obligation.
    </p>
    <p>
      Your employer should notify you as to the grounds on which they pass your information to us to input into the
      ASC-WDS database. If you have provided your consent to such transfer, you are entitled to withdraw your consent –
      please notify your employer who will remove your personal data from the database. Please note this does not affect
      the validity of any processing we have carried out in respect of your data before the date you withdraw your
      consent. Once your employer has removed your personal data from the database, we will anonymise your personal data
      so that it is non-identifiable and this, together with aggregated data, will not be deleted.
    </p>
    <h2 class="govuk-heading-m">Who can access ASC-WDS data about individual workers?</h2>
    <p>Your information in the ASC-WDS can <strong>only</strong> be accessed by the following</p>
    <ul class="govuk-list govuk-list--number">
      <li>your employer;</li>
      <li>
        a small number of key Skills for Care business support staff who are responsible for assisting establishments
        and maintaining the ASC-WDS; and
      </li>
      <li>
        a small number of staff at Skills for Care&apos;s third party IT system supplier, for system development,
        support and management.
      </li>
    </ul>
    <p>
      In some cases, and only if your employer has given us consent, we will share data with the Care Quality Commission
      (&quot;<strong>CQC</strong>&quot;) to supplement similar data the CQC is collecting. This data is never
      identifiable.
    </p>
    <p>
      We will not pass any of your personal details to other third parties without your consent, unless there are
      exceptional circumstances under which we are legally obliged to do so.
    </p>
    <h2 class="govuk-heading-m">International Transfers</h2>
    <p>
      The third-party IT system supplier we have mentioned above has teams who support and maintain the ASC-WDS based
      outside of the European Economic Area (&quot;<strong>EEA</strong>&quot;). Whilst most of the work they undertake
      will be carried out in test/development environments, some of the teams may have access to your data in the
      ASC-WDS. This means their processing of your personal data will involve a transfer outside the EEA.
    </p>
    <p>
      Whenever we transfer your personal data out of the EEA, we ensure a similar degree of protection is afforded to it
      by ensuring we use specific contracts approved by the European Commission which give personal data the same
      protection it has in Europe.
    </p>
    <p>
      Please contact us if you want further information on the specific mechanism used by us when transferring your
      personal data out of the EEA.
    </p>
    <h2 class="govuk-heading-m">Data Security</h2>
    <p>
      The ASC-WDS online system uses state-of-the-art technology to provide secure communications via the internet. The
      system we use is also used for many internet banking, e-commerce, secure e-mail systems, etc., and has been
      endorsed by financial organisations such as Visa, MasterCard and American Express.
    </p>
    <p>
      Skills for Care take steps to validate employers that are new to the ASC-WDS system, and access to the system is
      controlled by means of secure passwords. Any unauthorised access to the system detected by your employer or Skills
      for Care will be dealt with using procedures agreed as part of your employer&apos;s contract with Skills for Care.
    </p>
    <h2 class="govuk-heading-m">Freedom of Information</h2>
    <p>
      Skills for Care is not a public authority for the purposes of the Freedom of Information Act 2000 (FOIA) with
      respect to ASC-WDS. As such, we are not obliged to respond to requests for employers&apos; ASC-WDS information
      made under the FOIA.
    </p>
    <h2 class="govuk-heading-m">Retention of data</h2>
    <p>
      Your information is held on the system until it is modified or deleted by your employer, or until they ask us to
      modify or delete it on their behalf. If you leave, the organisation you are working for should remove your
      information from the system at the next update. Once your information has been deleted from the current data in
      the system, we will anonymise your personal data so that it is non-identifiable and will keep this, together with
      aggregated data, for analysis purposes. This non-identifiable data will not be available in the current data in
      the system.
    </p>
    <p>
      Every month an analytical snapshot is taken of all the data held on ASC-WDS. This information is retained
      indefinitely, so that data on changes in the workforce and the skills and knowledge of workers can be accumulated
      over time. In the long term, it is intended that historical ASC-WDS data will be stored in the Social Sciences
      Archive at the University of Essex.
    </p>
    <h2 class="govuk-heading-m">Your rights</h2>
    <p>
      You benefit from a number of rights in respect of the personal data we hold about you. We have summarised your
      rights below, and more information is available from the Information Commissioner&apos;s Office website (<a
        href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/"
        target="_blank"
        >https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/</a
      >). These rights apply for the period in which we process your data.
    </p>
    <p>
      Please note that the way the personal data is held means we may not be able to identify your personal data and,
      accordingly, we may not be able to respond to any of your requests without support from your employer. We
      therefore recommend that, should you wish to exercise any of the rights listed below, you contact your employer
      directly. Your employer can identify and access all of your non-anonymised personal data in the ASC-WDS.
    </p>
    <p>You can:</p>
    <ul class="govuk-list govuk-list--number">
      <li>request access to your data;</li>
      <li>request correction of your data;</li>
      <li>request erasure of your data;</li>
      <li>object to processing of your data;</li>
      <li>request restriction of processing of your data;</li>
      <li>request transfer of your data; and</li>
      <li>withdraw consent.</li>
    </ul>
    <p>If you wish to exercise any of the rights set out above, please contact us using the details set out below.</p>
    <h2 class="govuk-heading-m">Automated decision making</h2>
    <p>Automated decision making means making a decision solely by automated means without any human involvement.</p>
    <p>We don&apos;t carry out any automated decision making using your personal data.</p>
    <h2 class="govuk-heading-m">How to contact us</h2>
    <p>
      Please contact us if you have any questions about our privacy policy or about the information we hold about you.
    </p>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-util__vertical-align-top">Address</th>
          <td class="govuk-table__cell">
            <address class="govuk-util__font-style-normal">
              ASC-WDS Support Team<br />Skills for Care<br />West Gate<br />Grace Street<br />Leeds<br />LS1 2RP
            </address>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Telephone</th>
          <td class="govuk-table__cell">0113 241 0969</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email</th>
          <td class="govuk-table__cell">
            <a href="mailto:ascwds-support@skillsforcare.org.uk">ascwds-support@skillsforcare.org.uk</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Website</th>
          <td class="govuk-table__cell">
            <a href="http://www.skillsforcare.org.uk" target="_blank">www.skillsforcare.org.uk</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">ASC-WDS Website</th>
          <td class="govuk-table__cell">
            <a href="https://asc-wds.skillsforcare.org.uk/" target="_blank">www.asc-wds.skillsforcare.org.uk</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      You have a right to complain to the Information Commissioner if you are unhappy about how we handle your personal
      information.
    </p>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-util__vertical-align-top">Address</th>
          <td class="govuk-table__cell">
            <address class="govuk-util__font-style-normal">
              Information Commissioner&apos;s Office<br />Wycliffe House<br />Water Lane<br />Wilmslow<br />Cheshire<br />SK9
              5AF
            </address>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Telephone</th>
          <td class="govuk-table__cell">01625 545745</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email</th>
          <td class="govuk-table__cell">
            <a href="mailto:mail@ico.gsi.gov.uk">mail@ico.gsi.gov.uk</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Website</th>
          <td class="govuk-table__cell">
            <a href="https://ico.org.uk/" target="_blank">www.ico.gov.uk</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
