<span class="govuk-hint govuk-character-count__message" aria-live="polite">
  <noscript>
    You can enter up to {{ max }} characters
  </noscript>
  <ng-container *ngIf="remaining >= 0">
    {{ remaining | i18nPlural :
      {
        '=1': 'You have # character remaining',
        other: 'You have # characters remaining'
      }
    }}
  </ng-container>
  <ng-container *ngIf="remaining < 0">
    {{ remaining | absoluteNumber | i18nPlural :
      {
        '=1': 'You have # character too many',
        other: 'You have # characters too many'
      }
    }}
  </ng-container>
</span>
