@import '~src/assets/scss/partials/colors';

.govuk__reference-grid-container {
  grid-template-columns: 40% 30% auto;
  padding: 8px 0;
  border-bottom: solid 1px $alto;
}

.govuk__reference-grid-error-msg {
  grid-row-start: 1;
}

.govuk__reference-grid-has-error {
  text-indent: 15px;
}
