<div class="main-page-container col-12">
  <div id="back" class="back-link">
    <a routerLink="/welcome">
      <span class="arrow"></span>Back
    </a>
  </div>

  <form novalidate
    (ngSubmit)="submitHandler()"
    [formGroup]="form">

    <header>
      <h1 class="h1">{{employerName}}</h1>
    </header>

    <app-messages></app-messages>

    <div class="form-group mb-5">
      <div class="col-12 p-0">
        <div>
          <div class="row">
            <div class="col-12">
              <h2>What type of employer are you?</h2>
            </div>

            <div *ngFor="let option of options; let idx = index" class="row col-12">
              <div class="col-12">
                <div class="multiple-choice">
                  <input type="radio" id="selectOption-{{idx}}" formControlName="employerType" [value]="option" />
                  <label class="main-body-text p-0" for="selectOption-{{idx}}">{{option}}</label>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button type="submit" class="btn btn-primary">Save and continue</button>
    </div>
  </form>
</div>
