<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Accessibility statement</h1>
    <p>
      This accessibility statement applies to The Skills for Care Adult Social Care Workforce Data Set (ASC-WDS) digital
      service.
    </p>
    <p>
      This service is run by Skills for Care. We want as many people as possible to be able to use this service. For
      example, that means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and add custom stylesheets</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>
        listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
        VoiceOver)
      </li>
    </ul>
    <p>
      <a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet</a> has advice on making your device easier
      to use if you have a disability.
    </p>
    <h2 class="govuk-heading-m">How accessible this website is</h2>
    <p>We know some parts of this website are not fully accessible:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Forms may be difficult to submit without keyboard, mouse or touch interactions when using speech recognition
        software.
      </li>
      <li>Some radio button groups can't be operated with expected keyboard commands e.g. flu vaccination records.</li>
      <li>
        Focus order may be illogical and set to the page banner when using a keyboard to interact with dynamic content.
      </li>
      <li>
        When using a keyboard to activate error summary panel links, you may encounter problems accessing links and form
        elements further down the page. You may need to navigate manually down to page content after an error message is
        displayed to work around this issue.
      </li>
      <li>PDF documents aren't tagged and may not read aloud in a logical order.</li>
      <li>
        The bulk uploads section uses legacy functionality that may be difficult to use with screen readers, for example
        validating status updates are not announced. Some users may find the bulk uploads instructions difficult to use
        as they are contained in the PDF documents and error messages may not always describe the error in detail.
      </li>
      <li>
        The bulk uploads staff summary report is provided in a plain text download file. This file isn't formatted using
        standard plain text formatting conventions and screen reader users may have difficulty understanding the
        document structure.
      </li>
      <li>
        If you accidentally or otherwise, refresh the bulk uploads page, you may be directed to the dashboard and have
        to manually sign out and in again to activate the bulk uploads navigation link. This applies to all users
        including keyboard, mouse and assistive technology users.
      </li>
      <li>This service requires JavaScript enabled and is not progressively enhanced.</li>
    </ul>

    <h3 class="govuk-heading-s">Feedback and contact information</h3>
    <p>If you experience any accessibility problems or need alternate formats call or email us for further support.</p>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email</th>
          <td class="govuk-table__cell">
            <a href="mailto:ascwds-support@skillsforcare.org.uk">ascwds-support@skillsforcare.org.uk</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Call</th>
          <td class="govuk-table__cell">0113 241 0969</td>
        </tr>
      </tbody>
    </table>
    <p>We'll consider your request and get back to you on the same working day where possible.</p>

    <h3 class="govuk-heading-s">Reporting accessibility problems with this website</h3>
    <p>
      We're always looking to improve the accessibility of this website. If you find any problems not listed on this
      page or think we're not meeting accessibility requirements, please contact us.
    </p>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Owner</th>
          <td class="govuk-table__cell">Jackie Green</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email</th>
          <td class="govuk-table__cell">
            <a href="mailto:ascwds-support@skillsforcare.org.uk">ascwds-support@skillsforcare.org.uk</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Call</th>
          <td class="govuk-table__cell">0113 241 0969</td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-s">Enforcement procedure</h3>
    <p>
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not
      happy with how we respond to your complaint,
      <a href="https://www.equalityadvisoryservice.com/" target="_blank"
        >contact the Equality Advisory and Support Service (EASS)</a
      >.
    </p>

    <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
    <p>
      Skills for Care is committed to making this service accessible, in accordance with the Public Sector Bodies
      (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <h2 class="govuk-heading-m">Compliance status</h2>
    <p>
      This website is partially compliant with the
      <a href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines version 2.1</a> AA
      standard, due to the non-compliances and exemptions listed below.
    </p>

    <h2 class="govuk-heading-m">Non accessible content</h2>
    <p>The content listed below is non-accessible for the following reasons.</p>

    <h3 class="govuk-heading-s">Non compliance with the accessibility regulations</h3>
    <ol class="govuk-list govuk-list--number">
      <li>
        Some images do not have a text alternative, so people using a screen reader cannot access the information. This
        fails WCAG 2.1 success criterion 1.1.1 (non-text content).
      </li>
      <li>
        Some labels are not programmatically associated with their form controls. This fails WCAG 2.1 success criterion
        1.3.1 Info and Relationships.
      </li>
      <li>
        Some radio buttons are not grouped within fieldsets and some legends are missing or incorrectly structured. This
        fails WCAG 2.1 success criterion 1.3.1 Info and Relationships.
      </li>
      <li>
        Some data tables have missing table headers and some tables are nested within table rows. This fails WCAG 2.1
        success criterion 1.3.1 Info and Relationships.
      </li>
      <li>
        Some content doesnt have semantic mark up. This fails WCAG 2.1 success criterion 1.3.1 Info and Relationships.
      </li>
      <li>
        PDF documents aren't fully accessible to screen reader software. PDFs are untagged, headings and table mark-up
        is missing, images do not have text alternatives and PDF documents don't have meaningful page titles. These fail
        WCAG 2.1 success criteria 1.1.1 Non-text Content, 1.3.1 Info and Relationships, 2.4.1 Bypass Blocks, 2.4.2 Page
        Titled and 4.1.2 (name, role value).
      </li>
      <li>
        The bulk uploads validation error summary report is provided in a plain text download file that doesn't use
        standard plain text formatting conventions. This fails WCAG 2.1 success criterion 1.3.1 Info and Relationships.
      </li>
      <li>
        Some link styles do not meet colour contrast requirements. This fails WCAG 2.1 success criterion 1.4.3 Contrast
        (minimum).
      </li>
      <li>Some content is cut off on smaller screens.This fails WCAG 2.1 success criterion 1.4.10 Reflow.</li>
      <li>
        Some radio button groups can't be navigated with keyboard arrow keys. This fails WCAG 2.1 success criterion
        2.1.1 Keyboard.
      </li>
      <li>
        Error summary panel links prevent keyboard focus and interaction with link and form elements further down the
        page. This fails WCAG 2.1 success criterion 2.1.1 Keyboard.
      </li>
      <li>
        If you refresh the bulk uploads page you may need to sign out and in again to activate the bulk uploads link.
        This fails WCAG 2.1 success criterion 2.1.1: Keyboard or guideline 2.4: Navigable.
      </li>
      <li>
        Focus order is not always logically defined for navigating, opening and closing dynamic content. This fails WCAG
        2.1 success criterion 2.4.3.
      </li>
      <li>
        In the bulk uploads section, errors are not always identified in text within the page content. The error
        suggestion doesn't always provide details about the specific error to help users correct the error. There are no
        instructions in the page to tell users of any required formats. Instructions are provided in an external PDF
        file. These fail WCAG 2.1 success criteria 3.3.1 Error Identification, 3.3.2 Labels or Instructions and 3.3.3
        Error Suggestion.
      </li>
      <li>
        Some select menus on the same page have duplicate same ID values. This fails WCAG 2.1 success criterion 4.1.1
        Parsing.
      </li>
      <li>
        Some ARIA roles, attributes and properties are not correctly implemented. This fails WCAG 2.1 success criterion
        4.1.2: Name, Role, Value.
      </li>
      <li>
        Some forms may be difficult to submit without keyboard or touch interactions when using speech recognition
        software (e.g. Dragon Naturally Speaking). This fails WCAG 2.1 success criterion 4.1.2: Name, Role, Value.
      </li>
      <li>
        Some status updates are not announced to screen reader users. This fails WCAG 2.1 success criterion 4.1.3 Status
        Messages.
      </li>
    </ol>

    <p>We are currently reviewing all Level A and AA WCAG 2.1 non-compliance issues.</p>

    <h3 class="govuk-heading-s">Content that's not within the scope of the accessibility regulations</h3>

    <h4 class="govuk-heading-xs">PDFs and other documents</h4>
    <p>
      Many of our older PDFs do not meet accessibility standards - for example, they may not be structured so they're
      accessible to a screen reader. This does not meet WCAG 2.1 success criterion 4.1.2 (name, role value).
    </p>
    <p>
      The accessibility regulations do not require us to fix PDFs or other documents published before 23 September 2018
      if they're not essential to providing our services.
    </p>
    <p>
      Any new PDFs or documents we publish will meet accessibility standards or privided in an alternative accessible
      format.
    </p>

    <h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
    <p>
      We will continue to strive for full WCAG 2.1 Level AA compliance as this service evolves. We are committed to
      accessibility testing and service audits as well as and gathering feedback from our users to make sure we provide
      an accessible service for all.
    </p>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p>This statement was first prepared on 01 August 2019. It was last updated on 17 December 2020.</p>
    <p>
      This service was last tested in November 2020. The test was carried out by
      <a href="https://www.cds.co.uk/" target="_blank">CDS</a>.
    </p>
    <p>
      The WCAG-EM methodology was followed to conduct a WCAG 2.1 AA compliance audit on a representative sample of
      pages. The website was tested with a range of assistive technologies including screen readers, speech recognition
      software and adapted displays to test different contrast and zoom adaptations. We tested across a range of desktop
      and mobile browsers and devices.
    </p>
  </div>
</div>
