<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Accessibility statement</h1>
    <h2 class="govuk-heading-m">Summary</h2>
    <p>
      The Adult Social Care Workforce Data Set (ASC-WDS) service is run by the Skills for Care. We want as many people
      as possible to be able to use this service. For example, that means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Access the service on a range of mobile, tablet and desktop devices</li>
      <li>change colours, contrast levels, fonts and adapt your display settings</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the service using just a keyboard</li>
      <li>Skip to the main content using a keyboard accessible link at the top of each page</li>
      <li>navigate most of the service using speech recognition software</li>
      <li>
        listen to most of the content using a screen reader (including the most recent versions of JAWS, NVDA and
        VoiceOver)
      </li>
    </ul>
    <p>
      Advice on making your device easier to use if you have a disability can be found at
      <a href="https://abilitynet.org.uk/" target="_blank">AbilityNet</a>.
    </p>
    <h2 class="govuk-heading-m">How accessible this service is</h2>
    <p>
      We aim to meet WCAG 2.1 Level AA conformance on every page, but we know some parts of this service aren’t fully
      accessible:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Forms may be difficult to submit without keyboard, mouse or touch interactions with form elements when using
        speech recognition software (e.g. Dragon Naturally Speaking).
      </li>
      <li>
        When using a keyboard to activate error summary panel links, you may encounter problems accessing links and form
        elements further down the page. You may need to navigate manually down to page content after an error message is
        displayed to work around this issue.
      </li>
      <li>PDF documents aren’t tagged and may not read aloud in a logical order.</li>
      <li>
        The bulk uploads section uses legacy functionality that may be difficult to use with screen readers, for example
        validating status updates are not announced. Some users may find the bulk uploads instructions difficult to use
        as they are contained in the PDF documents and error messages may not always describe the error in detail.
      </li>
      <li>
        Some download document links don’t provide valid link URI href values and may present as same page links. Links
        to non html formats i.e. CSV data, PDF instructions and plain text files are not indicated in the link text.
        Some may open a new window/tab without warning and the file sizes aren't indicated prior to download.
      </li>
      <li>
        The bulk uploads staff summary report is provided in a plain text download file. This file isn't formatted using
        standard plain text formatting conventions and screen reader users may have difficulty understanding the
        document structure.
      </li>
      <li>
        If you accidentally or otherwise, refresh the bulk uploads page, you may be directed to the dashboard and have
        to manually sign out and in again to activate the bulk uploads navigation link. This applies to all users
        including keyboard, mouse and assistive technology users.
      </li>
      <li>This service requires JavaScript enabled and is not progressively enhanced.</li>
    </ul>

    <h2 class="govuk-heading-m">What to do if you can’t access parts of this website</h2>
    <p>If you experience any accessibility problems or need alternate formats call or email us for further support.</p>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email</th>
          <td class="govuk-table__cell">
            <a href="mailto:ascwds@skillsforcare.org.uk">ascwds@skillsforcare.org.uk</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Call</th>
          <td class="govuk-table__cell">0113 241 0969</td>
        </tr>
      </tbody>
    </table>
    <p>We’ll consider your request and get back to you on the same working day where possible.</p>

    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p>
      We’re always looking to improve the accessibility of this service. If you find any problems that aren’t listed on
      this page or think we’re not meeting accessibility requirements, contact:
    </p>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Owner</th>
          <td class="govuk-table__cell">Jackie Green</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email</th>
          <td class="govuk-table__cell">
            <a href="mailto:ascwds@skillsforcare.org.uk">ascwds@skillsforcare.org.uk</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Call</th>
          <td class="govuk-table__cell">0113 241 0969</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p>
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not
      happy with how we respond to your complaint,
      <a href="https://www.equalityadvisoryservice.com/" target="_blank"
        >contact the Equality Advisory and Support Service (EASS)</a
      >.
    </p>

    <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
    <p>
      Skills for Care ASC-WDS is committed to making its service accessible, in accordance with the Public Sector Bodies
      (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>
    <p>
      This website is partially compliant with the
      <a href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines version 2.1</a> AA
      standard, due to the non-compliances listed below.
    </p>

    <h2 class="govuk-heading-m">Non accessible content</h2>
    <p>The content listed below is non-accessible for the following reasons.</p>

    <h2 class="govuk-heading-m">Non compliance with the accessibility regulations</h2>
    <p>
      Some forms may be difficult to submit without keyboard or touch interactions when using speech recognition
      software (e.g. Dragon Naturally Speaking). This doesn’t meet WCAG 2.1 success criterion 4.1.2: Name, Role, Value.
    </p>
    <p>
      Error summary panel links prevent keyboard focus and interaction with link and form elements further down the
      page. This issue doesn't meet success criterion 2.1.1 Keyboard.
    </p>
    <p>
      PDF documents aren’t fully accessible to screen reader software. PDFs are untagged, headings and table mark-up is
      missing, images do not have text alternatives and PDF documents don’t have meaningful page titles. These issues
      don't meet success criteria 1.1.1 Non-text Content, 1.3.1 Info and Relationships, 2.4.1 Bypass Blocks, 2.4.2 Page
      Titled and 4.1.2 (name, role value).
    </p>
    <p>
      Some status updates are not announced to screen reader users. This doesn’t meet WCAG 2.1 success criterion 4.1.3
      Status Messages.
    </p>
    <p>
      In the bulk uploads section, errors are not always identified in text within the page content. The error
      suggestion doesn’t always provide details about the specific error to help users correct the error. There are no
      instructions in the page to tell users of any required formats. Instructions are provided in an external PDF file.
      These issues don't meet success criteria 3.3.1 Error Identification, 3.3.2 Labels or Instructions and 3.3.3 Error
      Suggestion.
    </p>
    <p>
      Some download document links to CSV and plain text files don’t provide valid href values and present as same page
      links. This doesn’t meet success criterion 4.1.2 Name, Role, Value.
    </p>
    <p>
      The bulk uploads validation error summary report is provided in a plain text download file that doesn’t use
      standard plain text formatting conventions. This doesn't meet success criterion 1.3.1 Info and Relationships.
    </p>
    <p>
      If you refresh the bulk uploads page you may need to sign out and in again to activate the bulk uploads link. This
      doesn’t meet success criterion 2.1.1: Keyboard or guideline 2.4: Navigable.
    </p>
    <p>
      We plan to redesign and fix the issues inherited from the legacy bulk uploads functionality by September 2020. We
      plan to fix the remaining issues before the end of 2019.
    </p>

    <h2 class="govuk-heading-m">How we tested this website</h2>
    <p>
      This website was last tested in July 2019. The test was carried out by
      <a href="https://www.cds.co.uk/" target="_blank">CDS</a>.
    </p>
    <p>
      We used the
      <a href="https://www.w3.org/WAI/test-evaluate/conformance/wcag-em/" target="_blank">WCAG-EM</a> approach to audit
      a representative sample of pages found in the service. Each page or process was tested against the WCAG 2.1 Level
      AA success criteria. We tested the website with a range of assistive technologies including screen readers, speech
      recognition software and configured displays to test different contrast and zoom adaptations. We tested across a
      range of browsers and devices. We user tested several key user journeys with people with a range of accessibility
      needs, using a mixture of assistive technologies and adapted displays.
    </p>
    <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
    <p>
      We will continue to strive for WCAG 2.1 Level AA conformance as this service develops. We are committed to
      accessibility testing and service audits as well and gathering feedback from our users to make sure we provide an
      accessible service for all.
    </p>
    <p>This statement was prepared on 01 August 2019. It was last updated on 01 August 2019.</p>
  </div>
</div>
