<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m"><span class="govuk-!-padding-right-5">1</span>Check your workplace references</h2>
    <div class="govuk-!-padding-left-7">
      <p>Check your workplace and staff references to make sure they are the same as the files you are uploading.</p>
      <!--
        TODO uncomment once relevant sections have been developed
        <p *ngIf="***">Last updated on {{ lastUpdated | date: 'd MMMM y' }}</p>
        <a [routerLink]="['/reports']">View workplace references</a>
      -->
    </div>
  </div>
</div>
