<h2 class="govuk-heading-m">Employment details</h2>
<dl class="govuk-summary-list asc-summarylist-border-top govuk-!-margin-bottom-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date started in main job role</dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value
        [wdfView]="wdfView"
        [wdfValue]="worker.wdf?.mainJobStartDate"
        [overallWdfEligibility]="overallWdfEligibility"
      >
        {{ worker.mainJobStartDate ? mainStartDate : '-' }}
      </app-summary-record-value>
      <app-wdf-field-confirmation
        *ngIf="
          canEditWorker &&
          wdfView &&
          worker.wdf?.mainJobStartDate.isEligible === 'Yes' &&
          !worker.wdf?.mainJobStartDate.updatedSinceEffectiveDate
        "
        [changeLink]="getRoutePath('main-job-start-date')"
        (fieldConfirmation)="this.confirmField('mainJobStartDate')"
        (setReturnClicked)="this.setReturn()"
        [workerUid]="worker.uid"
      ></app-wdf-field-confirmation>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        *ngIf="
          !(
            wdfView &&
            worker.wdf?.mainJobStartDate.isEligible === 'Yes' &&
            !worker.wdf?.mainJobStartDate.updatedSinceEffectiveDate
          )
        "
        [explanationText]="' job start date'"
        [link]="getRoutePath('main-job-start-date')"
        [hasData]="!!worker.mainJobStartDate"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row" *ngIf="displayMentalHealthProfessional">
    <dt class="govuk-summary-list__key">Approved Mental Health Professional</dt>
    <dd class="govuk-summary-list__value">
      {{ worker.approvedMentalHealthWorker | closedEndedAnswer }}
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        [explanationText]="' approved mental health professional'"
        [link]="getRoutePath('mental-health-professional')"
        [hasData]="!!worker.approvedMentalHealthWorker"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Other job roles</dt>
    <dd class="govuk-summary-list__value">
      <ng-container *ngIf="!worker.otherJobs"> - </ng-container>
      <ng-container *ngIf="worker.otherJobs?.value === 'No'"> No </ng-container>
      <ng-container *ngIf="worker.otherJobs?.value === 'Yes'">
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li *ngFor="let otherJob of worker.otherJobs.jobs">
            <ng-container *ngIf="otherJob.other; else title">
              <span>{{ otherJob.other }}</span>
            </ng-container>
            <ng-template #title>
              <span>{{ otherJob.title }}</span>
            </ng-template>
          </li>
        </ul>
      </ng-container>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        [explanationText]="' other job roles'"
        [link]="getRoutePath('other-job-roles')"
        [hasData]="!!worker.otherJobs"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row" *ngIf="displayNursingQuestions">
    <dt class="govuk-summary-list__key">Nursing and Midwifery Council category</dt>
    <dd class="govuk-summary-list__value">
      {{ (worker.registeredNurse | nursingCategoriesText) || '-' }}
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        [explanationText]="' nursing and midwifery council category'"
        [link]="getRoutePath('nursing-category')"
        [hasData]="!!worker.registeredNurse"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row" *ngIf="displayNursingQuestions">
    <dt class="govuk-summary-list__key">Nursing specialisms used in current role</dt>
    <dd class="govuk-summary-list__value">
      <ng-container *ngIf="!worker.nurseSpecialisms"> - </ng-container>
      <ng-container *ngIf="worker.nurseSpecialisms?.value === 'No'"> Not using any of their specialisms </ng-container>
      <ng-container *ngIf="worker.nurseSpecialisms?.value === 'Don\'t know'">Not known</ng-container>
      <ng-container *ngIf="worker.nurseSpecialisms?.value === 'Yes'">
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li *ngFor="let specialism of worker.nurseSpecialisms.specialisms">
            <span>{{ specialism.specialism | nursingSpecialismsText }}</span>
          </li>
        </ul>
      </ng-container>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        [explanationText]="' nursing and midwifery council category'"
        [link]="getRoutePath('nursing-specialism')"
        [hasData]="!!worker.nurseSpecialisms"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Recruited from</dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value
        [wdfView]="wdfView"
        [wdfValue]="worker.wdf?.recruitedFrom"
        [overallWdfEligibility]="overallWdfEligibility"
      >
        {{
          worker.recruitedFrom?.from?.from !== null
            ? worker.recruitedFrom?.from?.from
            : (worker.recruitedFrom?.value | openEndedAnswer)
        }}
      </app-summary-record-value>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        [explanationText]="' recruited from'"
        [link]="getRoutePath('recruited-from')"
        [hasData]="!!worker.recruitedFrom"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Year started in adult social care</dt>
    <dd class="govuk-summary-list__value">
      {{
        worker.socialCareStartDate?.year
          ? worker.socialCareStartDate?.year
          : (worker.socialCareStartDate?.value | openEndedAnswer)
      }}
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        [explanationText]="' adult social care date'"
        [link]="getRoutePath('adult-social-care-started')"
        [hasData]="!!worker.socialCareStartDate"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row" *ngIf="displayDaysSickness">
    <dt class="govuk-summary-list__key">Days sickness in last 12 months</dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value
        [wdfView]="wdfView"
        [wdfValue]="worker.wdf?.daysSick"
        [overallWdfEligibility]="overallWdfEligibility"
      >
        {{ worker.daysSick | workerDays | openEndedAnswer }}
      </app-summary-record-value>
      <app-wdf-field-confirmation
        *ngIf="
          canEditWorker &&
          wdfView &&
          worker.wdf?.daysSick.isEligible === 'Yes' &&
          !worker.wdf?.daysSick.updatedSinceEffectiveDate
        "
        [changeLink]="getRoutePath('days-of-sickness')"
        (fieldConfirmation)="this.confirmField('daysSick')"
        (setReturnClicked)="this.setReturn()"
        [workerUid]="worker.uid"
      ></app-wdf-field-confirmation>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        *ngIf="
          !(wdfView && worker.wdf?.daysSick.isEligible === 'Yes' && !worker.wdf?.daysSick.updatedSinceEffectiveDate)
        "
        [explanationText]="' days of sickness'"
        [link]="getRoutePath('days-of-sickness')"
        [hasData]="!!worker.daysSick"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Zero hours contract</dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value
        [wdfView]="wdfView"
        [wdfValue]="worker.wdf?.zeroHoursContract"
        [overallWdfEligibility]="overallWdfEligibility"
      >
        {{ worker.zeroHoursContract || '-' | closedEndedAnswer }}
      </app-summary-record-value>
      <app-wdf-field-confirmation
        *ngIf="
          canEditWorker &&
          wdfView &&
          worker.wdf?.zeroHoursContract.isEligible === 'Yes' &&
          !worker.wdf?.zeroHoursContract.updatedSinceEffectiveDate
        "
        [changeLink]="getRoutePath('contract-with-zero-hours')"
        (fieldConfirmation)="this.confirmField('zeroHoursContract')"
        (setReturnClicked)="this.setReturn()"
        [workerUid]="worker.uid"
      ></app-wdf-field-confirmation>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        *ngIf="
          !(
            wdfView &&
            worker.wdf?.zeroHoursContract.isEligible === 'Yes' &&
            !worker.wdf?.zeroHoursContract.updatedSinceEffectiveDate
          )
        "
        [explanationText]="' contract with zero hours'"
        [link]="getRoutePath('contract-with-zero-hours')"
        [hasData]="!!worker.zeroHoursContract"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row" *ngIf="displayAverageWeeklyHours">
    <dt class="govuk-summary-list__key">Average weekly working hours</dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value
        [wdfView]="wdfView"
        [wdfValue]="worker.wdf?.weeklyHoursAverage"
        [overallWdfEligibility]="overallWdfEligibility"
      >
        {{
          isNumber(worker.weeklyHoursAverage?.hours)
            ? worker.weeklyHoursAverage?.hours
            : (worker.weeklyHoursAverage?.value | openEndedAnswer)
        }}
      </app-summary-record-value>
      <app-wdf-field-confirmation
        *ngIf="
          canEditWorker &&
          wdfView &&
          worker.wdf?.weeklyHoursAverage.isEligible === 'Yes' &&
          !worker.wdf?.weeklyHoursAverage.updatedSinceEffectiveDate
        "
        [changeLink]="getRoutePath('average-weekly-hours')"
        (fieldConfirmation)="this.confirmField('weeklyHoursAverage')"
        (setReturnClicked)="this.setReturn()"
        [workerUid]="worker.uid"
      ></app-wdf-field-confirmation>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        *ngIf="
          !(
            wdfView &&
            worker.wdf?.weeklyHoursAverage.isEligible === 'Yes' &&
            !worker.wdf?.weeklyHoursAverage.updatedSinceEffectiveDate
          )
        "
        [explanationText]="' average weekly working hours'"
        [link]="getRoutePath('average-weekly-hours')"
        [hasData]="
          !(
            worker.weeklyHoursAverage === null ||
            (worker.weeklyHoursAverage?.value === null && worker.weeklyHoursAverage?.hours === null)
          )
        "
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row" *ngIf="displayWeeklyContractedHours">
    <dt class="govuk-summary-list__key">Contracted weekly hours</dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value
        [wdfView]="wdfView"
        [wdfValue]="worker.wdf?.weeklyHoursContracted"
        [overallWdfEligibility]="overallWdfEligibility"
      >
        {{
          isNumber(worker.weeklyHoursContracted?.hours)
            ? worker.weeklyHoursContracted?.hours
            : (worker.weeklyHoursContracted?.value | openEndedAnswer)
        }}
      </app-summary-record-value>
      <app-wdf-field-confirmation
        *ngIf="
          canEditWorker &&
          wdfView &&
          worker.wdf?.weeklyHoursContracted.isEligible === 'Yes' &&
          !worker.wdf?.weeklyHoursContracted.updatedSinceEffectiveDate
        "
        [changeLink]="getRoutePath('weekly-contracted-hours')"
        (fieldConfirmation)="this.confirmField('weeklyHoursContracted')"
        (setReturnClicked)="this.setReturn()"
        [workerUid]="worker.uid"
      ></app-wdf-field-confirmation>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        *ngIf="
          !(
            wdfView &&
            worker.wdf?.weeklyHoursContracted.isEligible === 'Yes' &&
            !worker.wdf?.weeklyHoursContracted.updatedSinceEffectiveDate
          )
        "
        [explanationText]="' contracted weekly hours'"
        [link]="getRoutePath('weekly-contracted-hours')"
        [hasData]="
          !(
            worker.weeklyHoursContracted === null ||
            (worker.weeklyHoursContracted?.value === null && worker.weeklyHoursContracted?.hours === null)
          )
        "
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Hourly pay or annual salary</dt>

    <dd class="govuk-summary-list__value">
      <app-summary-record-value
        [wdfView]="wdfView"
        [wdfValue]="worker.wdf?.annualHourlyPay"
        [overallWdfEligibility]="overallWdfEligibility"
      >
        {{ worker.annualHourlyPay | workerPay | closedEndedAnswer }}
      </app-summary-record-value>
      <app-wdf-field-confirmation
        *ngIf="
          canEditWorker &&
          wdfView &&
          worker.wdf?.annualHourlyPay.isEligible === 'Yes' &&
          !worker.wdf?.annualHourlyPay.updatedSinceEffectiveDate
        "
        [changeLink]="getRoutePath('salary')"
        (fieldConfirmation)="this.confirmField('annualHourlyPay')"
        (setReturnClicked)="this.setReturn()"
        [workerUid]="worker.uid"
      ></app-wdf-field-confirmation>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        *ngIf="
          !(
            wdfView &&
            worker.wdf?.annualHourlyPay.isEligible === 'Yes' &&
            !worker.wdf?.annualHourlyPay.updatedSinceEffectiveDate
          )
        "
        [explanationText]="' salary'"
        [link]="getRoutePath('salary')"
        [hasData]="!!worker.annualHourlyPay"
        (setReturnClicked)="this.setReturn()"
      ></app-summary-record-change>
    </dd>
  </div>
</dl>
