<div class="govuk-!-margin-top-7" data-cy="home-other-links">
  <h3 class="govuk-heading-s">Other links</h3>
  <ul class="govuk-list govuk-!-margin-bottom-6">
    @if (canBecomeAParent && !linkToParentRequestedStatus && !isParent) {
    <app-link-with-arrow>
      @if (parentStatusRequested) {
      <a class="govuk-link" [routerLink]="['/become-a-parent']"
        >Become a parent and manage other workplaces' data (request pending)</a
      >
      } @else {
      <a class="govuk-link" [routerLink]="['/become-a-parent']">Become a parent and manage other workplaces' data</a>
      }
    </app-link-with-arrow>
    } @if (canLinkToParent && !isParent) {
    <app-link-with-arrow>
      @if (linkToParentRequestedStatus) {
      <a
        class="govuk-link"
        [routerLink]="['/link-to-parent']"
        [state]="{ linkToParentRequested: linkToParentRequestedStatus }"
        >Link to a parent workplace (request pending)</a
      >
      } @else {
      <a class="govuk-link" [routerLink]="['/link-to-parent']">Link to a parent workplace</a>
      }
    </app-link-with-arrow>
    } @if (canViewChangeDataOwner) {
    <app-link-with-arrow>
      @if (isOwnershipRequested) {
      <a (click)="cancelChangeDataOwnerRequest($event)" href="#">Data request pending</a>
      } @else {
      <a class="govuk-link" [routerLink]="['/workplace/change-data-owner']">Change data owner</a>
      }
    </app-link-with-arrow>
    } @if (canViewDataPermissionsLink) {
    <app-link-with-arrow>
      <a class="govuk-link" [routerLink]="['/workplace/change-data-permissions']" href="#">Change data permissions</a>
    </app-link-with-arrow>
    } @if (canRemoveParentAssociation) {
    <app-link-with-arrow>
      @if (canViewChangeDataOwner) {
      <a (click)="ownershipChangeMessage($event)" href="#">Remove the link to your parent workplace</a>
      } @else {
      <a [routerLink]="['/remove-link-to-parent']">Remove the link to your parent workplace</a>
      }
    </app-link-with-arrow>
    } @if (canBulkUpload && !isParentSubsidiaryView) {
    <app-link-with-arrow>
      <a class="govuk-link" [routerLink]="['/bulk-upload']">Bulk upload your data</a>
    </app-link-with-arrow>
    } @if (!isParentSubsidiaryView) {
    <app-link-with-arrow>
      <a class="govuk-link" [routerLink]="['/benefits-bundle']">View the ASC-WDS Benefits Bundle</a>
    </app-link-with-arrow>
    }

    <app-link-with-arrow>
      <a class="govuk-link" [routerLink]="['/asc-wds-certificate']">Get your ASC-WDS certificate</a>
    </app-link-with-arrow>

    <app-link-with-arrow>
      <a class="govuk-link" [routerLink]="['/about-ascwds']">About ASC-WDS</a>
    </app-link-with-arrow>
  </ul>
</div>
