<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('careCertificate').invalid">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
              Have they completed, started or partially completed their Care Certificate?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div *ngFor="let answer of answersAvailable; let idx = index" class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                [formControlName]="'careCertificate'"
                id="careCertificate-{{ idx }}"
                name="careCertificate"
                type="radio"
                [value]="answer.value"
              />
              <label class="govuk-label govuk-radios__label" for="careCertificate-{{ idx }}">
                {{ answer.tag }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" *ngIf="insideFlow">
      <div class="govuk-!-margin-left-8">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="staffRecordSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
    </div>
  </div>

  <app-submit-button [return]="!insideFlow" (clicked)="setSubmitAction($event)"></app-submit-button>
</form>
