<div>
  <h1 class="govuk-heading-xl">Terms and conditions</h1>

  <h2 class="govuk-heading-l">Using the Adult Social Care Workforce Data Set</h2>
  <p>
    By completing the Adult Social Care Workforce Data Set (ASC-WDS) your establishment agrees to the information
    provided being held and used by Skills for Care (SfC) for reporting on the adult social care workforce in England,
    in order to provide accurate information regarding skills, employment and workforce demographics. This is to reduce
    the number of vacancies and to encourage new entrants; improve recruitment and retention; increase the numbers of
    staff with relevant qualifications and skills and to modernise the workforce.
  </p>

  <h2 class="govuk-heading-l">Storing your data</h2>
  <p>
    We will store your information in compliance with the principles outlined within the Data Protection Act 1998. Under
    the Data Protection Act your establishment and Skills for Care are jointly legally responsible for the information
    submitted by you and stored within the system.
  </p>
  <p>
    Access to information about individual workers is only available to the establishment that has submitted the data
    and to a small number of key Skills for Care support staff who are responsible for assisting establishments and
    maintaining the service.
  </p>

  <h2 class="govuk-heading-l">Disclaimer</h2>
  <p>
    We accept no responsibility for the quality or integrity of data regarding your establishment held within the
    service. Responsibility lies solely with the establishment. However as part of our data quality assurance programme
    we may identify that the Care Quality Commission (CQC) details entered into this service are no longer correct.
    These details could be the CQC location ID or your main service does not match to that held on CQC.
  </p>
  <p>
    We will correct any incorrect CQC numbers and/or main service descriptions where we know them to be incorrect. This
    is to carry out our duty to ensure that information held is accurate given that we transfer data to CQC on your
    behalf (with your permission).
  </p>

  <h2 class="govuk-heading-l">Cookies</h2>
  <p>
    To ensure a secured login and to meet web content accessibility guidelines the service uses two ‘cookies’ (a small
    file containing letters and numbers we put on your computer). We use a ‘session’ cookie to help us verify that it is
    you accessing your account and a ‘persistent’ cookie to remember your text size preference.
  </p>
  <p>These cookies cannot be used to identify you personally.</p>

  <h2 class="govuk-heading-l">Privacy</h2>
  <p>
    Login credentials (username and password) are assigned to each user and are therefore the responsibility of the
    individual. By accepting these terms and conditions you agree to manage your login details securely and not to share
    your login details with others. We reserve the right to withdraw login details from any user who engages in
    unauthorised sharing of login details or personal data, personal sensitive data or commercially sensitive
    information held within the service.
  </p>
</div>
