<app-error-summary
  *ngIf="(form.invalid || serverError) && submitted"
  [formErrorsMap]="formErrorsMap"
  [form]="form"
  [serverError]="serverError"
>
</app-error-summary>

<div class="govuk-grid-row" id="server-error">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l govuk-!-margin-bottom-2">User account</span>
    <h1 class="govuk-heading-l">Confirm your account details</h1>

    <app-summary-list [topBorder]="true" [summaryList]="userInfo" (setReturn)="onSetReturn()"></app-summary-list>
    <app-summary-list [topBorder]="true" [summaryList]="loginInfo" (setReturn)="onSetReturn()"></app-summary-list>
    <app-summary-list [wrapBorder]="true" [summaryList]="securityInfo" (setReturn)="onSetReturn()"></app-summary-list>

    <form #formEl (ngSubmit)="onSubmit()" [formGroup]="form" id="form" class="govuk-!-margin-top-6">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
        <fieldset class="govuk-fieldset" aria-describedby="termsAndConditions-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Are these details correct?
            </h2>
          </legend>
          <span id="termsAndConditions-hint" class="govuk-hint">
            Check the box to confirm you agree to the
            <a [routerLink]="['/terms-and-conditions']" target="_blank">
              terms and conditions<span class="govuk-visually-hidden">, (opens in a new window)</span>
            </a>
            . You must agree to them before you can submit your application.
          </span>
          <span *ngIf="submitted && form.invalid" id="termsAndConditions-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ getFirstErrorMessage('termsAndConditions') }}
          </span>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                [class.govuk-input--error]="submitted && form.errors"
                id="termsAndConditions"
                name="termsAndConditions"
                type="checkbox"
                [formControlName]="'termsAndConditions'"
              />
              <label class="govuk-label govuk-checkboxes__label" for="termsAndConditions">
                I agree to the terms and conditions of this service
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
