<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a (click)="clickBack()">
      <span class="arrow"></span>Back
    </a>
  </div>

  <!-- <p class="h5">Section {{ currentSection }} of {{ lastSection }}</p> -->
  <h1 class="h1">Confirm your account details</h1>

  <h2 class="main-body-text-bold mb-3 d-block">Are these details correct?</h2>

  <div class="panel panel-border-narrow col-12 pt-4 pb-4 mb-5">
    <div class="main-text col-12 col-md-7 p-0">
      <div class="row border-line-bottom">
        <div class="tb-cell col-4 pt-3 pb-3"><strong>Fullname</strong></div>
        <div class="tb-cell col-5 pt-3 pb-3">{{ registration.locationdata[0].user.fullname }}</div>
        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/registration/your-details" title="Edit Fullname" (click)="changeDetails()">Change</a></div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-4 pt-3 pb-3"><strong>Job title</strong></div>
        <div class="tb-cell col-5 pt-3 pb-3">{{ registration.locationdata[0].user.jobTitle }}</div>
        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/registration/your-details" title="Edit job title" (click)="changeDetails()">Change</a></div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-4 pt-3 pb-3"><strong>Email address</strong></div>
        <div class="tb-cell col-5 pt-3 pb-3">{{ registration.locationdata[0].user.emailAddress }}</div>
        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/registration/your-details" title="Edit email address" (click)="changeDetails()">Change</a></div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-4 pt-3 pb-3"><strong>Contact phone</strong></div>
        <div class="tb-cell col-5 pt-3 pb-3">{{ registration.locationdata[0].user.contactNumber }}</div>
        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/registration/your-details" title="Edit contact phone number" (click)="changeDetails()">Change</a></div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-4 pt-3 pb-3"><strong>Username</strong></div>
        <div class="tb-cell col-5 pt-3 pb-3">{{ registration.locationdata[0].user.username }}</div>
        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/registration/create-username" title="Edit Username" (click)="changeDetails()">Change</a></div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-4 pt-3 pb-3"><strong>Security question</strong></div>
        <div class="tb-cell col-5 pt-3 pb-3">{{ registration.locationdata[0].user.securityQuestion }}</div>
        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/registration/security-question" title="Edit security question" (click)="changeDetails()">Change</a></div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-4 pt-3 pb-3"><strong>Security answer</strong></div>
        <div class="tb-cell col-5 pt-3 pb-3">{{ registration.locationdata[0].user.securityAnswer }}</div>
        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/registration/security-question" title="Edit security question answer" (click)="changeDetails()">Change</a></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-7">
      <h4 class="main-body-text-bold pb-3">Are these details correct?</h4>
      <p class="main-body-text p-0">Check the box to confirm you agree to the <a class="link-body-text p-0" routerLink="/terms-and-conditions" target="_blank">terms and conditions</a>. You must agree to them before you can submit your application.</p>
    </div>
    <form class="col-12 pt-4 pb-2 terms-container mb-4" [formGroup]="tcAgreementForm">
      <label for="tcAgreement" class="check">
        <input id="tcAgreement" type="checkbox" formControlName="tcAgreement" (change)="toggleCheckbox($event.target)" />
        <span class="checkmark"></span>

        <span class="check-label main-body-text mt-0">I agree to the terms and conditions of this service</span>
      </label>
    </form>
  </div>

  <div class="btn-container">
    <button class="btn btn-primary" type="submit" (click)="submit()" [disabled]="submitDisabled">Submit</button>
  </div>


</div>
