<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <h1 class="govuk-heading-l">Get your ASC-WDS certificate</h1>
      <p>As an active ASC-WDS user, you should be proud that the data you share makes the adult social care sector better for everybody.</p>
      <p>This certificate recognises that you contribute information used by DHSC, the Care Quality Commission, and local authorities.</p>

      *IMAGE GOES HERE*
      <a href="#">Download your certificate</a>
    </div>
    <div class="govuk-grid-row">
      <h2 class="govuk-heading-s">ASC-WDS email signature</h2>
      <p>Our unique email signature can be used to let everyone know that yo're helping to spread the message.</p>

      *IMAGE GOES HERE*
      <a href="#">Download your email signature</a>
    </div>
    <div class="govuk-grid-row">
      <h2 class="govuk-heading-s">ASC-WDS logo</h2>
      <p>If you want something a bit smaller or something to use on your web pages, then we also have an ASC-WDS logo.</p>

      *IMAGE GOES HERE*
      <a href="#">Download your logo</a>
    </div>
  </div>
</div>