<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>


<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-heading-xl">What date did they start their main job role?</h1>
    </legend>

    <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && (form.invalid || serverError)">
        <span id="mainJobStartDate-hint" class="govuk-hint">
          For example, 31 3 1980
        </span>
        <span
          *ngIf="submitted && form.get('mainJobStartDate').errors"
          id="mainJobStartDate-error"
          class="govuk-error-message"
        >
          <ng-container *ngIf="form.get('mainJobStartDate').hasError('dateValid')">
            <span class="govuk-visually-hidden">Error:</span>
            {{ getFormErrorMessage('mainJobStartDate', 'dateValid') }}
          </ng-container>
          <ng-container *ngIf="form.get('mainJobStartDate').hasError('todayOrBefore')">
            <span class="govuk-visually-hidden">Error:</span>
            {{ getFormErrorMessage('mainJobStartDate', 'todayOrBefore') }}
          </ng-container>
          <ng-container *ngIf="form.get('mainJobStartDate').hasError('dateMin')">
            <span class="govuk-visually-hidden">Error:</span>
            {{ getFormErrorMessage('mainJobStartDate', 'dateMin') }}
          </ng-container>
        </span>
        <app-date-picker [formGroup]="form" formGroupName="mainJobStartDate" [submitted]="submitted"></app-date-picker>
    </div>
    <app-submit-button [return]="!!return" (click)="onSubmit($event)"></app-submit-button>
  </fieldset>
</form>
