<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <app-total-staff
        [establishmentUid]="establishment.uid"
        [form]="form"
        [formErrorsMap]="formErrorsMap"
        [submitted]="submitted"
        [errorSummaryService]="errorSummaryService"
        [showHint]="false"
      >
      </app-total-staff>

      <app-workplace-submit-button
        [return]="!!return"
        (clicked)="setSubmitAction($event)"
        [marginTop4]="true"
      ></app-workplace-submit-button>
    </form>
  </div>
</div>
