<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/user-details">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section 5 of 7</p>
  <h1 class="h1">Create a username</h1>

  <form (ngSubmit)="onSubmit()" #userDetailsModule="ngForm">

    <div class="form-group mb-5">
      <div class="col-12 col-md-6 p-0">

        <div class="field-group">
          <label class="form-label" for="username">Username</label>
          <p class="field-comment-text">You will use this to sign in. It should be unique to you</p>
          <input name="username" placeholder="Enter full name" type="text" id="username" class="form-control col-12" />
        </div>
        <div class="field-group mt-5">
          <label class="form-label" for="password">Password</label>
          <p class="field-comment-text">This should be at least 8 characters long, contain at least one uppercase and one lowercase letter and a number</p>
          <input name="password" placeholder="Enter password" type="text" id="password" class="form-control col-12" />
        </div>
        <div class="field-group mt-5">
          <label class="form-label" for="confirm-password">Confirm password</label>
          <input name="confirm-password" placeholder="Confirm password" type="text" id="confirm-password" class="form-control col-12" />
        </div>
      </div>

    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit" routerLink="/security-question">Continue</button>
    </div>

  </form>


</div>
