<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a (click)="clickBack()">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section {{ currentSection }} of {{ lastSection }}</p>
  <h1 class="h1">Create a username</h1>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="createUserNamePasswordForm">

    <div class="form-group mb-5">
      <div class="col-12 col-md-6 p-0">

        <div class="field-group"
             [ngClass]="{'is-invalid': usernameMessage || (isSubmitted && !getCreateUsernameInput.valid) ||
                          this.usernameApiError }">
          <label class="form-label" for="createUsername">Username</label>
          <p class="field-comment-text">You will use this to sign in. It should be unique to you</p>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2"*ngIf="!submittedUsername">{{ usernameMessage }}</span>
            <span *ngIf="submittedUsername && getCreateUsernameInput.hasError('maxlength')" class="main-body-text mb-2">
              Your username must be no longer than 50 characters.
            </span>
            <span *ngIf="submittedUsername && getCreateUsernameInput.hasError('required')" class="main-body-text mb-2">
              Please enter your username.
            </span>
            <span *ngIf="this.usernameApiError" class="main-body-text mb-2">
              {{ this.usernameApiError }}
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="createUsername" class="form-control col-12" formControlName="createUsernameInput" />

          </div>
        </div>

        <div formGroupName="passwordGroup">
          <div class="field-group mt-5"
               [ngClass]="{'is-invalid': passwordMessage || (isSubmitted && !getPasswordInput.valid)}">
            <label class="form-label" for="createPassword">Password</label>
            <p class="field-comment-text">This should be at least 8 characters long, contain at least one uppercase and one lowercase letter and a number</p>

            <span class="invalid-feedback">
              <span class="main-body-text mb-2" *ngIf="!submittedPassword">{{ passwordMessage }}</span>
              <!-- <span *ngIf="isSubmitted && submittedPassword && getPasswordInput.hasError('minlength')" class="main-body-text mb-2">
                Your password must be a minimum of 8 characters.
              </span>
              <span *ngIf="isSubmitted && submittedPassword && getPasswordInput.hasError('maxlength')" class="main-body-text mb-2">
                The Password must be no longer than 120 characters.
              </span> -->
              <span *ngIf="isSubmitted && submittedPassword && getPasswordInput.hasError('required')" class="main-body-text mb-2">
                Please enter your Password.
              </span>
              <span *ngIf="submittedPassword && getPasswordInput.hasError('pattern')" class="main-body-text mb-2">
                Invalid Password.
              </span>
              <!--<span *ngIf="createUserNamePasswordForm.get('passwordGroup').errors?.notMatched" class="main-body-text mb-2">
                Password and Confirm Password do not match.
              </span>-->
            </span>

            <div class="form-control-feedback">

              <input placeholder="" type="password" id="createPassword" class="form-control col-12" formControlName="createPasswordInput" />

            </div>
          </div>
          <div class="field-group mt-5"
               [ngClass]="{'is-invalid': confirmPasswordMessage ||
                            (isSubmitted && !getConfirmPasswordInput.valid) ||
                            getPasswordGroup.hasError('notMatched') }">
            <label class="form-label" for="confirmPassword">Confirm password</label>

            <span class="invalid-feedback">
              <span class="main-body-text mb-2" *ngIf="!isSubmitted && !submittedConfirmPassword">{{ confirmPasswordMessage }}</span>
              <!-- <span *ngIf="submittedConfirmPassword && getConfirmPasswordInput.errors.maxlength" class="main-body-text mb-2">
                The Password must be no longer than 120 characters.
              </span> -->
              <span *ngIf="submittedConfirmPassword && getConfirmPasswordInput.hasError('required')" class="main-body-text mb-2">
                Please confirm your Password.
              </span>
              <span *ngIf="submittedConfirmPassword && getPasswordGroup.hasError('notMatched')" class="main-body-text mb-2 mb-2">
                Confirm Password does not match.
              </span>
            </span>

            <div class="form-control-feedback">

              <input placeholder="" type="password" id="confirmPassword" class="form-control col-12" formControlName="confirmPasswordInput" />

            </div>
          </div>

        </div>

        </div>

      </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>

  </form>


</div>

<!-- <br>Dirty: {{ this.createUserNamePasswordForm.dirty }}
<br>Touched: {{ this.createUserNamePasswordForm.touched }}
<br>Valid: {{ this.createUserNamePasswordForm.valid }}
<br>Value: {{ this.createUserNamePasswordForm.value | json }}
<br>isSubmitted {{ this.isSubmitted }}
<br>submitted username: {{ this.submittedUsername }}
<br>submitted password: {{ this.submittedPassword }}
<br>submitted confirm password: {{ this.submittedConfirmPassword }}
<br>usernameMessage: {{ this.usernameMessage }}
<br>passwordMessage: {{ this.passwordMessage }}
<br>confirmPasswordMessage: {{ this.confirmPasswordMessage }}
<br>getPasswordGroup errors: {{ getPasswordGroup.errors | json }}
<br>getCreateUsernameInput errors: {{ getCreateUsernameInput.errors | json }}
<br>getPasswordInput errors: {{ getPasswordInput.errors | json }}
<br>getConfirmPasswordInput errors: {{ getConfirmPasswordInput.errors | json }} -->
