<app-new-dashboard-header tab="home"></app-new-dashboard-header>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <app-card [image]="'/assets/images/benchmarks.svg'">
            <a
              (click)="navigateToBenchmarksTab($event)"
              class="govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-font-weight-bold"
              href="#"
              >See how you compare with other workplaces</a
            >
            <p class="govuk-!-margin-top-5">
              There are 9 workplaces providing the same main service as you in your local authority area.
            </p></app-card
          >
        </div>
        <div class="govuk-grid-column-one-half">
          <app-card [image]="'/assets/images/benefits-bundle.svg'">
            <a
              class="govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-font-weight-bold"
              routerLink="/benefits-bundle"
              href="#"
              >View the ASC-WDS Benefits Bundle</a
            >
            <p class="govuk-!-margin-top-5">
              Get discounts and special offers from endorsed training providers and across Skills for Care's product
              range.
            </p></app-card
          >
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <app-new-article-list data-testid="article-list"></app-new-article-list>
      <div class="govuk-!-margin-top-7">
        <h3 class="govuk-heading-s">Other links</h3>
        <ul class="govuk-list govuk-!-margin-bottom-6">
          <app-link-with-arrow>
            <a [routerLink]="['/asc-wds-certificate']"
              ><p class="govuk-tag govuk-tag--blue govuk-!-margin-right-6 asc-tag" style="float: right">NEW</p>
              Get your ASC-WDS certificate</a
            >
          </app-link-with-arrow>

          <app-link-with-arrow *ngIf="canBulkUpload">
            <a [routerLink]="['/bulk-upload']">Bulk upload your data</a>
          </app-link-with-arrow>

          <app-link-with-arrow>
            <a [routerLink]="['/wdf']">Does your data meet WDF requirements?</a>
          </app-link-with-arrow>

          <app-link-with-arrow>
            <a [routerLink]="['/about-ascwds']">About ASC-WDS</a>
          </app-link-with-arrow>

          <app-link-with-arrow *ngIf="canLinkToParent && !workplace.isParent">
            <ng-container *ngIf="linkToParentRequestedStatus; else requestLinkToParent">
              <a (click)="cancelLinkToParent($event)" href="#">Link to my parent organisation pending</a>
            </ng-container>
            <ng-template #requestLinkToParent>
              <a (click)="linkToParent($event)" href="#">Link to my parent organisation</a>
            </ng-template>
          </app-link-with-arrow>

          <app-link-with-arrow *ngIf="canBecomeAParent && !linkToParentRequestedStatus && !workplace.isParent">
            <ng-container *ngIf="parentStatusRequested; else requestBecomeAParent">
              <a (click)="cancelBecomeAParent($event)" href="#">Parent request pending</a>
            </ng-container>
            <ng-template #requestBecomeAParent>
              <a (click)="becomeAParent($event)" href="#">Become a parent organisation</a>
            </ng-template>
          </app-link-with-arrow>

          <app-link-with-arrow>
            <a [routerLink]="['/first-login-wizard']">Help to get you started</a>
          </app-link-with-arrow>
        </ul>
      </div>
    </div>
  </div>
</div>
