<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form #formEl (ngSubmit)="onSubmit($event)" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-8">
          <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
          <h1 class="govuk-fieldset__heading">{{ title }}</h1>
        </legend>

        <app-grouped-radio-button-accordion
          formControlName="jobRole"
          [accordions]="jobRoleGroups"
          textShowHideAll="job roles"
          [preFilledId]="preFilledId"
          data-testid="accordion"
        ></app-grouped-radio-button-accordion>

        <!-- <div class="govuk-checkboxes govuk-!-padding-bottom-6">
          <div class="govuk-checkboxes__item">
            <input
              type="radio"
              name="jobrole"
              formControlName="jobRole"
              class="govuk-checkboxes__input"
              id="otherCheckbox"
              [value]="otherJobRole.id"
            />
            <label for="otherCheckbox" class="govuk-label govuk-checkboxes__label"
              >The training is not in any of these categories</label
            >
          </div>
        </div> -->
      </fieldset>
    </div>
  </div>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-!-margin-right-9" data-module="govuk-button">
      {{ submitButtonText }}
    </button>
    <a
      role="button"
      href="#"
      class="govuk-button govuk-button--link govuk-!-margin-left-9"
      draggable="false"
      (click)="onCancel($event)"
      >Cancel</a
    >
  </div>
</form>
