<dl *ngIf="workplace" class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Workplace name
    </dt>
    <dd class="govuk-summary-list__value">
      {{ workplace.name }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" [routerLink]="['/workplace', workplace.id]">
        <ng-container *ngIf="!workplace.name">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.name">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> workplace name</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Employer type
    </dt>
    <dd class="govuk-summary-list__value">
      {{ workplace.employerType || '-' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" [routerLink]="['/workplace', 'type-of-employer']">
        <ng-container *ngIf="!workplace.employerType">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.employerType">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> employer type</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Main service
    </dt>
    <dd class="govuk-summary-list__value">
      {{ workplace.mainService?.name || '-' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" [routerLink]="['/workplace', workplace.id]">
        <ng-container *ngIf="!workplace.mainService">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.mainService">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> main service</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Services
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-template [ngIf]="!workplace.otherServices?.length" [ngIfElse]="otherServices">
        -
      </ng-template>
      <ng-template #otherServices>
        <ul>
          <ng-container *ngFor="let categories of workplace.otherServices">
            <li *ngFor="let service of categories.services">{{ service.name }}</li>
          </ng-container>
        </ul>
      </ng-template>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" [routerLink]="['/workplace', 'select-other-services']">
        <ng-container *ngIf="!workplace.otherServices?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.otherServices?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> other services</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Service capacity
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-template [ngIf]="!workplace.capacities?.length" [ngIfElse]="capacities">
        -
      </ng-template>
      <ng-template #capacities>
        <ul>
          <li *ngFor="let capacity of capacityMessages">{{ capacity }}</li>
        </ul>
      </ng-template>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" [routerLink]="['/workplace', 'capacity-of-services']">
        <ng-container *ngIf="!workplace.capacities?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.capacities?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> service capacities</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Service users
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-template [ngIf]="!workplace.serviceUsers?.length" [ngIfElse]="serviceUsers">
        -
      </ng-template>
      <ng-template #serviceUsers>
        <ul>
          <li *ngFor="let users of workplace.serviceUsers"></li>
        </ul>
      </ng-template>
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" [routerLink]="['/workplace', workplace.id]">
        <ng-container *ngIf="!workplace.serviceUsers?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.serviceUsers?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> service users</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Data sharing
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-template [ngIf]="!workplace.share?.enabled && workplace.share?.with?.length === 0" [ngIfElse]="sharing">
        -
      </ng-template>
      <ng-template #sharing>
        <ul>
          <ng-container *ngIf="workplace.share.with.includes('CQC')">
            <li>Care Quality Commission (CQC)</li>
          </ng-container>
          <ng-container *ngIf="workplace.share.with.includes('Local Authority')">
            <li *ngFor="let localAuthorities of workplace.localAuthorities">
              {{ localAuthorities.name }} local authority
            </li>
          </ng-container>
        </ul>
      </ng-template>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" [routerLink]="['/workplace', 'share-options']">
        <ng-container *ngIf="!workplace.share?.enabled">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.share?.enabled">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> data sharing</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Current staff vacancies
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-template [ngIf]="!workplace.Vacancies?.length" [ngIfElse]="vacancies">
        -
      </ng-template>
      <ng-template #vacancies>
        <ng-container *ngIf="isArray(workplace.Vacancies)">
          <ul>
            <li *ngFor="let vacancy of workplace.Vacancies">{{ vacancy.total }} {{ vacancy.title }}</li>
          </ul>
        </ng-container>
        <ng-container *ngIf="!isArray(workplace.Vacancies)">
          {{ workplace.Vacancies }}
        </ng-container>
      </ng-template>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" [routerLink]="['/workplace', 'vacancies']">
        <ng-container *ngIf="!workplace.Vacancies?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.Vacancies?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> staff vacancies</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      New starters
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-template [ngIf]="!workplace.Starters?.length" [ngIfElse]="starters">
        -
      </ng-template>
      <ng-template #starters>
        <ng-container *ngIf="isArray(workplace.Starters)">
          <ul>
            <li *ngFor="let starter of workplace.Starters">{{ starter.total }} {{ starter.title }}</li>
          </ul>
        </ng-container>
        <ng-container *ngIf="!isArray(workplace.Starters)">
          {{ workplace.Starters }}
        </ng-container>
      </ng-template>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" [routerLink]="['/workplace', 'starters']">
        <ng-container *ngIf="!workplace.Starters?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.Starters?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> new starters</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Staff leavers
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-template [ngIf]="!workplace.Leavers?.length" [ngIfElse]="leavers">
        -
      </ng-template>
      <ng-template #leavers>
        <ng-container *ngIf="isArray(workplace.Leavers)">
          <ul>
            <li *ngFor="let leaver of workplace.Leavers">{{ leaver.total }} {{ leaver.title }}</li>
          </ul>
        </ng-container>
        <ng-container *ngIf="!isArray(workplace.Leavers)">
          {{ workplace.Leavers }}
        </ng-container>
      </ng-template>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" [routerLink]="['/workplace', 'leavers']">
        <ng-container *ngIf="!workplace.Leavers?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.Leavers?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> staff leavers</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Number of volunteers
    </dt>
    <dd class="govuk-summary-list__value">
      {{ workplace.volunteers || '-' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" [routerLink]="['/workplace', workplace.id]">
            <ng-container *ngIf="!workplace.volunteers">
              Provide information
              <span class="govuk-visually-hidden"> for</span>
            </ng-container>
            <ng-container *ngIf="workplace.volunteers">
              Change
            </ng-container>
            <span class="govuk-visually-hidden"> number of volunteers</span>
          </a> -->
    </dd>
  </div>
</dl>
