<dl *ngIf="workplace" class="govuk-summary-list" [class.govuk-summary-list--contains-warnings]="totalStaffWarning">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <div>
        Workplace name
      </div>
      <div *ngIf="workplace && workplace.address" class="govuk-!-padding-top-2">
        Workplace address
      </div>
    </dt>
    <dd class="govuk-summary-list__value">
      <div>
        {{ workplace.name }}
      </div>
      <div *ngIf="workplace" class="govuk-!-padding-top-2">
        <div *ngIf="workplace.address1">{{ workplace.address1 }}</div>
        <div *ngIf="workplace.address2">{{ workplace.address2 }}</div>
        <div *ngIf="workplace.address3">{{ workplace.address3 }}</div>
        <div *ngIf="workplace.town">{{ workplace.town }}</div>
        <div *ngIf="workplace.county">{{ workplace.county }}</div>
        <div *ngIf="workplace.postcode">{{ workplace.postcode }}</div>
      </div>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'update-workplace-details']" (click)="setReturn()">
        <span *ngIf="!workplace.name">
          Provide information
        </span>
        <span *ngIf="workplace.name">
          Change
        </span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row" *ngIf="workplace?.isRegulated">
    <dt class="govuk-summary-list__key">
      CQC location ID
    </dt>
    <dd class="govuk-summary-list__value">
      {{ workplace.locationId }}
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'regulated-by-cqc']" (click)="setReturn()">
        Change
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Employer type
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="workplace.wdf?.employerType">
        <ng-container *ngIf="!(workplace.employerType?.other || workplace.employerType?.value); else employertype">
          -
        </ng-container>
        <ng-template #employertype>
          {{ workplace.employerType?.other ? workplace.employerType.other : workplace.employerType.value }}
        </ng-template>
      </app-summary-record-value>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'type-of-employer']" (click)="setReturn()">
        <ng-container *ngIf="!(workplace.employerType?.other || workplace.employerType?.value)">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.employerType?.other || workplace.employerType?.value">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> employer type</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row" [ngClass]="{'govuk-panel--light-blue': cqcStatusRequested}">
    <dt class="govuk-summary-list__key" [ngClass]="{'govuk-!-padding-left-3': cqcStatusRequested}">
      Main service
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="workplace.wdf?.mainService">
        {{ cqcStatusRequested ? requestedServiceName : workplace.mainService?.name }}
        <ng-container *ngIf="(cqcStatusRequested && requestedServiceOtherName)
        || (workplace.mainService?.other && !cqcStatusRequested)"> - {{ cqcStatusRequested ? requestedServiceOtherName : workplace.mainService?.other }}
        </ng-container>
      </app-summary-record-value>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions" [ngClass]="{'govuk-!-padding-right-3': cqcStatusRequested}">
      <a *ngIf="!cqcStatusRequested; else cqcPending" [routerLink]="['/workplace', workplace.uid, 'main-service-cqc']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.mainService">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.mainService">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> main service</span>
      </a>
      <ng-template #cqcPending>
        <ng-container>
          Pending
        </ng-container>
        <span class="govuk-visually-hidden"> main service</span>
      </ng-template>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other services
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-container *ngIf="!workplace.otherServices?.length; else otherServices">
        -
      </ng-container>
      <ng-template #otherServices>
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <ng-container *ngFor="let categories of workplace.otherServices">
            <li *ngFor="let service of filterAndSortOtherServices(categories.services)">
              {{ service.name }}<ng-container *ngIf="service.other"> - {{ service.other }}</ng-container>
            </li>
          </ng-container>
        </ul>
      </ng-template>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'other-services']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.otherServices?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.otherServices?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> other services</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row" *ngIf="hasCapacity">
    <dt class="govuk-summary-list__key">
      Service capacity
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="workplace.wdf?.capacities">
        <ng-container *ngIf="!workplace.capacities?.length; else capacities">
          -
        </ng-container>
        <ng-template #capacities>
          <ul class="govuk-list govuk-!-margin-bottom-0">
            <li *ngFor="let capacity of capacityMessages">{{ capacity }}</li>
          </ul>
        </ng-template>
      </app-summary-record-value>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'capacity-of-services']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.capacities?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.capacities?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> service capacities</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Service users
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="workplace.wdf?.serviceUsers">
        <ng-container *ngIf="!workplace.serviceUsers?.length; else serviceUsers">
          -
        </ng-container>
        <ng-template #serviceUsers>
          <ul class="govuk-list govuk-!-margin-bottom-0">
            <li *ngFor="let users of workplace.serviceUsers">
              {{ users.service }}<ng-container *ngIf="users.other"> - {{ users.other }}</ng-container>
            </li>
          </ul>
        </ng-template>
      </app-summary-record-value>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'service-users']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.serviceUsers?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.serviceUsers?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> service users</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Data sharing
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-container *ngIf="!workplace.share?.enabled && workplace.share?.with?.length === 0; else sharing">
        -
      </ng-container>
      <ng-template #sharing>
        <p *ngIf="workplace.share.with.includes('CQC')">Care Quality Commission (CQC)</p>
        <p *ngIf="workplace.share.with.includes('Local Authority')">Local authorities</p>
      </ng-template>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'sharing-data']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.share?.enabled">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.share?.enabled">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> data sharing</span>
      </a>
    </dd>
  </div>

  <div *ngIf="workplace.share.with.includes('Local Authority')" class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Local authorities shared with
    </dt>
    <dd class="govuk-summary-list__value">
      <ng-container *ngIf="workplace.localAuthorities?.length === 0; else localAuthorities">
        -
      </ng-container>
      <ng-template #localAuthorities>
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li *ngFor="let localAuthorities of workplace.localAuthorities">
            {{ localAuthorities.name }}
          </li>
        </ul>
      </ng-template>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'sharing-data-with-local-authorities']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.share?.enabled">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.share?.enabled">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> local authorities data is shared with</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Total number of staff
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="workplace.wdf?.numberOfStaff">
        {{ workplace.numberOfStaff | numericAnswer }}
      </app-summary-record-value>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'total-staff']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.numberOfStaff">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.numberOfStaff">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> total number of staff</span>
      </a>
    </dd>
  </div>
    
  <ng-container *ngIf="wdfView">
    <div *ngIf="totalStaffWarning" class="govuk-summary-list__row govuk-summary-list__row--warning">
      <dt class="govuk-summary-list__key">
        <span class="govuk-visually-hidden">Total number of staff warning</span>
      </dt>
      <dd class="govuk-summary-list__value">
        <p>
          Basic staff records ({{ workplace.totalWorkers }}) must match the total number of staff
          {{ workplace.numberOfStaff ? '(' + workplace.numberOfStaff + ')' : '' }}
        </p>
      </dd>
      <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
        <a
          class="govuk-visually-hidden"
          [routerLink]="['/workplace', workplace.uid, 'staff-record', 'create-basic-records']"
          (click)="setReturn()"
        >
          Amend basic staff records
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Basic staff records
      </dt>
      <dd class="govuk-summary-list__value">
        <app-summary-record-value [wdfView]="wdfView" [wdfValue]="workplace.wdf?.numberOfStaff">
          {{ workplace.totalWorkers }}
        </app-summary-record-value>
      </dd>
      <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
        <a [routerLink]="['/workplace', workplace.uid, 'staff-record', 'create-basic-records']" (click)="setReturn()">
          <ng-container *ngIf="!workplace.totalWorkers || !workplace.totalWorkers === 0">
            Provide information
            <span class="govuk-visually-hidden"> for</span>
          </ng-container>
          <ng-container *ngIf="workplace.totalWorkers > 0">
            Change
          </ng-container>
          <span class="govuk-visually-hidden"> total number of staff</span>
        </a>
      </dd>
    </div>
  </ng-container>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Current staff vacancies
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="workplace.wdf?.vacancies">
        <ng-container *ngIf="!workplace.vacancies?.length; else vacancies">
          -
        </ng-container>
        <ng-template #vacancies>
          <ng-container *ngIf="isArray(workplace.vacancies)">
            <ul class="govuk-list govuk-!-margin-bottom-0">
              <li *ngFor="let vacancy of workplace.vacancies">{{ vacancy.total }} {{ vacancy.title }}</li>
            </ul>
          </ng-container>
          <ng-container *ngIf="!isArray(workplace.vacancies)">{{ workplace.vacancies }} </ng-container>
        </ng-template>
      </app-summary-record-value>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'vacancies']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.vacancies?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.vacancies?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> staff vacancies</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      New starters
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="workplace.wdf?.starters">
        <ng-container *ngIf="!workplace.starters?.length; else starters">
          -
        </ng-container>
        <ng-template #starters>
          <ng-container *ngIf="isArray(workplace.starters)">
            <ul class="govuk-list govuk-!-margin-bottom-0">
              <li *ngFor="let starter of workplace.starters">{{ starter.total }} {{ starter.title }}</li>
            </ul>
          </ng-container>
          <ng-container *ngIf="!isArray(workplace.starters)">
            {{ workplace.starters }}
          </ng-container>
        </ng-template>
      </app-summary-record-value>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'starters']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.starters?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.starters?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> new starters</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Staff leavers
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="workplace.wdf?.leavers">
        <ng-container *ngIf="!workplace.leavers?.length; else leavers">
          -
        </ng-container>
        <ng-template #leavers>
          <ng-container *ngIf="isArray(workplace.leavers)">
            <ul class="govuk-list govuk-!-margin-bottom-0">
              <li *ngFor="let leaver of workplace.leavers">{{ leaver.total }} {{ leaver.title }}</li>
            </ul>
          </ng-container>
          <ng-container *ngIf="!isArray(workplace.leavers)">
            {{ workplace.leavers }}
          </ng-container>
        </ng-template>
      </app-summary-record-value>
    </dd>
    <dd *ngIf="canEditEstablishment" class="govuk-summary-list__actions">
      <a [routerLink]="['/workplace', workplace.uid, 'leavers']" (click)="setReturn()">
        <ng-container *ngIf="!workplace.leavers?.length">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="workplace.leavers?.length">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> staff leavers</span>
      </a>
    </dd>
  </div>
</dl>
