@import 'govuk-frontend/govuk/base';

.asc-dashboard-header {
  background-color: govuk-colour('light-grey');
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__home-tab {
    height: unset;
    padding-top: govuk-spacing(6);
  }
}

.do-as-parent-link {
  margin-bottom: -1px;
}
