<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group govuk-!-padding-bottom-4">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l" data-testid="section-heading">{{ sectionHeading }}</span>
              How do you pay care and support workers for a sleep-in?
            </h1>
          </legend>
          <p>
            We only want to know about the rate paid while they're asleep.
            <br />
            We do not want to know about live-in care or waking nights.
          </p>

          <app-details [title]="'Why we ask for this information'">
            {{ payAndPensionQuestionRevealText }}
          </app-details>

          <div class="govuk-form-group">
            <div class="govuk-radios govuk-!-margin-top-6">
              @for (option of options; track option; let index = $index){
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="howToPayForSleepIn-{{ index }}"
                  type="radio"
                  [formControlName]="'howToPayForSleepIn'"
                  [value]="option"
                />
                <label class="govuk-label govuk-radios__label" for="howToPayForSleepIn-{{ index }}">
                  {{ option }}
                </label>
              </div>
              }
            </div>
          </div>
        </fieldset>
      </div>
       <app-workplace-submit-button
        [return]="!!return"
        (clicked)="setSubmitAction($event)"
        [isInMiniFlow]="inPayAndPensionsMiniFlow"
      ></app-workplace-submit-button>
    </div>
    <div class="govuk-grid-column-one-third">
      @if (!return || inPayAndPensionsMiniFlow){
      <div class="govuk-util__float-right">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="progressBarSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
      }
    </div>
  </div>
</form>
