<ng-container>
  @if (wdfView && overallWdfEligibility && wdfValue?.isEligible === ELIGIBILITY.NO) {
  <app-eligibility-icon [overallEligibility]="true" [eligible]="false"></app-eligibility-icon>
  } @else { @if (wdfView && !overallWdfEligibility && wdfValue?.isEligible === ELIGIBILITY.NO) {
  <app-eligibility-icon [overallEligibility]="false" [eligible]="false"></app-eligibility-icon>
  } @else {
  <ng-container *ngTemplateOutlet="content"></ng-container>
  } }
</ng-container>

<ng-template #content><ng-content></ng-content></ng-template>
