ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    margin: 0;
    flex: 1;

    a {
      text-decoration: none;
      color: inherit;
      display: block;
      padding: 0.5rem 1rem;
      text-align: center;
      background-color: transparent;
      width: 100%;
      box-sizing: border-box;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background-color: #d6d6d6;
        font-weight: bold;
        pointer-events: none;
        cursor: default;
      }

      &:focus,
      &:active {
        outline: none;
        border: none;
        background-color: #d6d6d6;
        font-weight: bold;
        color: #000;
      }
    }
  }
}
