<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <app-inset-text [color]="'todo'">
      <h3 class="govuk-heading-s">You need to check your CQC details</h3>
      <p>
        Some of your details in the Adult Social Care Workforce Data Set (ASC-WDS) are different to those that the Care
        Quality <br />
        Commission (CQC) have.
      </p>
      <p>
        <a href="https://www.cqc.org.uk/location/{{ locationId }}" target="_blank">Please check your CQC details</a>
        and make sure they match your <br />ASC-WDS details.
      </p>
    </app-inset-text>
  </div>
</div>
