<table class="govuk-table" data-testid="error-details-table">
  <ng-container *ngIf="errors?.length > 0; else noErrors">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Errors</th>
        <th scope="col" class="govuk-table__header">
          <ng-container *ngIf="fileType == 'Workplace'; else staffOrTraining">Workplaces</ng-container>
          <ng-template #staffOrTraining>{{ fileType }} records</ng-template>
        </th>
        <th scope="col" class="govuk-table__header">&nbsp;</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <ng-container *ngFor="let err of errors">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-right-8">{{ err.error }}:</td>
          <td class="govuk-table__cell">
            {{ err.items.length }}
          </td>
          <td class="govuk-table__cell govuk-util__align-right govuk-!-font-weight-regular">
            <a class="govuk-link--no-visited-state" href="#" (click)="toggleDetails(err.errCode, $event)">{{
              openErrors.includes(err.errCode) ? 'Close' : 'Open'
            }}</a>
          </td>
        </tr>
        <tr class="govuk-table__row govuk-panel--gray" scope="row" *ngIf="openErrors.includes(err.errCode)">
          <td colspan="3">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <ul>
                  <li *ngFor="let item of err.items" class="govuk-!-margin-2">
                    <ng-container [ngSwitch]="fileType">
                      <ng-container *ngSwitchCase="'Workplace'"
                        >for workplace '{{ item.name }}' on line {{ item.lineNumber }}</ng-container
                      >
                      <ng-container *ngSwitchCase="'Staff'">
                        <ng-container *ngIf="item.worker">for staff record '{{ item.worker }}' </ng-container>at
                        workplace '{{ item.name }}' on line {{ item.lineNumber }}</ng-container
                      >
                      <ng-container *ngSwitchCase="'Training'"
                        ><ng-container *ngIf="item.worker">for staff record '{{ item.worker }}' </ng-container>at
                        workplace '{{ item.name }}' on line {{ item.lineNumber }}</ng-container
                      >
                    </ng-container>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </ng-container>
  <ng-template #noErrors>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Errors</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" scope="row">
        <td class="govuk-table__cell" colspan="3">There are 0 errors in the {{ fileType }} data file.</td>
      </tr>
    </tbody>
  </ng-template>
</table>
