<ng-container *ngFor="let section of sections; index as i">
  <p
    class="govuk-!-display-block govuk-!-margin-bottom-0 govuk-!-font-size-16"
    [ngClass]="
      (currentSectionIndex > i && 'govuk-!-font-weight-bold') || (currentSectionIndex < i && 'asc-colour-grey')
    "
  >
    <img
      *ngIf="i < currentSectionIndex"
      [attr.data-testid]="'completed-' + i"
      class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
      src="/assets/images/progress-bar/done.svg"
      alt=""
    />
    <img
      *ngIf="i === currentSectionIndex"
      [attr.data-testid]="'currentSection-' + i"
      class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
      src="/assets/images/progress-bar/doing.svg"
      alt=""
    />
    <img
      *ngIf="i > currentSectionIndex"
      [attr.data-testid]="'todo-' + i"
      class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
      src="/assets/images/progress-bar/todo.svg"
      alt=""
    />
    {{ section }}
  </p>
  <img
    *ngIf="i < sections.length - 1"
    [attr.data-testid]="'greenLine-' + i"
    class="govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-!-margin-left-2"
    src="/assets/images/progress-bar/green-line.svg"
    alt=""
  />
</ng-container>
