<div class="row">
  <div class="col-md-4">
    <h3 class="fs-24 mb-4 text-weight-bold">Staff records ({{ workers?.length }})</h3>
  </div>
  <div class="col-md-8 text-align-right">
    <a
      routerLink="/worker/create-basic-records-start-screen"
      role="button"
      class="govuk-button govuk-button--secondary mr-5"
      style="border-width: 0 2px; padding: 0 10px;"
    >
      Add a basic record
    </a>
    <a routerLink="/worker/start-screen" role="button" class="btn btn-primary">
      Add a full record
    </a>
  </div>
</div>
<div class="row">
  <div *ngIf="createStaffResponse" class="col-12">
    <app-status title="&#10003; Success.">
      {{
        createStaffResponse
          | i18nPlural
            : {
                '=1': '# staff record has been saved.',
                other: '# staff records have been saved.'
              }
      }}
    </app-status>
  </div>
</div>
<app-total-staff-panel [totalStaff]="totalStaff" [totalWorkers]="this.workers?.length" [returnToDash]="true"></app-total-staff-panel>
<div class="row">
  <div class="col-12">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Staff name</th>
          <th class="govuk-table__header" scope="col">Job role</th>
          <th class="govuk-table__header" scope="col">Last updated</th>
          <th *ngIf="!displayWDFReport" class="govuk-table__header" scope="col"></th>
          <th *ngIf="displayWDFReport" class="govuk-table__header" scope="col">WDF</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" *ngFor="let worker of workers">
          <td class="govuk-table__cell" scope="row">
            <a [routerLink]="['/worker', worker.uid]">{{ worker.nameOrId }}</a>
          </td>
          <td class="govuk-table__cell">{{ worker.mainJob.title }}</td>
          <td class="govuk-table__cell">{{ worker.updated | amTimeAgo }}</td>
          <td *ngIf="!displayWDFReport" class="govuk-table__cell">
            <a
              *ngIf="!worker.completed"
              [routerLink]="[
                '/worker',
                worker.uid,
                worker.mainJob?.jobId === 27 ? 'mental-health-professional' : 'main-job-start-date'
              ]"
              style="white-space: nowrap;"
              >Provide more information</a
            >
          </td>
          <td *ngIf="displayWDFReport" class="govuk-table__cell">
            <p class="main-body-text col-12 m-0 p-0" *ngIf="worker.wdfEligible"><img src="/assets/img/tick-icon.svg" /> Meeting criteria</p>
            <p class="main-body-text col-12 m-0 p-0" *ngIf="!worker.wdfEligible"><img src="/assets/img/cross-icon.svg" /> Not meeting criteria</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
