<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Staff records ({{ workers?.length }})</h2>
  </div>
  <div class="govuk-grid-column-one-half govuk-util__align-right">
    <a
      role="button"
      draggable="false"
      class="govuk-button govuk-button--secondary"
      [routerLink]="['/worker', 'basic-records-start-screen']"
    >
      Add a basic record
    </a>
    <a
      role="button"
      draggable="false"
      class="govuk-button govuk-!-margin-left-8"
      [routerLink]="['/worker', 'start-screen']"
    >
      Add a full record
    </a>
  </div>
</div>

<app-status *ngIf="createStaffResponse" [title]="'&#10003; Success.'">
  {{
    createStaffResponse
      | i18nPlural
        : {
            '=1': '# staff record has been saved.',
            other: '# staff records have been saved.'
          }
  }}
</app-status>

<app-total-staff-panel
  [totalStaff]="totalStaff"
  [totalWorkers]="this.workers?.length"
  [returnToDash]="true"
></app-total-staff-panel>

<app-staff-summary *ngIf="workers" [workers]="workers"></app-staff-summary>
