<app-details [title]="title">
  @if (shouldShowSelectedActivities) {
    <p class="govuk-!-margin-bottom-1">You've said that staff in your workplace currently carry out:</p>
    <ul class="govuk-list govuk-list--bullet">
      @for (delegatedHealthcareActivity of selectedActivities; track delegatedHealthcareActivity.id) {
        <li>
          {{ delegatedHealthcareActivity.title }}
        </li>
      }
    </ul>
  } @else {
    @for (delegatedHealthcareActivity of allDHAs; track delegatedHealthcareActivity.id) {
      <ng-container #showAllExamples>
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
          {{ delegatedHealthcareActivity.title }}
        </p>
        <p class="govuk-!-margin-top-0">
          {{ delegatedHealthcareActivity.description }}
        </p>
      </ng-container>
    }
  }
</app-details>
