<app-error-summary
  *ngIf="submitted && (form.invalid || serverError)"
  [formErrorsMap]="formErrorsMap"
  [form]="form"
  [serverError]="serverError"
>
</app-error-summary>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span *ngIf="worker" class="govuk-caption-l" data-testid="workerNameAndRole">
            {{ worker.nameOrId }}
          </span>
          <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">Select the type of record you want to add</h1>
        </legend>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && (form.invalid || serverError)">
          <span
            *ngIf="submitted && form.get('selectRecordType').invalid"
            id="selectRecordType-error"
            class="govuk-error-message"
          >
            <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('selectRecordType') }}
          </span>
          <div class="govuk-radios govuk-body govuk-!-margin-bottom-9">
            <div class="govuk-radios__item" *ngFor="let selectRecordType of selectRecordTypes; let i = index">
              <input
                class="govuk-radios__input"
                id="selectRecordType-{{ i }}"
                name="selectRecordType"
                [formControlName]="'selectRecordType'"
                type="radio"
                [value]="selectRecordType"
              />
              <label class="govuk-label govuk-radios__label" for="selectRecordType-{{ i }}">
                {{ selectRecordType | SelectRecordTypesName }}
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <button class="govuk-button govuk-!-margin-right-7" type="submit">Continue</button>
      <a
        class="govuk-button govuk-button--link govuk-!-margin-left-9"
        role="button"
        draggable="false"
        (click)="onCancel()"
      >
        Cancel
      </a>
    </form>
  </div>
</div>
