<h2 class="govuk-heading-m govuk-!-padding-bottom-3 govuk-!-margin-bottom-0 govuk-section-break--visible">
  Your workplace details
</h2>
@if (workplace) {
  <dl class="govuk-summary-list asc-summary-list--wide-value">
    <div
      class="govuk-summary-list__row govuk-summary-list__row--no-bottom-border govuk-summary-list__row--no-bottom-padding"
      data-testid="workplace-section"
    >
      <dt class="govuk-summary-list__key">
        <div>Name</div>
      </dt>
      <dd class="govuk-summary-list__value">
        <div>{{ workplace.name }}</div>
      </dd>
      @if (canEditEstablishment) {
        <dd class="govuk-summary-list__actions">
          <app-summary-record-change
            [explanationText]="''"
            [link]="['/workplace', workplace.uid, 'update-workplace-details']"
            [hasData]="workplace.name"
            (setReturnClicked)="this.setReturn()"
          ></app-summary-record-change>
        </dd>
      }
    </div>
    <div class="govuk-summary-list__row" data-testid="address-section">
      <dt class="govuk-summary-list__key">
        @if (workplace && workplace.address) {
          <div>Address</div>
        }
      </dt>
      <dd class="govuk-summary-list__value">
        @if (workplace) {
          <div class="govuk-!-padding-top-2">
            @if (workplace.address1) {
              <div>{{ workplace.address1 }}</div>
            }
            @if (workplace.address2) {
              <div>{{ workplace.address2 }}</div>
            }
            @if (workplace.address3) {
              <div>{{ workplace.address3 }}</div>
            }
            @if (workplace.town) {
              <div>{{ workplace.town }}</div>
            }
            @if (workplace.county) {
              <div>{{ workplace.county }}</div>
            }
            @if (workplace.postcode) {
              <div>{{ workplace.postcode }}</div>
            }
          </div>
        }
      </dd>
    </div>
    @if (workplace?.isRegulated) {
      <div class="govuk-summary-list__row" data-testid="cqcLocationId">
        <dt class="govuk-summary-list__key">CQC location ID</dt>
        <dd class="govuk-summary-list__value">
          {{ workplace.locationId }}
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <a [routerLink]="['/workplace', workplace.uid, 'regulated-by-cqc']" (click)="setReturn()"> Change </a>
          </dd>
        }
      </div>
    }
    <div
      class="govuk-summary-list__row"
      [ngClass]="{
        'govuk-summary-list__row--no-bottom-border':
          showWdfConfirmations.numberOfStaff ||
          workplace.wdf?.numberOfStaff?.isEligible === Eligibility.NO ||
          showTotalStaffWarning,
      }"
      data-testid="numberOfStaff"
    >
      <dt class="govuk-summary-list__key">Number of staff</dt>
      <dd class="govuk-summary-list__value">
        {{ workplace.numberOfStaff | numericAnswer }}
      </dd>
      @if (canEditEstablishment) {
        <dd class="govuk-summary-list__actions">
          <app-summary-record-change
            [explanationText]="' total number of staff'"
            [link]="['/workplace', workplace.uid, 'total-staff']"
            [hasData]="isNumber(workplace.numberOfStaff)"
            (setReturnClicked)="this.setReturn()"
          ></app-summary-record-change>
        </dd>
      }
    </div>
    @if (showWdfConfirmations.numberOfStaff && workplace.numberOfStaff === workerCount) {
      <app-wdf-field-confirmation
        [staffRecordView]="true"
        [changeLink]="getRoutePath('total-staff', wdfView)"
        (fieldConfirmation)="this.confirmField('numberOfStaff')"
        (setReturnClicked)="this.setReturn()"
      ></app-wdf-field-confirmation>
    }
    @if (workplace.wdf?.numberOfStaff?.isEligible === Eligibility.NO) {
      <app-wdf-warning-message
        [overallWdfEligibility]="overallWdfEligibility"
        data-testid="numberOfStaffWdfWarning"
      ></app-wdf-warning-message>
    }
    @if (showTotalStaffWarning) {
      <app-wdf-staff-mismatch-message
        data-testid="staffMismatchMessage"
        [workplace]="workplace"
        [workerCount]="workerCount"
        [overallWdfEligibility]="overallWdfEligibility"
      ></app-wdf-staff-mismatch-message>
    }
    <div
      class="govuk-summary-list__row"
      [ngClass]="{
        'govuk-summary-list__row--no-bottom-border': workplace.wdf?.employerType?.isEligible === Eligibility.NO,
      }"
      data-testid="employerType"
    >
      <dt class="govuk-summary-list__key">Employer type</dt>
      <dd class="govuk-summary-list__value">
        @if (workplace.employerType?.other || workplace.employerType?.value) {
          {{ workplace.employerType?.other ? workplace.employerType.other : workplace.employerType.value }}
        } @else {
          -
        }
      </dd>
      @if (canEditEstablishment) {
        <dd class="govuk-summary-list__actions">
          <app-summary-record-change
            [explanationText]="'employer type'"
            [link]="['/workplace', workplace.uid, 'type-of-employer']"
            [hasData]="workplace.employerType?.other || workplace.employerType?.value"
            (setReturnClicked)="this.setReturn()"
          ></app-summary-record-change>
        </dd>
      }
    </div>
    @if (workplace.wdf?.employerType?.isEligible === Eligibility.NO) {
      <app-wdf-warning-message
        [overallWdfEligibility]="overallWdfEligibility"
        data-testid="employerTypeWdfWarning"
      ></app-wdf-warning-message>
    }
    <ng-container>
      <div class="govuk-summary-list__row" data-testid="services-section">
        <dt class="govuk-summary-list__key">
          <h2
            class="govuk-heading-m govuk-!-margin-bottom-2"
            [ngClass]="{ 'govuk-!-margin-top-5': !removeServiceSectionMargin }"
          >
            Services
          </h2>
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div
        class="govuk-summary-list__row"
        [ngClass]="{
          'govuk-panel--light-blue': cqcStatusRequested,
          'govuk-summary-list__row--no-bottom-border':
            showWdfConfirmations.mainService || workplace.wdf?.mainService?.isEligible === Eligibility.NO,
        }"
        data-testid="mainService"
      >
        <dt class="govuk-summary-list__key" [ngClass]="{ 'govuk-!-padding-left-3': cqcStatusRequested }">
          Main service
        </dt>
        <dd class="govuk-summary-list__value" data-testid="main-service-name">
          @if (cqcStatusRequested) {
            {{ requestedServiceName }} {{ requestedServiceOtherName ? ' - ' + requestedServiceOtherName : '' }}
          } @else {
            {{ workplace.mainService?.name }}
            {{ workplace.mainService?.other ? ' - ' + workplace.mainService?.other : '' }}
          }
        </dd>
        @if (canEditEstablishment) {
          <dd
            class="govuk-summary-list__actions"
            [ngClass]="{ 'govuk-!-padding-right-3': cqcStatusRequested }"
            data-testid="main-service-change-or-pending"
          >
            @if (!cqcStatusRequested) {
              <a [routerLink]="['/workplace', workplace.uid, 'main-service-cqc']" (click)="setReturn()">
                @if (!workplace.mainService) {
                  Provide information
                  <span class="govuk-visually-hidden"> for</span>
                } @else {
                  Change
                }
                <span class="govuk-visually-hidden"> main service</span>
              </a>
            } @else {
              <ng-container> Pending </ng-container>
              <span class="govuk-visually-hidden"> main service</span>
            }
          </dd>
        }
      </div>
      @if (showWdfConfirmations.mainService) {
        <app-wdf-field-confirmation
          [changeLink]="getRoutePath('main-service-cqc', wdfView)"
          [staffRecordView]="true"
          (fieldConfirmation)="this.confirmField('mainService')"
          (setReturnClicked)="this.setReturn()"
        >
        </app-wdf-field-confirmation>
      }
      @if (workplace.wdf?.mainService?.isEligible === Eligibility.NO) {
        <app-wdf-warning-message
          [overallWdfEligibility]="overallWdfEligibility"
          data-testid="mainServiceWdfWarning"
        ></app-wdf-warning-message>
      }
      <div class="govuk-summary-list__row" data-testid="otherServices">
        <dt class="govuk-summary-list__key">Other services</dt>
        <dd class="govuk-summary-list__value">
          @switch (workplace.otherServices.value || null) {
            @case (null) {
              <span> - </span>
            }
            @case ('No') {
              <span> None </span>
            }
            @case ('Yes') {
              <div>
                <ul class="govuk-list govuk-!-margin-bottom-0">
                  @for (service of filterAndSortOtherServices(workplace.otherServices.services); track service) {
                    <li>
                      {{ service.name }}
                      @if (service.other) {
                        : {{ service.other }}
                      }
                    </li>
                  }
                </ul>
              </div>
            }
          }
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' other services'"
              [link]="['/workplace', workplace.uid, 'other-services']"
              [hasData]="workplace.otherServices.value !== null"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>
      <div
        class="govuk-summary-list__row"
        [ngClass]="{
          'govuk-summary-list__row--no-bottom-border':
            showWdfConfirmations.capacities || workplace.wdf?.capacities?.isEligible === Eligibility.NO,
        }"
        data-testid="serviceCapacity"
      >
        <dt class="govuk-summary-list__key">Service capacity</dt>
        <dd class="govuk-summary-list__value">
          @if (!workplace.capacities?.length) {
            -
          } @else {
            <ul class="govuk-list govuk-!-margin-bottom-0">
              @for (capacity of capacityMessages; track capacity) {
                <li>{{ capacity.message }}</li>
              }
            </ul>
          }
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' service capacities'"
              [link]="['/workplace', workplace.uid, 'capacity-of-services']"
              [hasData]="workplace.capacities?.length"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>
      @if (showWdfConfirmations.capacities) {
        <app-wdf-field-confirmation
          [staffRecordView]="true"
          [changeLink]="getRoutePath('capacity-of-services', wdfView)"
          (fieldConfirmation)="this.confirmField('capacities')"
          (setReturnClicked)="this.setReturn()"
        >
        </app-wdf-field-confirmation>
      }
      @if (workplace.wdf?.capacities?.isEligible === Eligibility.NO) {
        <app-wdf-warning-message
          [overallWdfEligibility]="overallWdfEligibility"
          warningMessage="Add the capacity of your main service"
          data-testid="capacitiesWdfWarning"
        ></app-wdf-warning-message>
      }
      <div
        class="govuk-summary-list__row"
        [ngClass]="{
          'govuk-summary-list__row--no-bottom-border':
            showWdfConfirmations.serviceUsers || workplace.wdf?.serviceUsers?.isEligible === Eligibility.NO,
        }"
        data-testid="serviceUsers"
      >
        <dt class="govuk-summary-list__key">Service users</dt>
        <dd class="govuk-summary-list__value">
          @if (!workplace.serviceUsers?.length) {
            -
          } @else {
            <ul class="govuk-list govuk-!-margin-bottom-0">
              @for (users of workplace.serviceUsers; track users) {
                <li>
                  {{ users.service }}
                  @if (users.other) {
                    - {{ users.other }}
                  }
                </li>
              }
            </ul>
          }
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' service users'"
              [link]="['/workplace', workplace.uid, 'service-users']"
              [hasData]="workplace.serviceUsers?.length"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>
      @if (showWdfConfirmations.serviceUsers) {
        <app-wdf-field-confirmation
          [staffRecordView]="true"
          [changeLink]="getRoutePath('service-users', wdfView)"
          (fieldConfirmation)="this.confirmField('serviceUsers')"
          (setReturnClicked)="this.setReturn()"
        ></app-wdf-field-confirmation>
      }
      @if (workplace.wdf?.serviceUsers?.isEligible === Eligibility.NO) {
        <app-wdf-warning-message
          [overallWdfEligibility]="overallWdfEligibility"
          data-testid="serviceUsersWdfWarning"
        ></app-wdf-warning-message>
      }
      @if (workplace.mainService?.canDoDelegatedHealthcareActivities) {
        <div class="govuk-summary-list__row" data-testid="carryOutDelegatedHealthcareActivities">
          <dt class="govuk-summary-list__key">Carry out delegated healthcare activities</dt>
          <dd class="govuk-summary-list__value">
            <app-summary-record-value>
              {{ workplace.staffDoDelegatedHealthcareActivities | closedEndedAnswer }}
            </app-summary-record-value>
          </dd>
          @if (canEditEstablishment) {
            <dd class="govuk-summary-list__actions">
              <app-summary-record-change
                [explanationText]="' delegated healthcare activities'"
                [link]="['/workplace', workplace.uid, 'staff-do-delegated-healthcare-activities']"
                [hasData]="workplace.staffDoDelegatedHealthcareActivities"
                (setReturnClicked)="this.setReturn()"
              ></app-summary-record-change>
            </dd>
          }
        </div>
      }
      @if (
        workplace.staffDoDelegatedHealthcareActivities === 'Yes' &&
        workplace.mainService?.canDoDelegatedHealthcareActivities
      ) {
        <div class="govuk-summary-list__row" data-testid="know-what-delegated-healthcare-activities">
          <dt class="govuk-summary-list__key">Which delegated healthcare activities</dt>
          <dd class="govuk-summary-list__value">
            @if (workplace.staffWhatKindDelegatedHealthcareActivities?.knowWhatActivities === 'Yes') {
              <ul class="govuk-list govuk-!-margin-bottom-0">
                @for (activity of workplace.staffWhatKindDelegatedHealthcareActivities.activities; track activity) {
                  <li>
                    {{ activity.title }}
                  </li>
                }
              </ul>
            } @else {
              {{ workplace.staffWhatKindDelegatedHealthcareActivities | formatWhatDHA }}
            }
          </dd>
          @if (canEditEstablishment) {
            <dd class="govuk-summary-list__actions">
              <app-summary-record-change
                [explanationText]="' delegated healthcare activities carried out'"
                [link]="['/workplace', workplace.uid, 'what-kind-of-delegated-healthcare-activities']"
                [hasData]="workplace.staffWhatKindDelegatedHealthcareActivities"
                (setReturnClicked)="this.setReturn()"
              ></app-summary-record-change>
            </dd>
          }
        </div>
      }
      @if (workplace.mainService?.payAndPensionsGroup === 1 || workplace.mainService?.payAndPensionsGroup === 2) {
        <div class="govuk-summary-list__row" data-testid="offer-sleep-ins">
          <dt class="govuk-summary-list__key">Offer sleep-ins</dt>
          <dd class="govuk-summary-list__value">
            {{ workplace.offerSleepIn | closedEndedAnswer }}
          </dd>
          @if (canEditEstablishment) {
            <dd class="govuk-summary-list__actions">
              <app-summary-record-change
                [explanationText]="'offer sleep-ins'"
                [link]="['/workplace', workplace.uid, 'workplace-offer-sleep-ins']"
                [hasData]="workplace.offerSleepIn"
                (setReturnClicked)="this.setReturn()"
              ></app-summary-record-change>
            </dd>
          }
        </div>
      }
      @if (workplace?.offerSleepIn === 'Yes') {
        <div class="govuk-summary-list__row" data-testid="sleep-in-pay">
          <dt class="govuk-summary-list__key">Care and support worker sleep-in pay</dt>
          <dd class="govuk-summary-list__value">
            {{ workplace.howToPayForSleepIn ?? '-' }}
          </dd>
          @if (canEditEstablishment) {
            <dd class="govuk-summary-list__actions">
              <app-summary-record-change
                [explanationText]="'sleep-ins pay'"
                [link]="['/workplace', workplace.uid, 'how-do-you-pay-for-sleep-ins']"
                [hasData]="workplace.howToPayForSleepIn"
                (setReturnClicked)="this.setReturn()"
              ></app-summary-record-change>
            </dd>
          }
        </div>
      }
    </ng-container>
    <ng-container>
      <div class="govuk-summary-list__row" data-testid="vacancies-and-turnover-section">
        <dt class="govuk-summary-list__key">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5">Vacancies and turnover</h2>
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div
        class="govuk-summary-list__row"
        data-testid="vacancies"
        [ngClass]="{
          'govuk-summary-list__row--no-bottom-border':
            showWdfConfirmations.vacancies || workplace.wdf?.vacancies?.isEligible === Eligibility.NO,
        }"
      >
        <dt class="govuk-summary-list__key">Current staff vacancies</dt>
        <dd class="govuk-summary-list__value">
          <ng-container
            [ngTemplateOutlet]="summaryRecordValueForSLV"
            [ngTemplateOutletContext]="{ slvValue: workplace.vacancies }"
          />
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' staff vacancies'"
              [link]="['/workplace', workplace.uid, 'update-vacancies']"
              [hasData]="workplace.vacancies?.length"
              (setReturnClicked)="this.clearPreviouslySelectedJobRolesAndSetReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>
      @if (showWdfConfirmations.vacancies) {
        <app-wdf-field-confirmation
          [staffRecordView]="true"
          [changeLink]="getRoutePath('update-vacancies', wdfView)"
          (fieldConfirmation)="this.confirmField('vacancies')"
          (setReturnClicked)="this.clearPreviouslySelectedJobRolesAndSetReturn()"
        >
        </app-wdf-field-confirmation>
      }
      @if (workplace.wdf?.vacancies?.isEligible === Eligibility.NO) {
        <app-wdf-warning-message
          [overallWdfEligibility]="overallWdfEligibility"
          data-testid="vacanciesWdfWarning"
        ></app-wdf-warning-message>
      }
      <div
        class="govuk-summary-list__row"
        [ngClass]="{
          'govuk-summary-list__row--no-bottom-border':
            showWdfConfirmations.starters || workplace.wdf?.starters?.isEligible === Eligibility.NO,
        }"
        data-testid="starters"
      >
        <dt class="govuk-summary-list__key">Starters in the last 12 months</dt>
        <dd class="govuk-summary-list__value">
          <ng-container
            [ngTemplateOutlet]="summaryRecordValueForSLV"
            [ngTemplateOutletContext]="{ slvValue: workplace.starters }"
          />
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' new starters'"
              [link]="['/workplace', workplace.uid, 'update-starters']"
              [hasData]="workplace.starters?.length"
              (setReturnClicked)="this.clearPreviouslySelectedJobRolesAndSetReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>
      @if (showWdfConfirmations.starters) {
        <app-wdf-field-confirmation
          [changeLink]="getRoutePath('update-starters', wdfView)"
          [staffRecordView]="true"
          (fieldConfirmation)="this.confirmField('starters')"
          (setReturnClicked)="this.clearPreviouslySelectedJobRolesAndSetReturn()"
        >
        </app-wdf-field-confirmation>
      }
      @if (workplace.wdf?.starters?.isEligible === Eligibility.NO) {
        <app-wdf-warning-message
          [overallWdfEligibility]="overallWdfEligibility"
          data-testid="startersWdfWarning"
        ></app-wdf-warning-message>
      }
      <div
        class="govuk-summary-list__row"
        data-testid="leavers"
        [ngClass]="{
          'govuk-summary-list__row--no-bottom-border':
            showWdfConfirmations.leavers || workplace.wdf?.leavers?.isEligible === Eligibility.NO,
        }"
      >
        <dt class="govuk-summary-list__key">Leavers in the last 12 months</dt>
        <dd class="govuk-summary-list__value">
          <ng-container
            [ngTemplateOutlet]="summaryRecordValueForSLV"
            [ngTemplateOutletContext]="{ slvValue: workplace.leavers }"
          />
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' leavers'"
              [link]="['/workplace', workplace.uid, 'update-leavers']"
              [hasData]="workplace.leavers?.length"
              (setReturnClicked)="this.clearPreviouslySelectedJobRolesAndSetReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>
      @if (showWdfConfirmations.leavers) {
        <app-wdf-field-confirmation
          [staffRecordView]="true"
          [changeLink]="getRoutePath('update-leavers', wdfView)"
          (fieldConfirmation)="this.confirmField('leavers')"
          (setReturnClicked)="this.clearPreviouslySelectedJobRolesAndSetReturn()"
        >
        </app-wdf-field-confirmation>
      }
      @if (workplace.wdf?.leavers?.isEligible === Eligibility.NO) {
        <app-wdf-warning-message
          [overallWdfEligibility]="overallWdfEligibility"
          data-testid="leaversWdfWarning"
        ></app-wdf-warning-message>
      }
    </ng-container>
    <ng-container>
      <div class="govuk-summary-list__row" data-testid="pay-and-benefits-section">
        <dt class="govuk-summary-list__key">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5 govuk__nowrap">Pay and benefits</h2>
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      @if (workplace?.mainService?.payAndPensionsGroup === 1) {
        <div class="govuk-summary-list__row" data-testid="care-and-support-worker-travel-time-pay">
          <dt class="govuk-summary-list__key">Care and support worker travel time pay</dt>
          <dd class="govuk-summary-list__value">
            <app-summary-record-value>
              @if (workplace?.travelTimePay) {
                @if (workplace?.travelTimePay?.includeRate && workplace?.travelTimePay?.rate) {
                  {{ `${workplace.travelTimePay.label}, £${workplace.travelTimePay?.rate}` }}
                } @else {
                  {{ workplace.travelTimePay.label }}
                }
              } @else {
                -
              }
            </app-summary-record-value>
          </dd>
          @if (canEditEstablishment) {
            <dd class="govuk-summary-list__actions">
              <app-summary-record-change
                [explanationText]="' care and support worker travel time pay'"
                [link]="'care-and-support-worker-travel-time-pay' | workplaceSummaryPath: workplace.uid"
                [hasData]="workplace.travelTimePay"
                (setReturnClicked)="this.setReturn()"
              ></app-summary-record-change>
            </dd>
          }
        </div>
      }

      <div class="govuk-summary-list__row" data-testid="offer-more-than-statutory-sick-pay">
        <dt class="govuk-summary-list__key">Offer more than Statutory Sick Pay</dt>
        <dd class="govuk-summary-list__value">
          {{ workplace.sickPay ?? '-' }}
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' statutory sick pay'"
              [link]="['/workplace', workplace.uid, 'benefits-statutory-sick-pay']"
              [hasData]="workplace.sickPay"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>

      <div class="govuk-summary-list__row" data-testid="higher-pension-contributions">
        <dt class="govuk-summary-list__key">Higher pension contributions</dt>
        <dd class="govuk-summary-list__value">
          @if (workplace.pensionContribution) {
            @if (workplace.pensionContribution === 'Yes' && workplace.pensionContributionPercentage) {
              {{ `${workplace.pensionContribution}, ${workplace.pensionContributionPercentage}%` }}
            } @else {
              {{ workplace.pensionContribution }}
            }
          } @else {
            -
          }
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' pension'"
              [link]="['/workplace', workplace.uid, 'pensions']"
              [hasData]="workplace.pensionContribution"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>

      <div class="govuk-summary-list__row" data-testid="staff-opt-out-of-workplace-pension">
        <dt class="govuk-summary-list__key">Staff opted out of workplace pension</dt>
        <dd class="govuk-summary-list__value">
          {{ workplace.staffOptOutOfWorkplacePension | closedEndedAnswer }}
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' staff opted out of workplace pension'"
              [link]="['/workplace', workplace.uid, 'staff-opt-out-of-workplace-pension']"
              [hasData]="workplace.staffOptOutOfWorkplacePension"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>

      <div class="govuk-summary-list__row" data-testid="number-of-days-leave">
        <dt class="govuk-summary-list__key">Number of days leave</dt>
        <dd class="govuk-summary-list__value">
          {{ workplace.careWorkersLeaveDaysPerYear ?? '-' }}
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' holiday leave'"
              [link]="['/workplace', workplace.uid, 'staff-benefit-holiday-leave']"
              [hasData]="workplace.careWorkersLeaveDaysPerYear"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>

      <div class="govuk-summary-list__row" data-testid="cash-loyalty-bonus-spend">
        <dt class="govuk-summary-list__key">Cash loyalty bonus</dt>
        <dd class="govuk-summary-list__value">
          @if (!workplace.careWorkersCashLoyaltyForFirstTwoYears) {
            -
          } @else {
            @if (
              workplace.careWorkersCashLoyaltyForFirstTwoYears === 'No' ||
              workplace.careWorkersCashLoyaltyForFirstTwoYears === "Don't know" ||
              workplace.careWorkersCashLoyaltyForFirstTwoYears === 'Yes'
            ) {
              {{ workplace.careWorkersCashLoyaltyForFirstTwoYears }}
            } @else {
              £{{ this.formatMonetaryValue(workplace.careWorkersCashLoyaltyForFirstTwoYears) }}
            }
          }
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' loyalty bonus'"
              [link]="['/workplace', workplace.uid, 'cash-loyalty']"
              [hasData]="workplace.careWorkersCashLoyaltyForFirstTwoYears"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>
    </ng-container>

    <ng-container>
      <div class="govuk-summary-list__row" data-testid="staff-development-section">
        <dt class="govuk-summary-list__key">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5 govuk__nowrap">Staff development</h2>
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row" data-testid="repeat-training">
        <dt class="govuk-summary-list__key">Repeat training</dt>
        <dd class="govuk-summary-list__value">
          {{ workplace?.doNewStartersRepeatMandatoryTrainingFromPreviousEmployment ?? '-' }}
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' repeat training'"
              [link]="['/workplace', workplace.uid, 'staff-recruitment-capture-training-requirement']"
              [hasData]="workplace.doNewStartersRepeatMandatoryTrainingFromPreviousEmployment"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>

      <div class="govuk-summary-list__row" data-testid="accept-care-certificate">
        <dt class="govuk-summary-list__key">Accept Care Certificate</dt>
        <dd class="govuk-summary-list__value">
          {{ workplace?.wouldYouAcceptCareCertificatesFromPreviousEmployment ?? '-' }}
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' accept care certificate'"
              [link]="['/workplace', workplace.uid, 'accept-previous-care-certificate']"
              [hasData]="workplace.wouldYouAcceptCareCertificatesFromPreviousEmployment"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>

      <div class="govuk-summary-list__row" data-testid="care-workforce-pathway-awareness">
        <dt class="govuk-summary-list__key">Care workforce pathway aware</dt>
        <dd class="govuk-summary-list__value">
          {{ workplace.careWorkforcePathwayWorkplaceAwareness | formatCWPWorkplaceAwareness }}
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' care workforce pathway aware'"
              [link]="['/workplace', workplace.uid, 'care-workforce-pathway-awareness']"
              [hasData]="workplace.careWorkforcePathwayWorkplaceAwareness"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>

      @if (isAwareOfCareWorkforcePathway) {
        <div class="govuk-summary-list__row" data-testid="care-workforce-pathway-use">
          <dt class="govuk-summary-list__key">Using the care workforce pathway</dt>
          <dd class="govuk-summary-list__value">
            @if (!isArray(workplace.careWorkforcePathwayUse | formatCWPUse)) {
              {{ workplace.careWorkforcePathwayUse | formatCWPUse }}
            } @else {
              <ul class="govuk-list govuk-!-margin-bottom-0">
                @for (reason of workplace.careWorkforcePathwayUse | formatCWPUse; track reason) {
                  <li>{{ reason }}</li>
                }
              </ul>
            }
          </dd>
          @if (canEditEstablishment) {
            <dd class="govuk-summary-list__actions">
              <app-summary-record-change
                [explanationText]="' care workforce pathway use'"
                [link]="['/workplace', workplace.uid, 'care-workforce-pathway-use']"
                [hasData]="workplace.careWorkforcePathwayUse"
                (setReturnClicked)="this.setReturn()"
              ></app-summary-record-change>
            </dd>
          }
        </div>
      }
    </ng-container>

    <ng-container>
      <div class="govuk-summary-list__row" data-testid="permissions-section">
        <dt class="govuk-summary-list__key">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5">Permissions</h2>
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row" data-testid="data-sharing">
        <dt class="govuk-summary-list__key">Data sharing</dt>
        <dd class="govuk-summary-list__value">
          @if (!workplace.shareWith?.cqc && !workplace.shareWith?.localAuthorities) {
            @if (workplace.shareWith?.cqc === false || workplace.shareWith?.localAuthorities === false) {
              Not sharing
            } @else {
              -
            }
          } @else {
            @if (workplace.shareWith?.cqc) {
              <p>Care Quality Commission (CQC)</p>
            }
            @if (workplace.shareWith?.localAuthorities) {
              <p>Local authorities</p>
            }
          }
        </dd>
        @if (canEditEstablishment) {
          <dd class="govuk-summary-list__actions">
            <app-summary-record-change
              [explanationText]="' data sharing'"
              [link]="['/workplace', workplace.uid, 'sharing-data']"
              [hasData]="workplace.shareWith?.cqc !== null || workplace.shareWith?.localAuthorities !== null"
              (setReturnClicked)="this.setReturn()"
            ></app-summary-record-change>
          </dd>
        }
      </div>
    </ng-container>
  </dl>
}

<!-- reuse for vacancy / leaver / starter  -->
<ng-template #summaryRecordValueForSLV let-slvValue="slvValue">
  <app-summary-record-value>
    @if (isArray(slvValue) && slvValue?.length) {
      <ul class="govuk-list govuk-!-margin-bottom-0">
        @for (job of slvValue; track job) {
          <li>{{ job | formatSLV }}</li>
        }
      </ul>
    } @else {
      {{ slvValue | closedEndedAnswer }}
    }
  </app-summary-record-value>
</ng-template>
