<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Home</h2>
    <p *ngIf="updateWorkplace || updateStaffRecords">What you need to do first.</p>
    <app-inset-text *ngIf="updateWorkplace" [color]="'todo'">
      You need to provide information on your workplace.<br />
      <a [routerLink]="['/workplace', establishmentId, 'start']">Add workplace information</a>
    </app-inset-text>

    <app-inset-text *ngIf="updateStaffRecords" [color]="'todo'">
      You need to provide information on all your staff.<br />
      <a routerLink="/worker/basic-records-start-screen">Add staff records</a>
    </app-inset-text>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Notifications</h3>
    <p>You have no new notifications</p>
    <h3 class="govuk-heading-s govuk-!-margin-top-6">Other things you can do</h3>
    <ul class="govuk-list">
      <li *ngIf="role === editRole"><a [routerLink]="['/bulk-upload']">Bulk upload</a></li>
      <li *ngIf="isParent"><a [routerLink]="['/workplace/view-my-workplaces']">View my workplaces</a></li>
      <li><a [routerLink]="['/reports']">View reports</a></li>
      <!--
        TODO uncomment once relevant sections have been developed
        <li><a [routerLink]="['/reports']">View reports</a></li>
        <li><a [routerLink]="['/']">Request to become a parent</a></li>
        <li><a [routerLink]="['/']">Link to parent</a></li>
      -->
    </ul>
  </div>
</div>
