<div class="row">
  <div class="col-md-8">
    <h3 class="fs-24 mb-4 text-weight-bold">Home</h3>
  </div>
  <div class="col-md-4">
    <h3 class="fs-24 mb-4 text-weight-bold"><a class="fs-24 link-nounderline" routerLink="/notifications">Notifications</a></h3>
    <p class="notification-panel mb-4">You have no new notifications</p>
    <h3 class="fs-19 mb-4 pt-4 text-weight-bold">Other things you can do</h3>
    <ul>
      <li><a class="link-nounderline" routerLink="/reports">View reports</a></li>
      <li><a class="link-nounderline" routerLink="/bulk-upload">Bulk upload</a></li>
      <li><a class="link-nounderline" routerLink="/">Request to become a parent</a></li>
      <li><a class="link-nounderline" routerLink="/">Link to parent</a></li>
    </ul>
  </div>
</div>
