<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Home</h2>
    <ng-container *ngIf="workplace && canEditEstablishment">
      <p *ngIf="!workplace.employerType || updateStaffRecords">What you need to do first.</p>
      <app-inset-text *ngIf="!workplace.employerType || updateStaffRecords" [color]="'todo'">
        <a *ngIf="!workplace?.employerType" [routerLink]="['/workplace', workplace?.uid, 'start']"
          >Add workplace information</a
        >
        <br /><a
          *ngIf="updateStaffRecords"
          [routerLink]="['/workplace', workplace.uid, 'staff-record', 'basic-records-start-screen']"
        >
          Add staff records
        </a>
      </app-inset-text>
    </ng-container>
    <div *ngIf="workplace">
      <div *ngIf="canAddWorker">
        <h2>
          <a href="#" (click)="selectStaffTab($event)">
            Add a staff record
          </a>
        </h2>
        <p class="govuk-util__align-justify">
          Create staff records for your workplace by providing current work information, personal details, employment
          and qualifications and training information.
        </p>
      </div>
      <div *ngIf="canViewReports">
        <h2>
          <a [routerLink]="['/reports']">
            View reports
          </a>
        </h2>
        <p class="govuk-util__align-justify">
          View your Workplace Development Fund report to check whether you’re eligible to claim funding towards training
          and qualifications.
        </p>
      </div>
      <div *ngIf="canBulkUpload">
        <h2>
          <a [routerLink]="['/bulk-upload']" (click)="setReturn()">
            Bulk upload
          </a>
        </h2>
        <p class="govuk-util__align-justify">
          Bulk upload is used to edit large quantities of staff, workplace and training information.
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <ng-container
      *ngIf="
        canViewWorkplaces ||
        canViewChangeDataOwner ||
        canViewDataPermissionsLink ||
        canLinkToParent ||
        canRemoveParentAssociation
      "
    >
      <h3 class="govuk-heading-s govuk-!-margin-top-1">Related content</h3>
      <ul *ngIf="workplace" class="govuk-list">
        <li *ngIf="canViewWorkplaces">
          <a [routerLink]="['/workplace', 'view-all-workplaces']">View all workplaces</a>
        </li>
        <li *ngIf="canViewChangeDataOwner">
          <ng-container *ngIf="isOwnershipRequested; else changeDataOwner">
            <a (click)="cancelChangeDataOwnerRequest($event)" href="#">Data request pending</a>
          </ng-container>
          <ng-template #changeDataOwner>
            <a (click)="onChangeDataOwner($event)" href="#">Change data owner</a>
          </ng-template>
        </li>
        <li *ngIf="canViewDataPermissionsLink">
          <a (click)="setDataPermissions($event)" href="#">Data permissions</a>
        </li>
        <li *ngIf="canLinkToParent">
          <ng-container *ngIf="linkToParentRequestedStatus; else requestLinkToParent">
            <a (click)="cancelLinkToParent($event)" href="#">Link to my parent organisation pending</a>
          </ng-container>
          <ng-template #requestLinkToParent>
            <a (click)="linkToParent($event)" href="#">Link to my parent organisation</a>
          </ng-template>
        </li>
        <li *ngIf="canRemoveParentAssociation">
          <a (click)="removeLinkToParent($event)" href="#">Remove link to my parent organisation</a>
        </li>
      </ul>
    </ng-container>
    <ul *ngIf="[adminRole].includes(user.role)" class="govuk-list">
      <li><a [routerLink]="['/search-users']">Search Users</a></li>
      <li><a [routerLink]="['/search-establishments']">Search Establishments</a></li>
      <li><a [routerLink]="['/registrations']">Registrations</a></li>
    </ul>
  </div>
</div>
