<div class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">You're about to delete {{ user.fullname }} as a user</h1>
    <p>If you do this they will not be able to sign in anymore.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <button type="button" class="govuk-button govuk-button--warning" (click)="onDeleteUser()">Delete this user</button>
  </div>
  <div class="govuk-grid-column-one-third">
    <a class="govuk-button govuk-button--link" [routerLink]="[flow]">Cancel</a>
  </div>
</div>
