<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Staff name</th>
      <th class="govuk-table__header" scope="col">Records</th>
      <th class="govuk-table__header" scope="col">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor="let worker of workers">
      <td class="govuk-table__cell govuk-!-font-weight-regular">
        <ng-container *ngIf="canViewWorker; else nameOrId">
          <a [routerLink]="getWorkerRecordPath(worker)">
            {{ worker.nameOrId }}
          </a>
        </ng-container>
        <ng-template #nameOrId>
          {{ worker.nameOrId }}
        </ng-template>
      </td>
      <td class="govuk-table__cell">{{ worker.trainingCount + worker.qualificationCount }}</td>
      <td class="govuk-table__cell">
        <div class="govuk-table__cell--red-alert" *ngIf="worker.expiredTrainingCount > 0">
          {{ worker.expiredTrainingCount }} Expired
        </div>
        <div class="govuk-table__cell--alert" *ngIf="worker.expiringTrainingCount > 0">
          {{ worker.expiringTrainingCount }} Expires soon
        </div>
        <div *ngIf="worker.expiredTrainingCount === 0 && worker.expiringTrainingCount === 0">Up-to-date</div>
      </td>
    </tr>
  </tbody>
</table>
