<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" data-cy="cqc-heading">
          <span class="govuk-caption-l">Workplace</span>
          <h1 class="govuk-fieldset__heading">{{ title }} regulated by the Care Quality Commission?</h1>
        </legend>
        <app-details [title]="'Not sure if your main service is regulated?'">
          <p>
            Call the ASC-WDS Support Team on <strong>0113 241 0969</strong> <br />
            or email <strong>ascwds-support@skillsforcare.org.uk</strong> for help.
          </p>
        </app-details>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid" data-cy="cqc-error">
          <span *ngIf="submitted" id="regulated-error" class="govuk-error-message">
            <span *ngIf="this.form.get('regulatedByCQC').errors" data-testid="errorMessage" id="regulatedByCQC-error">{{
              getErrorMessage('regulatedByCQC')
            }}</span>
          </span>
          <div class="govuk-radios govuk-radios--conditional">
            <div class="govuk-radios__item">
              <input
                aria-controls="regulatedByCQC-conditional-1"
                class="govuk-radios__input"
                id="regulatedByCQC-1"
                name="regulatedByCQC"
                type="radio"
                value="yes"
                [formControlName]="'regulatedByCQC'"
              />
              <label class="govuk-label govuk-radios__label" for="regulatedByCQC-1"> Yes </label>
            </div>
            <div class="govuk-radios__item">
              <input
                aria-controls="regulatedByCQC-conditional-2"
                class="govuk-radios__input"
                id="regulatedByCQC-2"
                name="regulatedByCQC"
                type="radio"
                value="no"
                [formControlName]="'regulatedByCQC'"
              />
              <label class="govuk-label govuk-radios__label" for="regulatedByCQC-2"> No </label>
            </div>
          </div>
        </div>
      </fieldset>

      <button data-testid="continueButton" class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
    </form>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="insideFlow">
    <div class="govuk-!-margin-left-8">
      <app-progress-bar
        data-testid="progress-bar-1"
        [header]="'Workplace'"
        [sections]="workplaceSections"
        [currentSection]="'CQC regulated'"
      ></app-progress-bar>
      <app-progress-bar
        *ngIf="this.flow.includes('registration')"
        data-testid="progress-bar-2"
        [header]="'User account'"
        [sections]="userAccountSections"
        [currentSection]="'CQC regulated'"
      ></app-progress-bar>
    </div>
  </div>
</div>
