<div class="govuk-grid-column-full">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Search by employer type. You can also choose to only search for parents.</p>
      <div *ngIf="submitted && !results.length" data-testid="no-search-results">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Information</span>
            Your search returned no results. Please refine your search criteria.
          </strong>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="govuk-form-group">
          <label class="govuk-label" for="employerType"> Employer Type </label>
          <select class="govuk-select" id="employerType" name="employerType" [formControlName]="'employerType'">
            <option value="All">All</option>
            <option value="Local Authority (adult services)">Local Authority (adult services)</option>
            <option value="Local Authority (generic/other)">Local Authority (generic/other)</option>
            <option value="Private Sector">Private Sector</option>
            <option value="Voluntary / Charity">Voluntary / Charity</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                id="onlyParents"
                name="onlyParents"
                class="govuk-checkboxes__input"
                type="checkbox"
                value="true"
                [formControlName]="'onlyParents'"
              />
              <label class="govuk-label govuk-checkboxes__label" for="onlyParents"> Only search for parents </label>
            </div>
          </div>
        </div>
        <button type="submit" class="govuk-button" data-testid="searchButton">Search</button>
      </form>
    </div>
  </div>
</div>
