<ng-container *ngIf="!isParent; else parent">
  <h4 class="govuk-heading-s govuk-!-margin-bottom-8">
    <ng-container *ngIf="!wdfEligibilityStatus.overall">
      Your data does not meet the WDF {{ wdfStartDate | date: 'yyyy' }} to {{ wdfEndDate | date: 'yyyy' }} requirements
    </ng-container>
    <ng-container
      *ngIf="
        wdfEligibilityStatus.overall && !(wdfEligibilityStatus.currentWorkplace && wdfEligibilityStatus.currentStaff)
      "
    >
      Keeping your data up to date will save you time next year
    </ng-container>
    <ng-container
      *ngIf="wdfEligibilityStatus.overall && wdfEligibilityStatus.currentWorkplace && wdfEligibilityStatus.currentStaff"
    >
      Your data meets the WDF {{ wdfStartDate | date: 'yyyy' }} to {{ wdfEndDate | date: 'yyyy' }} requirements
    </ng-container>
  </h4>
</ng-container>

<ng-template #parent>
  <h4 class="govuk-heading-s">
    All your workplaces' data meets the WDF {{ wdfStartDate | date: 'yyyy' }} to
    {{ wdfEndDate | date: 'yyyy' }} requirements
  </h4>
</ng-template>
