<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Terms and conditions</h1>

    <h2 class="govuk-heading-m">Using the Adult Social Care Workforce Data Set</h2>
    <p>
      By completing the Adult Social Care Workforce Data Set (&quot;ASC-WDS&quot;) your establishment (the
      &quot;Employer&quot;, &quot;you&quot;) agrees to the information provided being held and used by Skills for Care
      (&quot;SfC&quot;, &quot;we&quot;, &quot;our&quot;) for reporting on the adult social care workforce in England, in
      order to provide accurate information regarding skills, employment and workforce demographics. This is to reduce
      the number of vacancies and to encourage new entrants; improve recruitment and retention; increase the numbers of
      staff with relevant qualifications and skills and to modernise the workforce.
    </p>

    <ol class="govuk-list govuk-list--counters">
      <li class="govuk-list--counters-heading">
        <h2 class="govuk-heading-m govuk-util__inline-block">Storing data</h2>
        <ol class="govuk-list govuk-list--counters govuk-!-margin-top-0">
          <li>
            For the purposes of this clause 1, &quot;Data Protection Legislation&quot; shall mean (i) the General Data
            Protection Regulation ((EU) 2016/679) (&quot;GDPR&quot;) unless and until the GDPR is no longer directly
            applicable in the UK, together with any national implementing laws, regulations and secondary legislation as
            amended or updated from time to time in the UK, including the Data Protection Act 2018 (&quot;DPA&quot;);
            (ii) any successor legislation to the GDPR and the DPA; and (iii) any other directly applicable EU
            regulation relating to data protection and privacy.
          </li>
          <li>
            This clause 1 is in addition to and does not replace a party’s obligations under the Data Protection
            Legislation. The terms &quot;controller&quot;, &quot;data subject&quot;, &quot;personal data&quot;,
            &quot;personal data breach&quot;, &quot;process&quot;, &quot;processed&quot;, &quot;processing&quot; and
            &quot;processor&quot; have the meanings prescribed to them in the Data Protection Legislation. This clause 1
            is also in addition to SfC’s Information Governance Policy, a copy of which can be found [INSERT LINK].
          </li>
          <li>
            Under the Data Protection Legislation, the Employer and SfC each collect and process personal data in their
            capacity as controllers in common in respect of the processing of personal data in connection with these
            terms and conditions and each party uses the personal data in their own capacity to fulfil its own purposes.
            This relationship is further detailed in SfC’s Information Governance Policy.
          </li>
          <li>
            In respect of personal data, each party agrees to:
            <ol class="govuk-list govuk-list--counters">
              <li>
                comply with the Data Protection Legislation and shall not by its act or omission cause the other party
                to breach the Data Protection Legislation;
              </li>
              <li>
                (in its respective capacity as controller) use all reasonable endeavours to agree with the other party
                all matters pertaining to any requirement for instructions to be provided to a processor who processes
                the personal data;
              </li>
              <li>
                generally co-operate in good faith and with all appropriate due diligence to resolve any issue or
                dispute arising in respect of the personal data, so as to protect the rights of data subjects in
                accordance with the Data Protection Legislation.
              </li>
            </ol>
          </li>
          <li>
            Without prejudice to the general obligations at clause 1.4 above:
            <ol class="govuk-list govuk-list--counters">
              <li>
                each party shall, having regard to the state of technological development, take all appropriate
                technical, security and organisational measures necessary or desirable to ensure that personal data is
                protected against loss, destruction and damage, and against unauthorised access, use removal, copying,
                modification, disclosure or other misuse in accordance with SfC’s Information Governance Policy;
              </li>
              <li>
                each party shall maintain a record of all categories of processing undertaken by the parties in
                accordance with these terms and conditions and a record of any personal data breach;
              </li>
              <li>
                where a data subject makes a written request to either party for access to any personal data, it is
                acknowledged that the Employer will be responsible for responding to any such request. SfC will notify
                the Employer as soon as reasonably possible following a request if it receives one directly to ensure
                the request is addressed in accordance with the Employer’s obligations under the Data Protection
                Legislation; and
              </li>
              <li>
                not process the personal data in a way as to cause the other party to breach any of its obligations
                under the Data Protection Legislation.
              </li>
            </ol>
          </li>
          <li>
            If there is a personal data breach or any action that causes or could reasonably be deemed to cause a
            personal data breach, to the extent that such personal data breach is likely to impact the personal data
            processed by the other party, that party shall, at the earliest opportunity, notify the other party of the
            personal data breach and shall liaise and collaborate in order to meet their legal obligations to report a
            personal data breach in accordance with the Data Protection Legislation.
          </li>
          <li>
            Prior to submitting any personal data relating to any worker or any other person, the Employer shall provide
            such individual with the latest version of SfC’s privacy notice for workers as amended from time to time.
            SfC’s privacy notice for workers can be found in our
            <a [routerLink]="['/privacy-notice']">privacy notice</a>. For the avoidance of doubt, the provision of SfC’s
            privacy notice for workers does not mean the Employer should not provide its own privacy notice to any
            individual in respect of collection of data for the Employer’s own purposes.
          </li>
          <li>
            Where the Employer transfers personal data to SfC, the Employer is responsible for ensuring that it has an
            appropriate ground for processing and transferring the personal data, including if relevant, freely given
            and appropriate consents in accordance with the Data Protection Legislation have been obtained from the
            individuals for their personal data to be shared with SfC.
          </li>
        </ol>
      </li>
    </ol>

    <h2 class="govuk-heading-m">Disclaimer</h2>
    <p>
      We accept no responsibility for the quality or integrity of data regarding your establishment held within the
      service. Responsibility lies solely with the Employer. However, as part of our data quality assurance programme we
      may identify that the Care Quality Commission (&quot;CQC&quot;) details entered into this service are no longer
      correct. These details could be the CQC location ID or your main service does not match to that held on CQC.
    </p>
    <p>
      We will correct any incorrect CQC numbers and/or main service descriptions where we know them to be incorrect.
      This is to carry out our duty to ensure that information held is accurate given that we transfer data to CQC on
      your behalf (with your permission).
    </p>

    <h2 class="govuk-heading-m">Cookies</h2>
    <p>
      To ensure a secured login and to meet web content accessibility guidelines the service uses two
      &apos;cookies&apos; (a small piece of information, normally consisting of just letters and numbers that is sent to
      your computer and stored on its hard drive). You can read more about how we use cookies, and how to change your
      cookie preferences, in our <a [routerLink]="['/cookie-policy']">cookie policy</a>.
    </p>
    <p>These cookies cannot be used to identify you personally.</p>

    <h2 class="govuk-heading-m">Privacy</h2>
    <p>
      Login credentials (username and password) are assigned to each user and are therefore the responsibility of the
      individual. By accepting these terms and conditions you agree to manage your login details securely and not to
      share your login details with others. We reserve the right to withdraw login details from any user who engages in
      unauthorised sharing of login details or personal data, personal sensitive data or commercially sensitive
      information held within the service. SfC’s Information Governance Policy applies to these terms and conditions.
    </p>
  </div>
</div>
