<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p>
      <ng-container *ngIf="canViewEstablishment; else noPermission">
        <a href="#" class="govuk-link" (click)="setEmployerType($event)">
          {{ workplace.name }}
        </a>
      </ng-container>
      <ng-template #noPermission>
        {{ workplace.name }}
      </ng-template>
    </p>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>{{ workplace.mainService }}</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-text-align-right">
        <ng-container *ngIf="workplace.showFlag">
          <span class="govuk-util__float-right">
            <img
              src="/assets/images/flag-red.svg"
              alt="action-required-red-flag"
              class="govuk-!-margin-right-2"
              data-testid="red-flag"
            />
            <a
              *ngIf="!(workplace.dataPermissions === 'None' && workplace.dataOwner === 'Workplace'); else linkedOnly"
              href="#"
              (click)="setEmployerType($event)"
              class="govuk-util__float-right"
              >Check this workplace</a
            >
            <ng-template #linkedOnly>
              <p class="govuk-util__float-right">Check this workplace</p>
            </ng-template>
          </span>
        </ng-container>
        <ng-container *ngIf="isAdminUser() && isLoggedIn()">
          <span class="govuk-util__float-right">
            <a (click)="moveWorkplaceAdmin($event)" href="#">Move workplace</a>
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-1">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-!-margin-bottom-1"><strong>Last update</strong></p>
    <p class="govuk-!-margin-bottom-0">{{ workplace.updated | date: 'd MMMM y' }}</p>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter" style="width: 20%" [attr.data-cy]="workplace.name + '-data-owner'">
        <p class="govuk-!-margin-bottom-1"><strong>Data owner</strong></p>
        <p class="govuk-!-margin-bottom-0">{{ workplace.dataOwner }}</p>
      </div>

      <div class="govuk-grid-column-one-half" style="width: 45%" [attr.data-cy]="workplace.name + '-data-permission'">
        <p class="govuk-!-margin-bottom-1">
          <strong>{{ workplace.dataOwner | workplacePermissionsBearer }} view only permissions</strong>
        </p>
        <p class="govuk-!-margin-bottom-0">{{ workplace.dataPermissions | dataViewPermissions }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-text-align-right govuk-!-padding-top-6" style="width: 35%">
        <ng-container *ngIf="canChangePermissionsForSubsidiary">
          <ng-container *ngIf="workplace.dataOwnershipRequested; else dataPermissions">
            <a (click)="cancelChangeDataOwnerRequest($event)" href="#" class="govuk-link">Data request pending</a>
          </ng-container>
          <ng-template #dataPermissions>
            <ng-container *ngIf="workplace.dataOwner === dataOwner.Parent; else workplaceIsDataOwner">
              <ng-container *ngIf="primaryWorkplace.isParent; else notParent">
                <a (click)="navigateToChangeDataPermissions($event)" href="#" class="govuk-link"
                  >Change data permissions</a
                >
              </ng-container>
              <ng-template #notParent>
                <a (click)="onChangeDataOwner($event)" href="#" class="govuk-link">Change data owner</a>
              </ng-template>
            </ng-container>
            <ng-template #workplaceIsDataOwner>
              <ng-container *ngIf="primaryWorkplace.isParent; else notParent">
                <a (click)="navigateToChangeDataOwner($event)" href="#" class="govuk-link">Change data owner</a>
              </ng-container>
              <ng-template #notParent>
                <a href="#" class="govuk-link">Data permissions</a>
              </ng-template>
            </ng-template>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>
