.first-column {
  box-sizing: border-box;
  float: left;
  padding: 0 0 0 15px;
  width: 26.36%;
}

.data-column-container {
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 15px 0 0;
  width: 73.64%;
}

.data-owner-column {
  box-sizing: border-box;
  float: left;
  min-width: 133px;
  padding: 0 15px 0 0;
}

.permissions-column {
  box-sizing: border-box;
  float: left;
  min-width: 353px;
  padding: 0 15px;
}

.change-data-permissions-column {
  box-sizing: border-box;
  float: left;
  min-width: 245px;
  padding: 0 0 0 15px;
}
