<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p>
      @if (canViewEstablishment) {
        <a href="#" class="govuk-link" (click)="visitSubWorkplaceOrsetEmployerType($event)">
          {{ workplace.name }}
        </a>
      } @else {
        {{ workplace.name }}
      }
    </p>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>{{ workplace.mainService }}</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-text-align-right">
        @if (workplace.showFlag) {
          <span class="govuk-util__float-right">
            <img
              src="/assets/images/flag-red.svg"
              alt="action-required-red-flag"
              class="govuk-!-margin-right-2"
              data-testid="red-flag"
            />
            @if (!(workplace.dataPermissions === 'None' && workplace.dataOwner === 'Workplace')) {
              <a href="#" (click)="visitSubWorkplaceOrsetEmployerType($event)" class="govuk-util__float-right"
                >Check this workplace</a
              >
            } @else {
              <p class="govuk-util__float-right">Check this workplace</p>
            }
          </span>
        }
        @if (isAdminUser() && isLoggedIn()) {
          <span class="govuk-util__float-right">
            <a (click)="moveWorkplaceAdmin($event)" href="#">Move workplace</a>
          </span>
        }
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-1">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-!-margin-bottom-1"><strong>Last update</strong></p>
    <p class="govuk-!-margin-bottom-0">{{ workplace.updated | date: 'd MMMM y' }}</p>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter" style="width: 20%" [attr.data-cy]="workplace.name + '-data-owner'">
        <p class="govuk-!-margin-bottom-1"><strong>Data owner</strong></p>
        <p class="govuk-!-margin-bottom-0">{{ workplace.dataOwner }}</p>
      </div>

      <div class="govuk-grid-column-one-half" style="width: 45%" [attr.data-cy]="workplace.name + '-data-permission'">
        <p class="govuk-!-margin-bottom-1">
          <strong>{{ workplace.dataOwner | workplacePermissionsBearer }} view only permissions</strong>
        </p>
        <p class="govuk-!-margin-bottom-0">{{ workplace.dataPermissions | dataViewPermissions }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-text-align-right govuk-!-padding-top-6" style="width: 35%">
        @if (canChangePermissionsForSubsidiary && canEditParentEstablishment) {
          @if (workplace.dataOwnershipRequested) {
            <a (click)="cancelChangeDataOwnerRequest($event)" href="#" class="govuk-link">Data request pending</a>
          } @else {
            @if (workplace.dataOwner === dataOwner.Parent) {
              @if (primaryWorkplace.isParent) {
                <a
                  (click)="navigateToChangeDataPermissions($event)"
                  href="#"
                  class="govuk-link"
                  [attr.data-cy]="workplace.name + '-change-data-permission'"
                  >Change data permissions</a
                >
              } @else {
                <a (click)="onChangeDataOwner($event)" href="#" class="govuk-link">Change data owner</a>
              }
            } @else {
              @if (primaryWorkplace.isParent) {
                <a (click)="navigateToChangeDataOwner($event)" href="#" class="govuk-link">Change data owner</a>
              } @else {
                <a href="#" class="govuk-link">Data permissions</a>
              }
            }
          }
        }
      </div>
    </div>
  </div>
</div>
