<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group govuk-!-margin-bottom-4">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Employment details</span>
            <h1 class="govuk-fieldset__heading">Select where they were recruited from</h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <ng-container *ngFor="let recruitment of availableRecruitments; let idx = index">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  [formControlName]="'recruitedFromId'"
                  id="recruitedFromId-{{ idx }}"
                  name="recruitedFromId"
                  type="radio"
                  [value]="recruitment.id"
                  aria-controls="recruitedFromId-{{ idx }}"
                />
                <label class="govuk-label govuk-radios__label" for="recruitedFromId-{{ idx }}">
                  {{ recruitment.from }}
                </label>
              </div>
            </ng-container>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" *ngIf="insideFlow">
      <div class="govuk-!-margin-left-8">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="staffRecordSections"
          [currentSection]="'Employment details'"
        ></app-progress-bar>
      </div>
    </div>
  </div>

  <app-submit-button [return]="!insideFlow" (clicked)="setSubmitAction($event)"></app-submit-button>
</form>
