<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Add your workplace information</h1>
    <p>
      To complete your workplace you need to give us some more information. This includes information about your new
      starters and staff who have left in the last 12 months. We would also like to know about your current vacancies.
    </p>

    <p>Once you have added it you can change this information at any time from the workplace tab.</p>
    <a
      [routerLink]="['/workplace', establishment.uid, 'type-of-employer']"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start"
    >
      Start now
    </a>
  </div>
</div>
