<h2 class="govuk-heading-m">{{ basicTitle }}</h2>
<dl class="govuk-summary-list govuk-summary-list--no-border asc-summarylist-border-top asc-summarylist-border-bottom">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0">Name or ID number</dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-8">
      {{ worker.nameOrId }}
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        [explanationText]="' basic record details'"
        [link]="getRoutePath('staff-details')"
        [hasData]="true"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0">Main job role</dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-8">
      <app-summary-record-value
        [wdfView]="wdfView"
        [wdfValue]="worker.wdf?.mainJob"
        [overallWdfEligibility]="overallWdfEligibility"
      >
        <ng-container *ngIf="worker.mainJob.other; else title">
          <span>{{ worker.mainJob.other }}</span>
        </ng-container>
        <ng-template #title>
          <span>{{ worker.mainJob.title }}</span>
        </ng-template>
      </app-summary-record-value>
      <app-wdf-field-confirmation
        *ngIf="
          canEditWorker &&
          wdfView &&
          worker.wdf?.mainJob.isEligible === 'Yes' &&
          !worker.wdf?.mainJob.updatedSinceEffectiveDate
        "
        [changeLink]="getRoutePath('staff-details')"
        (fieldConfirmation)="this.confirmField('mainJob')"
        [workerUid]="worker.uid"
      ></app-wdf-field-confirmation>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        *ngIf="wdfView && !(worker.wdf?.mainJob.isEligible === 'Yes' && !worker.wdf?.mainJob.updatedSinceEffectiveDate)"
        [explanationText]="' basic record details'"
        [link]="getRoutePath('mandatory-details/staff-details')"
        [hasData]="true"
      ></app-summary-record-change>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-padding-right-0">Contract type</dt>
    <dd class="govuk-summary-list__value govuk-!-padding-left-8">
      <app-summary-record-value
        [wdfView]="wdfView"
        [wdfValue]="worker.wdf?.contract"
        [overallWdfEligibility]="overallWdfEligibility"
      >
        {{ worker.contract }}
      </app-summary-record-value>
      <app-wdf-field-confirmation
        *ngIf="
          canEditWorker &&
          wdfView &&
          worker.wdf?.contract.isEligible === 'Yes' &&
          !worker.wdf?.contract.updatedSinceEffectiveDate
        "
        [changeLink]="getRoutePath('staff-details')"
        (fieldConfirmation)="this.confirmField('contract')"
        [workerUid]="worker.uid"
      ></app-wdf-field-confirmation>
    </dd>
    <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
      <app-summary-record-change
        *ngIf="
          wdfView && !(worker.wdf?.contract.isEligible === 'Yes' && !worker.wdf?.contract.updatedSinceEffectiveDate)
        "
        [explanationText]="' basic record details'"
        [link]="getRoutePath('staff-details')"
        [hasData]="true"
      ></app-summary-record-change>
    </dd>
  </div>
</dl>
