<h2 class="govuk-heading-m">Basic record</h2>
<dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--wrap-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name or ID number
    </dt>
    <dd class="govuk-summary-list__value">
      {{ worker.nameOrId }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a [routerLink]="['/worker', worker.uid, 'staff-details']" (click)="setReturn()">
        Change
        <span class="govuk-visually-hidden"> basic record details</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Main job role
    </dt>
    <dd *ngIf="wdfReportEnabled" class="govuk-summary-list__value">
      <ng-container *ngIf="worker.wdf.mainJob === 'No'">
        <app-eligibility-icon [eligible]="false"></app-eligibility-icon>
      </ng-container>
      <ng-container *ngIf="worker.wdf.mainJob != 'No'">
        <ng-container *ngIf="worker.mainJob.other; else title">
          <span>{{ worker.mainJob.other }}</span>
        </ng-container>
        <ng-template #title>
          <span>{{ worker.mainJob.title }}</span>
        </ng-template>
      </ng-container>
    </dd>

    <dd *ngIf="!wdfReportEnabled" class="govuk-summary-list__value">
      <ng-container *ngIf="worker.mainJob.other; else title">
        <span>{{ worker.mainJob.other }}</span>
      </ng-container>
      <ng-template #title>
        <span>{{ worker.mainJob.title }}</span>
      </ng-template>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract type
    </dt>
    <dd *ngIf="wdfReportEnabled" class="govuk-summary-list__value">
      <ng-container *ngIf="worker.wdf.contract === 'No'">
        <app-eligibility-icon [eligible]="false"></app-eligibility-icon>
      </ng-container>
      <ng-container *ngIf="worker.wdf.contract != 'No'"> {{ worker.contract }} </ng-container>
    </dd>

    <dd *ngIf="!wdfReportEnabled" class="govuk-summary-list__value">
      {{ worker.contract }}
    </dd>
  </div>
</dl>
