.second-grid-row{
  margin-top: -25px;
}

.training-course-name-key{
  padding-top: 15px;
}

.govuk-summary-list__value {
  padding-left: 87px;
}

.training-course-name-value{
  padding-right: 100px;
}

.different-training-course-link-and-arrow{
  margin-left: -150px;
}

.different-training-course-arrow{
  vertical-align: -7px;
  padding-right: 4px;
}

.course-completion-date-heading{
  margin-bottom: 10px;
  margin-top: -3px;
}

.course-completion-date-hint{
  margin-bottom: -10px;
}

.section-break{
  margin-top: -10px;
}

.continue-button{
  margin-right: 130px;
  margin-bottom: 80px;
}
