.second-grid-row{
  margin-top: -25px;
}

.govuk-summary-list__key {
  width: 38%
}

.govuk-summary-list__value {
  width: 25%
}

.govuk-summary-list__actions {
  width: 31%
}

.different-training-course-arrow{
  vertical-align: -7px;
  padding-right: 4px;
}

.course-completion-date-heading{
  margin-bottom: 10px;
  margin-top: -3px;
}

.course-completion-date-hint{
  margin-bottom: -10px;
}

.section-break{
  margin-top: -10px;
}

.continue-button{
  margin-right: 130px;
  margin-bottom: 80px;
}
