<div class="govuk-util__light-bg govuk-!-padding-bottom-4">
  @if (workplace) {
  <div class="govuk-width-container">
    <hr class="govuk-!-margin-top-0 divider" />
    <table class="govuk-!-padding-left-0 govuk-!-margin-left-0 govuk-!-margin-top-3">
      <tr class="govuk-body-s govuk-!-padding-left-0 govuk-!-margin-left-0">
        <td>
          {{ workplace.name }}
          <div>
            @if (workplace.address1) {
            <span> {{ workplace.address1 }}</span>
            } @if (workplace.address2) {
            <span>, {{ workplace.address2 }}</span>
            } @if (workplace.address3) {
            <span>, {{ workplace.address3 }}</span>
            } @if (workplace.town) {
            <span>, {{ workplace.town }}</span>
            }
          </div>
          <div>
            @if (workplace.county) {
            <span>{{ workplace.county }},</span>
            } @if (workplace.postcode) {
            <span> {{ workplace.postcode }}</span>
            }
          </div>
        </td>
        <td class="change-link govuk-!-font-size-19 govuk-!-margin-top-0 govuk-!-padding-top-0">
          @if (canEditEstablishment) {
          <app-summary-record-change
            [explanationText]="''"
            [link]="'update-workplace-details' | workplaceSummaryPath: workplace.uid"
            [hasData]="workplace.name"
            (setReturnClicked)="this.setReturn()"
          ></app-summary-record-change>
          }
        </td>
      </tr>
    </table>
  </div>
  }
</div>
