<div class="main-page-container col-12">

  <div class="completion-message col-12 col-md-7 mb-5">
    <h1 class="h1 fs-36 pb-5">Application complete</h1>

    <p class="main-body-text fs-36 text-weight-thin m-0 p-0" *ngIf="isRegulated">We've approved <br />your account</p>
    <p class="main-body-text fs-36 text-weight-thin m-0 p-0" *ngIf="!isRegulated">Your account is <br />waiting for approval</p>
  </div>

  <p class="main-body-text mb-5 d-block col-12 col-md-7 p-0" *ngIf="!isRegulated">We have sent you a confirmation email</p>

  <h2 class="fs-24 text-weight-bold mb-4">What happens next</h2>

  <p class="main-body-text mb-5 d-block col-12 col-md-7 p-0" *ngIf="isRegulated">
    <!--We have sent you a confirmation email, you are now ready to complete your workplace details and enter your staff data.<br />-->
    <br />
    You can return to the home page to sign in.
  </p>
  <p class="main-body-text mb-5 d-block col-12 col-md-7 p-0" *ngIf="!isRegulated">
    <!--We will review your application within 24 hours and get back to you with an
    email, or you may hear from us by phone.<br />-->
    <br />
    <a title="Contact us" routerLink="/contact-us" target="_blank">Contact us</a> if you have any questions about your application
  </p>


  <div class="btn-container">
    <button class="btn btn-primary" type="submit" routerLink="/" *ngIf="isRegulated">Continue to sign in</button>
    <button class="btn btn-primary" type="submit" routerLink="/" *ngIf="!isRegulated">Continue to homepage</button>
  </div>


</div>
