<ng-content></ng-content>
<ng-container *ngIf="wdfNewDesign; else wdfOldDesign">
  <ng-container *ngIf="wdfView && overallWdfEligibility && wdfValue?.isEligible === ELIGIBILITY.NO; else answer">
    <app-eligibility-icon [overallEligibility]="true" [eligible]="false"></app-eligibility-icon>
  </ng-container>

  <ng-container *ngIf="wdfView && !overallWdfEligibility && wdfValue?.isEligible === ELIGIBILITY.NO; else answer">
    <app-eligibility-icon [overallEligibility]="false" [eligible]="false"></app-eligibility-icon>
  </ng-container>
</ng-container>

<ng-template #wdfOldDesign>
  <ng-container *ngIf="wdfView && wdfValue?.isEligible === ELIGIBILITY.NO; else answer">
    <app-eligibility-icon [eligible]="false"></app-eligibility-icon>
  </ng-container>

  <ng-template #answer>
    <div
      [class.govuk-util__bold]="
        wdfView && !wdfValue?.updatedSinceEffectiveDate && wdfValue?.isEligible === ELIGIBILITY.YES
      "
    >
      <div
        *ngIf="wdfView && !wdfValue?.updatedSinceEffectiveDate && wdfValue?.isEligible === ELIGIBILITY.YES"
        class="govuk-!-margin-top-2"
      >
        <app-eligibility-icon [eligible]="false" [check]="true"></app-eligibility-icon>
      </div>
    </div>
  </ng-template>
</ng-template>
