<app-error-summary *ngIf="(submitted && form.invalid) || serverError" [formErrorsMap]="formErrorsMap"
  [serverError]="serverError" [form]="form">
</app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Mandatory Training</h1>
    <p>Diffrent care providers make diffrent type of training mandatory
      depending on their main service and the people they provide care for.
    </p>
    <p>
      Select the training you want to make mandatory for your workplace. If
      you do this we can flag which staff need to undertake training or
      where mandatorytraining has expired.
    </p>
  </div>
</div>


<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <fieldset class="govuk-fieldset">
    <ng-container formArrayName="categories">
      <div *ngFor="let category of categoriesArray.controls; let i = index" [formGroupName]="i"
        [class.govuk-form-group--error]="submitted && category.invalid">
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-two-thirds">
            <select class="govuk-select govuk-!-width-full"
              [class.govuk-select--error]="submitted && category.get('trainingCategory').invalid"
              [formControlName]="'trainingCategory'" id="trainingCategory-{{ i }}" name="trainingCategory">
              <option [ngValue]="null">Select training category</option>
              <option *ngFor="let training of selectableTrainings(i)" [value]="training.id">
                {{ training.category }}
              </option>
            </select>
          </div>
          <div class="govuk-grid-column-one-third">

            <button *ngIf="categoriesArray.length > 1"
              class="govuk-button govuk-button--link govuk-!-margin-bottom-0 govuk-!-margin-left-3" type="button"
              (click)="removeCategory($event, i)">
              Delete
            </button>
          </div>

          <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
            <div class="govuk-radios govuk-radios--inline">

              <div class="govuk-radios__item" *ngFor="let option of vacanciesOptions; let j = index">
                <input class="govuk-radios__input" id="vacancyType-{{i}}-{{j}}" name="vacancyType"
                  [formControlName]="'vacancyType'" type="radio" [value]="option.value">
                <label class="govuk-label govuk-radios__label" for="vacancyType-{{i}}-{{j}}">
                  {{ option.label }}
                </label>
              </div>
            </div>
          </div>



        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <button *ngIf="!allTrainingsSelected" class="govuk-button govuk-button--secondary" type="button"
            (click)="addCategory()">
            Add another training category
          </button>
        </div>

      </div>
    </ng-container>

    <ng-container formArrayName="vacancies" *ngIf='false'>
      <div *ngFor="let vacancy of vacanciesArray.controls; let i = index" [formGroupName]="i"
        [class.govuk-form-group--error]="submitted && vacancy.invalid">
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-two-thirds">
            <select class="govuk-select govuk-!-width-full"
              [class.govuk-select--error]="submitted && vacancy.get('jobRole').invalid" [formControlName]="'jobRole'"
              id="jobRole-{{ i }}" name="jobRole">
              <option [ngValue]="null">Select job role</option>
              <option *ngFor="let job of selectableJobs(i)" [value]="job.id">
                {{ job.title }}
              </option>
            </select>
          </div>
          <div class="govuk-grid-column-one-third">

            <button *ngIf="vacanciesArray.length > 1"
              class="govuk-button govuk-button--link govuk-!-margin-bottom-0 govuk-!-margin-left-3" type="button"
              (click)="removeVacancy($event, i)">
              Remove
            </button>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <button *ngIf="!allJobsSelected" class="govuk-button govuk-button--secondary" type="button"
            (click)="addVacancy()">
            Add another Job role
          </button>
        </div>

      </div>
    </ng-container>



  </fieldset>

  <app-submit-button *ngIf="false" [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>