<app-error-summary
  *ngIf="(submitted && form.invalid) || serverError"
  [formErrorsMap]="formErrorsMap"
  [serverError]="serverError"
  [form]="form"
>
</app-error-summary>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add a mandatory training category</h1>
  </div>
</div>
<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <fieldset class="govuk-fieldset">
    <div
      class="govuk-grid-row govuk-!-margin-bottom-1"
      [class.govuk-form-group--error]="submitted && form.get('trainingCategory').invalid"
    >
      <div class="govuk-form-group">
        <div class="govuk-grid-column-two-thirds">
          <label class="govuk-label govuk-!-margin-top-4" for="trainingCategory"> Training category </label>
          <span *ngIf="submitted" id="trainingCategory-error" class="govuk-error-message">
            <ng-container *ngIf="submitted && form.get('trainingCategory').invalid">
              <label for="trainingCategory">Select the mandatory training</label>
            </ng-container>
          </span>
          <select
            class="govuk-select govuk-!-width-full"
            [class.govuk-select--error]="submitted && form.get('trainingCategory').invalid"
            [formControlName]="'trainingCategory'"
            id="trainingCategory"
            name="trainingCategory"
          >
            <option [ngValue]="null">Select training category</option>
            <option *ngFor="let training of trainings" [value]="training.id">
              {{ training.category }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend">
            <span class="govuk-label"> Which job roles need this training? </span>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item" *ngFor="let option of vacanciesOptions; let i = index">
              <input
                class="govuk-radios__input"
                id="vacancyType-{{ i }}"
                [formControlName]="'vacancyType'"
                type="radio"
                [value]="option.value"
                (change)="onVacancyTypeSelectionChange()"
              />
              <label class="govuk-label govuk-radios__label" for="vacancyType-{{ i }}">
                {{ option.label }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="govuk-grid-row govuk-radios__conditional"
      *ngIf="form.controls.vacancies.value.length > 0"
      formArrayName="vacancies"
    >
      <div
        [formGroupName]="j"
        *ngFor="let vacancy of form.controls.vacancies.controls; let j = index"
        [class.govuk-form-group--error]="submitted && vacancy.get('id').invalid"
      >
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label class="govuk-label" for="id-{{ j }}"> Job role </label>
              <span *ngIf="submitted && vacancy.get('id').invalid" id="id-{{ j }}-error" class="govuk-error-message">
                <ng-container *ngIf="vacancy.get('id').invalid"> Select the job role </ng-container>
              </span>
              <select
                class="govuk-select"
                [class.govuk-select--error]="submitted && vacancy.get('id').invalid"
                [formControlName]="'id'"
                id="id-{{ j }}"
              >
                <option [ngValue]="null">Select job role</option>
                <option *ngFor="let job of jobs" [value]="job.id">
                  {{ job.title }}
                </option>
              </select>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-!-margin-top-6">
            <a
              *ngIf="form.controls.vacancies.value.length > 1"
              href="#"
              class="govuk-list govuk-list--inline"
              (click)="removeVacancy($event, j)"
              >Remove
            </a>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <button
            *ngIf="form.controls.vacancies.value.length > 0 && form.controls.vacancies.value.length < jobs.length"
            class="govuk-button govuk-button--secondary"
            type="button"
            (click)="addVacancy()"
          >
            Add another job role
          </button>
        </div>
      </div>
    </div>
  </fieldset>
  <app-submit-exit-buttons [exit]="'Cancel'" [return]="return"></app-submit-exit-buttons>
</form>
