<ng-container *ngIf="qualifications?.length">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Qualifications</h2>
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-util__float-right">Last updated on {{ lastUpdated | date: 'd MMMM y' }}</p>
    </div>
  </div>

  <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--top-border">
    <ng-container *ngFor="let qualification of qualifications">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ qualification.qualification.group }}
        </dd>
        <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state" href="#" (click)="deleteQualification(qualification, $event)"
            >Delete<span class="govuk-visually-hidden"> {{ qualification.title }} qualification</span></a
          >
        </dd>
        <dd *ngIf="canEditWorker" class="govuk-summary-list__actions">
          <a [routerLink]="['../qualification', qualification.uid]"
            >Change<span class="govuk-visually-hidden"> {{ qualification.title }} qualification</span></a
          >
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ qualification.qualification.title }}
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification level
        </dt>
        <dd class="govuk-summary-list__value">
          {{ qualification?.qualification?.level ? qualification.qualification.level : '-' }}
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Year achieved
        </dt>
        <dd class="govuk-summary-list__value">
          {{ qualification?.year ? qualification.year : '-' }}
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row govuk-summary-list--bottom-border">
        <dt class="govuk-summary-list__key">
          Qualification notes
        </dt>
        <dd class="govuk-summary-list__value">
          {{ qualification?.notes ? qualification.notes : '-' }}
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </ng-container>
  </dl>
</ng-container>
