<app-error-summary
  *ngIf="submitted && (form.invalid || serverError)"
  [formErrorsMap]="formErrorsMap"
  [form]="form"
  [serverError]="serverError"
>
</app-error-summary>
<h1 id="dialogHeading" class="govuk-heading-l">Move this Worker</h1>
<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Find the workplace to move to
      </h1>
    </legend>
    <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
      <label class="govuk-label" for="workplaceNameOrPostCode">
        Enter a workplace name or postcode
      </label>
       <span
          *ngIf="submitted && form.get('workplaceNameOrPostCode').invalid"
          id="workplaceNameOrPostCode-error"
          class="govuk-error-message"
        >
          <span class="govuk-visually-hidden">Error:</span>
          {{ getFirstErrorMessage('workplaceNameOrPostCode') }}
        </span>
      <app-auto-suggest
          [formGroup]="form"
          [dataProvider]="workplaceNameOrPostCodeFilter"
          [formControlName]="'workplaceNameOrPostCode'"
        ></app-auto-suggest>
    </div>
    <p *ngIf="form.valid"><strong>You are about to move {{ data.worker.nameOrId }} to {{ form.get('workplaceNameOrPostCode').value }}.</strong></p>
  </fieldset>

  <button type="submit" class="govuk-button">Move Worker</button>
  <button type="button" class="govuk-button govuk-button--secondary govuk-util__float-right" (click)="close()">
    Close
  </button>
</form>
