<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset">
      <div class="govuk-form-group govuk-!-margin-bottom-2">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
          <h1 class="govuk-fieldset__heading">{{ heading }}</h1>
        </legend>

        <p>Only add the number of vacancies for permanent and temporary job roles.</p>

        <app-details [title]="'Why we ask for this information'">
          <p>
            To show DHSC and others how the level of staff vacancies and the number employed affects the sector over
            time.
          </p>
        </app-details>
      </div>
    </fieldset>

    <app-workplace-submit-button
      [recordSummary]="false"
      [return]="!!return"
      (clicked)="setSubmitAction($event)"
    ></app-workplace-submit-button>
  </div>
</div>
