<div class="govuk-button-group">
  <ng-container *ngIf="!return; else summary">
    <button type="button" class="govuk-button" (click)="onClick('continue', true)">Save and continue</button>
    <button
      type="button"
      class="govuk-button govuk-button--link govuk-!-margin-left-8"
      (click)="onClick('summary', false)"
    >
      View record summary
    </button>
    <span class="govuk-visually-hidden">or</span>
    <button
      type="button"
      class="govuk-button govuk-button--link govuk-util__float-right"
      (click)="onClick('exit', false)"
    >
      Exit
    </button>
  </ng-container>
  <ng-template #summary>
    <button type="button" class="govuk-button" (click)="onClick('return', true)">
      Save and return
    </button>
    <span class="govuk-visually-hidden">or</span>
    <button
      type="button"
      class="govuk-button govuk-button--link govuk-util__float-right"
      (click)="onClick('return', false)"
    >
      Exit
    </button>
  </ng-template>
</div>
