<ng-container *ngIf="!return; else summary">
  <div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-right-9">
    <div class="govuk-grid-column-one-quarter">
      <button type="submit" class="govuk-button" (click)="onClick($event, 'continue', true)">
        {{ callToAction }}
      </button>
    </div>
    <div *ngIf="recordSummary" class="govuk-grid-column-one-third">
      <span class="govuk-visually-hidden">or</span>
      <a class="govuk-button govuk-button--link" (click)="onClick($event, 'summary', false)">View record summary</a>
    </div>
    <div *ngIf="this.canExit" class="govuk-grid-column-one-third">
      <span class="govuk-visually-hidden">or</span>
      <a class="govuk-button govuk-button--link govuk-util__float-right" (click)="onClick($event, 'exit', false)">{{
        exitText
      }}</a>
    </div>
  </div>
</ng-container>
<ng-template #summary>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-!-margin-right-9" (click)="onClick($event, 'return', true)">
      Save and return
    </button>

    <span class="govuk-visually-hidden">or</span>
    <a class="govuk-button govuk-button--link govuk-!-margin-left-9" (click)="onClick($event, 'return', false)">{{
      exitText
    }}</a>
  </div>
</ng-template>
