<div class="govuk-button-group">
  <ng-container *ngIf="!return; else summary">
    <button type="submit" class="govuk-button" (click)="onClick($event, 'continue', true)">{{callToAction}}</button>
    <a *ngIf = "recordSummary"
      href="#"
      class="govuk-list govuk-list--inline govuk-!-margin-left-8 govuk-!-margin-top-2"
      (click)="onClick($event, 'summary', false)"
      >View record summary</a
    >
    <span *ngIf = "this.canExit" class="govuk-visually-hidden">or</span>
    <a *ngIf = "this.canExit"
      href="#"
      class="govuk-list govuk-list--inline govuk-util__float-right govuk-!-margin-top-2"
      (click)="onClick($event, 'exit', false)"
      >Exit</a
    >
  </ng-container>
  <ng-template #summary>
    <button type="submit" class="govuk-button" (click)="onClick($event, 'return', true)">
      Save and return
    </button>
    <span class="govuk-visually-hidden">or</span>
    <a
      href="#"
      class="govuk-list govuk-list--inline govuk-util__float-right govuk-!-margin-top-2"
      (click)="onClick($event, 'return', false)"
      >Exit</a
    >
  </ng-template>
</div>
