<ng-container *ngIf="worker">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ worker.nameOrId }}</span>
        <h2 class="govuk-heading-m">
          Training and qualifications ({{ this.trainingCount + this.qualificationsCount }})
        </h2>
      </h1>
    </div>
    <div class="govuk-grid-column-one-half govuk-util__align-right">
      <button class="govuk-button govuk-button--link">
        Staff record summary
      </button>
      <a
        *ngIf="canEditWorker"
        class="govuk-button"
        role="button"
        draggable="false"
        [routerLink]="['../select-record-type']"
      >
        Add a record
      </a>
    </div>
  </div>

  <app-tabs>
    <app-tab [alert]="trainingAlert === 1" [redAlert]="trainingAlert === 2" [title]="'Training'">
      <app-training [workplace]="workplace" [worker]="worker"></app-training>
    </app-tab>
    <app-tab [title]="'Qualifications'">
      <app-qualifications [workplace]="workplace" [worker]="worker"></app-qualifications>
    </app-tab>
  </app-tabs>
</ng-container>
