<ng-container *ngIf="worker">
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">
      <div class="govuk-list--inline govuk-list govuk__flex">
        <span class="govuk-caption-xl govuk-!-margin-right-3">{{ worker.nameOrId }}</span>
        <p *ngIf="worker.longTermAbsence" class="govuk-tag govuk-tag--grey govuk-!-margin-top-1 asc-tag">
          Long-term absent
          <a
            [routerLink]="[
              '/workplace',
              workplace.uid,
              'training-and-qualifications-record',
              worker.uid,
              'long-term-absence'
            ]"
            data-testid="longTermAbsence"
            class="govuk-link govuk-link--no-visited-state govuk-!-padding-left-1"
            >View</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Training and qualifications ({{ this.trainingCount + this.qualificationsCount }})</h1>
      <a
        *ngIf="canEditWorker"
        class="govuk-list govuk-list--inline govuk-!-padding-left-0"
        role="button"
        draggable="false"
        [routerLink]="['/workplace', workplace.uid, 'staff-record', worker.uid]"
      >
        Staff record
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-button-group govuk-util__float-right govuk-!-margin-top-0">
          <a
            class="govuk-list govuk-list--inline govuk-!-margin-left-5"
            *ngIf="canEditWorker && worker.longTermAbsence === null"
            draggable="false"
            role="button"
            data-testid="flagLongTermAbsence"
            [routerLink]="[
              '/workplace',
              workplace.uid,
              'training-and-qualifications-record',
              worker.uid,
              'long-term-absence'
            ]"
            >Flag long-term absence</a
          >
          <a
            *ngIf="canEditWorker"
            class="govuk-button govuk-util__float-right govuk-!-margin-left-9"
            role="button"
            draggable="false"
            [routerLink]="['../select-record-type']"
          >
            Add a record
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-tabs>
    <app-tab
      [alert]="trainingAlert === trainingStatusService.EXPIRING"
      [redAlert]="trainingAlert === trainingStatusService.EXPIRED || trainingAlert == trainingStatusService.MISSING"
      [title]="'Training'"
    >
      <app-training
        [workplace]="workplace"
        [worker]="worker"
        [expiresSoonAlertDate]="expiresSoonAlertDate"
        (trainingChanged)="trainingAndQualificationsChangedHandler($event)"
      ></app-training>
    </app-tab>
    <app-tab [title]="'Qualifications'">
      <app-qualifications
        [workplace]="workplace"
        [worker]="worker"
        (qualificationsChanged)="trainingAndQualificationsChangedHandler($event)"
      ></app-qualifications>
    </app-tab>
  </app-tabs>
</ng-container>
