<ng-container *ngIf="worker">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
        <span class="govuk-caption-xl govuk-!-margin-bottom-3">{{ worker.nameOrId }}</span>
        Training and qualifications ({{ this.trainingCount + this.qualificationsCount }})
      </h1>
    </div>

    <div class="govuk-grid-column-one-third contact-col govuk-!-margin-top-8 govuk-util__float-right">
      <a
        *ngIf="canEditWorker"
        class="govuk-button govuk-button--link govuk-!-margin-right-6"
        role="button"
        draggable="false"
        [routerLink]="['/workplace', workplace.uid, 'staff-record', worker.uid]"
      >
        Staff record
      </a>
      <a
        *ngIf="canEditWorker"
        class="govuk-button"
        role="button"
        draggable="false"
        [routerLink]="['../select-record-type']"
      >
        Add a record
      </a>
    </div>
  </div>
  <app-tabs>
    <app-tab [alert]="trainingAlert === 1" [redAlert]="trainingAlert === 2" [title]="'Training'">
      <app-training
        [workplace]="workplace"
        [worker]="worker"
        (trainingChanged)="trainingAndQualificationsChangedHandler($event)"
      ></app-training>
    </app-tab>
    <app-tab [title]="'Qualifications'">
      <app-qualifications
        [workplace]="workplace"
        [worker]="worker"
        (qualificationsChanged)="trainingAndQualificationsChangedHandler($event)"
      ></app-qualifications>
    </app-tab>
  </app-tabs>
</ng-container>
