<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
  <div class="govuk-form-group govuk-!-margin-bottom-0" [class.govuk-form-group--error]="form.invalid && submitted">
    <label class="govuk-label govuk-visually-hidden" for="fileUpload"> Drag and drop files </label>
    <span *ngIf="form.invalid && submitted" id="fileUpload-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('fileUpload') }}
    </span>
    <ngx-dropzone (change)="onSelect($event)" [maxFileSize]="20000000" accept=".csv" #drop>
      <span class="govuk-body">Drag and drop your CSV files here or </span>
      <!-- Putting button inside dropzone triggers file selector twice -->
    </ngx-dropzone>
    <button class="govuk-file-upload" (click)="drop.showFileSelector()">Select files</button>
  </div>

  <app-selected-files-list *ngIf="!filesUploaded"></app-selected-files-list>
</form>

<div class="govuk-grid-row" *ngIf="filesUploading">
  <div class="govuk-grid-column-full">
    <div role="status" class="govuk-util__normal govuk-!-font-size-19 govuk-util__inline-block">Files uploading</div>
    <app-progress [value]="progress" max="100" class="govuk-!-margin-right-8 govuk-!-margin-left-8"></app-progress>
  </div>
</div>

<app-drag-and-drop-files-list *ngIf="filesUploaded"></app-drag-and-drop-files-list>
