<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Create an Adult Social Care Workforce Data Set account</h1>

    <p>
      Adult social care providers and local authorities should use this service to create an Adult Social Care Workforce
      Data Set (ASC-WDS) account.
    </p>

    <p>
      Skills for Care will check your account and let you know when your details have been validated, either by email or
      telephone.
    </p>

    <p>
      Once your account has been validated, you'll be able to manage your workplace information, staff records, training
      and qualifications all in one place.
    </p>

    <h3 class="govuk-heading-m">Before you start</h3>

    <p>
      You can
      <a
        href="https://www.skillsforcare.org.uk/adult-social-care-workforce-data/ASC-WDS/Discover-the-Adult-Social-Care-Workforce-Data-Set.aspx"
        target="_blank"
        >read about the benefits of having an ASC-WDS account</a
      >
      on the Skills for Care website or
      <a [routerLink]="['/registration', 'about-us']">view our 'about ASC-WDS'</a> page.
    </p>

    <p>
      To create an account you need to know some basic details about your workplace (including your CQC location ID if
      you have one) and the main care service you provide.
    </p>
    <p>You will not be able to sign in until your account has been validated by Skills for Care.</p>
    <a [routerLink]="['/registration', 'regulated-by-cqc']" role="button" draggable="false" class="govuk-button">
      Start now
    </a>
  </div>
</div>
