<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Search</h2>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list">
      <li routerLinkActive="active">
        <a routerLink="/sfcadmin/search/workplace" class="govuk-link">Search for a workplace</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/sfcadmin/search/user" class="govuk-link">Search for a user</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/sfcadmin/search/group" class="govuk-link">Search for a group</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
