@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables.scss";

.page-comment {
    color: $light-grey-text;
    padding-left: 0px;
}

.page-emphasis {
    font-weight: bold;
}


.btn-link {
    margin: auto 0;
    font-size: 15px;
    letter-spacing: 1px;
    border: 0;
    color: #1078c7;
    text-decoration: underline;
    line-height: 2rem;

    @include media(map-get($breakpoints, tablet)) {
        line-height: 20px;
    }
}

.record {
    & ~ .record {
        margin-top: 3rem;
    };
    line-height: 32px;
}

input[type=checkbox] {
    transform: scale(1.0);
}
input[type=radio] {
    transform: scale(1.0);
}

.round {
position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: $sfc-btn-primary-green;
    border-color:  $sfc-btn-primary-green;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
