<div class="main-page-container col-12">
  <div id="back" class="back-link">
    <a routerLink="/share-options">
      <span class="arrow"></span>Back
    </a>
  </div>

  <form novalidate
    (ngSubmit)="onSubmit()"
    [formGroup]="shareLocalAuthoritiesForm">

    <header>
      <h1 class="h1">Sharing data with local authorities</h1>
      <p class="page-description">Select which local authorities you would like to share your data with.</p>
    </header>

    <ng-template [ngIf]="isSharingEnabled" [ngIfElse]="notSharing">
      <div class="form-group mb-5">
        <div class="row p-0" *ngIf="hasPrimaryAuthority">
          <div class="col-1 center-v no-padding-left">
              <input type="checkbox"
                id="primaryAuthorityCtl"
                formControlName="primaryAuthorityCtl"
                class="form-control">
          </div>
          <div class="col-11">
              <label for="primaryAuthorityCtl" class="page-emphasis">{{ primaryAuthorityName }}</label>
              <p class="page-comment">This is the local authority you are located in</p>
          </div>
        </div>

        <div class="row column-des">
            <p class="page-description">Add more local authorities to share your data with.</p>
        </div>
        <div class="form-group mb-5 col-12 p-0">
          <div formArrayName="authoritiesCtl">
            <!-- Note - it is significant that each record/row within the authorityCtl array
                 is placed within a div having that formArrayName - otherwise, you
                 cannot use [formGroupName] -->

            <div class="row column-des">
              <p *ngIf="hasLocalAuthorities" class="page-emphasis">Local authorities</p>
            </div>

            <div *ngFor="let thisLA of shareLocalAuthoritiesForm.get('authoritiesCtl').controls; let idx = index" [formGroupName]="idx" class="row record">
                <div class="col-9 col-sm-10">
                  <!-- <select class="form-control"> -->
                  <select class="form-control" formControlName="custodianCode">
                    <option [ngValue]="null">Select Local Authority</option>
                    <option *ngFor="let myLa of allAuthorties" [value]="myLa.custodianCode">{{myLa.name}}</option>
                  </select>
                </div>
                <div class="center-v no-padding-left">
                  <button type="button" class="btn-link" (click)="removeAuthority(idx)">Remove</button>
                </div>

            </div>
            <div class="row summary-and-controls mb-5 record">
              <div class="col-6 col-sm-7 center-v">
                <button type="button" class="btn-link" (click)="addAuthority()">+ Add another local authority</button>
              </div>
            </div>

          </div>

        </div>
        <div class="form-group mb-5">
          <div class="row round">
              <div class="col-1">
                  <input type="checkbox" id="doShareCtl" formControlName="doNotShareCtl" class="form-control">
                  <label for="doShareCtl"></label>
              </div>
              <div class="col-11">
                  <p>No, don't share any data with any local authority.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <button type="submit" class="btn btn-primary">Save and continue</button>
      </div>

    </ng-template>

    <ng-template #notSharing>
      <div *ngIf="!isSharingEnabled">
        <p class="page-description">Sharing with Local Authorities is not enabled</p>
      </div>
      <div class="btn-container">
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </ng-template>

  </form>
</div>
