<app-table-pagination-wrapper
  [totalCount]="totalWorkerCount"
  [count]="workerCount"
  [searchTerm]="searchTerm"
  [sortByParamMap]="sortByParamMap"
  [sortByValue]="sortByValue"
  [sortOptions]="sortStaffOptions"
  accessibleLabel="for staff records"
  (fetchData)="getPageOfWorkers($event)"
  [label]="searchLabel"
>
  @if (workers.length > 0) {
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" style="width: 25%">Name or ID number</th>
          <th class="govuk-table__header" scope="col" style="width: 35%">Job role</th>
          <th class="govuk-table__header" scope="col" style="width: 15%">Last update</th>
          <th class="govuk-table__header" scope="col" style="width: 25%">Funding requirements</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        @for (worker of paginatedWorkers; track worker.uid) {
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-regular">
              <a [routerLink]="getWorkerRecordPath(worker)">
                {{ worker.nameOrId }}
              </a>
            </td>
            <td class="govuk-table__cell">{{ worker.mainJob.jobRoleName }}</td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden">last update</span>
              <span class="govuk__nowrap">{{ lastUpdated(worker.updated) }}</span>
            </td>
            <td class="govuk-table__cell">
              <app-funding-requirements-state
                [overallWdfEligibility]="overallWdfEligibility"
                [currentWdfEligibility]="worker.wdfEligible"
                orangeFlagMessage="Check this staff record"
              ></app-funding-requirements-state>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="govuk-grid-row" data-testid="noRecords">
      <div class="govuk-grid-column-three-quarters">
        <p>
          You need to <a href="#" (click)="navigateToStaffRecords($event)">add some staff records</a> before you can
          check whether your data meets funding requirements.
        </p>
      </div>
    </div>
  }
</app-table-pagination-wrapper>
