<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/registered-question">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section 3 of 7</p>
  <h1 class="h1">Confirm your details</h1>

  <p class="main-body-text-bold mb-3 d-block">Are these details correct?</p>

  <div class="panel panel-border-narrow col-12 pt-4 pb-4">
    <div class="main-text col-12 col-md-7 p-0">
      <div class="row border-line-bottom">
        <div class="tb-cell col-5 pt-3 pb-3"><strong>CQC Location ID</strong></div>
        <div class="tb-cell col-7 pt-3 pb-3">{{ registration[0].locationId }}</div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-5 pt-3 pb-3"><strong>Workplace name</strong></div>
        <div class="tb-cell col-7 pt-3 pb-3">{{ registration[0].locationName }}</div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-5 pt-3 pb-3"><strong>Address</strong></div>
        <div class="tb-cell col-7 pt-3 pb-3">
          {{ registration[0].addressLine1 }} {{ registration[0].addressLine2 }},<br />
          {{ registration[0].townCity }}<br />
          {{ registration[0].county }}<br />
          {{ registration[0].postalCode }}
        </div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-5 pt-3 pb-3"><strong>Main service provided</strong></div>
        <div class="tb-cell col-7 pt-3 pb-3">{{ registration[0].mainService }}</div>
      </div>
    </div>
  </div>

  <div class="col-12  mt-4 mb-5 p-0">
    <a class="text-link" routerLink="/select-workplace-address" title="This is not my workplaced">This is not my workplace</a>
  </div>

  <div class="btn-container">
    <button class="btn btn-primary" type="submit" (click)="save()">Continue</button>
  </div>


</div>
