<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a (click)="clickBack()">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section {{ currentSection }} of {{ lastSection }}</p>
  <h1 class="h1">Confirm your workplace details</h1>

  <p class="main-body-text-bold mb-3 d-block">Are these details correct?</p>

  <div class="panel panel-border-narrow col-12 pt-4 pb-4 pr-4">
    <div class="main-text col-12 col-lg-7 p-0">
      <div class="row border-line-bottom" *ngIf="registration.locationdata[0].locationId">
        <div class="tb-cell col-5 pt-3 pb-3"><strong>CQC Location ID</strong></div>
        <div class="tb-cell col-4 pt-3 pb-3">{{ registration.locationdata[0].locationId }}</div>
        <div class="tb-cell text-right col-3 pt-2 pb-3"><a routerLink="/registered-question" title="Edit CQC Location ID">Change</a></div>
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-5 pt-3 pb-3"><strong>Workplace name</strong></div>
        <div class="tb-cell col-4 pt-3 pb-3">{{ registration.locationdata[0].locationName }}</div>
        <!-- <div class="tb-cell text-right col-3 pt-2 pb-3"><a routerLink="/registered-question" title="Edit Workplace name">Change</a></div> -->
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-5 pt-3 pb-3"><strong>Address</strong></div>
        <div class="tb-cell col-4 pt-3 pb-3">
          {{ registration.locationdata[0].addressLine1 }} {{ registration.locationdata[0].addressLine2 }},<br />
          {{ registration.locationdata[0].townCity }}<br />
          {{ registration.locationdata[0].county }}<br />
          {{ registration.locationdata[0].postalCode }}
        </div>
        <!-- <div class="tb-cell text-right col-3 pt-2 pb-3"><a routerLink="/registered-question" title="Edit Address">Change</a></div> -->
      </div>
      <div class="row border-line-bottom">
        <div class="tb-cell col-5 pt-3 pb-3"><strong>Main service provided</strong></div>
        <div class="tb-cell col-4 pt-3 pb-3">{{ registration.locationdata[0].mainService }}</div>
        <div class="tb-cell text-right col-3 pt-2 pb-3"><a class="text-link" (click)="clickBack()" title="Edit Main service">Change</a></div>
      </div>
    </div>
  </div>

  <div class="col-12  mt-4 mb-5 p-0">
    <a class="text-link" routerLink="/select-workplace-address" title="This is not my workplaced">This is not my workplace</a>
  </div>

  <div class="btn-container">
    <button class="btn btn-primary" type="submit" (click)="save()">Continue</button>
  </div>


</div>
