<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l">{{ workplace.name }}</span>
    <h1 class="govuk-heading-xl">Welcome to your new account</h1>
    <h2 class="govuk-heading-m">Please could you answer 2 questions about why you created this account?</h2>
    <p>It should only take a minute to answer our questions and it will help us to improve the service.</p>

    <div class="govuk-form-group">
      <form [formGroup]="form">
        <div class="govuk-radios govuk-!-margin-top-2">
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="participation-yes"
              name="participation"
              type="radio"
              value="Yes"
              formControlName="participation"
              (change)="updateState()"
            />
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Yes, I'll answer the questions
            </label>
          </div>
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="participation-no"
              name="participation"
              type="radio"
              value="No"
              formControlName="participation"
              (change)="updateState()"
            />
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              No, I want to start adding data
            </label>
          </div>
        </div>
      </form>
    </div>

    <a
      role="button"
      draggable="false"
      class="govuk-button govuk-!-margin-top-2"
      [routerLink]="this.nextPage?.url"
      (click)="onContinue()"
    >
      Continue
    </a>
  </div>
</div>
