@media (min-width: 40.0625em) {
  .search-column {
    width: 70.5% !important;
  }
}

@media (min-width: 1024px) {
  .sort-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
