@import 'govuk-frontend/govuk/base';

.asc-number-input {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;

  button.asc-number-input--minus-button {
    margin-left: -5em;
  }

  button.asc-number-input--plus-button {
    // when both + and - button show up
    &:nth-of-type(2) {
      margin-left: 0.5em;
    }
    // when only + button shows up
    &:first-of-type {
      margin-left: -2.5em;
    }
  }

  span.asc-number-input--suffix {
    position: absolute;
    left: 8em;
  }

  input {
    max-width: 7em;
    min-width: 7em;
  }

  button {
    img {
      width: 100%;
      height: 100%;
    }

    height: 2em;
    width: 2em;
    padding: 2px;
    position: relative;
    background-color: #e6e5e3; // custom colour from design prototype

    // below borrowed from .govuk-button
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;

    border: none;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:active {
      top: 1px;
    }

    &:focus:not(:active):not(:hover) {
      border-color: $govuk-focus-colour;
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      box-shadow: 0 2px 0 $govuk-focus-text-colour;
    }

    &:focus {
      border-color: $govuk-focus-colour;
      outline: 3px solid transparent;
      box-shadow: inset 0 0 0 1px $govuk-focus-colour;
    }

    &:hover {
      background-color: #dbdad9; // $govuk-secondary-button-hover-colour
    }
  }
}
