<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">We could not find {{ isParent ? 'the' : 'your' }} workplace address</h1>
        </legend>
        <p>
          Postcode entered: <strong>{{ invalidPostcodeEntered }}</strong>
        </p>
        <h4 class="govuk-heading-s">
          Do you want to try find {{ isParent ? 'the' : 'your' }} workplace with a different postcode?
        </h4>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
          <span
            *ngIf="submitted && this.form.get('useDifferentPostcode').errors"
            id="useDifferentPostcode-error"
            data-testid="errorMessage"
            class="govuk-error-message"
          >
            <span class="govuk-visually-hidden">Error:</span>
            {{ getErrorMessage('useDifferentPostcode') }}
          </span>
          <div class="govuk-radios govuk-radios--conditional">
            <div class="govuk-radios__item">
              <input
                aria-controls="useDifferentPostcode-conditional-1"
                class="govuk-radios__input"
                id="useDifferentPostcode-1"
                name="useDifferentPostcode"
                type="radio"
                value="yes"
                [formControlName]="'useDifferentPostcode'"
              />
              <label for="useDifferentPostcode-1" class="govuk-label govuk-radios__label">Yes</label>
            </div>
            <div class="govuk-radios__item">
              <input
                aria-controls="useDifferentPostcode-conditional-2"
                class="govuk-radios__input"
                id="useDifferentPostcode-2"
                name="useDifferentPostcode"
                type="radio"
                value="no"
                [formControlName]="'useDifferentPostcode'"
              />
              <label for="useDifferentPostcode-2" class="govuk-label govuk-radios__label"
                >No, I'll enter {{ isParent ? 'the' : 'our' }} workplace details myself</label
              >
            </div>
          </div>
        </div>
      </fieldset>
      <button class="govuk-button govuk-!-margin-top-5" type="submit">Continue</button>
    </form>
  </div>
</div>
