<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div *ngIf="worker" class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">
      <div class="govuk-!-margin-bottom-0">
        <span class="govuk-caption-l" data-testid="workerName">{{ worker.nameOrId }}</span>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l" data-testid="heading">Add a training record</h1>
          </legend>
          </fieldset>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="addATrainingRecord"
                [formControlName]="'addATrainingRecord'"
                name="addATrainingRecord"
                type="radio"
                value="trainingCourse"
              />
              <label class="govuk-label govuk-radios__label" for="addATrainingRecord">{{ continueText }}</label>
            </div>

            <div class="govuk-radios__divider">or</div>
            <p>Select a saved course for this record</p>

            @for(trainingCourse of trainingCourses; track trainingCourse.name){
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="addATrainingRecord-{{ $index }}"
                [formControlName]="'addATrainingRecord'"
                name="addATrainingRecord"
                type="radio"
                value="trainingCourse"
              />
              <label class="govuk-label govuk-radios__label" for="addATrainingRecord-{{ $index }}">{{
                trainingCourse.name
              }}</label>
            </div>
            }
          </div>

        <div class="govuk-button-group govuk-!-margin-top-8">
          <button type="submit" class="govuk-button govuk-!-margin-right-9">Continue</button>
           <a
          class="govuk-button govuk-button--link govuk-!-margin-left-9"
          role="button"
          draggable="false"
          href="#"
          [routerLink]="['/workplace', this.workplace.uid, 'training-and-qualifications-record', this.worker.uid]"
        >
          Cancel
        </a>
        </div>
      </div>
    </div>
  </div>
</form>
