<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Staff name</th>
      <th class="govuk-table__header" scope="col">Job role</th>
      <th class="govuk-table__header" scope="col">Last updated</th>
      <th *ngIf="!wdfView" class="govuk-table__header" scope="col">
        <span class="govuk-visually-hidden">Status</span>
      </th>
      <th *ngIf="wdfView" class="govuk-table__header" scope="col">WDF</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor="let worker of workers">
      <td class="govuk-table__cell govuk-!-font-weight-regular">
        <ng-container *ngIf="canViewWorker; else nameOrId">
          <a [routerLink]="getWorkerRecordPath(worker)">
            {{ worker.nameOrId }}
          </a>
        </ng-container>
        <ng-template #nameOrId>
          {{ worker.nameOrId }}
        </ng-template>
      </td>
      <td class="govuk-table__cell">{{ worker.mainJob.other ? worker.mainJob.other : worker.mainJob.title }}</td>
      <td class="govuk-table__cell">
        <span class="govuk-visually-hidden">last updated</span>
        <span class="govuk__nowrap">{{ lastUpdated(worker.updated) }}</span>
      </td>
      <td *ngIf="!wdfView" class="govuk-table__cell">
        <a
          *ngIf="!worker.completed"
          class="govuk-util__float-right"
          [routerLink]="[
            '/workplace',
            workplace.uid,
            'staff-record',
            worker.uid,
            worker.mainJob?.jobId === 27 ? 'mental-health-professional' : 'main-job-start-date'
          ]"
          >Provide more information <span class="govuk-visually-hidden"> for {{ worker.nameOrId }}</span></a
        >
      </td>
      <td *ngIf="wdfView" class="govuk-table__cell">
        <span class="govuk-visually-hidden">{{ worker.nameOrId }} is</span>
        <app-eligibility-icon [eligible]="worker.wdfEligible"></app-eligibility-icon>
      </td>
    </tr>
  </tbody>
</table>
