<header class="govuk-header" role="banner" data-module="header" [class.open-dropdown]="showDropdown">
  <div class="govuk-header__container govuk-width-container">
    <div>
      <img src="/assets/images/logo.png" alt="Skills for Care" />
    </div>
    <div>
      <a [routerLink]="['/']" class="govuk-header__strapline">Adult Social Care Workforce Data Set</a>
      <button
        (click)="toggleMenu()"
        type="button"
        class="govuk-header__menu-button"
        aria-controls="navigation"
        aria-label="Show or hide Top Level Navigation"
      >
        Menu
      </button>
    </div>
    <nav>
      <ul class="govuk-header__navigation" id="navigation" aria-label="Top Level Navigation">
        <ng-container *ngIf="!isLoggedIn()">
          <li class="govuk-header__navigation-item">
            <a [routerLink]="['/registration', 'start']" class="govuk-header__link">Create an account</a>
          </li>
          <li class="govuk-header__navigation-item">
            <a [routerLink]="['/login']" class="govuk-header__link">Sign in</a>
          </li>
        </ng-container>
        <ng-container *ngIf="isLoggedIn()">
          <li class="govuk-header__navigation-item">{{ fullname }}</li>
          <li class="govuk-header__navigation-item">
            <a [routerLink]="['/account-management']" class="govuk-header__link">Account</a>
          </li>
          <li class="govuk-header__navigation-item">
            <a href="#" (click)="signOut($event)" class="govuk-header__link">Logout</a>
          </li>
        </ng-container>
      </ul>
      <ul class="govuk-header__navigation" id="navigation2" aria-label="Top Level Navigation">
        <ng-container *ngIf="isAdminUser() && isLoggedIn() && !isOnAdminScreen()">
          <li class="govuk-header__navigation-item">
            <a [routerLink]="['/search-users']" class="govuk-link">Back to admin</a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</header>
