@import '~govuk-frontend/govuk/base';

li {
  margin-left: 15px;

  &.active {
    a {
      font-weight: bold;
    }
  }

  &::after {
    content: none !important;
  }
}

header {
  border-top: 30px $govuk-link-colour solid;
}
