<div class="main-page-container col-12">

  <form novalidate
    (ngSubmit)="submitHandler()"
    [formGroup]="form">

    <header>
      <h1 class="h1 col-12 col-lg-8">Do they have any other job roles?</h1>
      <p class="page-input-info">Select all that apply.</p>
    </header>

    <app-messages></app-messages>

    <div class="form-group mt-5">
      <div class="field-group col-12 col-md-8 col-lg-6" formArrayName="selectedJobRoles">
        <div *ngFor="let job of form.get('selectedJobRoles').controls; let idx = index" [formGroupName]="idx">
          <div class="row mb-4">
            <div class="col-12">
              <label class="check main-body-text p-0">
                <input type="checkbox" (change)="onChange(job)" [checked]="job.value.checked" />
                <span class="checkmark"></span>
                <span class="check-label main-body-text mt-0">{{job.value.title}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-submit-button [saveCallback]="saveHandler"></app-submit-button>
  </form>
</div>
