<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Do they have any other job roles?</h1>
  </div>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
    <fieldset class="govuk-fieldset" aria-describedby="otherJobRoles-hint">
      <span id="otherJobRoles-hint" class="govuk-hint">
        Select all that apply.
      </span>
      <div class="govuk-checkboxes" formArrayName="selectedJobRoles">
        <div
          *ngFor="let job of form.get('selectedJobRoles').controls; let idx = index"
          class="govuk-checkboxes__item"
          [formGroupName]="idx"
        >
          <input
            class="govuk-checkboxes__input"
            id="selectedJobRole-{{ idx }}"
            name="jobRole"
            type="checkbox"
            (change)="onChange(job)"
            [checked]="job.value.checked"
            [value]="job.value.id"
          />
          <label class="govuk-label govuk-checkboxes__label" for="selectedJobRole-{{ idx }}">
            {{ job.value.title }}
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <app-submit-button [return]="!!return" (click)="onSubmit($event)"></app-submit-button>
</form>
