
<footer id="footer-container" class="container-fluid p-0">
  <div class="main-footer container-fluid">
    <div class="container">
      <span class="footer-tagline">Used by</span>
      <div class="row">
        <div class="logo col-12 col-lg-4">
          <img src="../../../assets/img/dohasc-logo.png" alt="Department of health and social care" />
        </div>

        <ul class="footer-nav-list col-12 col-lg-8">
          <li class="d-inline-block"><a routerLink="/" title="Help">Help</a></li>
          <li class="d-inline-block"><a routerLink="/n" title="Cookies">Cookies</a></li>
          <li class="d-inline-block"><a routerLink="/n" title="Contact us">Contact us</a></li>
          <li class="d-inline-block"><a routerLink="/n" title="Terms and conditions">Terms and conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
