<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('totalStaff').invalid">
      <h1 class="govuk-heading-xl">Add the total number of staff for your workplace</h1>
      <div class="govuk-!-margin-bottom-3">
        <p>
          <span id="totalStaff-hint">
            The total needs to include all staff (care-providers and non care-providers, those on permanent or temporary
            contracts, pool, bank and agency workers).
          </span>
        </p>
      </div>
      <span *ngIf="submitted && form.get('totalStaff').invalid" id="totalStaff-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('totalStaff') }}
      </span>
      <div [formGroup]="form">
        <label class="govuk-label" for="totalStaff"> Total number of staff </label>
        <input
          class="govuk-input govuk-input--width-4"
          [class.govuk-input--error]="submitted && form.get('totalStaff').invalid"
          [formControlName]="'totalStaff'"
          id="totalStaff"
          name="totalStaff"
          type="text"
          aria-describedby="totalStaff-hint"
        />
      </div>
    </div>
  </div>
</div>
