<div class="govuk-grid-row">
  <h2 class="govuk-heading-m govuk-!-margin-left-1">Staff training and qualifications ({{ totalRecords || 0 }})</h2>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a class="govuk-list govuk-list--inline" href="#">View all workplace training</a>
  </div>
  <div class="govuk-grid-column-one-third">
    <a
      class="govuk-list govuk-list--inline govuk-util__float-right govuk-!-margin-right-5"
      [routerLink]="['/add-mandatory-training']"
      >Set up mandatory training
    </a>
  </div>
  <div class="govuk-grid-column-one-third">
    <a
      class="govuk-list govuk-list--inline govuk-list govuk__flex govuk__align-items-center"
      role="button"
      draggable="false"
      href="/download/{{ now | date: 'yyyy-MM-dd' }}-training-report.xls"
      (click)="downloadTrainingReport($event)"
    >
      <img alt="" src="/assets/images/icon-download.svg" /><span class="govuk-!-margin-left-1">
        Download training report
      </span>
    </a>
  </div>
</div>
<ng-container *ngIf="workers; else noStaffRecords">
  <div class="govuk-grid-row" *ngIf="totalRecords === 0">
    <div class="govuk-grid-column-two-thirds">
      <app-inset-text color="warning">Start adding your training and qualifications records.</app-inset-text>
      <p>
        Many care providers use ASC-WDS as the place to keep a record of all their staff training and qualifications.
        The service alerts them when training is expiring e.g. fire safety.
      </p>
      <h3>Click on a staff name to add a record.</h3>
    </div>
  </div>
  <app-training-info-panel
    *ngIf="workers"
    [workplace]="workplace"
    [totalExpiredTraining]="totalExpiredTraining"
    [totalExpiringTraining]="totalExpiringTraining"
  ></app-training-info-panel>

  <app-training-and-qualifications-summary *ngIf="workers" [workplace]="workplace" [workers]="workers">
  </app-training-and-qualifications-summary>
</ng-container>
<ng-template #noStaffRecords>
  <app-inset-text color="warning">You need to start adding your staff records.</app-inset-text>
</ng-template>
