<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Training and qualifications ({{ totalStaff === 0 ? totalStaff : totalRecords }})</h2>
  </div>
</div>
<ng-container *ngIf="totalStaff > 0; else noStaffRecords">
  <div class="govuk-grid-row" *ngIf="totalRecords === 0">
    <div class="govuk-grid-column-two-thirds">
      <app-inset-text color="warning">Start adding your training and qualifications records.</app-inset-text>
      <p>
        Many care providers use ASC-WDS as the place to keep a record of all their staff training and qualifications.
        The service alerts them when training is expiring e.g. fire safety.
      </p>
      <h3>Click on a staff name to add a record.</h3>
    </div>
  </div>
  <app-training-info-panel
    *ngIf="workers"
    [workplace]="workplace"
    [totalExpiredTraining]="totalExpiredTraining"
    [totalExpiringTraining]="totalExpiringTraining"
  ></app-training-info-panel>

  <app-training-and-qualifications-summary
    *ngIf="workers"
    [workplace]="workplace"
    [workers]="workers"
  ></app-training-and-qualifications-summary>
</ng-container>
<ng-template #noStaffRecords>
  <app-inset-text color="warning">You need to start adding your staff records.</app-inset-text>
</ng-template>
