<form (ngSubmit)="onSubmit()" [formGroup]="form" #formEl>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-8">
          <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
          <h1 class="govuk-fieldset__heading">
            {{ title }}
          </h1>
        </legend>
        <app-grouped-radio-button-accordion
          formControlName="category"
          [accordions]="trainingGroups"
        ></app-grouped-radio-button-accordion>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__items">
            <input type="radio"
              name="category"
              class="govuk-checkboxes__input"
              id="otherCheckbox"
              [value]="otherCategory.id"
            />
            <label for="otherCheckbox" class="govuk-checkboxes__label">The training is not in any of these categories</label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-!-margin-right-9">Continue</button>

    <a
      class="govuk-button govuk-button--link govuk-!-margin-left-9"
      role="button"
      draggable="false"
      (click)="onCancel($event)"
    >
      Cancel
    </a>
  </div>
</form>
