<table class="govuk-table" *ngIf="selectedFiles">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">File name</th>
      <th class="govuk-table__header" scope="col">File type</th>
      <th class="govuk-table__header" scope="col">File size</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor="let file of selectedFiles">
      <td class="govuk-table__cell" scope="row">{{ file.name }}</td>
      <td class="govuk-table__cell">{{ transformFileType(file.type) }}</td>
      <td class="govuk-table__cell">
        {{ transformFileSize(file.size) }}
        <a href="#" (click)="removeFile($event, file.name)" class="govuk-util__float-right">
          Remove
          <span class="govuk-visually-hidden">{{ file.name }}</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
