#paginationElipsis {
  text-align: left;
  margin-right: 15px;
  margin-bottom: 0;
}

.govuk-link {
  text-decoration: none;
  margin-bottom: 0;
}

#next-link {
  margin-left: 16px;
  margin-right: 5px;
}

#previous-link {
  margin-left: 5px;
  margin-right: 31px;
}
