<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group govuk-!-padding-bottom-4">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
              What kind of delegated healthcare activities do your non-nursing staff carry out?
            </h1>
          </legend>
        </fieldset>
      </div>
      <app-workplace-submit-button
        [return]="!!return"
        (clicked)="setSubmitAction($event)"
      ></app-workplace-submit-button>
    </div>
    <div class="govuk-grid-column-one-third">
      <div *ngIf="!return" class="govuk-util__float-right">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="workplaceFlowSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
    </div>
  </div>
</form>
