<fieldset class="govuk-fieldset">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span data-testid="caption" class="govuk-caption-l">Staff records</span>
        <h1 data-testid="heading" class="govuk-heading-l govuk-!-margin-bottom-2">
          You're about to update pay <br />in {{ totalCount }} staff record{{ totalCount === 1 ? '' : 's' }}
        </h1>
      </legend>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Job role</th>
              <th scope="col" class="govuk-table__header" width="40%">New hourly pay rate or salary</th>
              <th scope="col" class="govuk-table__header" width="5%"></th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            @for (workers of filteredGroups; track $index) {
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div>
                  <span>{{ workers.title }} ({{ workers.count }} record{{ workers.count === 1 ? '' : 's' }})</span>
                  <div class="govuk-util__float-right govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                    <img src="/assets/images/right-arrow.svg" alt="Right facing grey arrow" />
                  </div>
                </div>
              </td>
              <td class="govuk-table__cell">
                <div>
                  @if (workers.annualHourlyPay?.rate) {
                  <span>
                    {{
                      workers.annualHourlyPay?.value === 'Hourly'
                        ? '£' + workers.annualHourlyPay.rate + ' hourly pay'
                        : '£' + (workers.annualHourlyPay.rate | number) + ' annual salary'
                    }}</span
                  >
                  }
                </div>
              </td>

              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  [routerLink]="['/workplace', workplace.uid, 'staff-record', 'fast-track-pay-updates']"
                  [queryParams]="{ index: workers.originalIndex }"
                >
                  Change
                </a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</fieldset>

<div class="govuk-button-group govuk-!-margin-top-12">
  <button type="button" (click)="onSubmit()" class="govuk-button govuk-!-margin-right-9">Save and return</button>

  <a
    class="govuk-button govuk-button--link govuk-!-margin-left-9"
    [routerLink]="['/workplace', workplace.uid, 'staff-record', 'fast-track-pay-updates']"
  >
    Cancel
  </a>
</div>
