<ng-container *ngIf="notification">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" style="width: 70%">
      <div [ngSwitch]="notification.typeContent.approvalStatus">
        <div *ngSwitchCase="'REQUESTED'">
          <p>{{ notificationRequestedFrom }}, {{ postCode }} want to link to you.</p>
        </div>
        <div *ngSwitchCase="'CANCELLED'">
          <p>You have a request from {{ notificationRequestedFrom }} to link to you.</p>
          <p>Approve the request to set the following permissions:</p>
        </div>
        <div *ngSwitchCase="'DENIED'">
          <ng-container *ngIf="isWorkPlaceRequester; else nonWorkplaceRequester">
            <p>You have rejected a request from {{ notificationRequestedFrom }} to link to you.</p>
            <h2 class="govuk-heading-s">Reason</h2>
            <ng-container *ngIf="notification.typeContent.rejectionReason; else noReason">
              <p>{{ notification.typeContent.rejectionReason }}</p>
            </ng-container>
            <ng-template #noReason>
              <p>No reason provided.</p>
            </ng-template>
          </ng-container>
          <ng-template #nonWorkplaceRequester>
            <p>{{ notificationRequestedTo }}, {{ postCode }} has rejected your request to link to them.</p>
            <h2 class="govuk-heading-s">Reason</h2>
            <ng-container *ngIf="notification.typeContent.rejectionReason; else noReason">
              <p>{{ notification.typeContent.rejectionReason }}</p>
            </ng-container>
            <ng-template #noReason>
              <p>No reason provided.</p>
            </ng-template>
          </ng-template>
        </div>
        <div *ngSwitchCase="'APPROVED'">
          <ng-container *ngIf="isWorkPlaceRequester; else nonWorkplaceRequester">
            <p>You have approved a request from {{ notificationRequestedFrom }} to link to you.</p>
          </ng-container>
          <ng-template #nonWorkplaceRequester>
            <p>Your request to link to {{ notificationRequestedTo }}, {{ postCode }} has been approved.</p>
          </ng-template>
        </div>
        <div *ngSwitchDefault></div>
      </div>
      <div [ngSwitch]="notification.typeContent.approvalStatus">
        <div *ngSwitchCase="'REQUESTED'"><h2 class="govuk-!-margin-top-7">Data permissions if approved</h2></div>
        <div *ngSwitchCase="'APPROVED'">
          <h2 class="govuk-!-margin-top-7">Data permissions</h2>
        </div>
      </div>
      <table class="govuk-table govuk-table__with-action" *ngIf="notification.typeContent.approvalStatus !== 'DENIED'">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row" data-testid="tableHeaders">
            <th scope="col" class="govuk-table__header">Workplace</th>
            <th scope="col" class="govuk-table__header">Permissions</th>
          </tr>
        </thead>
        <tbody class="govuk-tab">
          <tr class="govuk-table__row govuk-error-table__row--no-border">
            <td class="govuk-table__cell">
              {{ notificationRequestedTo }}
            </td>
            <ng-container *ngIf="notification.typeContent.permissionRequest === 'None'; else notNone">
              <td class="govuk-table__cell">
                {{ notification.typeContent.permissionRequest | dataViewPermissions }}
              </td>
            </ng-container>
            <ng-template #notNone>
              <td class="govuk-table__cell">
                {{ notification.typeContent.permissionRequest | dataViewPermissions }} (view only)
              </td>
            </ng-template>
          </tr>
          <tr class="govuk-table__row govuk-error-table__row--no-border">
            <td class="govuk-table__cell">
              {{ notificationRequestedFrom }}
            </td>
            <td class="govuk-table__cell">Workplace and staff records (edit)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
