<div class="sub-page-container col-12">

  <p class="heading-caption m-0 pb-4">User account</p>
  <h1 class="h1">Your details</h1>

  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="changeUserDetailsForm">

    <div class="form-group mb-5">
      <div class="col-12 col-md-6 p-0">

        <div class="field-group"
          [ngClass]="{'is-invalid': displayError && getUserFullnameInput.errors }">

          <label class="form-label" for="userFullname">Your full name</label>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2" *ngIf="displayError && getUserFullnameInput.hasError('required')">
              Please enter your fullname.
            </span>
            <span class="main-body-text mb-2" *ngIf="displayError && getUserFullnameInput.hasError('maxlength')">
              Your fullname must be no longer than 120 characters.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="userFullname" class="form-control col-12" formControlName="userFullnameInput" />

          </div>

        </div>
        <div class="field-group mt-5"
          [ngClass]="{'is-invalid': displayError && getUserJobTitle.errors }">

          <label class="form-label" for="userJobTitle">Your job title</label>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2" *ngIf="displayError && getUserJobTitle.hasError('required')">
              Please enter your job title.
            </span>
            <span class="main-body-text mb-2" *ngIf="displayError && getUserJobTitle.hasError('maxlength')">
              Your job title must be no longer than 120 characters.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="userJobTitle" class="form-control col-12" formControlName="userJobTitleInput" />

          </div>
        </div>
        <div class="field-group mt-5"
          [ngClass]="{'is-invalid': displayError && getUserEmailInput.errors }">

          <label class="form-label" for="userEmail">Your email address</label>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2" *ngIf="displayError && getUserEmailInput.hasError('required')">
              Please enter your email address.
            </span>
            <span class="main-body-text mb-2" *ngIf="displayError && getUserEmailInput.hasError('maxlength')">
              Your email address must be no longer than 120 characters.
            </span>
            <span class="main-body-text mb-2" *ngIf="displayError && getUserEmailInput.hasError('pattern')">
              Please enter a valid email address.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="email" id="userEmail" class="form-control col-12" formControlName="userEmailInput" />

          </div>
        </div>
        <div class="field-group mt-5"
          [ngClass]="{'is-invalid': displayError && getUserPhoneInput.errors }">

          <label class="form-label" for="userPhone">Contact phone number</label>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2" *ngIf="displayError && getUserPhoneInput.hasError('required')">
              Please enter your contact phone number.
            </span>
            <span class="main-body-text mb-2" *ngIf="displayError && getUserPhoneInput.hasError('pattern')">
              Invalid contact phone number.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="tel" id="userPhone" class="form-control col-12" formControlName="userPhoneInput" />

          </div>
        </div>
      </div>

    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>

  </form>


</div>
