<app-error-summary
  *ngIf="submitted && form.invalid"
  [formErrorsMap]="formErrorsMap"
  [form]="form"
  [serverError]="serverError"
>
</app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <span class="govuk-caption-m govuk-!-margin-bottom-2">User account</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Your details</h1>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && getUserFullnameInput.errors">
        <label class="govuk-label" for="userFullnameInput">
          Your full name
        </label>
        <span *ngIf="submitted && getUserFullnameInput.errors" id="userFullnameInput-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="getUserFullnameInput.hasError('required')">
            {{ getFormErrorMessage('userFullnameInput', 'required') }}
          </span>
          <span *ngIf="getUserFullnameInput.hasError('maxlength')">
            {{ getFormErrorMessage('userFullnameInput', 'maxlength') }}
          </span>
        </span>
        <input
          class="govuk-input"
          formControlName="userFullnameInput"
          id="userFullnameInput"
          name="userFullnameInput"
          [class.govuk-input--error]="submitted && getUserFullnameInput.errors"
          placeholder=""
          type="text"
        />
      </div>

      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && getUserJobTitle.errors">
        <label class="govuk-label" for="userJobTitleInput">
          Your job title
        </label>
        <span *ngIf="submitted && getUserJobTitle.errors" id="userJobTitleInput-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="getUserJobTitle.hasError('required')">
            {{ getFormErrorMessage('userJobTitleInput', 'required') }}
          </span>
          <span *ngIf="getUserJobTitle.hasError('maxlength')">
            {{ getFormErrorMessage('userJobTitleInput', 'maxlength') }}
          </span>
        </span>
        <input
          class="govuk-input"
          formControlName="userJobTitleInput"
          id="userJobTitleInput"
          name="userJobTitleInput"
          [class.govuk-input--error]="submitted && getUserJobTitle.errors"
          placeholder=""
          type="text"
        />
      </div>

      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && getUserEmailInput.errors">
        <label class="govuk-label" for="userEmailInput">
          Your email address
        </label>
        <span *ngIf="submitted && getUserEmailInput.errors" id="userEmailInput-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="getUserEmailInput.hasError('required')">
            {{ getFormErrorMessage('userEmailInput', 'required') }}
          </span>
          <span *ngIf="getUserEmailInput.hasError('maxlength')">
            {{ getFormErrorMessage('userEmailInput', 'maxlength') }}
          </span>
          <span *ngIf="getUserEmailInput.hasError('pattern')">
            {{ getFormErrorMessage('userEmailInput', 'pattern') }}
          </span>
        </span>
        <input
          class="govuk-input"
          formControlName="userEmailInput"
          id="userEmailInput"
          name="userEmailInput"
          [class.govuk-input--error]="submitted && getUserEmailInput.errors"
          placeholder=""
          type="text"
        />
      </div>

      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && getUserPhoneInput.errors">
        <label class="govuk-label" for="userPhoneInput">
          Contact phone number
        </label>
        <span *ngIf="submitted && getUserPhoneInput.errors" id="userPhoneInput-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          <span *ngIf="getUserPhoneInput.hasError('required')">
            {{ getFormErrorMessage('userPhoneInput', 'required') }}
          </span>
          <span *ngIf="getUserPhoneInput.hasError('pattern')">
            {{ getFormErrorMessage('userPhoneInput', 'pattern') }}
          </span>
         </span>
        <input
          class="govuk-input"
          formControlName="userPhoneInput"
          id="userPhoneInput"
          name="userPhoneInput"
          [class.govuk-input--error]="submitted && getUserPhoneInput.errors"
          placeholder=""
          type="text"
        />
      </div>

      <button class="govuk-button govuk-!-margin-top-2" type="submit">Save and return</button>
    </form>
  </div>
</div>
