<div class="main-page-container col-12">
  <div id="back" class="back-link">
    <a [routerLink]="['/worker', worker.uid, backLink]">
      <span class="arrow"></span>Back
    </a>
  </div>

  <form novalidate
    (ngSubmit)="submitHandler()"
    [formGroup]="form">

    <header>
      <h1 class="h1">What is the highest level of their social care qualifications?</h1>
    </header>

    <app-details title="Help with qualification levels">
      <p class="main-body-text">
        You can find more information about qualification levels here:<br />
        <a target="_blank" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">
          https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels
        </a>
      </p>
    </app-details>

    <app-messages></app-messages>

    <div class="field-group mb-5">
      <label>Qualification level
        <select formControlName="qualification" class="form-control">
          <option [ngValue]="null">Select Qualification Level</option>
          <option *ngFor="let qualification of qualifications" [value]="qualification.id">
            {{qualification.level}}
          </option>
        </select>
      </label>
    </div>

    <app-submit-button [saveCallback]="saveHandler"></app-submit-button>
  </form>
</div>
