<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">Contact us</h1>
    </legend>
    <p>Call the ASC-WDS Support Team on <strong>0113 241 0969</strong>.</p>
    <p>We're available Monday to Friday, 9:00am to 5:00pm (not including bank holidays).</p>
    <p>Alternatively, email us at <strong>ascwds-support@skillsforcare.org.uk</strong>.</p>
    <p>
      You can also <a href="https://desk.zoho.eu/portal/skillsforcare/home" target="_blank">use our help centre</a> to
      get answers to popular questions or submit tickets with questions of your own.
    </p>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-one-third">
    <a [routerLink]="['/dashboard']" role="button" draggable="false" class="govuk-button"> Return to home </a>
  </div>
</div>
