
<div class="container col-12">

  <h1>Sign in</h1>

  <form>

    <div class="col-12">
      <label for="username">Username</label>
      <input type="text" placeholder="username" id="username" />
    </div>
    <div class="col-12">
      <label for="password">Password</label>
      <input type="text" placeholder="password" id="password" />
    </div>

    <button class="btn btn-primary">Sign In</button>

  </form>

  <ul>
    <li><a routerLink="">Forgot your password?</a></li>
    <li><a routerLink="/register" title="Create an account">Create an account</a></li>
  </ul>

</div>
