.govuk-file-validate-status--validating {
  background: govuk-colour("orange");
}

.govuk-file-validate-status--pass,
.govuk-file-validate-status--fail {
  color: govuk-colour("white");
}

.govuk-file-validate-status--pass {
  background: govuk-colour("green");
}

.govuk-file-validate-status--fail {
  background: $govuk-error-colour;
}
