<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    Go back to <a routerLink="/dashboard">Home</a>

    <p class="heading-caption m-0 pb-4">Account</p>
    <h1 class="h1">{{ user.fullname }}</h1>

    <h2 class="h2 mb-3">Account details</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border basic-records">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fullname
        </dt>
        <dd class="govuk-summary-list__value">
          {{ user.fullname }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a [routerLink]="['/change-user-details']" title="Edit Fullname" (click)="setReturn()">
            Change
            <span class="govuk-visually-hidden"> basic record details</span>
          </a>
        </dd>
      </div>
    </dl>

  </div>
</div>



<!--  <div class="col-12 pt-4 pb-4 mb-5">-->
<!--    <div class="main-text col-12 p-0">-->
<!--      <div class="row border-line-bottom">-->
<!--        <div class="tb-cell col-4 pt-3 pb-3"><strong>Fullname</strong></div>-->
<!--        <div class="tb-cell col-5 pt-3 pb-3">{{ user.fullname }}</div>-->
<!--        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/change-user-details" title="Edit Fullname">Change</a></div>-->
<!--      </div>-->
<!--      <div class="row border-line-bottom">-->
<!--        <div class="tb-cell col-4 pt-3 pb-3"><strong>Job title</strong></div>-->
<!--        <div class="tb-cell col-5 pt-3 pb-3">{{ user.jobTitle }}</div>-->
<!--        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/change-user-details" title="Edit Job title">Change</a></div>-->
<!--      </div>-->
<!--      <div class="row border-line-bottom">-->
<!--        <div class="tb-cell col-4 pt-3 pb-3"><strong>Email address</strong></div>-->
<!--        <div class="tb-cell col-5 pt-3 pb-3">{{ user.email }}</div>-->
<!--        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/change-user-details" title="Edit Email address">Change</a></div>-->
<!--      </div>-->
<!--      <div class="row border-line-bottom">-->
<!--        <div class="tb-cell col-4 pt-3 pb-3"><strong>Contact phone</strong></div>-->
<!--        <div class="tb-cell col-5 pt-3 pb-3">{{ user.phone }}</div>-->
<!--        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/change-user-details" title="Edit Contact phone">Change</a></div>-->
<!--      </div>-->
<!--      <div class="row border-line-bottom">-->
<!--        <div class="tb-cell col-4 pt-3 pb-3"><strong>Username</strong></div>-->
<!--        <div class="tb-cell col-5 pt-3 pb-3">{{ user.username }}</div>-->
<!--        <div class="tb-cell text-right col-3 pt-3 pb-3"></div>-->
<!--      </div>-->
<!--      <div class="row border-line-bottom">-->
<!--        <div class="tb-cell col-4 pt-3 pb-3"><strong>Password</strong></div>-->
<!--        <div class="tb-cell col-5 pt-3 pb-3">********</div>-->
<!--        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/change-password" title="Edit Password">Change</a></div>-->
<!--      </div>-->
<!--      <div class="row border-line-bottom">-->
<!--        <div class="tb-cell col-4 pt-3 pb-3"><strong>Security question</strong></div>-->
<!--        <div class="tb-cell col-5 pt-3 pb-3">{{ user.securityQuestion }}</div>-->
<!--        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/change-user-security" title="Edit security question">Change</a></div>-->
<!--      </div>-->
<!--      <div class="row border-line-bottom">-->
<!--        <div class="tb-cell col-4 pt-3 pb-3"><strong>Security answer</strong></div>-->
<!--        <div class="tb-cell col-5 pt-3 pb-3">{{ user.securityQuestionAnswer }}</div>-->
<!--        <div class="tb-cell text-right col-3 pt-3 pb-3"><a routerLink="/change-user-security" title="Edit security question answer">Change</a></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
