<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-4">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-size-27">
        Training and qualifications ({{ totalRecords || 0 }})
      </h2>
      @if (tAndQsLastUpdated) {
      <p class="govuk-!-font-size-16 govuk-!-margin-top-2">
        Last update, {{ tAndQsLastUpdated | date: 'd MMMM yyyy' }}
      </p>
      }
    </div>
  </div>
  @if (workers && workers.length) {
  <div class="govuk-grid-column-one-third govuk-!-padding-right-0 govuk">
    <div class="govuk-!-margin-bottom-4">
      @if (totalRecords) {
      <a
        class="govuk-list govuk-list--inline govuk-list govuk__flex govuk__align-items-center"
        role="button"
        draggable="false"
        href="/download/{{ now | date: 'yyyy-MM-dd' }}-training-report.xls"
        (click)="downloadTrainingReport($event)"
      >
        <img alt="" src="/assets/images/icon-download.svg" /><span class="govuk-!-margin-left-1">
          Download training report
        </span>
      </a>
      } @if (isParent) {
      <a
        class="govuk-list govuk-list--inline govuk-list govuk__flex govuk__align-items-center"
        role="button"
        draggable="false"
        href="/download/{{ now | date: 'yyyy-MM-dd' }}-parent-training-report.xls"
        (click)="downloadParentTrainingReport($event)"
      >
        <img alt="" src="/assets/images/icon-download.svg" /><span class="govuk-!-margin-left-1">
          Download parent training report
        </span>
      </a>
      }
    </div>
  </div>
  }
</div>
