<div class="main-page-container col-12">
  <header>
    <h1 class="h1">Contact Us</h1>
  </header>

  <div class="row form">
    <div class="col-12">
      If you require direct assistance, please call 0845 873 0129 (direct dial number 0113 241 0969), to speak to a member of the ASCWDS Support Team.<br/><br/>
    </div>
  </div>
  <div  class="row form">
    <div class="col-12">
      Our support staff are available Monday to Friday 9.00am - 5.00pm excluding bank holidays.<br/><br/>
    </div>
  </div>
  <div class="btn-container">
    <button type="submit" class="btn btn-primary" (click)="closeWindow()">Close</button>
  </div>
</div>