<app-error-summary
  *ngIf="(submitted && form.invalid) || serverError"
  [form]="form"
  [formErrorsMap]="formErrorsMap"
  [serverError]="serverError"
></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Share your data</h1>
    <div *ngIf="establishment.isRegulated">
      <p>We'd like to share your data with the Care Quality Commission (CQC) and local authorities.</p>
    </div>
    <div *ngIf="!establishment.isRegulated">
      <p>We'd like to share your data with local authorities.</p>
    </div>
    <p>
      Before we can do that, and in order to comply with the Data Protection Act and the General Data Protection
      Regulations (GDPR), we'll need your permission.
    </p>

    <app-details [title]="'Why share your data?'">
      <div *ngIf="establishment.isRegulated">
        <p>
          The CQC use the data as part of their overall suite of intelligence about adult social care providers and the
          wider sector.
        </p>
      </div>
      <p>
        Local authorities would like access to your data to help them monitor where they've made ASC-WDS a condition of
        contract.<br />
        <br />
        Having access to care provider data allows local authorities to plan the sector by area. It helps them to tackle
        recruitment issues and to understand the types of training needed by care providers.
      </p>
    </app-details>
    <app-details *ngIf="establishment.isRegulated" [title]="'Not everything is shared with the CQC'">
      <p>We do not share:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>record ID</li>
        <li>pay</li>
        <li>sickness, absence</li>
        <li>date of birth</li>
        <li>National Insurance number</li>
        <li>ethnicity</li>
        <li>nationality</li>
        <li>country of birth</li>
        <li>year of arrival in the UK</li>
        <li>hours worked in the last 7 days</li>
      </ul>
      <p>The CQC cannot identify workers from the data that is shared with them.</p>
    </app-details>
    <app-details [title]="'Not everything is shared with the local authorities'">
      <p>We do not share:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>record ID</li>
        <li>date of birth</li>
        <li>National Insurance number</li>
        <li>ethnicity</li>
        <li>nationality</li>
        <li>country of birth</li>
        <li>year of arrival in the UK</li>
      </ul>
      <p>Local authorities cannot identify workers from the data that is shared with them.</p>
    </app-details>
  </div>
</div>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" [formGroup]="form.get('shareWith')">
          <div *ngIf="establishment.isRegulated">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Do you agree to us sharing your data with the CQC?</h2>
            </legend>
            <div class="govuk-radios govuk-radios--conditional govuk-!-margin-top-6">
              <div class="govuk-radios__item">
                <input
                  aria-controls="cqc-conditional-1"
                  data-testid="cqc-yes"
                  class="govuk-radios__input"
                  id="cqc-yes"
                  type="radio"
                  [value]="true"
                  [formControlName]="'cqc'"
                />
                <label class="govuk-label govuk-radios__label" for="cqc-yes">
                  Yes, I agree to you sharing our data with the CQC
                </label>
              </div>
              <div class="govuk-radios__item">
                <input
                  aria-controls="cqc-conditional-2"
                  data-testid="cqc-no"
                  class="govuk-radios__input"
                  id="cqc-no"
                  type="radio"
                  [value]="false"
                  [formControlName]="'cqc'"
                />
                <label class="govuk-label govuk-radios__label govuk-!-margin-bottom-8" for="cqc-no">
                  No, I do not agree to you sharing our data with the CQC
                </label>
              </div>
            </div>
          </div>

          <div>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Do you agree to us sharing your data with local authorities?</h2>
            </legend>
            <div class="govuk-radios govuk-radios--conditional govuk-!-margin-top-6">
              <div class="govuk-radios__item">
                <input
                  aria-controls="localAuthorities-conditional-1"
                  class="govuk-radios__input"
                  id="localAuthorities-yes"
                  data-testid="localAuthorities-yes"
                  type="radio"
                  [value]="true"
                  [formControlName]="'localAuthorities'"
                />
                <label class="govuk-label govuk-radios__label" for="localAuthorities-yes">
                  Yes, I agree to you sharing our data with local authorities
                </label>
              </div>
              <div class="govuk-radios__item">
                <input
                  aria-controls="localAuthorities-conditional-2"
                  class="govuk-radios__input"
                  id="localAuthorities-no"
                  data-testid="localAuthorities-no"
                  type="radio"
                  [value]="false"
                  [formControlName]="'localAuthorities'"
                />
                <label class="govuk-label govuk-radios__label" for="localAuthorities-no">
                  No, I do not agree to you sharing our data with local authorities</label
                >
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"> </app-submit-button>
</form>
