<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Adult Social Care Workforce Data Set</h1>

    <h2 class="govuk-heading-l">What is the Adult Social Care Workforce Data Set?</h2>
    <p>
      It is an online data collection service for the adult social care sector. It is run by Skills for Care, in
      partnership with the Department of Health and Social Care.
    </p>
    <p>
      It has replaced the National Minimum Data Set for Social Care (NMDS-SC). If you had an account with that service
      you can use the same details to sign in.
    </p>

    <h2 class="govuk-heading-l">Who should have an account?</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>adult social care providers</li>
      <li>local authorities</li>
    </ul>

    <h2 class="govuk-heading-l">Who uses the data?</h2>
    <p>
      Your data is anonymised then used by Skills for Care, the Department of Health and Social Care, the government,
      local authorities, the Care Quality Commission and Health Education England. It is also used by researchers to
      better understand the sector.
    </p>
    <p>
      They use it for a variety of reasons including understanding workforce and provider issues, workforce modelling,
      policy making and planning funds and resources.
    </p>

    <h2 class="govuk-heading-l">What do I need to do?</h2>
    <p>
      To create an account you just need to give us some basic details about your workplace. We will then check your
      information and let you know if you should have an account.
    </p>
    <p>Once you have been approved you can start adding your workplace and staff records.</p>

    <p><strong>Creating an account will take around 6 minutes.</strong></p>

    <a
      [routerLink]="['/registration', 'regulated-by-cqc']"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start"
    >
      Start now
    </a>
  </div>
</div>
