.govuk-auto-suggest {
  ul {
    border: 2px solid $govuk-input-border-colour;
    margin: 0;
    border-top: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 8px;
      border-bottom: 1px solid $govuk-input-border-colour;
      cursor: pointer;

      &:last-child {
        border: 0;
      }
    }
  }
}
