.info-strip {
	background: #fff;
	position: relative;
	padding: 20px 10px 20px 60px;
    border-radius: 4px;
    line-height: 18px;

    img {
    	position: absolute;
    	left: 20px;
    	top: 0;
    	bottom: 0;
    	margin: auto;
    }
}

.has-divider {
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.16);
}