.info-strip {
	position: relative;
	padding: 0 0 0 20px;
    border-radius: 4px;
    line-height: 18px;
    font-size: 15px;
    color: #4a4a4a;

    img {
    	position: absolute;
    	left: 0;
    	top: 0;
    	bottom: 0;
    	margin: auto;
        width: 15px;
    }
}

.has-divider {
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.16);
}