.govuk-inset-text {
  &.todo {
    border-color: govuk-colour("orange");
    background-color: rgba(govuk-colour("orange"), 0.25);
  }

  &.success {
    border-color: govuk-colour("green");
    background-color: rgba(govuk-colour("green"), 0.25);
  }

  &.warning {
    border-color: govuk-colour("orange");
    background-color: rgba(govuk-colour("orange"), 0.25);
  }
}
