@import '../partials/colors';

.govuk-inset-text {
  &.todo {
    border-color: $jaffa;
    background-color: rgba($jaffa, 0.25);
  }

  &.success {
    border-color: govuk-colour("green");
    background-color: rgba(govuk-colour("green"), 0.25);
  }

  &.warning {
    border-color: $jaffa;
    background-color: rgba($jaffa, 0.25);
  }
}
