$alert: #f47738;
$success: #00823b;

.govuk-inset-text {
  &.todo {
    border-color: $alert;
    background-color: rgba($alert, 0.25);
  }

  &.success {
    border-color: $success;
    background-color: rgba($success, 0.25);
  }
}
