.govuk-summary-list--wrap-border {
  border: 1px solid $govuk-border-colour;
  border-width: 1px 0;
}
.govuk-summary-list--bottom-border {
  .govuk-summary-list__key,
  .govuk-summary-list__value,
  .govuk-summary-list__actions,
  .govuk-summary-list__row {
    border: 1px solid $govuk-border-colour;
    border-width: 0 0 1px 0;
  }
}
.govuk-summary-list--top-border {
  .govuk-summary-list__value {
    vertical-align: middle;
  }
  .govuk-summary-list__row:first-child {
    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions,
    .govuk-summary-list__row {
      border-top: 1px solid $govuk-border-colour;
    }
  }
}
