$error_border_size: $govuk-border-width-form-element-error;
$error_row_indent: 12px;
$error_row_offset: 50px;
$error_row_padding: $govuk-gutter-half;

.govuk-error-table__cell {
  position: relative;
  border-bottom: none;
  box-shadow: inset 0px $error_border_size 0 $shiraz, inset 0px $error_border_size * -1 0 $shiraz;
  padding-top: $error_row_padding;
  padding-bottom: $error_row_padding;

  &:first-of-type:before,
  &:first-of-type:after,
  &:last-of-type:before {
    content: '';
    position: absolute;
    height: 100%;
    background: $shiraz;
    width: $error_border_size;
    top: 0;
  }

  &:first-of-type:after {
    left: -11px;
  }

  &:first-of-type {
    left: $error_row_indent;
    padding-left: $error_row_padding;
    &:before {
      left: 0;
    }
  }

  &:last-of-type {
    padding-right: $error_row_padding;
    &:before {
      right: 0;
    }
  }
}

.govuk-error-table__message-cell {
  padding-top: $error_row_padding * 1.5;
  padding-bottom: 0;
}

.govuk-error-table__message {
  margin-bottom: 0;
  padding-bottom: $error_row_padding;
  padding-left: 8px;
  border-left: $error_border_size solid $shiraz;
}
