@if (notification) {
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      @switch (notification.typeContent.status) { @case ('Approved') {
      <div>
        <p data-testid="message">Your request to become a parent has been approved.</p>
      </div>
      } @case ('Rejected') {
      <div>
        <p data-testid="message">Your request to become a parent has been rejected.</p>
      </div>
      } @default {
      <div></div>
      } }
    </div>
  </div>
</div>
}
