<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Provide basic information for each member of staff.</h1>
  </div>
</div>

<p class="govuk-!-margin-bottom-7">This is mandatory information needed to create a basic staff record.</p>

<app-total-staff-panel
  [workplace]="workplace"
  [totalStaff]="totalStaff"
  [totalWorkers]="calculatedTotalStaff"
></app-total-staff-panel>

<form #formEl novalidate (ngSubmit)="submitHandler()" [formGroup]="form">
  <div [formArrayName]="'staffRecords'">
    <div *ngFor="let staffRecord of staffRecordsControl.controls; let i = index" [formGroupName]="i">
      <ng-container *ngIf="staffRecord.get('active').value; then form; else summary"></ng-container>

      <ng-template #summary>
        <dl class="govuk-summary-list govuk-summary-list--top-border">
          <ng-container class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Staff record {{ i + 1 + totalWorkers }}</dt>
            <dd class="govuk-summary-list__value">
              {{ staffRecord.get('nameOrId').value }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="#" (click)="deleteStaffRecord($event, i)">
                Delete<span class="govuk-visually-hidden">
                  basic record for {{ staffRecord.get('nameOrId').value }}
                </span>
              </a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="#" (click)="openStaffRecord($event, i)">
                View or Change<span class="govuk-visually-hidden">
                  basic record for {{ staffRecord.get('nameOrId').value }}
                </span>
              </a>
            </dd>
          </ng-container>
        </dl>
      </ng-template>

      <ng-template #form>
        <fieldset class="govuk-fieldset" id="staffRecord_{{ i }}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-padding-top-3">
            <h2 class="govuk-fieldset__heading">Staff record {{ i + 1 + totalWorkers }}</h2>
          </legend>
          <div
            class="govuk-form-group"
            [class.govuk-form-group--error]="staffRecord.get('nameOrId').invalid && staffRecord.get('nameOrId').touched"
          >
            <label class="govuk-label" for="nameOrId-{{ i }}">
              Full name or ID number?
            </label>
            <span
              *ngIf="staffRecord.get('nameOrId').invalid && staffRecord.get('nameOrId').touched"
              class="govuk-error-message"
              id="staffRecords-nameOrId-error"
            >
              <span class="govuk-visually-hidden"> Error:</span> Enter a full name or ID number.
            </span>
            <input
              class="govuk-input govuk-input--width-20"
              [class.govuk-input--error]="staffRecord.get('nameOrId').invalid && staffRecord.get('nameOrId').touched"
              [formControlName]="'nameOrId'"
              id="nameOrId-{{ i }}"
              type="text"
            />
          </div>

          <div
            class="govuk-form-group"
            [class.govuk-form-group--error]="
              staffRecord.get('mainJobRole').invalid && staffRecord.get('mainJobRole').touched
            "
          >
            <label class="govuk-label" for="mainJobRole-{{ i }}">
              What is their main job role?
            </label>
            <span
              *ngIf="staffRecord.get('mainJobRole').invalid && staffRecord.get('mainJobRole').touched"
              class="govuk-error-message"
              id="staffRecords-mainJobRole-error"
            >
              <span class="govuk-visually-hidden">Error:</span> Select a job role.
            </span>
            <select
              class="govuk-select"
              [class.govuk-select--error]="
                staffRecord.get('mainJobRole').invalid && staffRecord.get('mainJobRole').touched
              "
              [formControlName]="'mainJobRole'"
              id="mainJobRole-{{ i }}"
            >
              <option [ngValue]="null">Select Main Job Role</option>
              <option *ngFor="let job of jobs" [value]="job.id">
                {{ job.title }}
              </option>
            </select>
          </div>

          <div
            class="govuk-form-group"
            [class.govuk-form-group--error]="
              staffRecord.get('otherJobRole').invalid && staffRecord.get('otherJobRole').touched
            "
            [class.govuk-select__conditional--hidden]="!showOtherField(staffRecord.get('mainJobRole').value)"
          >
            <label class="govuk-label" for="otherJobRole">
              Enter your job role
            </label>
            <span
              *ngIf="staffRecord.get('otherJobRole').invalid && staffRecord.get('otherJobRole').touched"
              class="govuk-error-message"
              id="staffRecords-otherJobRole-error"
            >
              <span class="govuk-visually-hidden">Error:</span>
              Your job role must be {{ this.otherJobRoleCharacterLimit }} characters or less.
            </span>
            <span id="otherJobRole-hint" class="govuk-hint">
              Optional
            </span>
            <input
              class="govuk-input govuk-input--width-20"
              [formControlName]="'otherJobRole'"
              id="otherJobRole-conditional"
              name="otherJobRole"
              type="text"
              aria-describedby="otherJobRole-hint"
            />
          </div>

          <div
            class="govuk-form-group"
            [class.govuk-form-group--error]="staffRecord.get('contract').invalid && staffRecord.get('contract').touched"
          >
            <label class="govuk-label" for="contract">
              What type of contract do they have?
            </label>
            <span
              *ngIf="staffRecord.get('contract').invalid && staffRecord.get('contract').touched"
              class="govuk-error-message"
              id="staffRecords-contract-error"
            >
              <span class="govuk-visually-hidden">
                Error:
              </span>
              Select a contract type.
            </span>
            <div class="govuk-radios">
              <div class="govuk-radios__item" *ngFor="let contract of contracts; let idx = index">
                <input
                  class="govuk-radios__input"
                  [formControlName]="'contract'"
                  id="contract-{{ i }}-{{ idx }}"
                  type="radio"
                  [value]="contract"
                />
                <label class="govuk-label govuk-radios__label" for="contract-{{ i }}-{{ idx }}">
                  {{ contract }}
                </label>
              </div>
            </div>
          </div>

          <button class="govuk-button govuk-button--tertiary" type="button" (click)="saveStaffRecord(i)">
            Save this staff record
          </button>

          <button
            class="govuk-button govuk-button--link govuk-!-margin-left-8"
            type="button"
            (click)="deleteStaffRecord($event, i)"
          >
            <ng-container *ngIf="staffRecord.get('uid').value; then delete; else cancel"></ng-container>
            <ng-template #delete>
              Delete record<span class="govuk-visually-hidden"> {{ i + 1 + totalWorkers }}</span>
            </ng-template>
            <ng-template #cancel>
              Cancel
            </ng-template>
          </button>
        </fieldset>
      </ng-template>
    </div>
  </div>

  <button *ngIf="!displayAddMore" class="govuk-button govuk-button--secondary" type="button" (click)="addStaffRecord()">
    Add another staff record
  </button>
  <div class="govuk-row" *ngIf="!displayAddMore">
    <button class="govuk-button" type="submit">Continue</button>
  </div>
</form>
