<div class="govuk-summary-list__row govuk-summary-list__row-above-message">
  <dt class="govuk-summary-list__key govuk-!-width-one-half"></dt>
  <dd class="govuk-summary-list__value govuk-summary-list__message">
    <div class="message-content">
      <img
        alt="Red flag icon"
        src="/assets/images/Red_flag-WDF_table_(1).svg"
        class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
      />
      This information needs to be added
    </div>
  </dd>
  <dd class="govuk-summary-list__value govuk-summary-list__message"></dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-!-padding-top-2"></dt>
  <dd></dd>
  <dd></dd>
</div>
