<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
            <h1 class="govuk-fieldset__heading">What's the highest level of their other qualifications?</h1>
          </legend>
          <app-details [title]="'Get help with qualification levels'">
            <p>
              <a
                target="_blank"
                href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"
              >
                Find out more about qualification levels<span class="govuk-visually-hidden"
                  >, (opens in a new window)</span
                >
              </a>
              on the GOV.UK website.
            </p>
          </app-details>
          <h3 class="govuk-heading-s">Qualification level</h3>

          <div class="govuk-radios" data-module="govuk-radios">
            <div *ngFor="let qualification of qualifications; let i = index" class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="qualification-{{ i }}"
                [formControlName]="'qualification'"
                name="qualification"
                type="radio"
                [value]="qualification.id"
              />
              <label class="govuk-label govuk-radios__label" for="qualification-{{ i }}">
                {{ qualification.level | dontKnow }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" *ngIf="insideFlow">
      <div class="govuk-!-margin-left-8">
        <app-progress-bar
          data-testid="progress-bar-1"
          [sections]="staffRecordSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
    </div>
  </div>

  <app-submit-button [return]="!insideFlow" (clicked)="setSubmitAction($event)"></app-submit-button>
</form>
