<h2 class="govuk-heading-s govuk-!-margin-top-6">Download your current data</h2>
<ul class="govuk-list govuk-list--download govuk-!-margin-bottom-0">
  <li>
    <a
      href="/bulk-upload/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-bulk-upload-workplace.csv"
      (click)="downloadFile($event, BulkUploadFileType.Establishment)"
    >
      Workplace
    </a>
  </li>
  <li>
    <a
      class="govuk-!-padding-top-2"
      href="/bulk-upload/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-bulk-upload-staff.csv"
      (click)="downloadFile($event, sanitise ? BulkUploadFileType.WorkerSanitise : BulkUploadFileType.Worker)"
    >
      Staff
    </a>
  </li>
  <li>
    <a
      href="/bulk-upload/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-bulk-upload-training.csv"
      (click)="downloadFile($event, BulkUploadFileType.Training)"
    >
      Training
    </a>
  </li>
</ul>
