<app-error-summary
  *ngIf="submitted && form.invalid"
  [formErrorsMap]="formErrorsMap"
  [form]="form"
  [serverError]="serverError"
>
</app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-xl">Create a username</h1>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && getUsername.errors">
        <label class="govuk-label" for="username">
          Username
        </label>
        <span id="username-hint" class="govuk-hint">
          You will use this to sign in. It should be unique to you
        </span>
        <span *ngIf="submitted && getUsername.errors" id="username-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          <ng-container *ngIf="getUsername.hasError('required')">
            {{ getFormErrorMessage('username', 'required') }}
          </ng-container>
          <ng-container *ngIf="getUsername.hasError('maxlength')">
            {{ getFormErrorMessage('username', 'maxlength') }}
          </ng-container>
          <ng-container *ngIf="getUsername.hasError('minlength')">
            {{ getFormErrorMessage('username', 'minlength') }}
          </ng-container>
          <ng-container *ngIf="getUsername.hasError('usernameExists')">
            {{ getFormErrorMessage('username', 'usernameExists') }}
          </ng-container>
          <ng-container *ngIf="getUsername.hasError('pattern')">
            {{ getFormErrorMessage('username', 'pattern') }}
          </ng-container>
        </span>
        <input
          class="govuk-input"
          formControlName="username"
          id="username"
          name="username"
          [class.govuk-input--error]="submitted && getUsername.errors"
          type="text"
        />
      </div>

      <div formGroupName="passwordGroup">
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && getPassword.errors">
          <label class="govuk-label" for="createPasswordInput">
            Password
          </label>
          <span id="createPasswordInput-hint" class="govuk-hint">
            This must be at least 8 characters, contain one uppercase and one lowercase letter and a number
          </span>
          <span *ngIf="submitted" id="createPasswordInput-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <span *ngIf="getPassword.hasError('required')">
              {{ getFormErrorMessage('passwordGroup.createPasswordInput', 'required') }}
            </span>
            <span *ngIf="getPassword.hasError('pattern')">
              {{ getFormErrorMessage('passwordGroup.createPasswordInput', 'pattern') }}
            </span>
          </span>
          <input
            aria-describedby="createPasswordInput-hint"
            class="govuk-input"
            formControlName="createPasswordInput"
            id="createPasswordInput"
            name="createPasswordInput"
            [class.govuk-input--error]="submitted && getPassword.errors"
            type="password"
          />
        </div>

        <div
          class="govuk-form-group govuk-!-margin-bottom-8"
          [class.govuk-form-group--error]="submitted && getConfirmPassword.errors"
        >
          <label class="govuk-label" for="confirmPasswordInput">
            Confirm password
          </label>
          <span *ngIf="submitted" id="confirmPasswordInput-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <span
              *ngIf="getConfirmPassword.hasError('required') || getConfirmPassword.hasError('notMatched')"
              id="passwordGroup-error"
            >
              {{ getFormErrorMessage('passwordGroup.confirmPasswordInput', 'required') }}
            </span>
          </span>
          <input
            class="govuk-input"
            formControlName="confirmPasswordInput"
            id="confirmPasswordInput"
            name="confirmPasswordInput"
            [class.govuk-input--error]="submitted && getConfirmPassword.errors"
            type="password"
          />
        </div>
      </div>

      <button type="submit" class="govuk-button">
        {{ callToActionLabel }}
      </button>
    </form>
  </div>
</div>
