<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section 2 of 8</p>
  <h1 class="h1">Enter your workplace address</h1>

  <form (ngSubmit)="onSubmit()" #enterWorkplaceAddressModule="ngForm">

    <div class="form-group mb-5">
      <div class="col-12 col-md-6 p-0">

        <div class="field-group">
          <label class="form-label" for="postcode">Postcode</label>
          <input name="user-fullname" placeholder="" type="text" id="postcode" value="SW3 8FG" class="form-control col-12 col-md-3" />
        </div>
        <div class="field-group mt-5">
          <label class="form-label" for="address-1-1">Building and street</label>
          <input name="address-1-1" placeholder="" type="text" id="address-1-1" class="form-control col-12 mb-4" />
          <input name="address-1-2" placeholder="" type="text" id="address-1-2" class="form-control col-12" />
        </div>
        <div class="field-group mt-5">
          <label class="form-label" for="address-2">Town or city</label>
          <input name="address-2" placeholder="" type="text" id="address-2" class="form-control col-12 col-md-7" />
        </div>
        <div class="field-group mt-5">
          <label class="form-label" for="address-3">County</label>
          <input name="address-3" placeholder="" type="text" id="address-3" class="form-control col-12 col-md-7" />
        </div>
        <div class="field-group mt-5">
          <label class="form-label" for="wp-name">Workplace name</label>
          <input name="wp-name" placeholder="" type="text" id="wp-name" class="form-control col-12 col-md-9" />
        </div>
      </div>

    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit" routerLink="/select-main-service">Continue</button>
    </div>

  </form>


</div>
