<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/select-workplace-address">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section 2 of 8</p>
  <h1 class="h1">Enter your workplace address</h1>

  <form novalidate
        (ngSubmit)="onSubmit()"
        [formGroup]="enterWorkplaceAddressForm">

    <div class="form-group mb-5">
      <div class="col-12 col-md-6 p-0">

        <div class="field-group"
             [ngClass]="{'is-invalid': postcodeMessage || (submittedPostcodeInput && getPostcode.errors) }">
          <label class="form-label" for="postcode">Postcode</label>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2"*ngIf="!submittedPostcodeInput">{{ postcodeMessage }}</span>
            <span *ngIf="submittedPostcodeInput && getPostcode.hasError('maxlength')" class="main-body-text mb-2">
              Your postcode must be no longer than 8 characters.
            </span>
            <span *ngIf="submittedPostcodeInput && getPostcode.hasError('required')" class="main-body-text mb-2">
              Please enter your postcode.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="postcode" class="form-control col-12 col-md-3" formControlName="postcodeInput" />

          </div>
        </div>
        <div class="field-group mt-5"
             [ngClass]="{'is-invalid': address1Message || (submittedAddress1Input && getAddress1.errors) }">
          <label class="form-label" for="address-1-1">Building and street</label>

          <span class="invalid-feedback">
            <span *ngIf="submittedAddress1Input && getAddress1.hasError('maxlength')" class="main-body-text mb-2">
              Your address must be no longer than 40 characters.
            </span>
            <span *ngIf="submittedAddress1Input && getAddress1.hasError('required')" class="main-body-text mb-2">
              Please enter your address.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="address1" class="form-control col-12 mb-4" formControlName="address1Input" />

          </div>
        </div>

        <div class="field-group mt-4"
             [ngClass]="{'is-invalid': address2Message || (submittedAddress2Input && getAddress2.errors) }">

          <span class="invalid-feedback">
            <span *ngIf="submittedAddress2Input && getAddress2.hasError('maxlength')" class="main-body-text mb-2">
                Your address must be no longer than 40 characters.
            </span>
            <span *ngIf="submittedAddress2Input && getAddress2.hasError('required')" class="main-body-text mb-2">
              Please enter your address.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="address2" class="form-control col-12" formControlName="address2Input" />

          </div>
        </div>

        <div class="field-group mt-5"
             [ngClass]="{'is-invalid': townCityMessage || (submittedTownCityInput && getTownCity.errors) }">
          <label class="form-label" for="townCity">Town or city</label>

          <span class="invalid-feedback">
            <span *ngIf="submittedTownCityInput && getTownCity.hasError('maxlength')" class="main-body-text mb-2">
                Your town/city must be no longer than 40 characters.
            </span>
            <span *ngIf="submittedTownCityInput && getTownCity.hasError('required')" class="main-body-text mb-2">
                Please enter your town/city.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="townCity" class="form-control col-12 col-md-7" formControlName="townCityInput" />

          </div>
        </div>

        <div class="field-group mt-5"
             [ngClass]="{'is-invalid': countyMessage || (submittedCountyInput && getCounty.errors) }">
          <label class="form-label" for="county">County</label>

          <span class="invalid-feedback">
            <span *ngIf="submittedCountyInput && getCounty.hasError('maxlength')" class="main-body-text mb-2">
              Your county must be no longer than 40 characters.
            </span>
            <span *ngIf="submittedCountyInput && getCounty.hasError('required')" class="main-body-text mb-2">
              Please enter your county.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="county" class="form-control col-12 col-md-7" formControlName="countyInput" />

          </div>
        </div>
        <div class="field-group mt-5"
             [ngClass]="{'is-invalid': wpNameMessage || (submittedWpNameInput && getWpName.errors) }">
          <label class="form-label" for="wpName">Workplace name</label>

          <span class="invalid-feedback">
            <span *ngIf="submittedWpNameInput && getWpName.hasError('maxlength')" class="main-body-text mb-2">
              The Workplace name must be no longer than 40 characters.
            </span>
            <span *ngIf="submittedWpNameInput && getWpName.hasError('required')" class="main-body-text mb-2">
              Please enter your Workplace name.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="wpName" class="form-control col-12 col-md-9" formControlName="wpNameInput" />

          </div>
        </div>
      </div>

    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>

  </form>


</div>
