<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form (ngSubmit)="onSubmit()" [formGroup]="form" #formEl>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-8">
          <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
          <h1 class="govuk-fieldset__heading">
            {{ title }}
          </h1>
        </legend>
        <p class="govuk-body" *ngIf="showWorkerCount">
          <span class="govuk-!-font-weight-bold">Number of staff selected:</span> {{ workerCount }}
          <a class="govuk-link govuk-!-margin-left-4" [routerLink]="['..', 'select-staff']">Change</a>
        </p>
        <ng-container *ngIf="!trainingRecordId; else noDropdown">
          <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('category').invalid">
            <label class="govuk-label" for="category"> Training category </label>
            <span *ngIf="submitted && form.get('category').invalid" id="category-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('category') }}
            </span>
            <select
              class="govuk-select"
              [class.govuk-select--error]="submitted && form.get('category').invalid"
              [formControlName]="'category'"
              id="category"
              name="category"
              data-testid="trainingSelect"
            >
              <option [ngValue]="null">Select the training category</option>
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.category }}
              </option>
            </select>
          </div>
        </ng-container>
        <ng-template #noDropdown>
          <p class="govuk-body govuk-!-margin-bottom-8" data-testid="trainingCategoryDisplay">
            <span class="govuk-util__block"><b>Training category</b></span>
            <span class="govuk-util__block govuk-!-margin-top-2">{{ trainingRecord?.trainingCategory.category }}</span>
          </p>
        </ng-template>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('title').invalid">
          <label class="govuk-label" for="title"> Training name </label>
          <span *ngIf="submitted && form.get('title').invalid" id="title-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('title') }}
          </span>
          <input
            class="govuk-input govuk-date-input__input govuk-!-margin-bottom-2"
            [class.govuk-input--error]="submitted && form.get('title').invalid"
            [formControlName]="'title'"
            id="title"
            name="title"
            type="text"
          />
        </div>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('accredited').invalid">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">Is the training accredited?</legend>
            <span *ngIf="submitted && form.get('accredited').invalid" id="accredited-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('accredited') }}
            </span>
            <div class="govuk-radios govuk-!-margin-bottom-2">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="accredited-yes"
                  [formControlName]="'accredited'"
                  type="radio"
                  value="Yes"
                />
                <label class="govuk-label govuk-radios__label" for="accredited-yes"> Yes </label>
              </div>
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="accredited-no"
                  [formControlName]="'accredited'"
                  type="radio"
                  value="No"
                />
                <label class="govuk-label govuk-radios__label" for="accredited-no"> No </label>
              </div>
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="accredited-dont-know"
                  [formControlName]="'accredited'"
                  type="radio"
                  value="Don't know"
                />
                <label class="govuk-label govuk-radios__label" for="accredited-dont-know"> I do not know </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div
          data-testid="completedDate"
          class="govuk-form-group govuk-!-margin-bottom-7"
          [class.govuk-form-group--error]="submitted && form.get('completed').invalid"
        >
          <fieldset class="govuk-fieldset" aria-describedby="completed-hint" role="group">
            <legend class="govuk-fieldset__legend">Date completed</legend>
            <span id="completed-hint" class="govuk-hint govuk-!-margin-bottom-4"> For example, 31 3 1980 </span>
            <span *ngIf="submitted && form.get('completed').invalid" id="completed-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('completed') }}
            </span>
            <app-date-picker [formGroup]="form" [formGroupName]="'completed'" [submitted]="submitted"></app-date-picker>
          </fieldset>
        </div>

        <div
          data-testid="expiresDate"
          class="govuk-form-group govuk-!-margin-bottom-7"
          [class.govuk-form-group--error]="submitted && form.get('expires').invalid"
        >
          <fieldset class="govuk-fieldset" aria-describedby="expires-hint" role="group">
            <legend class="govuk-fieldset__legend">Expiry date</legend>
            <span id="expires-hint govuk-!-margin-bottom-4" class="govuk-hint"> For example, 31 3 1980 </span>
            <span *ngIf="submitted && form.get('expires').invalid" id="expires-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('expires') }}
            </span>
            <app-date-picker [formGroup]="form" [formGroupName]="'expires'" [submitted]="submitted"></app-date-picker>
          </fieldset>
        </div>

        <div class="govuk-character-count govuk-!-margin-bottom-4">
          <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('notes').invalid">
            <label class="govuk-label" for="notes"> Notes </label>
            <span *ngIf="submitted && form.get('notes').invalid" id="notes-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('notes') }}
            </span>
            <textarea
              class="govuk-textarea"
              [class.govuk-textarea--error]="submitted && form.get('notes').invalid"
              [formControlName]="'notes'"
              id="notes"
              name="notes"
              rows="5"
              [value]="notesValue"
              (input)="handleOnInput($event)"
            ></textarea>
          </div>
          <span
            class="govuk-character-count__message govuk-hint"
            [ngClass]="{
              'govuk-hint': remainingCharacterCount >= 0,
              'govuk-error-message': remainingCharacterCount < 0
            }"
            aria-live="polite"
          >
            <noscript> You can enter up to {{ notesMaxLength }} characters }} </noscript>
            <ng-container>
              You have {{ remainingCharacterCount | absoluteNumber | number }}
              {{
                remainingCharacterCount
                  | absoluteNumber
                  | i18nPlural
                    : {
                        '=1': 'character',
                        other: 'characters'
                      }
              }}

              {{ remainingCharacterCount >= 0 ? 'remaining' : 'too many' }}
            </ng-container>
          </span>
        </div>
      </fieldset>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
      <a
        class="govuk-button govuk-button--link govuk__flex govuk__align-items-center"
        *ngIf="trainingRecordId"
        draggable="false"
        href="#"
        [routerLink]="['../delete']"
        data-testid="deleteButton"
      >
        <img src="/assets/images/bin.svg" alt="" />
        <span class="govuk-!-margin-left-1"> Delete this training record </span></a
      >
    </div>
  </div>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-!-margin-right-9">
      {{ buttonText }}
    </button>

    <a
      class="govuk-button govuk-button--link govuk-!-margin-left-9"
      role="button"
      draggable="false"
      (click)="onCancel()"
    >
      Cancel
    </a>
  </div>
</form>
<!-- </div> -->
