@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.delete {
  display: inline-block;
  margin-top: 60px;
  line-height: 24px;
  text-decoration: none;
  white-space: nowrap;
  img {
    height: 24px;
    margin-right: 10px;
    vertical-align: bottom;
  }
}
