<ng-container *ngIf="worker">
  <ng-container *ngIf="trainingRecordCreated">
    <app-inset-text color="success">
      Training has been added <a href="#" (click)="closeTrainingCreatedAlert($event)" class="govuk-util__float-right">Close</a>
    </app-inset-text>
  </ng-container>
  <ng-container *ngIf="trainingRecordEdited">
    <app-inset-text color="success">
      Training has been saved <a href="#" (click)="closeTrainingEditedAlert($event)" class="govuk-util__float-right">Close</a>
    </app-inset-text>
  </ng-container>
  <ng-container *ngIf="trainingRecordDeleted">
    <app-inset-text color="success">
      Training has been deleted <a href="#" (click)="closeTrainingDeletedAlert($event)" class="govuk-util__float-right">Close</a>
    </app-inset-text>
  </ng-container>

  <ng-container *ngIf="qualificationCreated">
    <app-inset-text color="success">
      Qualification has been added
      <a href="#" (click)="closeQualificationCreatedAlert($event)" class="govuk-util__float-right">Close</a>
    </app-inset-text>
  </ng-container>
  <ng-container *ngIf="qualificationEdited">
    <app-inset-text color="success">
      Qualification has been saved
      <a href="#" (click)="closeQualificationEditedAlert($event)" class="govuk-util__float-right">Close</a>
    </app-inset-text>
  </ng-container>
  <ng-container *ngIf="qualificationDeleted">
    <app-inset-text color="success">
      Qualification has been deleted
      <a href="#" (click)="closeQualificationDeletedAlert($event)" class="govuk-util__float-right">Close</a>
    </app-inset-text>
  </ng-container>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Staff record</span>
        {{ worker.nameOrId }}
      </h1>
    </div>

    <div class="govuk-grid-column-one-third govuk-util__align-right">
      <ng-container *ngIf="!reportDetails?.displayWDFReport">
        <button type="button" class="govuk-button govuk-button--secondary with-icon" (click)="deleteWorker($event)">
          <img src="/assets/images/bin.svg" alt="" />Delete staff record
        </button>
        <button type="button"
          *ngIf="!worker.completed"
          class="govuk-button remove-mb"
          [routerLink]="[
            '/worker',
            worker.uid,
            worker.mainJob?.jobId === 27 ? 'mental-health-professional' : 'main-job-start-date'
          ]"
        >
          Complete Full Record
        </button>
      </ng-container>
      <p *ngIf="reportDetails?.displayWDFReport">Last updated on {{ updatedDate }}</p>
    </div>
  </div>

  <div class="row m-0" *ngIf="reportDetails?.displayWDFReport">
    <p class="main-body-text col-12 m-0 p-0 tick-icon" *ngIf="worker.wdf.isEligible">
      <img src="/assets/images/tick-icon.svg" alt="" /> Meeting criteria
    </p>
    <p class="main-body-text col-12 m-0 p-0 cross-icon" *ngIf="!worker.wdf.isEligible">
      <img src="/assets/images/cross-icon.svg" alt="" /> Not meeting criteria
    </p>
  </div>
  <div class="row m-0" *ngIf="reportDetails?.displayWDFReport">
    <div class="govuk-warning-text col-6 mt-5 mb-5">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <span class="govuk-warning-text__text">
        You must update your ASC-WDS data before the 31 March {{ reportDetails.effectiveFromDateNextYear }} to qualify
        for WDF.
      </span>
    </div>
    <p>Check the information provided on this staff record is correct.</p>
  </div>

  <app-tabs>
    <app-tab [title]="'Staff record'">
      <app-basic-record
        [worker]="worker"
        [return]="['/worker', worker.uid]"
        [reportDetails]="reportDetails"
      ></app-basic-record>
      <app-personal-details
        [worker]="worker"
        [return]="['/worker', worker.uid]"
        [reportDetails]="reportDetails"
      ></app-personal-details>
      <app-employment
        [worker]="worker"
        [return]="['/worker', worker.uid]"
        [reportDetails]="reportDetails"
      ></app-employment>
    </app-tab>
    <app-tab [title]="'Qualifications and training'">
      <app-qualifications-and-training
        [worker]="worker"
        [return]="['/worker', worker.uid]"
        [reportDetails]="reportDetails"
      ></app-qualifications-and-training>
      <p class="info-strip"><img src="/assets/images/icon-information.svg" alt="" />Adding additional qualifications or training is optional.</p>
      <p>
        <button type="button" 
          [routerLink]="['/worker', worker.uid, 'add-qualification']"
          class="govuk-button govuk-button--secondary govuk-!-margin-right-8"
        >
          Add a qualification
        </button>
        <button type="button" 
          [routerLink]="['/worker', worker.uid, 'add-training']"
          class="govuk-button govuk-button--secondary"
        >
          Add training
        </button>
      </p>
      <app-qualifications [worker]="worker"></app-qualifications>
      <app-training [worker]="worker"></app-training>
    </app-tab>
  </app-tabs>
</ng-container>
