<h2 class="govuk-heading-m">External links</h2>
<ul class="govuk-list govuk-!-margin-top-7">
  <li class="govuk-!-margin-bottom-5">
    <a href="https://sfccmstest.cloudapps.digital/admin/login" class="govuk-link" target="_blank">Direct us test</a>
  </li>
  <li class="govuk-!-margin-bottom-5">
    <a href="https://sfccms.cloudapps.digital/admin/login" class="govuk-link" target="_blank">Direct us live</a>
  </li>
  <li class="govuk-!-margin-bottom-5">
    <a href="https://www.cqc.org.uk/" class="govuk-link" target="_blank">CQC</a>
  </li>
  <li class="govuk-!-margin-bottom-5">
    <a href="https://www.notifications.service.gov.uk/sign-in" class="govuk-link" target="_blank">Gov notify</a>
  </li>
  <li class="govuk-!-margin-bottom-5">
    <a href="https://my.sendinblue.com/dashboard" class="govuk-link" target="_blank">Sendinblue</a>
  </li>
</ul>
