dl {
  display: grid;
  min-width: 60vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;

  div {
    display: flex;
    flex-direction: column;
  }

  dt,
  dd {
    width: 100%;
    padding: 0;
  }
}
