<h1 class="govuk-heading-xl">Staff records</h1>
<p>To create staff records for your workplace, for each record you will need to add their:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>full name or ID number</li>
  <li>main job role</li>
  <li>type of contract</li>
</ul>

<p>Once you have added these you will be able to continue with each record.</p>
<p>
  We will use this information to work out your total number of staff. You will be able to change the number later by
  adding or removing records.
</p>

<a
  [routerLink]="['../create-staff-record']"
  (click)="beginAddStaffRecord()"
  role="button"
  draggable="false"
  class="govuk-button govuk-button--start"
>
  Start now
</a>
