<ng-container *ngIf="mandatoryTrainings?.length">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Mandatory training ({{ mandatoryTrainings.length }})</h2>
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-util__float-right">Last updated on {{ lastUpdated | date: 'd MMMM y' }}</p>
    </div>
  </div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-two-half" scope="col">Training category</th>
        <th class="govuk-table__header" scope="col">Status</th>
        <th class="govuk-table__header" scope="col">Quantity</th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <ng-container *ngFor="let mandatoryTraining of mandatoryTrainings">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-weight-regular">
            {{ mandatoryTraining.category }}
          </td>

          <td class="govuk-table__cell">
            <img *ngIf ="mandatoryTraining.status !== 'Up-to-date'" class= "govuk-util__vertical-align-top"src="/assets/images/flag-red.svg" alt="Missing" />
            {{ mandatoryTraining.status }}
          </td>
          <td class="govuk-table__cell">
            {{ mandatoryTraining.quantity }}
          </td>
          <td class="govuk-table__cell govuk-!-font-weight-regular">
            <a
              *ngIf="canEditWorker && mandatoryTraining.workers.length > 0"
              class="govuk-link--no-visited-state"
              href="#"
              (click)="toggleDetails(mandatoryTraining.id, $event)"
              >{{
                mandatoryTrainingsDetailsLabel[mandatoryTraining.id] ? mandatoryTrainingsDetailsLabel[mandatoryTraining.id] : 'Open'
              }}</a
            >
          </td>
        </tr>
        <tr *ngIf="mandatoryAllTrainingsDetails[mandatoryTraining.id]" class="govuk-panel--gray govuk-!-margin-2">
          <td colspan="5">
            <div class="govuk-!-margin-2">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header govuk-!-width-two-half" scope="col">Worker ID</th>
                  <th class="govuk-table__header" scope="col">Job role</th>
                  <th class="govuk-table__header" scope="col">Status</th>
                  <th class="govuk-table__header" scope="col"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <ng-container *ngFor="let worker of mandatoryTraining.workers">

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-regular">
                        <a class="govuk-link--no-visited-state"
                        [routerLink]="getWorkerRecordPath(worker)">{{ worker.name }}</a>
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-regular">
                        {{ worker.mainJob?.title }}
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-regular">
                        <span *ngIf ="worker.missingMandatoryTrainingCount > 0">
                        <img class= "govuk-util__vertical-align-top" src="/assets/images/flag-red.svg" alt="Missing" />
                        {{ worker.missingMandatoryTrainingCount }} Missing
                      </span>
                      <span *ngIf ="!worker.missingMandatoryTrainingCount > 0">
                         Up-to-date
                      </span>
                      </td>
                    </tr>
                </ng-container>
              </tbody>
              </table>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
