<ng-container *ngIf="mandatoryTrainings?.length">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Mandatory training ({{ mandatoryTrainings.length }})</h2>
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-util__float-right">Last updated on {{ lastUpdated | date: 'd MMMM y' }}</p>
    </div>
  </div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-two-half" scope="col">Training category</th>
        <th class="govuk-table__header" scope="col">Status</th>
        <th class="govuk-table__header" scope="col">Quantity</th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <ng-container *ngFor="let mandatoryTraining of mandatoryTrainings">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-weight-regular">
            {{ mandatoryTraining.category }}
          </td>

          <td class="govuk-table__cell">
            <img *ngIf ="mandatoryTraining.status !== 'Up-to-date'" src="/assets/images/flag-red.svg" alt="Missing" />
            {{ mandatoryTraining.status }}
          </td>
          <td class="govuk-table__cell">
            {{ mandatoryTraining.quantity }}
          </td>
          <td class="govuk-table__cell govuk-!-font-weight-regular">
            <a
              *ngIf="canEditWorker"
              class="govuk-link--no-visited-state"
              href="#"
              (click)="toggleDetails(mandatoryTraining.id, $event)"
              >{{
                mandatoryTrainingsDetailsLabel[mandatoryTraining.id] ? mandatoryTrainingsDetailsLabel[mandatoryTraining.id] : 'Open'
              }}</a
            >
          </td>
        </tr>
        {{mandatoryTraining.id}}
        <tr *ngIf="mandatoryAllTrainingsDetails[mandatoryTraining.id]" class="govuk-panel--gray ">
          <td colspan="5">
            <div class="govuk-grid-row govuk-!-margin-2">
              <div class="govuk-grid-column-one-quarter">
                <strong> Worker ID</strong>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <strong> Job role</strong>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <strong> Status</strong>
              </div>
              <div class="govuk-grid-column-one-quarter">
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
