@if (updateBanner()) {
  @let props = updateBanner()!;
  @let linkText = props.linkText ?? 'Answer questions';
  @let linkAriaDescription = props.linkAriaDescription ?? null;

  <div class="govuk-width-container govuk-!-margin-top-4" data-testid="update-banner-area">
    <app-update-banner
      [linkText]="linkText"
      [linkAriaDescription]="linkAriaDescription"
      [linkTo]="props.linkTo"
      (linkClicked)="props.onLinkClicked?.()"
      >{{ props.content }}
    </app-update-banner>
  </div>
}

<div class="govuk-width-container govuk-!-margin-top-4 govuk-!-margin-bottom-4 summary-box" data-testid="summaryBox">
  @for (section of sections; track $index; let index = $index) {
    <div class="summary-section" [attr.data-testid]="section.fragment + '-row'">
      <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-body-l summary-section__links">
        @if (section.link) {
          <a (click)="navigateToTab($event, section.fragment)" class="govuk-link--no-visited-state" href="#">
            {{ section.linkText }}
          </a>
        } @else {
          {{ section.linkText }}
        }
      </div>
      <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-body summary-section__summary-text">
        @if (section.message) {
          @if (section.redFlag) {
            <img
              src="/assets/images/flag-red.svg"
              alt="action-required-red-flag"
              class="govuk-!-margin-right-2"
              data-testid="red-flag"
            />
          } @else {
            <img
              src="/assets/images/flag-orange.svg"
              alt="action-required-orange-flag"
              class="govuk-!-margin-right-2"
              data-testid="orange-flag"
            />
          }
          @if (section.link && !section.showMessageAsText) {
            <a (click)="onClick($event, section)" href="#"> {{ section.message }}</a>
          } @else {
            <span>{{ section.message }}</span>
          }
        } @else {
          @if (!canViewListOfWorkers && section.fragment !== 'workplace') {
            <span> You do not have permission to view this data </span>
          } @else {
            <span>Remember to check and update this data often</span>
          }
        }
      </div>
    </div>
    @if (index < sections.length - 1) {
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-left-4 govuk-!-margin-right-4" />
    }
  }
  @if (isParent) {
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-left-4 govuk-!-margin-right-4" />
    <div class="summary-section" data-testid="workplaces-row">
      <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-body-l summary-section__links">
        <a
          class="govuk-link--no-visited-state"
          (click)="navigateToYourOtherWorkplaces($event, 'workplaceNameAsc')"
          href="#"
          id="otherWorkplacesSectionLinkText"
        >
          {{ otherWorkplacesSection.linkText }}
        </a>
      </div>
      <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-body summary-section__summary-text">
        @if (otherWorkplacesSection.link) {
          @if (otherWorkplacesSection.orangeFlag) {
            <img
              src="/assets/images/flag-orange.svg"
              alt="action-required-orange-flag"
              class="govuk-!-margin-right-2"
              data-testid="workplaces-orange-flag"
            />
          }
          @if (otherWorkplacesSection.redFlag) {
            <img
              src="/assets/images/flag-red.svg"
              alt="action-required-red-flag"
              class="govuk-!-margin-right-2"
              data-testid="red-flag"
            />
          }
          <a
            (click)="navigateToYourOtherWorkplaces($event, 'workplaceToCheckAsc')"
            href="#"
            id="otherWorkplacesSectionMessage"
          >
            {{ otherWorkplacesSection.message }}</a
          >
        } @else {
          {{ otherWorkplacesSection.message }}
        }
      </div>
    </div>
  }
</div>
