<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Workforce Development Fund (WDF)</span>
      WDF data
    </h1>
  </div>
</div>

<h4 class="govuk-heading-s govuk-!-margin-bottom-8">
  Your data meets the WDF {{ wdfStartDate | date: 'yyyy' }} to {{ wdfEndDate | date: 'yyyy' }} requirements
</h4>

<app-tabs>
  <app-tab [greenTick]="true" [title]="'Workplace'">
    <app-workplace-summary
      *ngIf="workplace"
      [workplace]="workplace"
      [workerCount]="workerCount"
      [return]="returnUrl"
      [wdfView]="true"
    ></app-workplace-summary>
  </app-tab>
  <app-tab *ngIf="canViewWorker" [greenTick]="true" [title]="'Staff records'">
    <app-wdf-staff-summary
      *ngIf="workers && workplace"
      [workplace]="workplace"
      [workers]="workers"
    ></app-wdf-staff-summary>
  </app-tab>
</app-tabs>
