<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"> </app-error-summary>

<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
          <h1 class="govuk-fieldset__heading" style="width: 85%;">{{ heading }}</h1>
        </legend>
        <p data-testid="hint-text">
          {{ hintText }}
        </p>

        <app-details [title]="'Why we ask for this information'">
          <p>
            {{ revealText }}
          </p>
        </app-details>

        <div
          class="govuk-form-group govuk-!-margin-bottom-3"
          [class.govuk-form-group--error]="submitted && form.invalid"
        >
          <span id="startersLeaversVacanciesKnown-error" class="govuk-error-message" *ngIf="submitted && form.invalid"
            >{{ requiredWarningMessage }}
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item" *ngFor="let option of knownOptions; let i = index">
              <input
                class="govuk-radios__input"
                id="startersLeaversVacanciesKnown-{{ i }}"
                name="startersLeaversVacanciesKnown"
                [formControlName]="'startersLeaversVacanciesKnown'"
                type="radio"
                [value]="option.value"
              />
              <label class="govuk-label govuk-radios__label" for="startersLeaversVacanciesKnown-{{ i }}">
                {{ option.label }}
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <app-workplace-submit-button
        [return]="!!return"
        [continue]="!!return"
        (clicked)="setSubmitAction($event)"
      ></app-workplace-submit-button>
    </div>
    <div class="govuk-grid-column-one-third">
      <div *ngIf="!return" class="govuk-util__float-right">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="workplaceFlowSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
    </div>
  </div>
</form>
