.page {
  display: block;
  width: 100%;
  height: 1634px;
}

#header {
  margin-bottom: 50px;
}

#title {
  margin-bottom: 50px;
}

#placeholder {
  display: block;
  width: 100%;
  height: 1174px;
}

#footer {
  padding-bottom: 50px;
}
