<span class="govuk-!-margin-bottom-0 govuk__flex govuk__nowrap" data-testid="requirements-state">
  @if (currentWdfEligibility) {
  <img class="govuk-!-margin-right-1" src="/assets/images/tick-icon.svg" alt="" data-testid="green-tick" />
  <span class="govuk-visually-hidden">Green tick</span>Meeting } @if (overallWdfEligibility && !currentWdfEligibility) {
  <img class="govuk-!-margin-right-1" src="/assets/images/flag-orange.svg" alt="" data-testid="orange-flag" />
  <span class="govuk-visually-hidden">Orange warning flag</span>
  @if (orangeFlagMessage) {
  {{ orangeFlagMessage }}
  } @else { Not meeting } } @if (!overallWdfEligibility && !currentWdfEligibility) {
  <img class="govuk-!-margin-right-1" src="/assets/images/flag-red.svg" alt="" data-testid="red-flag" />
  <span class="govuk-visually-hidden">Red flag</span>Not meeting }
</span>
