<div class="govuk-grid-row">
  <ng-container *ngIf="qualificationsByGroup.count > 0; else noQualifications">
    <h1 class="govuk-heading-l govuk-!-font-size-27">Qualifications</h1>
    <div *ngFor="let qualificationType of qualificationsByGroup.groups">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          {{
            qualificationType.group
          }}
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Certificate Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Year achieved</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Notes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" *ngFor="let qualificationRecord of qualificationType.records">
            <td class="govuk-table__cell">
              <ng-container *ngIf="canEditWorker; else viewOnly">
                <a
                  class="govuk-link--no-visited-state"
                  [attr.data-testid]="'Title-' + qualificationRecord.uid"
                  [routerLink]="['../qualification', qualificationRecord.uid]"
                  >{{ qualificationRecord.title }}</a
                >
              </ng-container>
              <ng-template #viewOnly>
                <span [attr.data-testid]="'Title-no-link-' + qualificationRecord.uid">{{
                  qualificationRecord.title
                }}</span>
              </ng-template>
            </td>
            <td class="govuk-table__cell">{{ qualificationRecord.year ? qualificationRecord.year : '-' }}</td>
            <td class="govuk-table__cell">
              {{ qualificationRecord.notes ? qualificationRecord.notes : 'None' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noQualifications>
    <div class="govuk-!-margin-bottom-8">
      <h1 class="govuk-heading-l govuk-!-font-size-27 govuk-!-margin-bottom-3">Qualifications</h1>
      <p class="govuk-body">No qualification records have been added for this person yet.</p>
      <a
        class="govuk-link--no-visited-state"
        [attr.data-testid]="'no-qualification-link'"
        [routerLink]="['../select-record-type']"
        >Add a qualification record</a
      >
    </div>
  </ng-template>
</div>
