<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <span data-testid="section-heading" class="govuk-caption-l">Staff records</span>
      <h1 class="govuk-fieldset__heading">
        Review and confirm these nurses' Nursing and Midwifery Council fields of practice
      </h1>
    </legend>

    <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-7">
      <strong class="govuk-body govuk-!-font-weight-bold">Not sure?</strong>
      <p class="govuk-body">
        <a class="govuk-link" target="_blank" href="https://www.nmc.org.uk/registration/search-the-register/">
          Search the Nursing and Midwifery Council register
          <span class="govuk-visually-hidden">, (opens in a new window)</span>
        </a>
      </p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"></div>
</div>
