<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Which of the following specialisms does this nurse use in their current role?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item" *ngFor="let specialism of nursingSpecialism; let i = index">
              <input
                class="govuk-radios__input"
                id="nurseSpecialism-{{ i }}"
                [formControlName]="'nurseSpecialism'"
                name="nurseSpecialism"
                type="radio"
                [value]="specialism"
              />
              <label class="govuk-label govuk-radios__label" for="nurseSpecialism-{{ i }}">
                {{ specialism }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>
