<h2 class="govuk-heading-s">Related content</h2>
<ul class="govuk-list">
  @if (showGetHelpWithBulkUploads) {
  <li class="govuk-!-margin-bottom-2">
    <a [routerLink]="['/bulk-upload', 'get-help']">Get help with bulk uploads</a>
  </li>
  } @if (showViewReferences) {
  <li class="govuk-!-margin-bottom-2">
    <a [routerLink]="['/bulk-upload', 'workplace-references']">View references</a>
  </li>
  } @if (showDataChanges) {
  <li class="govuk-!-margin-bottom-2">
    <a [routerLink]="['/bulk-upload', 'data-change']">Data changes</a>
    @if (showFlagBUChanges) {
    <span data-testid="showFlag">
      <img src="/assets/images/flag-orange.svg" alt="" class="govuk-util__vertical-align-top govuk-!-margin-left-1" />
    </span>
    }
  </li>
  } @if (showAboutBulkUpload) {
  <li class="govuk-!-margin-bottom-2">
    <a [routerLink]="['/bulk-upload', 'about-bulk-upload']">About bulk upload</a>
  </li>
  } @if (this.authService.isAdmin && showViewLastBulkUpload) {
  <li class="govuk-!-margin-bottom-2">
    <a [routerLink]="['/bulk-upload', 'last-bulk-upload']">View last bulk upload</a>
  </li>
  }
</ul>
