<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 class="govuk-heading-m">Qualifications and training</h2>
  </div>
  <div *ngIf="showAddButtons" class="govuk-grid-column-one-half-from-desktop govuk-util__align-right">
    <a
      class="govuk-button govuk-button--secondary govuk-!-margin-right-4"
      [routerLink]="['../add-qualification']"
      role="button"
      draggable="false"
    >
      Add a qualification
    </a>
    <a class="govuk-button govuk-button--secondary" [routerLink]="['../add-training']" role="button" draggable="false">
      Add training
    </a>
    <p class="govuk-caption-m">
      Adding additional qualifications or training is optional.
    </p>
  </div>
</div>

<dl class="govuk-summary-list govuk-summary-list--top-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Started or completed Care Certificate
    </dt>

    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="worker.wdf?.careCertificate">
        {{ worker.careCertificate || '-' }}
      </app-summary-record-value>
    </dd>

    <dd class="govuk-summary-list__actions">
      <a [routerLink]="getRoutePath('care-certificate')" (click)="setReturn()">
        <ng-container *ngIf="!worker.careCertificate">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="worker.careCertificate">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> care certificate</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Any social care qualification
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="worker.wdf?.qualificationInSocialCare">
        {{ worker.qualificationInSocialCare | closedEndedAnswer }}
      </app-summary-record-value>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a [routerLink]="getRoutePath('social-care-qualification')" (click)="setReturn()">
        <ng-container *ngIf="!worker.qualificationInSocialCare">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="worker.qualificationInSocialCare">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> relevant social care qualification</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row" *ngIf="displaySocialCareQualifications">
    <dt class="govuk-summary-list__key">
      Highest level of social care qualification
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="worker.wdf?.socialCareQualification">
        {{ worker.socialCareQualification?.title | closedEndedAnswer }}
      </app-summary-record-value>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a [routerLink]="getRoutePath('social-care-qualification-level')" (click)="setReturn()">
        <ng-container *ngIf="!worker.socialCareQualification">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="worker.socialCareQualification">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> social care qualification level</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Non-social care qualification
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="worker.wdf?.otherQualification">
        {{ worker.otherQualification | closedEndedAnswer }}
      </app-summary-record-value>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a [routerLink]="getRoutePath('other-qualifications')" (click)="setReturn()">
        <ng-container *ngIf="!worker.otherQualification">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="worker.otherQualification">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> other qualifications</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row" *ngIf="displayOtherQualifications">
    <dt class="govuk-summary-list__key">
      Highest level of non-social care qualification
    </dt>
    <dd class="govuk-summary-list__value">
      <app-summary-record-value [wdfView]="wdfView" [wdfValue]="worker.wdf?.highestQualification">
        {{ worker.highestQualification?.title || '-' }}
      </app-summary-record-value>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a [routerLink]="getRoutePath('other-qualifications-level')" (click)="setReturn()">
        <ng-container *ngIf="!worker.highestQualification">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="worker.highestQualification">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> other qualification level</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Completing apprenticeship training
    </dt>
    <dd class="govuk-summary-list__value">
      {{ worker.apprenticeshipTraining | closedEndedAnswer }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a [routerLink]="getRoutePath('apprenticeship-training')" (click)="setReturn()">
        <ng-container *ngIf="!worker.apprenticeshipTraining">
          Provide information
          <span class="govuk-visually-hidden"> for</span>
        </ng-container>
        <ng-container *ngIf="worker.apprenticeshipTraining">
          Change
        </ng-container>
        <span class="govuk-visually-hidden"> apprenticeship training</span>
      </a>
    </dd>
  </div>
</dl>
