@import 'govuk-frontend/govuk/base';

.asc-link-box {
  display: flex;

  background-color: govuk-colour('light-grey');
  font-size: 19px;
  color: $govuk-text-colour;
  padding: 15px;
  margin-bottom: 40px;

  @media only screen and (max-width: 680px) {
    justify-content: center;
  }
}

.asc-card-padding {
  padding: 0px 5px 10px 5px;
}

.asc-card-link {
  display: inline-block;
  width: 100%;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  padding-top: 7px;
}

.asc-card-description {
  width: 100%;
}
.asc-card-break {
  display: none;
}

@media (min-width: 769px) {
  .asc-card-break {
    display: inline;
  }
}
