<div class="main-page-container col-12">
  <header>
    <h1 class="h1">Sharing your data</h1>
    <p class="page-description">We would like to share your data with other organisations.</p>
    <p class="page-description">Before we do that, we need your consent.</p>
  </header>


  <div class="row summary-and-controls mb-5 record">
    <div class="col-12">
      <button type="button" class="btn-link" data-toggle="collapse" data-target="#trigger1">Why do we share your data?</button>

      <div id="trigger1" class="collapse panel panel-border-narrow col-10 col-lg-8 mt-4">
        <p class="main-body-text">
          The Care Quality Commission use the data you provide as part of their overall suite of intelligence about adult social care providers and the wider sector. Local authorities use it to check compliance if the data for this service has been included as part of the criteria for a contract. Sharing your data with local authorities also makes them aware of your business. It allows them to discuss things like training events, advice and guidance with you.
        </p>
      </div>

    </div>
  </div>


  <form novalidate
    (ngSubmit)="onSubmit()"
    [formGroup]="shareOptionsForm">

    <div class="col-12">
      <p class="page-emphasis">Do you agree to us sharing data with:</p>
    </div>

    <div class="form-group mb-5">
      <div class="row p-0">
        <div class="col-1 center-v no-padding-left">
            <input type="checkbox"
              id="shareWithCQCctl"
              formControlName="shareWithCQCctl"
              class="form-control">
        </div>
        <div class="col-11">
            <label for="shareWithCQCctl">Care Quality Commission (CQC)</label>
        </div>
      </div>

      <div class="col-12 p-0 summary-and-controls mt-5 mb-5 record">
        <div class="col-12 p-0">
          <button type="button" class="btn-link p-0" data-toggle="collapse" data-target="#trigger2">What do we share with CQC?</button>

          <div id="trigger2" class="collapse panel panel-border-narrow col-10 col-lg-8 mt-4 ml-0 mr-0">

            <p class="main-body-text pb-4">We share all data, including individual worker records, with the exception of:</p>

            <ul>
              <li class="main-body-text">record ID</li>
              <li class="main-body-text">pay</li>
              <li class="main-body-text">sickness absence</li>
              <li class="main-body-text">date of birth</li>
              <li class="main-body-text">National Insurance number</li>
              <li class="main-body-text">ethnicity</li>
              <li class="main-body-text">nationality</li>
              <li class="main-body-text">country of birth</li>
              <li class="main-body-text">year of arrival in UK</li>
              <li class="main-body-text">hours worked in the last 7 days</li>
            </ul>

            <p class="main-body-text pt-4">CQC cannot identify workers through this process</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1 center-v no-padding-left">
            <input type="checkbox"
              id="shareWithLocalAuthorityCtl"
              formControlName="shareWithLocalAuthorityCtl"
              class="form-control">
        </div>
        <div class="col-11">
            <label for="shareWithLocalAuthorityCtl">Local authorities</label>
        </div>
      </div>

        <div class="col-12 p-0 summary-and-controls mt-5 mb-5 record">
          <div class="col-12 p-0">
            <button type="button" class="btn-link p-0 " data-toggle="collapse" data-target="#trigger3">What do we share with local authorities?</button>

            <div id="trigger3" class="collapse panel panel-border-narrow col-10 col-lg-8 mt-4 ml-0 mr-0">

              <p class="main-body-text pb-4">We will share the following data with your local authority:</p>

              <ul>
                <li class="main-body-text">your unique workplace reference</li>
                <li class="main-body-text">workplace name</li>
                <li class="main-body-text">address</li>
                <li class="main-body-text">main service</li>
                <li class="main-body-text">number of staff</li>
                <li class="main-body-text">percentage of worker records completed</li>
                <li class="main-body-text">when your account was last updated</li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="form-group mb-5">
        <div class="row round">
            <div class="col-1">
                <input type="checkbox" id="doNotShareCtl" formControlName="doNotShareCtl" class="form-control">
                <label for="doNotShareCtl"></label>
            </div>
            <div class="col-11">
                <p>No, don't share my data.</p>
            </div>
        </div>
      </div>


    <div class="btn-container">
      <button type="submit" class="btn btn-primary">Save and continue</button>
    </div>

  </form>
</div>
