<dl class="govuk-list--tab">
  <div class="govuk-list--tab__column">
    @if (totalStaff | hasValue) {
      <dt data-testid="totalStaffNumber">
        {{ totalStaff }}
      </dt>
    }
    <dd data-testid="totalStaffText">
      <span>{{ (totalStaff | hasValue) ? ' total number of staff' : 'Total number of staff is missing' }}</span>
    </dd>
    <dd data-testid="totalStaffLink">
      @if (canEditEstablishment) {
        <a
          [routerLink]="['/workplace', workplace.uid, 'staff-record', 'total-staff']"
          class="govuk-!-font-size-19 govuk-!-font-weight-regular govuk-!-padding-right-9 govuk-!-margin-right-9"
          [ngClass]="{ 'govuk-!-padding-right-9 govuk-!-margin-right-9': !(totalStaff | hasValue) }"
          (click)="setReturn()"
        >
          {{ (totalStaff | hasValue) ? 'Change' : 'Add' }}
          <span class="govuk-visually-hidden"> total number of staff</span>
        </a>
      }
    </dd>
  </div>
  <div class="govuk-list--tab__column">
    <dt data-testid="staffAddedNumber">
      {{ totalWorkers }}
    </dt>
    <dd data-testid="staffAddedText">
      staff
      <ng-container [ngPlural]="totalWorkers">
        <ng-template ngPluralCase="=1">record</ng-template>
        <ng-template ngPluralCase="other">records</ng-template>
      </ng-container>
      added
    </dd>
  </div>

  @if ((totalStaff | hasValue) && totalStaff !== totalWorkers) {
    <div class="govuk-list--tab__column">
      <dt data-testid="changeNumber">
        <img
          src="/assets/images/flag-orange.svg"
          alt="Missing or expired record alert"
          class="govuk-!-margin-right-1"
        />
        @if (totalStaff > totalWorkers) {
          {{ totalStaff - totalWorkers }}
        } @else {
          {{ totalWorkers - totalStaff }}
        }
      </dt>
      <dd data-testid="changeText">
        staff
        <ng-container [ngPlural]="totalStaff - totalWorkers">
          <ng-template ngPluralCase="=-1">record</ng-template>
          <ng-template ngPluralCase="=1">record</ng-template>
          <ng-template ngPluralCase="other">records</ng-template>
        </ng-container>
        @if (totalStaff > totalWorkers) {
          to add
        } @else {
          to delete
        }
      </dd>
    </div>
  }
</dl>
