<app-error-summary *ngIf="submitted && form?.invalid" [formErrorsMap]="formErrorsMap" [form]="form">
</app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Select the staff who have completed the training</h1>
  </div>
</div>

<form #formEl [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="govuk-grid-row">
    <div class="govuk-form-group govuk-!-margin-top-6" [class.govuk-form-group--error]="submitted && form.invalid">
      <span *ngIf="submitted && form?.invalid" id="selectStaff-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>
        {{ getFirstErrorMessage('selectStaff') }}
      </span>
      <div class="govuk-checkboxes">
        <div class="govuk-grid-column-full">
          <div class="govuk-checkboxes__item govuk-!-margin-bottom-2">
            <input
              formControlName="selectAll"
              class="govuk-checkboxes__input"
              type="checkbox"
              id="selectAll"
              name="selectAll"
              (change)="selectAllWorkers()"
            />
            <label for="selectAll" class="govuk-label govuk-checkboxes__label"> Select all </label>
          </div>
        </div>
        <ng-container *ngFor="let worker of selectStaff.controls; let i = index" formArrayName="selectStaff">
          <div class="govuk-grid-column-one-third-from-desktop">
            <div class="govuk-checkboxes__item govuk-!-margin-bottom-2">
              <input
                class="govuk-checkboxes__input"
                type="checkbox"
                id="selectStaff-{{ i }}"
                name="selectStaff-{{ i }}"
                (change)="selectWorker(worker)"
                [checked]="worker.value.checked"
                [value]="worker.value.name"
              />
              <label for="selectedStaff-{{ i }}" class="govuk-label govuk-checkboxes__label">
                {{ worker.value.name }}
              </label>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="govuk-button-group">
      <button class="govuk-button govuk-!-margin-right-9 govuk-!-margin-top-7" type="submit">Continue</button>
      <a class="govuk-link govuk-!-margin-left-9" [routerLink]="['/dashboard']" fragment="training-and-qualifications"
        >Cancel</a
      >
    </div>
  </div>
</form>
