<div class="govuk-!-margin-top-4 govuk-!-padding-3 barchart-container">
  <div class="govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-top-2">{{ section }}</div>
  <ng-container *ngIf="!rankingsData.stateMessage; else noData">
    <p class="govuk-body govuk-!-margin-top-2" data-testid="all-data">
      Your workplace pays more than
      <span class="govuk-!-font-weight-bold">{{ numberOfWorkplaces - rank }}</span> others in a comparision group of
      <span class="govuk-!-font-weight-bold">{{ numberOfWorkplaces }} </span> workplaces.
    </p>
  </ng-container>
  <ng-template #noData>
    <ng-container *ngIf="rankingsData.stateMessage == 'no-comparison-data'; else noWorkplaceData">
      <p class="govuk-body govuk-!-margin-top-2" data-testid="no-comparison-data">
        We do not have enough comparison group data to show where you're ranked yet.
      </p>
    </ng-container>
    <ng-template #noWorkplaceData>
      <p class="govuk-body govuk-!-margin-top-2" data-testid="no-workplace-data">
        You've not added any {{ section | lowercase }} data, so we cannot show you where you're ranked.
      </p>
    </ng-template>
  </ng-template>
  <highcharts-chart class="chart" [Highcharts]="Highcharts" [options]="options"></highcharts-chart>
</div>
