<app-error-summary
  *ngIf="(submitted && form.invalid) || serverError"
  [formErrorsMap]="formErrorsMap"
  [serverError]="serverError"
  [form]="form"
></app-error-summary>

<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l" data-testid="section-heading">Staff benefits</span>
            Do you contribute more than the minimum 3% into workplace pensions for your care workers?
          </h1>
        </legend>
        <div class="govuk-!-margin-bottom-6">
          <p>
            Workplace pensions are sometimes called 'automatic enrolment', 'occupational', 'works', 'company' or
            'work-based' pensions.
          </p>
        </div>
        <div class="govuk-form-group">
          <div class="govuk-radios govuk-!-margin-bottom-4">
            <ng-container *ngFor="let option of pensionsOptions; let i = index">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  type="radio"
                  id="pensionsOption-{{ i }}"
                  name="pension"
                  [formControlName]="'pension'"
                  [value]="option.value"
                />
                <label for="pensionsOption-{{ i }}" class="govuk-label govuk-radios__label">{{ option.label }}</label>
              </div>
            </ng-container>
          </div>
        </div>
      </fieldset>
      <app-workplace-submit-button [return]="!!return" (clicked)="setSubmitAction($event)">
      </app-workplace-submit-button>
    </div>
    <div class="govuk-grid-column-one-third">
      <div *ngIf="!return && !inStaffRecruitmentFlow" class="govuk-util__float-right">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="workplaceFlowSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
      <div *ngIf="!return && inStaffRecruitmentFlow" class="govuk-util__float-right">
        <app-progress-bar
          data-testid="progress-bar-2"
          [header]="'Recruitment'"
          [sections]="recruitmentSections"
          [currentSection]="section"
          [completeProgressBar]="true"
        ></app-progress-bar>
        <app-progress-bar
          data-testid="progress-bar-3"
          [header]="'Staff benefits'"
          [sections]="staffBenefitsSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
    </div>
  </div>
</form>
