<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 data-testid="heading" class="govuk-heading-l govuk-!-margin-bottom-7 govuk__nowrap">Add more details about your workplace</h1>

    <div data-testid="details-text" class="govuk-details__text govuk-!-margin-bottom-6 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
      <p class="govuk-!-margin-bottom-0">We'll ask you a maximum of 25 questions. If necessary, you can skip </p>
      <p>questions and answer them later in the Workplace section of ASC-WDS.</p>
    </div>

    <h2 data-testid="services-heading" class="govuk-heading-m govuk-!-margin-bottom-1">Services</h2>
    <div data-testid="services-text">
      <p class="govuk-body govuk-!-margin-bottom-0">Questions about your services and who uses them, and whether </p>
      <p class="govuk-body">your non-nursing staff carry out delegated healthcare activities?</p>
    </div>

    <h2 data-testid="vacancies-heading" class="govuk-heading-m govuk-!-margin-bottom-1">Vacancies and turnover</h2>
    <div data-testid="vacancies-text">
      <p class="govuk-body govuk-!-margin-bottom-0">Questions like whether you have any staff vacancies, and whether </p>
      <p class="govuk-body">you’ve had any starters or leavers in the last 12 months?</p>
    </div>

    <h2 data-testid="pay-heading" class="govuk-heading-m govuk-!-margin-bottom-1">Pay and benefits</h2>
    <div data-testid= "pay-text">
      <p class="govuk-body govuk-!-margin-bottom-0">Questions about things like annual leave, workplace pensions and </p>
      <p class="govuk-body">rates of pay.</p>
    </div>

    <h2 data-testid="staff-heading" class="govuk-heading-m govuk-!-margin-bottom-1">Staff development</h2>
    <div data-testid="staff-text">
      <p class="govuk-body govuk-!-margin-bottom-0">Questions about the care workforce pathway, training and </p>
      <p class="govuk-body">Care Certificates.</p>
    </div>

    <h2 data-testid="permissions-heading" class="govuk-heading-m govuk-!-margin-bottom-1">Permissions</h2>
    <div data-testid="permissions-text" >
      <p class="govuk-body govuk-!-margin-bottom-0">Whether we can share your data with the CQC and local </p>
      <p class="govuk-body govuk-!-margin-bottom-5">authorities or not?</p>
    </div>

    <button
      (click)="removeAddDetailsBanner($event)"
      role="button"
      draggable="false"
      class="govuk-button govuk-!-margin-top-5"
    >
      Continue
    </button>
  </div>
</div>
