<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8 govuk__nowrap">Add more details about your workplace</h1>

    <p class="govuk-details__text">
      We'll ask you a maximum of 18 questions. If necessary, you can skip questions and answer them later in the
      Workplace section of ASC-WDS.
    </p>

    <p>We would like to know:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">whether you provide any other services?</p></li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          the capacity of the services that you provide (if applicable)?
        </p>
      </li>
      <li><p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">who uses your services?</p></li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          whether you have any current staff vacancies and how many?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0 govuk__nowrap">
          whether you've had new starters or leavers in the last 12 months and how many?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0 govuk__nowrap">
          whether new care workers have to repeat training done with previous employers?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0 govuk__nowrap">
          whether Care Certificates are transferable from workplace to workplace?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0 govuk__nowrap">
          how aware your workplace is of the care workforce pathway?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          whether your workplace is using the care workforce pathway?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          whether a cash loyalty bonus is paid within the first 2 years of employment?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          whether care workers are paid more than Statutory Sick Pay?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          whether more than 3% is contributed towards care worker pensions?
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">
          how many days holiday leave full-time care workers get?
        </p>
      </li>
      <li><p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0">whether we can share your data?</p></li>
    </ul>
    <button
      (click)="removeAddDetailsBanner($event)"
      role="button"
      draggable="false"
      class="govuk-button govuk-!-margin-top-5"
    >
      Continue
    </button>
  </div>
</div>
