@import 'govuk-frontend/govuk/base';

.asc-dashboard-header {
  background-color: govuk-colour('light-grey');
  min-height: 165px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__full-height {
    min-height: 215px;
    height: 235px;
  }
}

.home-workplace-name {
  width: 103%;
}
