<div>
  @if (alert && alert.type !== 'pending') { @if (linkTextForAlert) {
  <app-inset-text
    data-testid="success_alert_with_link"
    [color]="alert.type"
    [closable]="false"
    [removeTopMargin]="true"
    [removeBottomMargin]="false"
    [linkTextForAlert]="linkTextForAlert"
    (alertLinkClicked)="alertLinkClicked($event)"
    [noFloatRight]="noFloatRight"
  >
    <span role="status">{{ alert.message }}</span>
  </app-inset-text>
  } @else {
  <app-inset-text
    data-testid="generic_alert"
    [color]="alert.type"
    [closable]="true"
    [removeBottomMargin]="true"
    (closed)="remove()"
  >
    <span role="status">{{ alert.message }}</span>
  </app-inset-text>
  } }
</div>
