<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Contact us or leave feedback</h1>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">What do you want to do?</h2>
    </legend>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-one-third">
        <button class="govuk-button">Continue</button>
      </div>
      <div class="govuk-grid-column-one-third">
        <a [routerLink]="['/dashboard']" role="button" draggable="false" class="govuk-button govuk-button--link">
          Exit
        </a>
      </div>
    </div>
  </div>
</div>
