<div>
  <h1 class="govuk-heading-xl">Sign in</h1>

  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="govuk-form-group">
      <label class="govuk-label" for="username">
        Username
      </label>
      <input
        class="govuk-input govuk-!-width-one-third"
        id="username"
        name="username"
        type="text"
        formControlName="username"
      />
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="password">
        Password
      </label>
      <input
        class="govuk-input govuk-!-width-one-third"
        id="password"
        name="password"
        type="password"
        formControlName="password"
      />
    </div>

    <!--
          <span *ngIf="loginForm.get('username').errors?.required" class="main-body-text">
            Please enter your Username.
          </span>
          <span *ngIf="loginForm.get('username').errors?.maxlength" class="main-body-text">
            The Username must be no longer than 3 characters.
          </span>

          <span *ngIf="loginForm.get('password').errors?.required" class="main-body-text">
            Please enter your Password.
          </span>
          <span *ngIf="loginForm.get('password').errors?.maxlength" class="main-body-text">
            The Password must be no longer than 3 characters.
          </span>
        -->

    <button type="submit" class="govuk-button">
      Sign In
    </button>
  </form>

  <ul class="govuk-list">
    <li><a class="govuk-link" routerLink="">Forgot your password?</a></li>
    <li><a class="govuk-link" routerLink="/registered-question">Create an account</a></li>
  </ul>
</div>
