
<div class="main-page-container col-12">

  <h1 class="h1">{{ title }}</h1>

  <form>

    <div class="form-group mb-5">
      <div class="field-group mb-5">
        <label for="username" class="d-block">Username</label>
        <input type="text" placeholder="username" id="username" class="col-12 col-lg-6" />
      </div>
      <div class="field-group">
        <label for="password" class="d-block">Password</label>
        <input type="text" placeholder="password" id="password" class="col-12 col-lg-6" />
      </div>
    </div>

    <div class="btn-container">
      <button class="btn btn-primary">Sign In</button>
    </div>

  </form>

  <ul class="login-nav-list">
    <li><a routerLink="">Forgot your password?</a></li>
    <li><a routerLink="/registered-question" title="Create an account">Create an account</a></li>
  </ul>

</div>
