@if (success) {
<div class="alert alert-success">
  @for (message of success; track message) {
  <p>
    {{ message }}
  </p>
  }
</div>
} @if (info) {
<div class="alert alert-info">
  @for (message of info; track message) {
  <p>
    {{ message }}
  </p>
  }
</div>
} @if (warning) {
<div class="alert alert-warning">
  @for (message of warning; track message) {
  <p>
    {{ message }}
  </p>
  }
</div>
} @if (error) {
<div class="alert alert-danger">
  @for (message of error; track message) {
  <p>
    {{ message }}
  </p>
  }
</div>
}
