<div class="main-page-container col-12">
  <div id="back" class="back-link">
    <a [routerLink]="['/worker', worker.uid, 'nationality']">
      <span class="arrow"></span>Back
    </a>
  </div>

  <form novalidate
    (ngSubmit)="submitHandler()"
    [formGroup]="form">

    <header>
      <h1 class="h1 col-12 col-lg-8">Do they have British citizenship?</h1>
    </header>

    <app-messages></app-messages>

    <div class="form-group mt-5">
      <div class="field-group mb-5">
        <div *ngFor="let answer of answersAvailable; let idx = index" class="multiple-choice">
          <input type="radio" formControlName="citizenship" class="form-control" [value]="answer" id="answer_{{idx}}">
          <label for="answer_{{idx}}">{{answer}}</label>
        </div>
      </div>
    </div>

    <app-submit-button [saveCallback]="saveHandler"></app-submit-button>
  </form>
</div>
