<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"> </app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Workplace</span>
          <h1 *ngIf="isParent" class="govuk-fieldset__heading">
            Select the workplace you want<br />
            to add
          </h1>
          <h1 *ngIf="!isParent" class="govuk-fieldset__heading">Select your workplace address</h1>
        </legend>
        <ng-container *ngIf="!isCQCLocationUpdate">
          <div class="govuk-!-margin-bottom-5">
            <p>
              Postcode entered: <strong>{{ enteredPostcode }}</strong>
              <a routerLink="/{{ flow }}/find-workplace" class="govuk-!-margin-left-9">Change</a>
            </p>
          </div>
        </ng-container>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
          <span *ngIf="submitted && form.invalid" id="workplace-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ getFormErrorMessage('workplace', 'required') }}
          </span>
          <ng-container *ngIf="locationAddresses.length > 4; else radioButtonForm">
            <app-select-workplace-dropdown-form
              data-testid="dropdown-form"
              [submitted]="submitted"
              [form]="form"
              [locationAddresses]="locationAddresses"
              (clicked)="onLocationChange($event)"
            ></app-select-workplace-dropdown-form>
          </ng-container>
          <ng-template #radioButtonForm>
            <app-select-workplace-radio-button-form
              data-testid="radio-button-form"
              [form]="form"
              [locationAddresses]="locationAddresses"
            ></app-select-workplace-radio-button-form>
          </ng-template>
        </div>
      </fieldset>
      <ng-container *ngIf="isCQCLocationUpdate; else CQCLocationAdd">
        <p>
          Workplace not displayed?
          <a [routerLink]="['/workplace', workplace.uid, 'regulated-by-cqc']">go back and try again</a>.
        </p>

        <app-workplace-submit-button
          [return]="!!return"
          (clicked)="setSubmitAction($event)"
          [isExistingStaffRecord]="false"
        ></app-workplace-submit-button>
      </ng-container>

      <ng-template #CQCLocationAdd>
        <p class="govuk-!-margin-bottom-7 govuk-!-margin-top-2">
          <a routerLink="/{{ flow }}/workplace-name-address" role="button" draggable="false">
            Workplace is not displayed or is not correct
          </a>
        </p>
        <button class="govuk-button govuk-!-margin-top-2" type="submit">Continue</button>
      </ng-template>
    </form>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="insideFlow">
    <div class="govuk-util__float-right">
      <app-progress-bar
        data-testid="progress-bar-1"
        [header]="'Workplace'"
        [sections]="workplaceSections"
        [currentSection]="'Confirm workplace'"
      ></app-progress-bar>
      <app-progress-bar
        *ngIf="!isParent"
        data-testid="progress-bar-2"
        [header]="'User account'"
        [sections]="userAccountSections"
        [currentSection]="'Confirm workplace'"
      ></app-progress-bar>
    </div>
  </div>
</div>
