.govuk-button::before {
  /* content: ""; */
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -4px;
  left: -2px;
  background: transparent;
}

.govuk-button {
  font-weight: 400;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin-top: 0;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #00823b;
  box-shadow: 0 2px 0 #003618;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}

.govuk-button {
  margin-bottom: 32px;
  width: auto;
}

.govuk-button:link, .govuk-button:visited, .govuk-button:active, .govuk-button:hover {
  color: #fff;
  text-decoration: none;
}

.govuk-button--start {
  font-weight: 700;
  line-height: 1;
  min-height: auto;
  padding-top: 8px;
  padding-right: 40px;
  padding-bottom: 8px;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.govuk-button--start {
    background-image: url(/assets/img/icon-pointer-2x.png);
    background-size: 30px 19px;
}

.govuk-button:hover, .govuk-button:focus {
  background-color: #00692f;
}

.govuk-button:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
}

.govuk-button:active {
  top: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
