* {
  letter-spacing: 1px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
}

a {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
  font-size: 19px;
  font-size: 1.9rem;
}

a:hover {
  color: #0056b3;
}

a:not([href]):not([tabindex]) {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
  font-size: 19px;
  font-size: 1.9rem;
}

a:not([href]):not([tabindex]):hover {
  color: #0056b3;
}

p {
  font-size: 19px;
  font-size: 1.9rem;
}

.container {
  max-width: 960px;
}

#main-content {
  min-height: calc(100vh - 351px);
}

@media (min-width: 961px) {
  #main-content {
    padding: 0;
  }
}

#main-content .main-page-container {
  padding: 30px 0 120px;
  padding: 3rem 0 12rem;
}

#main-content .sub-page-container {
  padding: 30px 0 60px 0;
  padding: 3rem 0 6rem 0;
}

.icon-link {
  white-space: nowrap;
  line-height: 24px;
  text-decoration: none;
}

.icon-link:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-bottom;
  width: 24px;
  height: 24px;
}

.main-page-container > p {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

h1,
.h1 {
  font-weight: 700;
  margin: 0;
  padding: 0 0 50px 0;
  padding: 0 0 5rem 0;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 58px;
  line-height: 5.8rem;
}

h2,
.h2 {
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 0;
  font-size: 30px;
  font-size: 3rem;
  line-height: 40px;
  line-height: 4rem;
}

.main-page-container header {
  margin-bottom: 1rem;
}

.main-page-container header h1 {
  padding: 0;
}

.main-page-container header h1 ~ * {
  margin-top: 3rem;
}

a[role='button'] {
  text-decoration: none;
  line-height: 40px;
}

#header-container {
  background: #fff;
}

@media (min-width: 961px) {
  #header-container .container {
    padding: 0;
  }
}

#header-container .main-header {
  border-bottom: 5px solid #0065bd;
  padding: 30px 0;
  padding: 3rem 0;
}

#header-container .main-header .logo {
  display: inline-block;
  padding: 0 50px 0 0;
  padding: 0 5rem 0 0;
}

#header-container .main-header .strapline {
  background: #0065bd;
  color: #fff;
  width: auto;
  font-weight: bold;
  display: inline-block;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 24px;
  line-height: 2.4rem;
  padding: 8px 12px;
  padding: 0.8rem 1.2rem;
}

#footer-container {
  background: #fff;
}

#footer-container .main-footer {
  border-top: 3px solid #0065bd;
  padding: 30px 0;
  padding: 3rem 0;
}

#footer-container .main-footer .container {
  position: relative;
}

@media (min-width: 961px) {
  #footer-container .main-footer .container {
    padding: 0;
  }
}

#footer-container .main-footer .container .footer-tagline {
  background: #0065bd;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: -45px;
  left: 15px;
  padding: 6px 6px;
  padding: 0.6rem 0.6rem;
  line-height: 16px;
  line-height: 1.6rem;
  font-size: 18px;
  font-size: 1.8rem;
}

@media (min-width: 961px) {
  #footer-container .main-footer .container .footer-tagline {
    left: 0;
  }
}

#footer-container .main-footer .container .logo {
  margin-top: 10px;
  margin-top: 1rem;
  padding: 0;
}

#footer-container .main-footer .container .logo img {
  border-left: 3px solid #00823b;
  padding: 0 0 0 10px;
  padding: 0 0 0 1rem;
  margin: 0 0 0 15px;
  margin: 0 0 0 1.5rem;
}
