<h1 class="govuk-heading-xl">Forgot your password?</h1>
<p>Enter your username or email address and we will send you a link to reset your password.</p>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <div
    class="govuk-form-group"
    [ngClass]="{ 'govuk-form-group--error': form.get('usernameOrEmail').errors && submitted }"
  >
    <label class="govuk-label" for="usernameOrEmail">
      Username or email address
    </label>
    <span
      id="username-issued-error"
      class="govuk-error-message"
      *ngIf="form.get('usernameOrEmail').errors?.required && submitted"
    >
      <span class="govuk-visually-hidden">Error:</span> Please enter your username or email address.
    </span>
    <input
      class="govuk-input govuk-!-width-full"
      [ngClass]="{ 'govuk-input--error': form.get('usernameOrEmail').errors && submitted }"
      id="usernameOrEmail"
      name="usernameOrEmail"
      type="text"
      formControlName="usernameOrEmail"
    />
  </div>

  <button type="submit" class="govuk-button">
    Send reset link
  </button>
</form>
<p><a routerLink="/login">Back to sign in</a></p>
