<app-error-summary
  *ngIf="(submitted && form.invalid) || serverError"
  [formErrorsMap]="formErrorsMap"
  [serverError]="serverError"
  [form]="form"
></app-error-summary>

<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
            What do you pay care and support workers for travel time between visits?
          </h1>
        </legend>
        <div class="govuk-!-margin-bottom-6">
          <p>
            We only want to know about travel time from one service user to another during their shift. Do not include
            mileage and fuel allowances.
          </p>
        </div>
        <app-details [title]="'Why we ask for this information'">
          {{ payAndPensionQuestionRevealText }}
        </app-details>
        <div class="govuk-form-group">
          <div class="govuk-radios govuk-!-margin-bottom-4">
            <div class="govuk-radios govuk-radios--conditional">
              @for (travelTimePayOption of travelTimePayOptions; track travelTimePayOption.id) { @if
              (travelTimePayOption.id === travelTimePayOptions.length - 1) {
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
              }
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  type="radio"
                  id="travelTimePay-{{ i }}"
                  name="travelTimePay"
                  [formControlName]="'travelTimePay'"
                  [value]="travelTimePayOption.id"
                  (click)="onChange(travelTimePayOption.label)"
                />
                <label for="travelTimePay-{{ i }}" class="govuk-label govuk-radios__label">{{
                  travelTimePayOption.label
                }}</label>
              </div>
              @if (travelTimePayOption.label === 'A different travel time rate') {
              <div
                class="govuk-radios__conditional"
                [class.govuk-radios__conditional--hidden]="!showTextBox"
                id="conditional-travelTimePayRate-conditional-1"
                data-testid="travelTimePayRateRadio-conditional"
              >
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <div
                      class="govuk-form-group"
                      [class.govuk-form-group--error]="submitted && form.get('travelTimePayRate').invalid"
                    >
                      <label class="govuk-label" for="travelTimePayRate">Amount (optional)</label>
                      <span id="travelTimePayRate-hint" class="govuk-hint govuk-!-margin-bottom-4">
                        For example, 13.45
                      </span>
                      <span
                        *ngIf="submitted && form.get('travelTimePayRate').invalid"
                        id="travelTimePayRate-error"
                        class="govuk-error-message"
                      >
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ getFirstErrorMessage('travelTimePayRate') }}
                      </span>

                      <div class="govuk-input__wrapper govuk-!-margin-top-2">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input
                          class="govuk-input asc-max-width"
                          [class.govuk-input--error]="submitted && form.get('travelTimePayRate').invalid"
                          [formControlName]="'travelTimePayRate'"
                          id="travelTimePayRate"
                          name="travelTimePayRate"
                          type="number"
                          aria-describedby="travelTimePayRate-hint"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              } }
            </div>
          </div>
        </div>
      </fieldset>
      <app-workplace-submit-button
        [return]="!!return"
        (clicked)="setSubmitAction($event)"
      ></app-workplace-submit-button>
    </div>
    <div class="govuk-grid-column-one-third">
      @if (!return){
      <div class="govuk-util__float-right">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="workplaceFlowSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
      }
    </div>
  </div>
</form>
