<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Bulk Upload</h1>
    <p>
      You are about to begin bulk uploading files for the first time.
    </p>
    <p>
      Before you can begin to bulk upload you must create unique references for each workplace and staff member. These
      were previously known as Local identifiers.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-!-margin-top-6">
      <a
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start"
        [routerLink]="['/bulk-upload/workplace-references']"
      >
        Start now
      </a>
    </div>
  </div>
</div>
