<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <!-- <h2 class="govuk-heading-m">Staff records ({{ workerCount || 0 }})</h2> -->
    <h2 class="govuk-heading-m">Staff records (0)</h2>
  </div>
  <!-- <div *ngIf="canAddWorker" class="govuk-grid-column-one-half govuk-util__align-right"> -->
  <div class="govuk-grid-column-one-half govuk-util__align-right">
    <a
      role="button"
      draggable="false"
      class="govuk-button"
      [routerLink]="['/workplace', this.workplace.uid, 'staff-record', 'create-staff-record']"
    >
      Add a staff record
    </a>
  </div>
</div>
