@if (newDashboard && showBanner) {
  <app-new-dashboard-header
    [tab]="'benchmarks'"
    [workplace]="workplace"
    data-testid="newDashboardHeader"
    data-html2canvas-ignore
  ></app-new-dashboard-header>
}

<div [ngClass]="{ 'govuk-width-container': newDashboard, 'govuk-!-margin-top-7': newDashboard }">
  <app-benchmarks-select-view-panel
    data-testid="selectCategoryLinks"
    [falseSelectionName]="'Pay'"
    [trueSelectionName]="'Recruitment and retention'"
    (handleViewToggle)="handleViewBenchmarksByCategory($event)"
  >
  </app-benchmarks-select-view-panel>

  <div class="govuk-!-margin-top-7" data-testid="benchmarksCategoryHeading">
    @if (viewBenchmarksByCategory) {
      <h2 class="govuk-heading-m govuk-!-font-size-27">Recruitment and retention</h2>
    } @else {
      <h2 class="govuk-heading-m govuk-!-font-size-27">Pay</h2>
    }
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-!-margin-top-1">
        <app-about-the-data-link></app-about-the-data-link>
      </div>

      @if (tilesData?.meta.lastUpdated) {
        <div data-testid="benchmarksLastUpdatedDate" class="govuk-!-margin-top-5">
          <p>The comparison group data was refreshed on {{ tilesData?.meta.lastUpdated | date: 'd MMMM y' }}.</p>
        </div>
      }

      <app-benchmarks-select-comparison-group
        [comparisonDataExists]="comparisonDataExists"
        [viewBenchmarksComparisonGroups]="viewBenchmarksComparisonGroups"
        (handleViewToggle)="handleViewComparisonGroups($event)"
        [mainServiceName]="workplace.mainService.name"
        [localAuthorityLocation]="tilesData?.meta.localAuthority"
      >
      </app-benchmarks-select-comparison-group>
    </div>

    <div class="govuk-grid-column-two-thirds">
      @if (viewBenchmarksComparisonGroups) {
        <h3 class="govuk-heading-m">
          Good and outstanding CQC providers in {{ tilesData?.meta.localAuthority | formatAmpersand }}
        </h3>
      } @else {
        <h3 class="govuk-heading-m">
          {{ workplace.mainService.name | serviceName }} providers in
          {{ tilesData?.meta.localAuthority | formatAmpersand }}
        </h3>
      }
      @if (comparisonDataExists) {
        @if (viewBenchmarksComparisonGroups) {
          <p>
            Your selected comparison group is a maximum
            <span class="govuk-body govuk-!-font-weight-bold">{{ tilesData?.meta.staffGoodCqc | number }}</span>
            staff from
            <span class="govuk-body govuk-!-font-weight-bold">{{ tilesData?.meta.workplacesGoodCqc | number }}</span>
            workplaces using ASC-WDS, rated as good or outstanding CQC providers and providing
            <span class="govuk-body govuk-!-font-weight-bold">{{
              workplace.mainService.name | serviceName | lowercase
            }}</span>
            in {{ tilesData?.meta.localAuthority | formatAmpersand }}.
          </p>
        } @else {
          <p class="govuk-body">
            Your selected comparison group is a maximum
            <span class="govuk-body govuk-!-font-weight-bold">{{ tilesData?.meta.staff | number }}</span>
            staff from
            <span class="govuk-body govuk-!-font-weight-bold">{{ tilesData?.meta.workplaces | number }}</span>
            workplaces using ASC-WDS and providing
            <span class="govuk-body govuk-!-font-weight-bold">{{
              workplace.mainService.name | serviceName | lowercase
            }}</span>
            in {{ tilesData?.meta.localAuthority | formatAmpersand }}.
          </p>
        }
      }
      @if (viewBenchmarksByCategory) {
        <app-data-area-recruitment-and-retention
          [data]="tilesData"
          [rankingsData]="rankingsData"
          [viewBenchmarksComparisonGroups]="viewBenchmarksComparisonGroups"
          data-testid="recruitmentAndRetentionArea"
        ></app-data-area-recruitment-and-retention>
      } @else {
        <app-data-area-pay
          [data]="tilesData"
          [rankingsData]="rankingsData"
          data-testid="payArea"
          [viewBenchmarksComparisonGroups]="viewBenchmarksComparisonGroups"
          [showRegisteredNurseSalary]="showRegisteredNurseSalary"
        ></app-data-area-pay>
      }
    </div>
    <!-- <app-data-area-about-the-data
    #aboutData
    class="govuk-visually-hidden"
    [workplace]="workplace"
  ></app-data-area-about-the-data> -->
  </div>
</div>
