<div class="sub-page-container col-12">
  <div class="row">
    <div class="col-md-8">
      <h5>User dashboard</h5>
      <h3>Establishment Name {{ establishmentName }}</h3>
      <h1 class="h1">Welcome {{ fullname }}</h1>
    </div>

    <div class="col-md-4">
      <p><strong>Contact Skills for Care</strong></p>
      <p>0113 241 0969</p>
      <p><a href="mailto:nmds-support@skillsforcare.org.uk">nmds-support@skillsforcare.org.uk</a></p>
    </div>
  </div>

  <div class="row">
    <app-tabs>
      <app-tab title="Home">
        Home tab
      </app-tab>

      <app-tab title="Workplace">
        Workplace tab
      </app-tab>

      <app-tab title="Staff Records">
        <div class="row">
          <div class="col-md-8">
            <h3>Staff records ({{ workers.length }})</h3>
          </div>
          <div class="col-md-4">
            <a role="button" routerLink="/worker/start-screen" class="btn btn-link btn-primary">
              Add another staff record
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p><strong>What you need to do next.</strong></p>
            <p>Provide more information for # staff records.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Staff name</th>
                  <th class="govuk-table__header" scope="col">Job role</th>
                  <th class="govuk-table__header" scope="col">Last updated</th>
                  <th class="govuk-table__header" scope="col">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row" *ngFor="let worker of workers">
                  <th class="govuk-table__cell" scope="row"><a [routerLink]="['/worker', worker.uid, 'summary']">{{ worker.nameOrId }}</a></th>
                  <td class="govuk-table__cell">{{ worker.mainJob.title }}</td>
                  <td class="govuk-table__cell">{{ worker.updated | amTimeAgo }}</td>
                  <td class="govuk-table__cell"><a [routerLink]="['/worker', worker.uid, 'staff-details']">Provide more information</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </app-tab>
    </app-tabs>
  </div>
</div>
