<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
      <span *ngIf="workplace?.isParent" class="govuk-caption-xl govuk-!-margin-bottom-3">Parent</span>
      <span *ngIf="workplace.parentUid" class="govuk-caption-xl govuk-!-margin-bottom-3">{{
        workplace.parentName
      }}</span>
      {{ workplace?.name }}
    </h1>
    <p class="govuk-!-font-size-16 govuk-!-margin-top-4 govuk-!-margin-bottom-0">
      Workplace ID: {{ workplace?.nmdsId }}
    </p>
    <p *ngIf="lastLoggedIn" class="govuk-!-font-size-16 govuk-!-margin-top-2">
      Last signed in on {{ lastLoggedIn | date: 'd MMMM y' }}
    </p>
  </div>

  <div class="govuk-grid-column-one-third contact-col" [class.contact-col--parent]="workplace?.isParent">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
      Contact Skills for Care
    </h2>
    <p class="govuk-!-font-size-16 govuk-!-margin-top-4 govuk-!-margin-bottom-0">
      0113 241 0969
    </p>
    <p class="govuk-!-font-size-16 govuk-!-margin-top-2">
      <a href="mailto:ascwds-support@skillsforcare.org.uk">ascwds-support@skillsforcare.org.uk</a>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-tabs>
      <app-tab [title]="'Home'">
        <app-home-tab [workplace]="workplace"></app-home-tab>
      </app-tab>

      <app-tab *ngIf="workplace && canViewEstablishment" [title]="'Workplace'">
        <app-workplace-tab [workplace]="workplace"></app-workplace-tab>
      </app-tab>

      <app-tab *ngIf="workplace && canViewListOfWorkers" [alert]="totalStaffRecords === 0" [title]="'Staff records'">
        <app-staff-records-tab [workplace]="workplace"></app-staff-records-tab>
      </app-tab>
      <app-tab
        *ngIf="workplace && canViewListOfWorkers"
        [alert]="trainingAlert === 1"
        [redAlert]="trainingAlert === 2"
        [title]="'Training and qualifications'"
      >
        <app-training-and-qualifications-tab [workplace]="workplace"></app-training-and-qualifications-tab>
      </app-tab>

      <app-tab *ngIf="workplace && canViewListOfUsers" [title]="'User accounts'">
        <app-user-accounts-summary [workplace]="workplace"></app-user-accounts-summary>
      </app-tab>
    </app-tabs>
  </div>
</div>
