<app-dashboard-header></app-dashboard-header>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-tabs>
      <app-tab [title]="'Home'">
        <app-home-tab [workplace]="workplace" [workerCount]="workerCount"></app-home-tab>
      </app-tab>

      <app-tab
        *ngIf="workplace && canViewEstablishment"
        [title]="'Workplace'"
        [redAlert]="workplace?.employerType && (showCQCDetailsBanner || showSharingPermissionsBanner)"
      >
        <app-workplace-tab [workplace]="workplace" [workerCount]="workerCount"></app-workplace-tab>
      </app-tab>

      <app-tab *ngIf="workplace && canViewListOfWorkers" [alert]="totalStaffRecords === 0" [title]="'Staff records'">
        <app-staff-records-tab
          [workplace]="workplace"
          [workers]="workers"
          [workerCount]="workerCount"
        ></app-staff-records-tab>
      </app-tab>

      <app-tab
        *ngIf="workplace && canViewListOfWorkers"
        [alert]="trainingAlert === 1"
        [redAlert]="trainingAlert === 2"
        [title]="'Training and qualifications'"
      >
        <app-training-and-qualifications-tab
          [workplace]="workplace"
          [workers]="workers"
          [workerCount]="workerCount"
        ></app-training-and-qualifications-tab>
      </app-tab>

      <app-tab *ngIf="workplace && canViewBenchmarks" [title]="'Benchmarks'">
        <app-benchmarks-tab class="asc-benchmarks-tab" [workplace]="workplace"></app-benchmarks-tab>
      </app-tab>

      <app-tab *ngIf="workplace && canViewEstablishment && wdfNewDesignFlag" [title]="'WDF'">
        <app-wdf-tab [workplace]="workplace"></app-wdf-tab>
      </app-tab>

      <app-tab
        *ngIf="workplace && canViewListOfUsers && !wdfNewDesignFlag"
        [title]="'Users'"
        [alert]="showSecondUserBanner"
      >
        <app-user-accounts-summary
          [workplace]="workplace"
          [showSecondUserBanner]="showSecondUserBanner"
        ></app-user-accounts-summary>
      </app-tab>
    </app-tabs>
  </div>
</div>
