<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Cookie policy</h1>
    <h2 class="govuk-heading-m">Adult Social Care Workforce Data Set</h2>
    <p>
      The Adult Social Care Workforce Data Set (the &quot;Service&quot; or &quot;ASC-WDS&quot;) uses cookies to
      distinguish you from other users of the Service. This helps us to provide you with a good experience when you use
      our Service and are vital to the basic performance of the Service. Cookies enable critical authentication and
      validation, session management, and fraud prevention in addition to enabling us to remember the settings you may
      have previously applied, such as text size.
    </p>
    <p>
      A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer
      (or other device used to access the internet) if you agree (where applicable). Cookies contain information that is
      transferred to your computer’s hard drive.
    </p>
    <p>We use the following cookies:</p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Strictly necessary cookies</h3>
    <p>
      These are required for the operation of our website. They include, for example, cookies that enable you to log
      into secure areas of our website.
    </p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Analytical/performance cookies</h3>
    <p>
      These allow us to recognise and count the number of users of the Service and to see how users move around the
      ASC-WDS when they are using it. This helps us to improve the way the Service works, for example, by ensuring that
      users are finding what they are looking for easily.
    </p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Functionality cookies</h3>
    <p>
      These are used to recognise you when you return to use the Service. This enables us to personalise our content for
      you, greet you by name and remember your preferences (for example, your choice of text size).
    </p>
    <p>
      You can find more information about the individual cookies we use and the purposes for which we use them in the
      table below:
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Cookie name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header">More information</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-left-0">Essential Cookies</td>
          <td class="govuk-table__cell">
            This cookie is essential for our site. It stores a AuthToken so our website can remember you from one page
            request to the next.
          </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-left-0">Google Analytics</td>
          <td class="govuk-table__cell">
            This cookie enables us to collect standard internet log information and details of visitor behaviour
            patterns. We do this to find out things such as the number of visitors to the various parts of the site.
          </td>
          <td class="govuk-table__cell"><a href="https://bit.ly/1dm9wka" target="_blank">https://bit.ly/1dm9wka</a></td>
        </tr>
      </tbody>
    </table>

    <p>Except for essential cookies, all cookies will expire after 2 years.</p>
    <p>
      Please note that Google Analytics may also use cookies, over which we have no control. These cookies are likely to
      be analytical cookies or performance cookies or targeting cookies.
    </p>
    <p>
      If we collect personal data through the Service and use of cookies, we will do this in accordance with our privacy
      policy, a copy of which can be found in our <a [routerLink]="['/privacy-notice']">privacy notice</a>.
    </p>
    <p>
      You can manage your cookie preferences by adjusting your browser settings to refuse the setting of all or some
      cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not
      be able to access all or parts of the Service.
    </p>
  </div>
</div>
