@import 'govuk-frontend/govuk/base';

.govuk-form-group {
  background-color: govuk-colour('light-grey');
  padding: 20px;
}

.govuk-radios__input {
  accent-color: govuk-colour('black');
  opacity: 1;
}
