<div
  class="govuk-error-summary"
  aria-labelledby="error-summary-title"
  role="alert"
  tabindex="-1"
  data-module="error-summary"
  data-cy="error-summary"
  #errorSummary
>
  <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      @if (errors) {
        @if (getCurrentRoute(); as currentRoute) {
          @for (i of errors; track i.item) {
            <li>
              <a
                (click)="focusOnField(i.item)"
                [routerLink]="currentRoute"
                [replaceUrl]="true"
                [fragment]="getErrorId(i.item)"
                [queryParamsHandling]="'merge'"
                [innerHTML]="getFormErrorMessage(i.item, i.errors[0])"
              >
              </a>
            </li>
          }
        }
      }
      @if (serverError) {
        <li>
          @if (showServerErrorAsLink) {
            <a
              (click)="focusOnField('server')"
              [routerLink]="'.'"
              [fragment]="'server-error'"
              [queryParamsHandling]="'merge'"
              [innerHTML]="serverError"
            ></a>
          } @else {
            <p class="govuk-error-message">{{ serverError }}</p>
          }
        </li>
      }
      @if (customErrors) {
        @for (customError of customErrors; track customError) {
          <li>
            <a
              [routerLink]="'.'"
              [fragment]="customError.name"
              [queryParamsHandling]="'merge'"
              [innerHTML]="customError.message"
            ></a>
          </li>
        }
      }
    </ul>
  </div>
</div>
