<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
      <app-user-form
        [form]="form"
        [formErrorsMap]="formErrorsMap"
        [formControlsMap]="formControlsMap"
        [submitted]="submitted"
        [permissionsTypeRadios]="permissionsTypeRadios"
        [(getFirstErrorMessage)]="getFirstErrorMessage"
      ></app-user-form>
      <app-submit-exit-buttons [cta]="callToActionLabel" [exit]="'Cancel'" [return]="return"></app-submit-exit-buttons>
    </form>
  </div>
</div>
