<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <span class="govuk-caption-xl">{{ workplace.name }}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Your other workplaces ({{childWorkplacesCount}})</h1>
  </div>
  <div class="govuk-grid-column-one-half govuk-util__align-right">
    <a
      role="button"
      draggable="false"
      class="govuk-button govuk-!-margin-bottom-4 govuk-!-margin-top-7"
      [routerLink]="['']"
      data-cy="add-workplace-button"
    >
      Add a workplace
    </a>
  </div>
    <div class="govuk-grid-column-two-thirds">

      <p><a [routerLink]="['/']">What you can do as a parent workplace</a></p>
    <br/>
      <p>You've not added any workplaces yet.</p>
      <p>To add a workplace, you'll need to know:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>their main service and whether it's regulated by the Care Quality Commission (CQC)</li>
        <li>the name and address of the workplace</li>
        <li>what type of employer they are (for example, local authority, private)</li>
        <li>how many members of staff they have</li>
      </ul>
    </div>
  </div>