@import 'govuk-frontend/govuk/base';

.asc-tabs-container {
  background-color: #e6e5e3;
}

.asc-navigation-container {
  background-color: govuk-colour('light-grey');
  border-bottom: 1px solid #e6e5e3;
}
