<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Would you accept a Care Certificate from a worker's previous employer?
            </h1>
          </legend>
          <div class="govuk-radios govuk-form-group">
            <div class="govuk-radios__item" *ngFor="let option of previousCareCertificateOptions; let i = index">
              <input
                class="govuk-radios__input"
                id="acceptCareCertificatesFromPreviousEmployment-{{ i }}"
                name="acceptCareCertificatesFromPreviousEmployment"
                [formControlName]="'acceptCareCertificatesFromPreviousEmployment'"
                type="radio"
                [value]="option.value"
              />
              <label class="govuk-label govuk-radios__label" for="acceptCareCertificatesFromPreviousEmployment-{{ i }}">
                {{ option.label }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <app-workplace-submit-button
    [return]="!!return"
    [isExistingStaffRecord]="false"
    (clicked)="setSubmitAction($event)"
  ></app-workplace-submit-button>
</form>
