<div class="sub-page-container col-12 col-md-7">

    <h1>Terms and conditions</h1>

    <h2>Using the Adult Social Care Workforce Data Set</h2>

    <p class="main-body-text m-0 pb-4">By using the Adult Social Care Workforce Data Set you agree that Skills for Care can hold and use the data you provide. We use this to report on workforce demographics. Our aim is to:</p>

    <ul>
      <li><span class="main-body-text">*reduce the number of vacancies and to encourage new entrant</span></li>
      <li><span class="main-body-text">*improve recruitment and retention</span></li>
      <li><span class="main-body-text">*increase the numbers of staff with relevant qualifications and skills</span></li>
      <li><span class="main-body-text">*modernise the workforce</span></li>
    </ul>


    <h2 class="mt-5">Storing your data</h2>

    <p class="main-body-text m-0 pb-4">We will store your information in compliance with the principles outlined
        within the Data Protection Act 1998. Under the Data Protection Act your
        establishment and Skills for Care are jointly legally responsible for the
        information submitted by you and stored within the system.</p>

    <p class="main-body-text m-0">Access to information about individual workers is only available to the
        establishment that has submitted the data and to a small number of key
        Skills for Care support staff who are responsible for assisting
        establishments and maintaining the service.</p>


    <h2 class="mt-5">Disclaimer</h2>

    <p class="main-body-text m-0 pb-4">We accept no responsibility for the quality or integrity of data regarding
        your establishment held within the service. Responsibility lies solely with
        the establishment. However as part of our data quality assurance
        programme we may identify that the Care Quality Commission (CQC)
        details entered into this service are no longer correct. These details
        could be the CQC location ID or your main service does not match to that
        held on CQC.</p>

    <p class="main-body-text m-0">We will correct any incorrect CQC numbers and/or main service
        descriptions where we know them to be incorrect. This is to carry out our
        duty to ensure that information held is accurate given that we transfer
        data to CQC on your behalf (with your permission).</p>


    <h2 class="mt-5">Cookies</h2>

    <p class="main-body-text m-0 pb-4">To ensure a secured login and to meet web content accessibility
        guidelines the service uses two ‘cookies’ (a small file containing letters
        and numbers we put on your computer). We use a ‘session’ cookie to
        help us verify that it is you accessing your account and a ‘persistent’
        cookie to remember your text size preference.</p>

    <p class="main-body-text m-0">These cookies cannot be used to identify you personally.</p>


    <h2 class="mt-5">Privacy</h2>

    <p class="main-body-text m-0 pb-4">Login credentials (username and password) are assigned to each user
        and are therefore the responsibility of the individual. By accepting these
        terms and conditions you agree to manage your login details securely
        and not to share your login details with others. We reserve the right to
        withdraw login details from any user who engages in unauthorised
        sharing of login details or personal data, personal sensitive data or
        commercially sensitive information held within the service.</p>

  </div>
