<ng-container *ngIf="worker">
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-list--inline govuk-list">
        <p *ngIf="worker.longTermAbsence" class="govuk-tag govuk-tag--grey asc-tag govuk-!-margin-bottom-0">
          Long-term absent
          <a
            [routerLink]="[
              '/workplace',
              workplace.uid,
              'training-and-qualifications-record',
              worker.uid,
              'long-term-absence'
            ]"
            data-testid="longTermAbsence"
            class="govuk-link govuk-link--no-visited-state govuk-!-padding-left-1"
          >
            View
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl" data-testid="workerNameAndRole"> {{ worker.nameOrId }} </span>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Training and qualifications</h1>
      <p *ngIf="lastUpdatedDate">Last update, {{ lastUpdatedDate | date: 'd MMMM yyyy' }}</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-button-group govuk-util__float-right govuk-!-margin-top-3 govuk-!-margin-bottom-0">
        <a
          class="govuk-list govuk-list--inline govuk-!-margin-bottom-0"
          *ngIf="canEditWorker && worker.longTermAbsence === null"
          draggable="false"
          role="button"
          data-testid="flagLongTermAbsence"
          [routerLink]="[
            '/workplace',
            workplace.uid,
            'training-and-qualifications-record',
            worker.uid,
            'long-term-absence'
          ]"
          >Flag long-term absence</a
        >
      </div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-font-size-24">
        <span class="govuk-!-font-weight-bold">Care Certificate:</span>
        {{ worker.careCertificate ? worker.careCertificate : 'Not answered' }}
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-margin-top-2">
      <a
        *ngIf="canEditWorker"
        class="govuk-list govuk-list--inline"
        role="button"
        draggable="false"
        [routerLink]="['/workplace', workplace.uid, 'staff-record', worker.uid, 'staff-record-summary']"
      >
        View staff record
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a
        *ngIf="canEditWorker"
        class="govuk-button govuk-util__float-right"
        role="button"
        draggable="false"
        [routerLink]="['../select-record-type']"
      >
        Add a record
      </a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <app-new-training-and-qualifications-record-summary
        [trainingCount]="mandatoryTrainingCount + nonMandatoryTrainingCount"
        [qualificationsCount]="qualificationsCount"
      ></app-new-training-and-qualifications-record-summary>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Actions list
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Training category</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Training type</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <!-- MockData currently in here, this will most likely be a *ngFor looping through all actionables creating a table row for each iteration AP 03/1/2023 -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Sensory disability</td>
            <td class="govuk-table__cell">Non-mandatory</td>
            <td class="govuk-table__cell">
              <img
                src="/assets/images/flag-red.svg"
                alt=""
                class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
              />
              Expired
            </td>
            <td class="govuk-table__cell"><a href="#" class="govuk-util__float-right">Update</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Supervision, performance management</td>
            <td class="govuk-table__cell">Non-mandatory</td>
            <td class="govuk-table__cell">
              <img
                src="/assets/images/flag-red.svg"
                alt=""
                class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
              />
              Expired
            </td>
            <td class="govuk-table__cell"><a href="#" class="govuk-util__float-right">Update</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Medication safe handling and awareness</td>
            <td class="govuk-table__cell">Non-mandatory</td>
            <td class="govuk-table__cell">
              <img
                src="/assets/images/flag-orange.svg"
                alt=""
                class="govuk-!-margin-right-2 govuk-util__vertical-align-top"
              />Expires soon
            </td>
            <td class="govuk-table__cell"><a href="#" class="govuk-util__float-right">Update</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Control and restraint</td>
            <td class="govuk-table__cell">Mndatory</td>
            <td class="govuk-table__cell">
              <img
                src="/assets/images/flag-red.svg"
                alt=""
                class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
              />
              Missing
            </td>
            <td class="govuk-table__cell"><a href="#" class="govuk-util__float-right">Add</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Equality, diversity and human rights training</td>
            <td class="govuk-table__cell">Mandatory</td>
            <td class="govuk-table__cell">
              <img
                src="/assets/images/flag-red.svg"
                alt=""
                class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
              />
              Missing
            </td>
            <td class="govuk-table__cell"><a href="#" class="govuk-util__float-right">Add</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="asc-tabs asc-tabs--border-bottom govuk-!-margin-top-5 govuk-!-margin-bottom-5">
    <ul class="govuk-tabs__list asc-tabs__list" role="tablist">
      <li class="govuk-tabs__list-item asc-tabs__list-item" [class.asc-tabs__list-item--active]="tabOptions.allRecords">
        <a
          class="govuk-tabs__tab asc-tabs__link"
          role="tab"
          href="javascript:void(0)"
          (click)="this.handleViewChange('allRecords')"
          [class.asc-tabs__link--active]="tabOptions.allRecords"
          >All records</a
        >
      </li>
      <li
        class="govuk-tabs__list-item asc-tabs__list-item"
        [class.asc-tabs__list-item--active]="tabOptions.mandatoryTraining"
      >
        <a
          class="govuk-tabs__tab asc-tabs__link"
          role="tab"
          href="javascript:void(0)"
          [class.asc-tabs__link--active]="tabOptions.mandatoryTraining"
          (click)="this.handleViewChange('mandatoryTraining')"
          >Mandatory training</a
        >
      </li>
      <li
        class="govuk-tabs__list-item asc-tabs__list-item"
        [class.asc-tabs__list-item--active]="tabOptions.nonMandatoryTraining"
      >
        <a
          class="govuk-tabs__tab asc-tabs__link"
          role="tab"
          href="javascript:void(0)"
          (click)="this.handleViewChange('nonMandatoryTraining')"
          [class.asc-tabs__link--active]="tabOptions.nonMandatoryTraining"
          >Non-mandatory training</a
        >
      </li>
      <li
        class="govuk-tabs__list-item asc-tabs__list-item"
        [class.asc-tabs__list-item--active]="tabOptions.qualifications"
      >
        <a
          class="govuk-tabs__tab asc-tabs__link"
          role="tab"
          href="javascript:void(0)"
          (click)="this.handleViewChange('qualifications')"
          [class.asc-tabs__link--active]="tabOptions.qualifications"
          >Qualifications</a
        >
      </li>
    </ul>
  </div>

  <div class="govuk-grid-row" *ngIf="tabOptions.allRecords">
    <div class="govuk-grid-column-full">
      <ng-container *ngIf="mandatoryTrainingCount > 0; noMandatoryTraining">
        <h1 class="govuk-heading-l govuk-!-font-size-27">Mandatory Training</h1>
        <div *ngFor="let mandatoryTrainingCategory of mandatoryTraining">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">
              {{
                mandatoryTrainingCategory.category
              }}
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Training Name</th>
                <th scope="col" class="govuk-table__header">Accredited</th>
                <th scope="col" class="govuk-table__header">Completion date</th>
                <th scope="col" class="govuk-table__header">Expriy date</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row" *ngFor="let trainingRecord of mandatoryTrainingCategory.trainingRecords">
                <td class="govuk-table__cell">
                  <a href="javascript:void(0)">{{ trainingRecord.title }}</a>
                </td>
                <td class="govuk-table__cell">{{ trainingRecord.accredited }}</td>
                <td class="govuk-table__cell">{{ trainingRecord.completed }}</td>
                <td class="govuk-table__cell">{{ trainingRecord.expires }}</td>
                <td class="govuk-table__cell">{{ trainingRecord.trainingStatus }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-template #noMandatoryTraining> No mandatory training </ng-template>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-9" *ngIf="tabOptions.mandatoryTraining">
    <div class="govuk-grid-column-full">
      <div>Mandatory training</div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-9" *ngIf="tabOptions.nonMandatoryTraining">
    <div class="govuk-grid-column-full">
      <div>Non-mandatory training</div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-9" *ngIf="tabOptions.qualifications">
    <div class="govuk-grid-column-full">
      <div>Qualifications</div>
    </div>
  </div>

  <!-- <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
      <div *ngIf="jobRoleMandatoryTraining.length === 0">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
          <p>
            No mandatory training has been set for the
            {{ worker.mainJob?.other ? worker.mainJob.other : worker.mainJob.title }} job role yet.
          </p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
          <a
            class="govuk-list govuk-util__float-right"
            *ngIf="canEditWorker"
            draggable="false"
            role="button"
            [routerLink]="['/workplace', workplace.uid, 'add-mandatory-training']"
          >
            Manage mandatory training
          </a>
        </div>
      </div>

      <div *ngIf="missingJobRoleMandatoryTrainingCount > 0">
        <app-missing-mandatory-training
          [missingRecord]="missingMandatoryTraining"
          [training]="worker"
          [canEditWorker]="canEditWorker"
        ></app-missing-mandatory-training>
      </div>

      <div *ngIf="mandatoryTrainingCount > 0">
        <app-new-training
          [trainingRecords]="mandatoryTraining"
          [trainingType]="'mandatory'"
          [setReturnRoute]="setReturnRoute"
          [canEditWorker]="canEditWorker"
          data-testid="mandatory-training"
        ></app-new-training>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Non-mandatory training records ({{ nonMandatoryTrainingCount }})</h2>
    </div>
    <div class="govuk-grid-column-full">
      <p *ngIf="nonMandatoryTrainingCount === 0; else nonMandatoryTrainingTable">
        No non-mandatory training records have been added for this person yet.
      </p>
      <ng-template #nonMandatoryTrainingTable>
        <app-new-training
          [trainingRecords]="nonMandatoryTraining"
          [trainingType]="'nonMandatory'"
          [setReturnRoute]="setReturnRoute"
          [canEditWorker]="canEditWorker"
          data-testid="non-mandatory-training"
        ></app-new-training>
      </ng-template>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Qualification records ({{ qualificationsByGroup.count }})</h2>
    </div>
    <div class="govuk-grid-column-full">
      <p *ngIf="qualificationsByGroup.count === 0; else qualificationTable">
        No qualification records have been added for this person yet.
      </p>
      <ng-template #qualificationTable>
        <app-new-qualifications
          [canEditWorker]="canEditWorker"
          [qualificationsByGroup]="qualificationsByGroup"
          data-testid="qualification"
        >
        </app-new-qualifications>
      </ng-template>
    </div>
  </div> -->
</ng-container>
