<div #skip tabindex="1">
  
  <a (click)="skipLink()" href onclick="return false;" class="govuk-skip-link">Skip to main content</a>

  <app-header></app-header>

  <div #main id="main" class="govuk-width-container" tabindex="-1">
    <app-phase-banner phase="beta">
      This is a new service – your
      <a [routerLink]="['/public/feedback']" href target="_blank">feedback</a> will help us to improve it.
    </app-phase-banner>

    <app-back-link></app-back-link>

    <main class="govuk-main-wrapper app-main-class" id="main-content">
      <router-outlet (activate)="focusSkip()"></router-outlet>
    </main>
  </div>

  <app-footer></app-footer>
</div>