<form (ngSubmit)="onSubmit()" [formGroup]="form" #formEl>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span data-testid="caption" class="govuk-caption-l">Staff records</span>
      <h1 data-testid="heading" class="govuk-heading-l govuk-!-margin-bottom-7">Fast-track pay updates by job roles</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table govuk-!-margin-bottom-3">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th data-testid="job-role-heading" scope="col" class="govuk-table__header" style="width: 445px">Job role</th>
          <th data-testid="pay-heading" scope="col" class="govuk-table__header" style="margin-left: 0;">New hourly pay rate or salary</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body" formArrayName="workers">
          @for (workers of workersByJobRole.groups; track $index) {
            <tr class="govuk-table__row" [formGroupName]="$index">
              <td class="govuk-table__cell" style="vertical-align: top; padding-top: 18px; padding-bottom: 18px;">
                <div style="line-height: 1.25; display: flex; justify-content: space-between; align-items: flex-start;">
                  <span>{{ workers.title }} ({{ workers.count }} record{{ workers.count === 1 ? '' : 's' }})</span>
                  <img src="/assets/images/right-arrow.svg" alt="Right facing grey arrow" style="width: 24px; height: 24px; margin-right: 2.5px;" class="right-arrow"/>
                </div>
              </td>
              <td class="govuk-table__cell" style="vertical-align: top; padding-top: 8px">
                <div style="display: flex; align-items: center; flex-wrap: nowrap; gap: 15px;">
                  <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true" style="background-color: #ffffff">£</div>
                    <input
                      [attr.data-testid]="'amount-input-box-' + $index"
                      class="govuk-input govuk-input--width-4"
                      [formControlName]="'rate'"
                      [id]="'rate-' + $index"
                      type="number"
                    />
                  </div>
                  <div class="govuk-radios govuk-radios--inline govuk-radios--small govuk-!-margin-bottom-0">
                    <div class="govuk-radios__item" style="margin-right: 5px;">
                      <input
                        class="govuk-radios__input"
                        [attr.data-testid]="'hourly-radio-' + $index"
                        [formControlName]="'value'"
                        [id]="'hourly-' + $index"
                        type="radio"
                        value="Hourly">
                      <label class="govuk-label govuk-radios__label" for="'hourly-' + $index">
                        Hourly
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input
                        class="govuk-radios__input"
                        [attr.data-testid]="'salary-radio-' + $index"
                        [formControlName]="'value'"
                        [id]="'salary-' + $index"
                        type="radio"
                        value="Annually">
                      <label class="govuk-label govuk-radios__label" for="'salary-' + $index">
                        Salary
                      </label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          }
      </table>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button continue-button govuk-!-margin-right-9" data-module="govuk-button">
          Continue
        </button>
        <a
          class="govuk-button govuk-button--link govuk-!-margin-left-9"
          [routerLink]="'/'"
        >Cancel</a>
      </div>
    </div>
  </div>
</form>
