<app-error-summary
  *ngIf="(submitted && form.invalid) || serverError"
  [form]="form"
  [formErrorsMap]="formErrorsMap"
  [serverError]="serverError"
>
</app-error-summary>
<form #formEl (ngSubmit)="onSubmit()" novalidate [formGroup]="form" id="server-error">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
        <fieldset class="govuk-fieldset" aria-describedby="otherJobRoles-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
              Do you provide any other services?
            </h1>
          </legend>
          <div class="govuk-!-margin-bottom-7">
            <p>
              You selected '{{ establishment.mainService.name }}' as your main service when you created your account.
            </p>
          </div>
          <div class="govuk-radios govuk-radios--conditional">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                [formControlName]="'otherServicesValue'"
                id="otherServices-Yes"
                data-testid="otherServices-conditional-1"
                name="otherServicesValue"
                type="radio"
                value="Yes"
                aria-controls="otherServices-Yes-dropdown"
              />
              <label class="govuk-label govuk-radios__label" for="otherServices-Yes">
                Yes, we provide other services
              </label>
            </div>
            <div
              class="govuk-radios__conditional"
              [class.govuk-radios__conditional--hidden]="form.get('otherServicesValue').value !== 'Yes'"
              id="otherServices-Yes-dropdown"
              data-testid="checkboxes"
            >
              <div class="govuk-form-group">
                <div class="govuk-!-margin-bottom-3">
                  <p><span id="otherJobRoles-hint"> Select all that apply. </span></p>
                </div>
                <span
                  *ngIf="submitted && form.get('otherServices').errors"
                  id="otherServices-error"
                  class="govuk-error-message"
                >
                  <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('otherServices') }}
                </span>
                <div class="govuk-checkboxes">
                  <div class="govuk-form-group" *ngFor="let serviceGroup of serviceGroups">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                          {{ serviceGroup.category }}
                        </h2>
                      </legend>
                      <div class="govuk-checkboxes" id="otherServices">
                        <ng-container *ngFor="let service of serviceGroup.services | orderOther; let i = index">
                          <div class="govuk-checkboxes__item">
                            <input
                              [attr.aria-controls]="'otherServices-conditional-' + i"
                              class="govuk-checkboxes__input"
                              id="otherServices-{{ service.id }}"
                              name="otherServices"
                              type="checkbox"
                              [value]="service.id"
                              [checked]="form.get('otherServices').value.includes(service.id)"
                              (change)="toggle($event.target, 'additionalOtherService' + service.id)"
                            />
                            <label class="govuk-label govuk-checkboxes__label" for="otherServices-{{ service.id }}">
                              {{ service.name }}
                            </label>
                          </div>
                          <div
                            *ngIf="service.other"
                            class="govuk-checkboxes__conditional"
                            [class.govuk-checkboxes__conditional--hidden]="
                              !form.value['otherServices'].includes(service.id)
                            "
                            id="otherServices-conditional-{{ i }}"
                          >
                            <div class="govuk-form-group govuk-!-margin-bottom-2">
                              <label class="govuk-label" for="additionalOtherService{{ service.id }}">
                                Enter your other service
                              </label>
                              <span
                                id="additionalOtherService{{ service.id }}-error"
                                class="govuk-error-message"
                                *ngIf="submitted && form.get('additionalOtherService' + service.id).errors"
                              >
                                <span class="govuk-visually-hidden">Error:</span>
                                {{ getFormErrorMessage('additionalOtherService' + service.id, 'maxlength') }}
                              </span>
                              <input
                                class="govuk-input govuk-!-width-one-third"
                                id="additionalOtherService{{ service.id }}"
                                name="'additionalOtherService' + service.id"
                                type="text"
                                [formControlName]="'additionalOtherService' + service.id"
                                [class.govuk-input--error]="
                                  submitted && form.get('additionalOtherService' + service.id).errors
                                "
                                spellcheck="false"
                              />
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                [formControlName]="'otherServicesValue'"
                id="otherServices-No"
                data-testid="otherServices-conditional-2"
                name="otherServicesValue"
                type="radio"
                value="No"
              />
              <label class="govuk-label govuk-radios__label" for="otherServices-No"> No </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div *ngIf="!return" class="govuk-util__float-right">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="workplaceFlowSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
    </div>
  </div>
  <app-workplace-submit-button [return]="!!return" (clicked)="setSubmitAction($event)"> </app-workplace-submit-button>
</form>
