@import '~govuk-frontend/settings/all';
@import '~govuk-frontend/helpers/_media-queries';

.asc-tile {
  border: 1px solid $govuk-border-colour;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 130px;
  @include govuk-media-query($until: desktop) {
    padding-bottom: 260px;
  }
  @include govuk-media-query($until: tablet) {
    padding-bottom: 220px;
  }
  .asc-tile-description {
    padding: 22px 20px 0 22px;
    border-bottom: 1px solid $govuk-border-colour;
    min-height: 93px;
    @include govuk-media-query($until: tablet) {
      min-height: 73px;
    }
  }
  .asc-tile-key {
    position: absolute;
    min-height: 130px;
    bottom: 0;
    right: 22px;
    left: 22px;
    @include govuk-media-query($until: desktop) {
      min-height: 260px;
    }
    @include govuk-media-query($until: tablet) {
      min-height: 220px;
    }
  }
}

.asc-color-turquoise {
  color:  govuk-colour("turquoise");
}

.asc-tile-key-number {
  font-size: 60px;
  font-size: 3.75rem;
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  line-height: 1.09375;
  display: block;
}

.asc-tile-key-text {
  min-height: 80px;
  @include govuk-media-query($until: tablet) {
    min-height: 50px;
  }
}
