<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"> </app-error-summary>

<form #formEl (ngSubmit)="onSubmit($event)" [formGroup]="form" novalidate>
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">
      <div class="govuk-!-margin-bottom-0">
        <span class="govuk-caption-l" data-testid="section">{{ sectionText }}</span>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-!-padding-right-0" style="width: 80%">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2" data-testid="heading">{{ headingText }}</h1>
          </legend>

          <div [class.govuk-form-group--error]="submitted && form.invalid">
            <p
              *ngIf="submitted && form.get('addATrainingRecord').errors"
              id="addATrainingRecord-error"
              class="govuk-error-message"
            >
              <span class="govuk-visually-hidden">Error:</span> {{ formErrorsMap[0].type[0].message }}
            </p>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="addATrainingRecord-continue"
                  [formControlName]="'addATrainingRecord'"
                  name="addATrainingRecord"
                  type="radio"
                  [value]="continueWithOutCourseOption.id"
                />
                <label class="govuk-label govuk-radios__label" for="addATrainingRecord-continue">{{
                  continueWithOutCourseOption.name
                }}</label>
              </div>

              <div class="govuk-radios__divider">or</div>
              <p class="govuk-!-margin-top-2">{{ courseOptionsSubText }}</p>

              @for(trainingCourse of trainingCourses; track trainingCourse.name; let index = $index){
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="addATrainingRecord-{{ index }}"
                  [formControlName]="'addATrainingRecord'"
                  name="addATrainingRecord"
                  type="radio"
                  [value]="trainingCourse.id"
                />
                <label class="govuk-label govuk-radios__label" for="addATrainingRecord-{{ index }}">{{
                  trainingCourse.name
                }}</label>
              </div>
              }
            </div>
          </div>
          <div class="govuk-button-group govuk-!-margin-top-8">
            <button type="submit" class="govuk-button govuk-!-margin-right-9">Continue</button>
            <a
              class="govuk-button govuk-button--link govuk-!-margin-left-9"
              draggable="false"
              href="#"
              (click)="onCancel($event)"
            >
              Cancel
            </a>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</form>
