<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/">
      <span class="arrow"></span>Back
    </a>
  </div>

  <!-- <p class="h5">Section 5 of 9</p> -->
  <h1 class="h1">Select your main service</h1>

  <div class="information-text main-body-text col-12 col-md-7 p-0">
    <p class="mb-5">Some of the details you’ve given us are already in our system. This might be because there is already an account for this workplace.</p>

    <p class="mb-5">If you’ve entered your details incorrectly you can <a routerLink="/registration/enter-workplace-address">go back and change them</a>.</p>

    <p class="mb-5">If your details are correct and you don't have an account then you can continue setting one up.</p>

    <p class="mb-5">Once you have submitted your details our team will look into this further and contact you directly. If would be helpful if you could give us some information about why you need a new account in the comments box.</p>

    <p class="mb-5">If you have any questions you can <a routerLink="/contact-us">contact us</a>.</p>

  </div>

  <form novalidate
        (ngSubmit)="save()"
        [formGroup]="continueCreatingAccountForm">

    <div class="col-12 col-md-7 p-0 mb-5">
      <div class="field-group col-12">

        <label class="main-body-text m-0 pb-2 d-block" for="comments">Comments</label>

        <textarea maxlength="1200" rows="5" class="textarea main-body-text col-12" id="comments"></textarea>
      </div>
    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit" routerLink="/registration/confirm-workplace-details">Continue</button>
    </div>

  </form>


</div>
