<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">{{ workplace?.name }}</span>
      Notification
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" *ngIf="notification">
    <h2 class="govuk-heading-s govuk-util__inline-block govuk-!-margin-right-2">From:</h2>
    <p class="govuk-util__inline-block">
      {{ notification.typeContent.requestorName ? notification.typeContent.requestorName : 'Skills For Care' }},
      {{ notification.created | longDate }}
    </p>
    <br />
    <h2 class="govuk-heading-s govuk-util__inline-block govuk-!-margin-right-2">Subject:</h2>
    <p class="govuk-util__inline-block">{{ notification?.type | notificationType }}</p>
  </div>
</div>
<ng-container *ngIf="notification">
  <div *ngIf="notification.type === 'OWNERCHANGE'">
    <app-notification-owner-change
      [notification]="notification"
      [events]="eventsSubject.asObservable()"
    ></app-notification-owner-change>
  </div>
  <div
    *ngIf="
      notification.type === 'LINKTOPARENTREQUEST' ||
      notification.type === 'LINKTOPARENTAPPROVED' ||
      notification.type === 'LINKTOPARENTREJECTED'
    "
  >
    <app-notification-link-to-parent
      [notification]="notification"
      [events]="eventsSubject.asObservable()"
    ></app-notification-link-to-parent>
  </div>
  <div *ngIf="notification.type === 'DELINKTOPARENT'">
    <app-notification-delink-to-parent [notification]="notification"></app-notification-delink-to-parent>
  </div>
  <div *ngIf="notification.type === 'BECOMEAPARENT'">
    <app-notification-become-a-parent [notification]="notification"></app-notification-become-a-parent>
  </div>
  <div class="govuk-grid-row" *ngIf="displayActionButtons">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-top-2">
        <button (click)="approveRequest()" type="submit" class="govuk-button">Approve request</button>
        <span class="govuk-visually-hidden">or</span>
        <button
          (click)="rejectRequest($event)"
          type="button"
          class="govuk-button govuk-button--secondary govuk-util__float-right"
        >
          Reject request
        </button>
      </div>
    </div>
  </div>
</ng-container>
