<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">{{ workplace?.name }}</span>
      Notification
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s govuk-util__inline-block govuk-!-margin-right-2">From:</h2>
    <p class="govuk-util__inline-block" *ngIf="notification">
      {{ notification.typeContent.requestorName }}, {{ notification.created | longDate }}
    </p>
    <h2 class="govuk-heading-s" *ngIf="notification">Subject</h2>
    <p>{{ notification?.type | notificationType }}</p>
  </div>
</div>
<ng-container *ngIf="notification">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div [ngSwitch]="notification.typeContent.approvalStatus">
        <div *ngSwitchCase="'REQUESTED'">
          <p>You have requested to transfer ownership of data to {{ notification.typeContent.requestorName }}.</p>
          <p>Approve the request to set the following permissions:</p>
        </div>
        <div *ngSwitchCase="'CANCELLED'">
          <p>You have requested to transfer ownership of data to {{ notification.typeContent.requestorName }}.</p>
          <p>Approve the request to set the following permissions:</p>
        </div>

        <div *ngSwitchCase="'DENIED'">
          <div *ngIf="isDataOwner" else nonDataOwner>
            <p>
              You rejected the request to transfer ownership of data to {{ notification.typeContent.requestorName }}
            </p>
          </div>
          <ng-template #nonDataOwner>
            <p>
              {{ notification.typeContent.requestorName }} has rejected your request to become the owner of its data.
            </p>
            <h2 class="govuk-heading-s">Reason</h2>
            <p *ngIf="notification.typeContent.rejectionReason" else noReason>
              {{ notification.typeContent.rejectionReason }}
            </p>
            <ng-template #noReason>
              No reason provided.
            </ng-template>
          </ng-template>
        </div>
        <div *ngSwitchCase="'APPROVED'">
          <p *ngIf="isDataOwner" else nonDataOwner>
            {{ notification.typeContent.requestorName }} has approved your request to become the owner of its data. You
            are now free to edit workplace and staff data.
          </p>
          <ng-template #nonDataOwner>
            You approved the request to transfer ownership of data to
            {{ notification.typeContent.requestorName }}
          </ng-template>
        </div>
        <div *ngSwitchDefault></div>
      </div>

      <table class="govuk-table govuk-table__with-action" *ngIf="notification.typeContent.approvalStatus !== 'DENIED'">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Workplace</th>
            <th scope="col" class="govuk-table__header">Permissions</th>
          </tr>
        </thead>
        <tbody class="govuk-tab">
          <tr class="govuk-table__row govuk-error-table__row--no-border">
            <td class="govuk-table__cell">
              Hollywood Care
            </td>
            <td class="govuk-table__cell">No access to data, linked only</td>
          </tr>
          <tr class="govuk-table__row govuk-error-table__row--no-border" *ngIf="notification">
            <td class="govuk-table__cell">
              {{ notification.typeContent.requestorName }}
            </td>
            <td class="govuk-table__cell">{{ notification.typeContent.permissionRequest }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="govuk-grid-row" *ngIf="displayActionButtons">
    <div class="govuk-grid-column-two-thirds">
      <div class=" govuk-!-margin-top-2">
        <button (click)="approveRequest()" type="submit" class="govuk-button">Approve request</button>
        <span class="govuk-visually-hidden">or</span>
        <button
          (click)="rejectRequest($event)"
          type="button"
          class="govuk-button govuk-button--secondary govuk-util__float-right"
        >
          Reject request
        </button>
      </div>
    </div>
  </div>
</ng-container>
