<div class="row govuk-!-margin-bottom-5">
  <div class="asc-summary-box">
    <div class="govuk-grid-column-one-third asc-total-records">
      <p class="govuk-!-margin-bottom-0">
        <span class="asc-total-records--count govuk-!-margin-right-2">{{ trainingCount + qualificationsCount }}</span
        ><span class="asc-total-records--text">
          <ng-container [ngPlural]="trainingCount + qualificationsCount">
            <ng-template ngPluralCase="=1">
              <span>record added</span>
            </ng-template>
            <ng-template ngPluralCase="other">
              <span>records added</span>
            </ng-template>
          </ng-container>
        </span>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-!-margin-bottom-0">
        <span class="asc-total-records--count govuk-!-margin-right-2" data-testid="trainingCount">{{
          trainingCount
        }}</span
        ><span class="asc-total-records--text" data-testid="trainingText"
          ><ng-container [ngPlural]="trainingCount">
            <ng-template ngPluralCase="=1">
              <span>training record</span>
            </ng-template>
            <ng-template ngPluralCase="other">
              <span>training records</span>
            </ng-template>
          </ng-container></span
        >
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-!-margin-bottom-0">
        <span class="asc-total-records--count govuk-!-margin-right-2" data-testid="qualificationsCount">{{
          qualificationsCount
        }}</span
        ><span class="asc-total-records--text" data-testid="qualificationsText">
          <ng-container [ngPlural]="qualificationsCount">
            <ng-template ngPluralCase="=1">
              <span>qualification record</span>
            </ng-template>
            <ng-template ngPluralCase="other">
              <span>qualification records</span>
            </ng-template>
          </ng-container></span
        >
      </p>
    </div>
  </div>
</div>
