<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-one-third">
    <button type="submit" class="govuk-button">
      @if (cta) {
      {{ cta }}
      } @else { Save and {{ return ? 'return' : 'continue' }}
      }
    </button>
  </div>
  @if (this.authService.isAdmin) {
  <div class="govuk-grid-column-one-third govuk-!-padding-left-9">
    <a (click)="onSkip()" class="govuk-button govuk-button--link">Skip</a>
    <span class="govuk-visually-hidden">or</span>
  </div>
  } @if (return) {
  <div class="govuk-grid-column-one-third" [ngClass]="{ 'govuk-!-padding-left-9': !this.authService.isAdmin }">
    <span class="govuk-visually-hidden">or</span>
    <a
      [routerLink]="return.url"
      [fragment]="return.fragment"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--link"
    >
      @if (exit) {
      {{ exit }}
      } @else { Exit }
    </a>
  </div>
  }
</div>
