@if (actionsListData.length > 0) {
  <div class="govuk-grid-row" #content>
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Actions list
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Training category</th>
            <th scope="col" class="govuk-table__header">Training type</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          @for (actionListItem of actionsListData; track $index) {
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ actionListItem.trainingCategory.category }}</td>
              <td class="govuk-table__cell">{{ actionListItem.typeOfTraining }}</td>
              <td class="govuk-table__cell" id="svgToPdf">
                @if (actionListItem.trainingStatus === trainingStatusService.MISSING) {
                  <div>
                    <img
                      src="/assets/images/flag-red.png"
                      alt="red warning flag"
                      class="govuk-util__vertical-align-top"
                    />
                    Missing
                  </div>
                }
                @if (actionListItem.trainingStatus === trainingStatusService.EXPIRED && actionListItem.expires) {
                  <div>
                    <img
                      src="/assets/images/flag-red.png"
                      alt="red expired flag"
                      class="govuk-util__vertical-align-top"
                    />
                    Expired
                  </div>
                }
                @if (actionListItem.trainingStatus === trainingStatusService.EXPIRING && actionListItem.expires) {
                  <div>
                    <img
                      src="/assets/images/flag-orange.png"
                      alt="yellow expires soon flag"
                      class="govuk-util__vertical-align-top"
                    />
                    Expires soon
                  </div>
                }
              </td>
              <td class="govuk-table__cell"></td>
              <td></td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
