app-auto-suggest {
  position: relative;

  ul {
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: map-get($color, white);
    overflow-y: scroll;
    max-height: 20rem;
    min-width: 20rem;

    li {
      line-height: 1.5;
      padding: .375rem .75rem;
      width: 100%;

      span {
        width: 100%;
      }
    }
  }
}
