.main-page-container {
  header {
    p.page-input-info {
      margin-bottom: 3rem;
      color: map-get($color, grey);
    }
  }

  & > p {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
