.govuk-summary-list {
  font-size: 19px;
  // @include govuk-media-query($from: tablet) {
  @media (min-width: map-get($breakpoints, tablet)) {
    display: table;
    width: 100%;
  }
  margin: 0;
  @include rem(margin-bottom, 40px);
}

.govuk-summary-list__row {
  @media (max-width: map-get($breakpoints, tablet)) {
    @include rem(margin-bottom, 15px);
    border-bottom: 1px solid map-get($color, grey);
  }
  // @include govuk-media-query($from: tablet) {
  @media (min-width: map-get($breakpoints, tablet)) {
    display: table-row;
  }
}

.govuk-summary-list__key,
.govuk-summary-list__value,
.govuk-summary-list__actions {
  margin: 0;

  // @include govuk-media-query($from: tablet) {
  @media (min-width: map-get($breakpoints, tablet)) {
    display: table-cell;
    @include rem(padding-right, 20px);
  }
}

.govuk-summary-list__key,
.govuk-summary-list__value,
.govuk-summary-list__actions {
  // @include govuk-media-query($from: tablet) {
  @media (min-width: map-get($breakpoints, tablet)) {
    @include rem(padding-top, 10px);
    @include rem(padding-bottom, 10px);
    border-bottom: 1px solid map-get($color, grey);
  }
}

.govuk-summary-list__actions {
  @include rem(margin-bottom, 15px);
  // @include govuk-media-query($from: tablet) {
  @media (min-width: map-get($breakpoints, tablet)) {
    padding-right: 0;
    text-align: right;
  }
}

.govuk-summary-list__key,
.govuk-summary-list__value {
  // sass-lint:disable no-duplicate-properties
  // Automatic wrapping for unbreakable text (e.g. URLs)
  word-break: break-word; // WebKit/Blink only
  // word-break: break-all; // Standards
}

.govuk-summary-list__key {
  @include rem(margin-bottom, 5px);
  font-weight: 700;
  // @include govuk-media-query($from: tablet) {
  @media (min-width: map-get($breakpoints, tablet)) {
    width: 35%;
  }
}

.govuk-summary-list__value {
  // @include govuk-media-query($until: tablet) {
  @media (max-width: map-get($breakpoints, tablet)) {
    margin-bottom: govuk-spacing(3);
  }
}

.govuk-summary-list__value > p {
  @include rem(margin-bottom, 10px);
}

.govuk-summary-list__value > :last-child {
  margin-bottom: 0;
}

.govuk-summary-list__actions-list {
  width: 100%;
  margin: 0; // Reset default user agent styles
  padding: 0; // Reset default user agent styles
}

.govuk-summary-list__actions-list-item {
  display: inline;
  margin-right: govuk-spacing(2);
  padding-right: govuk-spacing(2);
}

// In older browsers such as IE8, :last-child is not available,
// so only show the border divider where it is available.
.govuk-summary-list__actions-list-item:not(:last-child) {
  border-right: 1px solid map-get($color, grey);
}

.govuk-summary-list__actions-list-item:last-child {
  margin-right: 0;
  padding-right: 0;
  border: 0;
}

.govuk-summary-list--no-border {
  .govuk-summary-list__key,
  .govuk-summary-list__value,
  .govuk-summary-list__actions,
  .govuk-summary-list__row {
    border: 0;
  }
}

.govuk-visually-hidden {
  display: none;
}

.govuk-summary-list--wrap-border {
  border: 1px solid map-get($color, grey);
  border-width: 1px 0;
}
.govuk-summary-list--bottom-border {
  .govuk-summary-list__key,
  .govuk-summary-list__value,
  .govuk-summary-list__actions,
  .govuk-summary-list__row {
    border: 1px solid map-get($color, grey);
    border-width: 0 0 1px 0;
  }
}
.govuk-summary-list--top-border {
  border-top: 1px solid map-get($color, grey);
}
