<div class="panel panel-border-narrow ml-0 col-10 col-lg-6">
  <div class="form-group" [formGroup]="group">
    <div class="field-group">
      <label for="name">{{ type.value }} name</label>
      <div *ngIf="group.get('qualification').hasError('required')" class="alert alert-danger">
        <p>Select a qualification</p>
      </div>
      <select formControlName="qualification" class="form-control">
        <option [ngValue]="null">Select</option>
        <option *ngIf="preselectedQualification" [value]="preselectedQualification.id"
          >{{ preselectedQualification.title }} {{ preselectedQualification?.level }}</option
        >
        <option *ngFor="let qualification of qualifications" [value]="qualification.id">
          {{ qualification.title }} {{ qualification?.level }}
        </option>
      </select>
    </div>

    <div class="field-group">
      <label for="year">
        Year achieved
      </label>
      <div *ngIf="group.get('year').hasError('min')" class="alert alert-danger">
        <p>Year achieved can not be before {{ group.get('year').getError('min').min }}</p>
      </div>
      <div *ngIf="group.get('year').hasError('max')" class="alert alert-danger">
        <p>Year achieved can not be after {{ group.get('year').getError('max').max }}</p>
      </div>
      <input type="number" formControlName="year" class="form-control col-3" maxlength="4" />
    </div>

    <div class="field-group mb-5">
      <label for="notes" class="d-block">
        Notes
      </label>
      <div *ngIf="group.get('notes').hasError('maxlength')" class="alert alert-danger">
        <p>Notes must be no longer than {{ group.get('notes').getError('maxlength').requiredLength }} characters.</p>
      </div>
      <textarea maxlength="500" rows="5" class="textarea main-body-text col-12" formControlName="notes" id="notes"></textarea>
    </div>
  </div>
</div>
