.govuk-list--inline {
  > li {
    display: inline-block;

    margin-right: govuk-spacing(4);

    &:last-child {
      margin-right: 0;
    }
  }
}

.govuk-list--definition {
  display: grid;

  margin: 0;
  @include govuk-responsive-margin(4, 'bottom');

  grid-template-columns: 1fr;
  @include govuk-media-query($from: tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  dt {
    @include govuk-responsive-padding(3, 'left');
    @include govuk-responsive-padding(3, 'right');
    @include govuk-responsive-padding(3, 'bottom');
    margin: 0;

    @include govuk-font(19);
    background-color: govuk-colour('grey-3');
  }

  dd {
    @include govuk-responsive-padding(3, 'top');
    @include govuk-responsive-padding(3, 'left');
    @include govuk-responsive-padding(3, 'right');
    margin: 0;

    @include govuk-font(19, 'bold');
    background-color: govuk-colour('grey-3');
  }

  &.govuk-list--definition-xl {
    dt {
      @include govuk-font(24, 'bold');
    }
    dd {
      @include govuk-font(80, 'bold');
    }
  }

  @for $i from 1 through 3 {
    dt:nth-of-type(#{$i}) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: $i;
      grid-column-end: $i + 1;

      @if $i > 1 {
        &:before {
          content: '&nbsp;';
          color: transparent;
          display: block;
          position: absolute;
          margin-left: -15px;
          border-left: 1px solid govuk-colour('grey-1');
        }
      }
    }

    dd:nth-of-type(#{$i}) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: $i;
      grid-column-end: $i + 1;

      @if $i > 1 {
        &:before {
          content: '&nbsp;';
          color: transparent;
          display: block;
          position: absolute;
          margin-left: -15px;
          border-left: 1px solid govuk-colour('grey-1');
        }
      }
    }
  }
}
