#footer-container {
  background: $white;

  .main-footer {
    border-top: 3px solid $sfc-blue;

    @include rem(padding, 30px 0);

    .container {
      position: relative;

      @media (min-width: 961px) {
        padding: 0;
      }

      .footer-tagline {
        background: $sfc-blue;
        color: $white;
        font-weight: bold;
        position: absolute;
        top: -45px;
        left: 15px;

        @media (min-width: 961px) {
          left: 0;
        }

        @include rem(padding, 6px 6px);
        @include rem(line-height, 16px);
        @include rem(font-size, 18px);
      }

      .logo {

        @include rem(margin-top, 10px);
        @include rem(padding, 0);

        img {
          border-left: 3px solid $sfc-btn-primary-green;

          @include rem(padding, 0 0 0 10px);
          @include rem(margin, 0 0 0 15px);
        }
      }

      .footer-nav-list {
        text-align: left;

        @media (min-width: 961px) {
          text-align: right;
        }

        li {
          a {

            @include rem(padding, 38px 60px 38px 0);
          }

          &:last-child {
            a {

              @include rem(padding, 38px 0 38px 0);
            }
          }
        }
      }
    }
  }
}
