#header-container {
  background: $white;

  .container {

    @media (min-width: 961px) {
      padding: 0;
    }
  }

  .main-header {
    border-bottom: 5px solid $sfc-blue;

    @include rem(padding, 30px 0);

    .logo {
      display: inline-block;

      @include rem(padding, 0 50px 0 0);
    }

    .strapline {
      background: $sfc-blue;
      color: $white;
      width: auto;
      font-weight: bold;
      display: inline-block;
      height: 38px;
      text-decoration: underline;
      @include rem(margin, 10px 0 0 0);

      @include rem(font-size, 24px);
      @include rem(line-height, 24px);
      @include rem(padding, 8px 12px);
    }
  }

  .header-line {
    border-bottom: 2px solid $headerline-border-grey;

    @include rem(padding, 16px 0 8px 0);
    @include rem(font-size, 16px);

    .beta-txt {
      background: $sfc-blue;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;

      @include rem(padding, 5px 12px);
      @include rem(line-height, 16px);
    }
  }
}
