nav {

  &.main-nav {

    min-height: 15px;
  background: $sfc-btn-primary-purple;

  .mobile-nav-btn {
    width: auto;
    display: inline-block;

    @media only screen and (max-width: 990px) {
      text-align: left;

      @include rem(margin, 0 0 0 15px);
    }

    &:focus {
      outline: none;
    }

    .nav-menu-title {
      color: $white;
      padding: 0;
      display: block;
      position: relative;

      @include rem(padding, 10px 30px 10px 0);

      @include rem(font-size, 16px);

      .arrow {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid $white;
        border-bottom: none;

        position: absolute;
        top: 15px;
        right: -25px;
        left: auto;
      }
    }

    &.collapsed {
      .arrow {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid $white;
        border-bottom: none;

        position: absolute;
        top: 15px;
        right: -25px;
        left: auto;
      }
    }
  }

  #navbarSupportedContent {

    @media only screen and (max-width: 990px) {
      position: relative;
      top: 0;
      left: 0px;
      width: 50%;

      li {
        border-right: 0;
        a {
          display: block;

          @include rem(padding, 10px 0);

          &:hover,
          &:active {
            background: $sfc-btn-primary-purple;
            color: $white;
          }
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      border-right: 2px solid $white;

      @media only screen and (min-width: 770px) {
        padding: 0 !important;
      }

      a {
        color: $white;
        text-decoration: none !important;

        @include rem(font-size, 16px);
        @include rem(padding, 10px 30px);

        &:hover,
        &:active {
          background: $white;
          color: $sfc-btn-primary-purple;

          @include box-shadow(inset 0, -5px, 0, 0, $sfc-btn-primary-purple);
        }

        &:focus {
          color: $black !important;
          background: $focus-yellow !important;
          outline: none;
          text-decoration: underline;

          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }

      &:last-child {
        //border-right: none;

        @media only screen and (max-width: 990px) {
          border-bottom: none;
        }
      }
    }

    &.main-menu {

      @media only screen and (max-width: 990px) {

        @include rem(padding, 0 15px);

        li {
          border-bottom: 1px solid $white;
        }
      }
    }

    &.logout-menu {
      position: absolute;
      top: 0;
      right: 0;

      @media only screen and (max-width: 990px) {
        right: 15px;
      }

      li {

        @media only screen and (max-width: 990px) {
          padding-right: 0;
          border-right: 0;
        }

        a {
          color: $white;
          text-decoration: none;

          @include rem(font-size, 16px);
          @include rem(padding, 10px 30px);

          &:hover,
          &:active {
            background: $white;
            color: $sfc-btn-primary-purple !important;

            @include box-shadow(inset 0, -5px, 0, 0, $sfc-btn-primary-purple);
          }
        }

        &.subnav-menu-title {
          position: relative;

          a {

            @include rem(padding, 10px 60px 10px 30px);

            @media only screen and (max-width: 990px) {
              @include rem(padding, 10px 30px 10px 30px);
            }

            .arrow {
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 8px solid $white;
              border-bottom: none;

              position: absolute;
              top: 18px;
              right: 25px;
              left: auto;

              @media only screen and (max-width: 990px) {
                right: 0;
              }
            }

            &:hover,
            &:active {
              .arrow {
                border-top: 8px solid $sfc-btn-primary-purple;
              }

              @media only screen and (max-width: 990px) {
                background: $sfc-btn-primary-purple;
                color: $white !important;

                .arrow {
                  border-top: 8px solid $white;
                }
              }
            }

            &:focus {
              color: $black !important;
              background: $focus-yellow;
              outline: none;
              text-decoration: underline;

              -moz-box-shadow: none;
              -webkit-box-shadow: none;
              box-shadow: none;

              .arrow {
                border-top: 8px solid $black;
              }
            }
          }

        }
      }
    }
  }

  }


  // &.main-nav {

  //   ul {
  //     li {
  //       a {
  //         color: $white;
  //       }
  //     }
  //   }
  // }
}
