<app-error-summary
  *ngIf="submitted && (form.invalid || serverError)"
  [formErrorsMap]="formErrorsMap"
  [form]="form"
  [serverError]="serverError"
>
</app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()" id="server-error" #formEl>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Workplace</span>
          <h1 class="govuk-fieldset__heading">Find {{ flow === 'registration' ? 'your' : 'the' }} workplace address</h1>
        </legend>

        <p>We'll use {{ flow === 'registration' ? 'your' : 'the' }} workplace postcode to find the address.</p>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && (form.invalid || serverError)">
          <label class="govuk-label" for="postcode"> Postcode </label>
          <span *ngIf="submitted && getPostcode.errors" id="postcode-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ getFirstErrorMessage('postcode') }}
          </span>
          <input
            class="govuk-input govuk-input--width-10"
            [formControlName]="'postcode'"
            id="postcode"
            name="postcode"
            [class.govuk-input--error]="submitted && (form.invalid || serverError)"
            type="text"
          />
        </div>
      </fieldset>
      <button type="submit" class="govuk-button govuk-!-margin-top-4" data-testid="button">Find address</button>
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-util__float-right">
      <app-progress-bar
        data-testid="progress-bar-1"
        [header]="'Workplace'"
        [sections]="workplaceSections"
        [currentSection]="'Find workplace'"
      ></app-progress-bar>
      <app-progress-bar
        *ngIf="this.flow.includes('registration')"
        data-testid="progress-bar-2"
        [header]="'User account'"
        [sections]="userAccountSections"
        [currentSection]="'Find workplace'"
      ></app-progress-bar>
    </div>
  </div>
</div>
