<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/registration/registered-question">
      <span class="arrow"></span>Back
    </a>
  </div>

  <!-- <p class="h5">Section 2 of 9</p> -->
  <h1 class="h1">Select your workplace address</h1>

  <p class="main-body-text mb-5 d-block col-12 col-md-7 p-0">We couldn’t find your workplace from CQC, select the appropriate address below</p>

  <form novalidate
        [formGroup]="selectWorkplaceAddressForm">

    <div class="form-group mb-5">
      <div class="col-12 col-md-7 p-0">

        <div class="field-group updatePostcode" [ngClass]="{'is-invalid': postcodeApiError }">

          <span class="invalid-feedback">
            <span class="main-body-text mb-2" *ngIf="postcodeApiError">
              Invalid Postcode
            </span>
          </span>

          <div class="row ml-0 mb-5" *ngIf="editPostcode">
            <input placeholder="" type="text" id="postcode" class="form-control col-md-4 d-inline-block" formControlName="postcodeInput" />
            <button class="btn btn-secondary d-inline-block align-top ml-4" (click)="updatePostcode()">Update</button>
          </div>
          <div class="row mb-5" *ngIf="!editPostcode">
            <div class="main-body-text-bold col-5 col-sm-3">{{ postcodeValue }}</div>
            <div class="main-body-text col-5 col-sm-3 pl-0"><span class="text-link" title="Edit postcode" (click)="postcodeChange()">Change</span></div>
          </div>
        </div>

        <div class="field-group" [ngClass]="{'is-invalid': selectAddressMessage, 'd-none': postcodeApiError }">

          <span class="invalid-feedback">
            <span class="main-body-text mb-2" *ngIf="selectAddressMessage">
              Select your address
            </span>
          </span>

          <select class="col-12 col-md-10 pl-2 pr-2" id="selectWorkplaceAddress" formControlName="selectWorkplaceAddressSelected">
            <option value="" hidden disabled>Please select your workplace address</option>
            <option value="{{i}}" *ngFor="let item of registration.postcodedata; let i = index;">{{ item.locationName ? item.locationName + ', ' : '' }}{{ item.addressLine1 }}, {{ item.addressLine2 }} - {{ item.townCity }} {{ item.postalCode }}</option>
          </select>
        </div>

      </div>

    </div>

    <div class="col-12  mt-4 mb-5 p-0">
      <a class="text-link" routerLink="/registration/enter-workplace-address" title="I can't find my address">I can't find my address</a>
    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit" (click)="save()">Continue</button>
    </div>

  </form>


</div>
