<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <span class="govuk-caption-l">Bulk upload</span>
      <h1 class="govuk-fieldset__heading">About bulk upload</h1>
    </legend>
    <p>
      Bulk uploads let you add large amounts of workforce data into the Adult Social Care Workforce Data Set (ASC-WDS)
      without the need to add that data manually.
    </p>
    <h2>Who should do bulk uploads?</h2>
    <p>
      Skills for Care recommend bulk uploads for local authorities and large private or voluntary sector employers who
      need to add data for a number of workplaces.
    </p>
    <p>
      Individual workplaces can also choose to bulk upload, but our findings suggest those with fewer than 50 staff
      records usually add their data manually.
    </p>
    <h2>What you need to know about bulk uploads</h2>
    <p>
      You can only bulk upload CSV (comma-separated values) files. Previous experience of working with CSV files is
      helpful, but not necessary.
    </p>
    <p>
      Before you do your bulk upload, make sure you have unique references for each workplace and each staff record.
    </p>
    <p class="govuk-inset-text">References are used by ASC-WDS to match staff records to a workplace.</p>
    <p>
      After checking your references, download your current data into each file type you want to upload (workplace,
      staff and training) and update the records in those files if necessary.
    </p>
    <p>You always need to upload a staff file with a workplace file, but the training file is optional.</p>
    <p class="govuk-inset-text">
      You can download codes and guidance for each file type you need to update (workplace, staff and training).
    </p>
    <p>
      After selecting the files you want to upload, use ASC-WDS to validate them. You'll be able to view any errors and
      warnings in an error report.
    </p>
    <p>A bulk upload is only complete once all errors have been fixed.</p>
    <a role="button" draggable="false" class="govuk-button govuk-!-margin-top-6" [routerLink]="['/bulk-upload']">
      Return to bulk upload
    </a>
  </div>
  <div *ngIf="bulkUploadHelpFlag" class="govuk-grid-column-one-third">
    <div class="govuk-!-margin-top-6">
      <app-bulk-upload-related-content
        [showViewLastBulkUpload]="false"
        [showViewReferences]="false"
        [showAboutBulkUpload]="false"
      >
      </app-bulk-upload-related-content>
    </div>
    <app-codes-and-guidance></app-codes-and-guidance>
  </div>
</div>
