<ng-container>
  <div *ngFor="let qualificationTypes of qualifications">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l govuk-!-margin-bottom-0" [attr.data-testid]="'category-' + trainingCategories.category">
          Type: {{ trainingCategories.category }} ({{ trainingCategories.trainingRecords.length }})
        </p>
      </div>
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Qualification type</th>
          <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
          <th class="govuk-table__header" scope="col">Year achieved</th>
          <th class="govuk-table__header" scope="col">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <ng-container *ngFor="let qualification of qualifications">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-regular">
              {{ qualification.qualification.group }}
            </td>
            <td class="govuk-table__cell">
              {{ qualification.qualification.title }}
            </td>
            <td class="govuk-table__cell">
              {{ qualification?.year ? qualification.year : '-' }}
            </td>
            <td class="govuk-table__cell">
              {{ qualification?.notes ? qualification.notes : '-' }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
