<ng-container>
  <div *ngFor="let qualificationType of qualificationsByType.groups">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l govuk-!-margin-bottom-0" [attr.data-testid]="">
          Type: {{ qualificationType.group }} ({{ qualificationType.records.length }})
        </p>
      </div>
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-two-third" scope="col" style="width: 15%">Qualification name</th>
          <th class="govuk-table__header" scope="col" style="width: 12%">Year achieved</th>
          <th class="govuk-table__header" scope="col" style="width: 20%">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <ng-container *ngFor="let group of qualificationType.records">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-regular">
              <a class="govuk-link--no-visited-state" [routerLink]="['../qualification', group.uid]">{{
                group.title
              }}</a>
            </td>
            <td class="govuk-table__cell">
              {{ group.year }}
            </td>
            <td class="govuk-table__cell">
              {{ group.notes ? group.notes : 'None' }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
