<header id="header-container" class="container-fluid p-0">
  <div class="main-header container-fluid">
    <div class="container">
    <div class="d-flex flex-row">
      <div class="logo pr-5">
        <img src="/assets/img/logo.png" alt="Skills for Care" />
      </div>
      <a routerLink="/dashboard" class="strapline">Adult Social Care Workforce Data Set</a>
      <div class="auth-controls">
        <ul *ngIf="!isLoggedIn()" class="d-flex flex-row">
          <!-- <li>
            <a routerLink="/registered-question">Create an account</a>
          </li> -->
          <li>
            <a routerLink="/login">Sign in</a>
          </li>
        </ul>
        <ul *ngIf="isLoggedIn()" class="d-flex flex-row justify-content-end">
          <li *ngIf="hasFullname()">
            <p class="m-0">{{ fullname }}</p>
          </li>
          <li>
            <a routerLink="/change-user-summary">Account</a>
          </li>
          <li>
            <a href="#" (click)="signOut($event)">Log out</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="header-line container">
    <div class="container">
      <div class="m-0 d-inline-block beta-txt">Beta</div>
      <div class="m-0 d-inline-block ml-3" *ngIf="router && router.url == '/feedback' ? false : true">
        <span>This is a new service - your <a routerLink="/feedback" target="_blank">feedback</a> will help us to improve it.</span>
      </div>
    </div>
  </div>
</header>
