@import 'govuk-frontend/govuk/base';

.govuk-file-validate-status {
  margin-bottom: govuk-spacing(0) !important;
  margin-top: govuk-spacing(3) !important;
  @include govuk-typography-weight-bold(true);

  &--success {
    @extend .govuk-file-validate-status;
    color: govuk-colour('green');

    &::before {
      content: url('/assets/images/tick-icon.svg');
      margin-right: govuk-spacing(2) !important;
      position: relative;
      top: 3px !important;
    }
  }
  &--error {
    @extend .govuk-file-validate-status;
    color: govuk-colour('red');

    &::before {
      content: url('/assets/images/cross-icon.svg');
      margin-right: govuk-spacing(2) !important;
      position: relative;
      top: 3px !important;
    }
  }

  a {
    margin-left: govuk-spacing(2) !important;
    @include govuk-typography-weight-regular(true);
  }
}
