<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" data-testid="heading">
    <span class="govuk-caption-l">Training and qualifications</span>
    <h1 class="govuk-heading-l">Add and manage training courses for your workplace</h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds">
    <p>
      You'll only enter the details of each course once, but then you'll be able to select a course whenever you add or
      update a training record.
    </p>
  </div>

  <div class="govuk-grid-column-one-thirds">
    <button class="govuk-button govuk-util__float-right" type="button">Add a training course</button>
  </div>
</div>

<div class="govuk-grid-row"></div>
