<app-error-summary *ngIf="submitted && form?.invalid" [formErrorsMap]="formErrorsMap" [form]="form">
</app-error-summary>

<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
  <div class="govuk-grid">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <span class="govuk-caption-xl">{{ worker.nameOrId }}</span>
      <h1 class="govuk-heading-l">Flag long-term absence</h1>

      <div class="govuk-inset-text govuk-!-margin-top-0">
        When you flag a member of staff as long-term absent, a label appears next to their name under training and
        qualifications. The flag can be used to show why their training records may be out of date.
      </div>

      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">Select a reason</legend>
          <span *ngIf="submitted && form?.invalid" id="longTermAbsence-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ getFirstErrorMessage('longTermAbsence') }}
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item" *ngFor="let reason of longTermAbsenceReasons; let i = index">
              <input
                [formControlName]="'longTermAbsence'"
                class="govuk-radios__input"
                id="longTermAbsence-{{ i }}"
                name="longTermAbsence"
                type="radio"
                value="{{ reason }}"
                (click)="resetBackAtWork()"
              />
              <label for="longTermAbsence-{{ i }}" class="govuk-label govuk-radios__label">
                {{ reason }}
              </label>
            </div>
          </div>

          <ng-container *ngIf="this.worker.longTermAbsence">
            <p class="govuk-!-margin-top-6">Or set them as being back at work</p>
            <div class="govuk-checkboxes govuk-!-padding-left-0">
              <div class="govuk-checkboxes__item govuk-!-margin-bottom-2">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  id="backAtWork"
                  name="backAtWork"
                  [(ngModel)]="backAtWork"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="setBackAtWork()"
                />
                <label for="backAtWork" class="govuk-label govuk-checkboxes__label"> Set as back at work </label>
              </div>
            </div>
          </ng-container>
        </fieldset>
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button govuk-!-margin-right-9 govuk-!-margin-top-7" type="submit">Save and return</button>
        <a role="button" class="govuk-button govuk-button--link govuk-!-margin-left-9" [routerLink]="returnUrl"
          >Cancel</a
        >
      </div>
    </div>
  </div>
</form>
