<p class="main-body-text mb-5 d-block col-12 col-md-10 p-0">You told us your main service is {{ mainService }}. Do you provide any other services?</p>

<form novalidate
      (ngSubmit)="onSubmit()"
      [formGroup]="SelectOtherServiceForm">

    <app-messages></app-messages>

    <div class="form-group">

      <div class="field-group pb-4" [ngClass]="{'is-invalid': isInvalid }">

        <span class="invalid-feedback">
          <span class="main-body-text mb-2" *ngIf="isInvalid">
            Please select a service.
          </span>
        </span>

        <div class="mt-5" *ngFor="let item of otherServicesData; let i = index">
          <label class="main-body-text-bold mb-4 p-0 d-block" *ngIf="item.category">{{ item.category }}</label>

          <div *ngFor="let data of item.services">
            <div class="row mb-4">
              <div class="col-12">

                  <label class="check main-body-text p-0" for="{{ data.id }}">
                    <input type="checkbox" id="{{ data.id }}" formControlName="otherServiceSelected"
                    [checked]="data.isMyService" value="{{ data.name }}" (change)="toggleCheckbox($event.target)" />
                    <span class="checkmark"></span>

                    <span class="check-label main-body-text mt-0">{{ data.name }}</span>
                  </label>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>

  </form>
