.asc__pagination-wrapper__vertical-align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .asc__spacing-between-link-and-searchbox {
    flex-basis: 100%;
    height: 0;
    margin-top: 20px;
  }

  .asc__spacing-between-link-and-searchbox:first-child {
    display: none;
  }

  #sort-by-container {
    margin-left: auto;
  }
}
