<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" class="govuk-!-padding-bottom-5">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
              Do your non-nursing staff carry out delegated healthcare activities?
            </h1>
          </legend>
          <div class="govuk-form-group">
            <div class="govuk-radios govuk-!-margin-bottom-4">
              <ng-container *ngFor="let option of options; let i = index">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="staffDoDelegatedHealthcareActivities-{{ i }}"
                    name="staffDoDelegatedHealthcareActivities"
                    type="radio"
                    [formControlName]="'staffDoDelegatedHealthcareActivities'"
                    [value]="option.value"
                  />
                  <label class="govuk-label govuk-radios__label" for="staffDoDelegatedHealthcareActivities-{{ i }}">
                    {{ option.label }}
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </fieldset>
      </div>
      <app-workplace-submit-button
        [return]="!!return"
        (clicked)="setSubmitAction($event)"
      ></app-workplace-submit-button>
    </div>
    <div class="govuk-grid-column-one-third">
      <div *ngIf="!return" class="govuk-util__float-right">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="workplaceFlowSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
    </div>
  </div>
</form>
