<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-!-margin-bottom-8">You're about to remove all mandatory training categories for your workplace</h1>
    <p>
      If you do this, your workplace will not have any training set up as being mandatory for your staff at the moment.
    </p>

    <div class="govuk-button-group">
      <button
        class="govuk-button govuk-button--warning govuk-!-margin-right-9 govuk-!-margin-top-6"
        (click)="deleteMandatoryTraining()"
        type="button"
      >
        Remove categories
      </button>

      <a
        role="button"
        draggable="false"
        class="govuk-button govuk-button--link govuk-!-margin-left-9"
        (click)="navigateToPreviousPage()"
        >Cancel</a
      >
    </div>
  </div>
</div>
