<div class="govuk-!-margin-top-5 govuk-!-margin-bottom-4">
  <ul class="govuk-tabs__list asc-tabs__list" role="tablist">
    <li
      class="govuk-tabs__list-item asc-tabs__list-item"
      data-testid="workplaceListItem"
      [class.asc-tabs__list-item--active]="!viewWDFData"
    >
      <a
        id="tab_workplace"
        class="govuk-tabs__tab asc-tabs__link"
        [class.asc-tabs__link--active]="!viewWDFData"
        href="#"
        role="tab"
        (click)="this.handleViewChange($event)"
        >Workplace</a
      >

      <i
        [class.govuk-tabs__tab--alert]="alert"
        [class.govuk-tabs__tab--red-alert]="redAlert"
        [class.govuk-tabs__tab--green-tick]="greenTick"
        [class.govuk-tabs__tab--red-cross]="redCross"
      >
        <span *ngIf="alert" class="govuk-visually-hidden" data-testid="orange-flag">Orange warning flag</span>
        <span *ngIf="redAlert" class="govuk-visually-hidden" data-testid="red-flag">Red warning flag</span>
        <span *ngIf="redCross" class="govuk-visually-hidden">Red cross</span>
        <span *ngIf="greenTick" class="govuk-visually-hidden">Green tick</span>
      </i>
    </li>
    <li
      class="govuk-tabs__list-item asc-tabs__list-item"
      data-testid="staffListItem"
      [class.asc-tabs__list-item--active]="viewWDFData"
    >
      <a
        id="tab_staff"
        class="govuk-tabs__tab asc-tabs__link"
        [class.asc-tabs__link--active]="viewWDFData"
        href="#"
        role="tab"
        (click)="this.handleViewChange($event)"
        >Staff records</a
      >
      <i
        [class.govuk-tabs__tab--alert]="alert"
        [class.govuk-tabs__tab--red-alert]="redAlert"
        [class.govuk-tabs__tab--green-tick]="greenTick"
        [class.govuk-tabs__tab--red-cross]="redCross"
      >
        <span *ngIf="alert" class="govuk-visually-hidden" data-testid="orange-flag">Orange warning flag</span>
        <span *ngIf="redAlert" class="govuk-visually-hidden" data-testid="red-flag">Red warning flag</span>
        <span *ngIf="redCross" class="govuk-visually-hidden">Red cross</span>
        <span *ngIf="greenTick" class="govuk-visually-hidden">Green tick</span>
      </i>
    </li>
  </ul>
</div>
<ng-content></ng-content>
