<a
  *ngIf="!isFirst"
  class="asc-chevron-before govuk-button--link govuk-!-margin-right-4"
  [routerLink]="
    this.route.snapshot.params.establishmentuid
      ? ['/wdf', 'workplaces', workplaceUid, 'staff-record', previousID]
      : ['/wdf', 'staff-record', previousID]
  "
  [fragment]=""
  >Previous staff record</a
>
<a
  *ngIf="!isLast"
  class="asc-chevron-after govuk-button--link govuk-!-margin-left-6 govuk-!-margin-right-4"
  [routerLink]="
    this.route.snapshot.params.establishmentuid
      ? ['/wdf', 'workplaces', workplaceUid, 'staff-record', nextID]
      : ['/wdf', 'staff-record', nextID]
  "
  [fragment]=""
  >Next staff record</a
>
