<div class="asc-number-input">
  <input
    #inputEl
    class="govuk-input"
    [id]="inputId"
    [name]="inputId"
    (input)="onInput($event)"
    aria-live="polite"
    [disabled]="disabled"
  />
  <button
    *ngIf="showMinusButton"
    class="asc-number-input--toggle-button"
    id="minus-sign-button"
    type="button"
    data-testid="minus-sign-button"
    (click)="decrease()"
  >
    <img src="/assets/images/minus-sign.svg" alt="decrease by 1" />
  </button>
  <button
    *ngIf="showPlusButton"
    class="asc-number-input--toggle-button"
    type="button"
    id="plus-sign-button"
    data-testid="plus-sign-button"
    (click)="increase()"
  >
    <img src="/assets/images/plus-sign.svg" alt="increase by 1" />
  </button>
</div>
