<span class="govuk-!-margin-bottom-6 govuk__flex govuk__nowrap">
  <ng-container *ngIf="overallWdfEligibility && !worker.wdf?.isEligible">
    <h4 class="govuk-heading-s">
      <img class="govuk-!-margin-right-1 govuk-util__vertical-align-top" src="/assets/images/flag-orange.svg" alt="" />
      <span class="govuk-visually-hidden">Orange warning flag</span>Update this staff record to save yourself time next
      year
    </h4>
  </ng-container>
  <ng-container *ngIf="worker.wdf?.isEligible">
    <h4 class="govuk-heading-s">
      <img class="govuk-!-margin-right-1 govuk-util__vertical-align-top" src="/assets/images/tick-icon.svg" alt="" />
      <span class="govuk-visually-hidden">Green tick</span>
      This staff record meets funding requirements, {{ wdfStartDate | date: 'yyyy' }} to {{ wdfEndDate | date: 'yyyy' }}
    </h4>
  </ng-container>
  <ng-container *ngIf="!overallWdfEligibility && !worker.wdf?.isEligible">
    <h4 class="govuk-heading-s">
      <img class="govuk-!-margin-right-1 govuk-util__vertical-align-top" src="/assets/images/cross-icon.svg" alt="" />
      <span class="govuk-visually-hidden">Red cross</span>
      This staff record does not meet funding requirements,
      {{ wdfStartDate | date: 'yyyy' }} to {{ wdfEndDate | date: 'yyyy' }}
    </h4>
  </ng-container>
</span>
