<h2 class="govuk-heading-s">Related content</h2>
<ul class="govuk-list">
  <li *ngIf="showGetHelpWithBulkUploads">
    <a [routerLink]="['/bulk-upload', '/']">Get help with bulk uploads</a>
  </li>
  <li *ngIf="showViewReferences">
    <a [routerLink]="['/bulk-upload', 'workplace-references']">View references</a>
  </li>
  <li *ngIf="showDataChanges">
    <a [routerLink]="['/bulk-upload', '/']">Data changes</a>
  </li>
  <li *ngIf="showAboutBulkUpload">
    <a [routerLink]="['/bulk-upload', 'about-bulk-upload']">About bulk upload</a>
  </li>
  <li *ngIf="this.authService.isAdmin && showViewLastBulkUpload">
    <a [routerLink]="['/bulk-upload', 'last-bulk-upload']">View last bulk upload</a>
  </li>
</ul>
