<h2 class="govuk-heading-s">Related content</h2>
<ul class="govuk-list">
  <li *ngIf="showGetHelpWithBulkUploads" class="govuk-!-margin-bottom-3">
    <a [routerLink]="['/bulk-upload', 'get-help']">Get help with bulk uploads</a>
  </li>
  <li *ngIf="showViewReferences" class="govuk-!-margin-bottom-3">
    <a [routerLink]="['/bulk-upload', 'workplace-references']">View references</a>
  </li>
  <li *ngIf="showDataChanges">
    <a [routerLink]="['/bulk-upload', '/']">Data changes</a>
    <span *ngIf="showFlagBUChanges">
      <img
        src="/assets/images/flag-orange.svg"
        alt=""
        class="govuk-util__vertical-align-top govuk-!-margin-left-1 govuk-!-margin-bottom-3"
      />
    </span>
  </li>
  <li *ngIf="showAboutBulkUpload" class="govuk-!-margin-bottom-3">
    <a [routerLink]="['/bulk-upload', 'about-bulk-upload']">About bulk upload</a>
  </li>
  <li *ngIf="this.authService.isAdmin && showViewLastBulkUpload">
    <a [routerLink]="['/bulk-upload', 'last-bulk-upload']">View last bulk upload</a>
  </li>
</ul>
