<div class="main-page-container confirmation-page col-12">
  <h1 class="h1">Current staff vacancies</h1>

  <h2>You told us you have:</h2>
  <div class="facts">
    <span class="amount">{{getTotal()}}</span>
    <span class="label">current staff vacancies</span>
  </div>

  <h2>Continue if this is correct or go back and make a change.</h2>
  <button type="button" class="btn btn-primary" (click)="submitHandler()">Save and continue</button>
  <app-messages></app-messages>

  <button type="button" class="btn btn-link" (click)="makeChangeHandler()">Make a change</button>
  <app-messages></app-messages>
</div>
