<div class="main-page-container col-12">
  <div id="back" class="back-link">
    <a [routerLink]="['/worker', worker.uid, backLink]">
      <span class="arrow"></span>Back
    </a>
  </div>

  <form novalidate
    (ngSubmit)="submitHandler()"
    [formGroup]="form">

    <header>
      <h1 class="h1 col-12 col-lg-8">Do you know where they were recruited from?</h1>
    </header>

    <app-messages></app-messages>

    <div class="form-group mt-5">
      <div class="col-12 p-0">
        <div class="row">
          <div class="col-12">
            <div class="multiple-choice">
              <input type="radio" formControlName="recruitmentKnown" class="form-control" value="Yes" for="recruitmentKnown_yes">
              <label for="recruitmentKnown_yes">Yes</label>
            </div>
          </div>
        </div>

        <div *ngIf="form.get('recruitmentKnown').value === 'Yes'" class="panel panel-border-narrow col-10 col-lg-6 ml-0 mt-5 mb-5 mt-md-0">
          <div class="form-field">
            <label class="form-label">Recruited from
              <select formControlName="recruitedFromId" class="form-control">
                <option [ngValue]="null">Select recruitment source</option>
                <option *ngFor="let recruitment of availableRecruitments" [value]="recruitment.id">
                  {{recruitment.from}}
                </option>
              </select>
            </label>
          </div>
        </div>

        <div class="row mt-5 mt-md-0">
          <div class="col-12">
            <div class="multiple-choice">
              <input type="radio" formControlName="recruitmentKnown" class="form-control" value="No" id="recruitmentKnown_no" (change)="recruitmentKnownChangeHandler()">
              <label for="recruitmentKnown_no">No</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-submit-button [saveCallback]="saveHandler"></app-submit-button>
  </form>
</div>
