<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Workplace</span>
    <h1>Parent workplace accounts</h1>
    Because you selected head office services as your main service, you might want to have a parent workplace account.
    <h2>Become a parent</h2>
    With your ASC-WDS account, you can add other workplaces that do not use ASC-WDS and manage their data for them. This
    type of account is sometimes called a parent workplace account as it lets you manage workplace details staff
    records, and training and qualification records for other workplaces. To manage another workplace's data you'll need
    to click on the 'Become a parent and manage other workplaces' data' link when you sign into ASC-WDS.
    <h2>Link to a parent</h2>
    Other workplaces that already use ASC-WDS in your group or organisation can also send you link requests and tell you
    which information you'll have access to.
  </div>
</div>
