<h1 class="h1">Reset password</h1>

<p class="main-body-text col-7 p-0 mb-5">Enter a new password for account {{ name }}</p>

<form novalidate
  (ngSubmit)="onSubmit()"
  [formGroup]="resetPasswordForm">

  <div formGroupName="passwordGroup">
    <div class="field-group mt-5"
         [ngClass]="{'is-invalid': displayError && getPasswordInput.errors }">
      <label class="form-label" for="createPassword">Password</label>
      <p class="field-comment-text">This should be at least 8 characters long, contain at least one uppercase and one lowercase letter and a number</p>

      <span class="invalid-feedback">
        <span *ngIf="displayError && getPasswordInput.hasError('required')" class="main-body-text mb-2">
          Please enter your Password.
        </span>
        <span *ngIf="displayError && getPasswordInput.hasError('pattern')" class="main-body-text mb-2">
          Invalid Password.
        </span>
      </span>

      <div class="form-control-feedback">

        <input placeholder="" type="password" id="createPassword" class="form-control col-12" formControlName="createPasswordInput" />

      </div>
    </div>
    <div class="field-group mt-5"
         [ngClass]="{'is-invalid': displayError && (getConfirmPasswordInput.errors || getPasswordGroup.errors) }">
      <label class="form-label" for="confirmPassword">Confirm password</label>

      <span class="invalid-feedback">
        <span *ngIf="displayError && getConfirmPasswordInput.hasError('required')" class="main-body-text mb-2">
          Please confirm your Password.
        </span>
        <span *ngIf="displayError && getPasswordGroup.hasError('notMatched')" class="main-body-text mb-2 mb-2">
          Confirm Password does not match.
        </span>
      </span>

      <div class="form-control-feedback">

        <input placeholder="" type="password" id="confirmPassword" class="form-control col-12" formControlName="confirmPasswordInput" />

      </div>
    </div>

  </div>

  <div class="btn-container">
    <button class="btn btn-primary" type="submit">Save new password</button>
  </div>

  <a routerLink="/login" class="text-link d-block mt-5" title="Sign in">Back to sign in</a>
</form>
