<div class="main-page-container col-12">

  <form novalidate
    (ngSubmit)="submitHandler()"
    [formGroup]="form">

    <header>
      <h1 class="h1">Create a staff record</h1>
    </header>

    <app-messages></app-messages>

    <div class="form-group">
      <div class="field-group mb-5">
        <label class="col-12 col-md-11 col-lg-8">Full name or ID number
          <input type="text" formControlName="nameOrId" maxlength="50"
            class="form-control col-12" [ngClass]="{'is-invalid': (form.get('nameOrId').touched || form.get('nameOrId').dirty) && !form.get('nameOrId').valid}" />
        </label>
      </div>

      <div class="field-group mb-5">
        <label>What is their main job role
          <select formControlName="mainJob" class="form-control">
            <option [value]="null">Select Main Job Role</option>
            <option *ngFor="let job of jobsAvailable" [value]="job.id">
              {{job.title}}
            </option>
          </select>
        </label>
      </div>

      <div class="field-group mb-5">
        <label class="d-block">What type of contract do they have?</label>
        <div *ngFor="let contract of contractsAvailable; let idx = index" class="multiple-choice">
          <input type="radio" formControlName="contract" class="form-control" [value]="contract" id="contract-type-{{idx}}">
          <label for="contract-type-{{idx}}">{{contract}}</label>
        </div>
      </div>
    </div>

    <app-submit-button [saveCallback]="saveHandler"></app-submit-button>
  </form>
</div>
