<div class="asc-summary-box" *ngIf="totalMissingMandatoryTraining || totalExpiredTraining || totalExpiringTraining">
  <div class="asc-container">
    <div class="asc-container--column" *ngIf="totalMissingMandatoryTraining" data-testid="missing-column">
      <div class="asc-title">Summary</div>
      <div class="asc-content">
        <div class="asc-content--image">
          <img src="/assets/images/flag-red.svg" alt="" />
        </div>
        <div>
          <span class="asc-content--count">{{ totalMissingMandatoryTraining }}</span>
          <ng-container [ngPlural]="totalMissingMandatoryTraining">
            <ng-template ngPluralCase="=1">
              <span>missing mandatory record</span>
            </ng-template>
            <ng-template ngPluralCase="other">
              <span>missing mandatory records</span>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
    <hr class="asc-top-line" />
    <div class="asc-container--column" *ngIf="totalExpiredTraining" data-testid="expired-column">
      <div class="asc-title" *ngIf="!totalMissingMandatoryTraining">Summary</div>
      <div class="asc-content">
        <div class="asc-content--image">
          <img src="/assets/images/flag-red.svg" alt="" />
        </div>
        <div>
          <span class="asc-content--count">{{ totalExpiredTraining }}</span>
          <ng-container [ngPlural]="totalExpiredTraining">
            <ng-template ngPluralCase="=1">
              <span>record has expired</span>
            </ng-template>
            <ng-template ngPluralCase="other">
              <span>records have expired</span>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
    <hr class="asc-bottom-line" />
    <div class="asc-container--column" *ngIf="totalExpiringTraining" data-testid="expiring-column">
      <div class="asc-title" *ngIf="!totalMissingMandatoryTraining && !totalExpiredTraining">Summary</div>
      <div class="asc-content">
        <div class="asc-content--image">
          <img src="/assets/images/flag-orange.svg" alt="" />
        </div>
        <div>
          <span class="asc-content--count">{{ totalExpiringTraining }}</span>
          <ng-container [ngPlural]="totalExpiringTraining">
            <ng-template ngPluralCase="=1">
              <span>record expires soon</span>
            </ng-template>
            <ng-template ngPluralCase="other">
              <span>records expire soon</span>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
