@import '~govuk-frontend/govuk/base';

.asc-summary-box {
  display: flex;

  background-color: govuk-colour('light-grey');
  font-size: 19px;
  color: $govuk-text-colour;
  padding: 15px 0;
  margin-bottom: 40px;

  @media only screen and (max-width: 680px) {
    justify-content: center;
  }
}

.asc-container {
  display: flex;
  width: 100%;

  @media only screen and (max-width: 680px) {
    width: auto;
    flex-direction: column;
    padding: 30px 0;
  }
}

.asc-content {
  display: flex;
  align-items: center;
  border-right: 1px solid $govuk-border-colour;
  padding: 10px 20px;
  box-sizing: border-box;

  @media only screen and (max-width: 680px) {
    border-right: none;
  }

  &:last-of-type {
    border-right: none;
  }

  &--image {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
}

hr {
  color: $govuk-border-colour;
  display: none;
  margin: 40px 50px 50px 50px;

  @media only screen and (max-width: 680px) {
    display: block;
  }
}
