@import '~govuk-frontend/govuk/base';

// .asc-full-width {
//   display: flex;
// }

// .asc-partial-width {
//   display: inline-flex;

//   @media only screen and (max-width: 680px) {
//     display: flex;
//   }
// }

.asc-summary-box {
  display: flex;

  background-color: govuk-colour('light-grey');
  font-size: 19px;
  color: $govuk-text-colour;
  padding: 15px 0;
  margin-bottom: 40px;

  @media only screen and (max-width: 680px) {
    justify-content: center;
  }
}

.asc-container {
  display: flex;
  width: 100%;

  @media only screen and (max-width: 680px) {
    width: auto;
    flex-direction: column;
    padding: 10px 0 30px 0;
  }

  &--column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-right: 1px solid $govuk-border-colour;
    padding: 10px 20px;
    box-sizing: border-box;

    @media only screen and (max-width: 680px) {
      border-right: none;
    }

    &:last-of-type {
      border-right: none;
    }
  }
}

.asc-content {
  display: flex;
  align-items: center;

  &--phrase {
    // margin-top: 1px;
  }

  &--image {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  &--count {
    // margin-right: 5px;
  }
}

hr {
  color: $govuk-border-colour;
  display: none;
  margin: 40px 50px 50px 50px;

  @media only screen and (max-width: 680px) {
    display: block;
  }
}
