<h3 class="fs-24 mb-4 text-weight-bold">Basic record</h3>
<dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--wrap-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name or ID number
    </dt>
    <dd class="govuk-summary-list__value">
      {{ worker.nameOrId }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" [routerLink]="['/worker', worker.uid, 'staff-details']" (click)="setReturn()">
        Change
        <span class="govuk-visually-hidden"> basic record details</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Main job role
    </dt>
    <dd *ngIf="reportDetails?.displayWDFReport"  class="govuk-summary-list__value">
      <ng-container *ngIf="worker.wdf.mainJob === 'No'">
        <img src="/assets/img/cross-icon.svg" /> Not meeting criteria
      </ng-container>
      <ng-container *ngIf="worker.wdf.mainJob != 'No'">
        {{ worker.mainJob.title }}
      </ng-container>
    </dd>

    <dd *ngIf="!reportDetails?.displayWDFReport"  class="govuk-summary-list__value">
      {{ worker.mainJob.title }}
    </dd>
    <dd class="govuk-summary-list__actions"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract type
    </dt>
    <dd *ngIf="reportDetails?.displayWDFReport" class="govuk-summary-list__value">
        <ng-container *ngIf="worker.wdf.contract === 'No'">
          <img src="/assets/img/cross-icon.svg" /> Not meeting criteria
        </ng-container>
        <ng-container *ngIf="worker.wdf.contract != 'No'">
          {{ worker.contract }}
        </ng-container>
    </dd>

    <dd *ngIf="!reportDetails?.displayWDFReport"  class="govuk-summary-list__value">
      {{ worker.contract }}
    </dd>
    <dd class="govuk-summary-list__actions"></dd>
  </div>
</dl>
