<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div
        class="govuk-form-group govuk-!-margin-bottom-4"
        [class.govuk-form-group--error]="submitted && form.get('ethnicity').invalid"
      >
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
          <label class="govuk-label govuk-label--l govuk-!-margin-bottom-8" for="ethnicity">
            What's their ethnicity?
          </label>
        </h1>

        <div class="govuk-radios govuk-radios--conditional">
          <ng-container *ngFor="let groupName of ethnicityGroups(); let idx = index">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                [formControlName]="'ethnicityGroup'"
                id="ethnicityGroup-{{ idx }}"
                name="ethnicityGroup"
                type="radio"
                [value]="groupName"
                aria-controls="conditional-ethnicity-conditional-1"
              />
              <label class="govuk-label govuk-radios__label" for="ethnicityGroup-{{ idx }}">
                {{ groupName }}
              </label>
            </div>
            <div
              class="govuk-radios__conditional"
              [class.govuk-radios__conditional--hidden]="form.get('ethnicityGroup').value !== groupName"
              id="conditional-ethnicity-conditional-1"
            >
              <div>
                <ng-container *ngFor="let ethnicityOption of ethnicities[groupName]; let idx = index">
                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      id="ethnicity-{{ idx }}"
                      [value]="ethnicityOption.id"
                      name="ethnicity"
                      [formControlName]="'ethnicity'"
                      class="govuk-radios__input"
                    />
                    <label class="govuk-label govuk-radios__label" for="">
                      {{ ethnicityOption.ethnicity }}
                    </label>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" *ngIf="insideFlow">
      <div class="govuk-!-margin-left-8">
        <app-progress-bar
          data-testid="progress-bar-1"
          [sections]="staffRecordSections"
          [currentSection]="section"
        ></app-progress-bar>
      </div>
    </div>
  </div>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>
