<footer role="contentinfo">
  <div class="govuk-width-container">
    <span class="footer-tagline">In partnership with</span>

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item">
        <div class="department-of-health-logo">
          <div class="department-of-health-logo__crest">
            <span class="department-of-health-logo__name">Department<br />of Health &amp;<br />Social Care</span>
          </div>
        </div>
      </div>

      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <ul class="govuk-list govuk-list--inline">
          <li><a [routerLink]="['/help']" class="govuk-footer__link">Help</a></li>
          <li><a [routerLink]="['/cookies']" class="govuk-footer__link">Cookies</a></li>
          <li><a [routerLink]="['/contact-us']" class="govuk-footer__link">Contact us</a></li>
          <li>
            <a [routerLink]="['/terms-and-conditions']" class="govuk-footer__link">Terms and conditions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
