<div class="sub-page-container col-12">
  <p class="heading-caption m-0 pb-4">User account</p>
  <h1 class="h1">Security question</h1>

  <p class="main-body-text mb-5 d-block col-12 col-md-7 p-0">
    You will need this if you forget your username or if you speak to Skills for Care about your account.
  </p>

  <form (ngSubmit)="onSubmit()" [formGroup]="changeUserSecurityForm">
    <div class="form-group mb-5">
      <div class="col-12 col-md-6 p-0">
        <div class="field-group" [ngClass]="{ 'is-invalid': displayError && getSecurityQuestionInput.errors }">
          <label class="form-label" for="securityQuestion">Enter a security question</label>

          <span class="invalid-feedback">
            <span *ngIf="displayError && getSecurityQuestionInput.hasError('maxlength')" class="main-body-text mb-2">
              The security question must be no longer than 255 characters.
            </span>
            <span *ngIf="displayError && getSecurityQuestionInput.hasError('required')" class="main-body-text mb-2">
              Please enter your Security question.
            </span>
          </span>

          <div class="form-control-feedback">
            <input
              placeholder=""
              type="text"
              id="securityQuestion"
              class="form-control col-12"
              formControlName="securityQuestionInput"
            />
          </div>
        </div>
        <div class="field-group mt-5" [ngClass]="{ 'is-invalid': displayError && getSecurityAnswerInput.errors }">
          <label class="form-label" for="securityAnswer">Enter the answer to the security question</label>

          <span class="invalid-feedback">
            <span *ngIf="displayError && getSecurityAnswerInput.hasError('maxlength')" class="main-body-text mb-2">
              The security answer must be no longer than 255 characters.
            </span>
            <span *ngIf="displayError && getSecurityAnswerInput.hasError('required')" class="main-body-text mb-2">
              Please enter your Security answer.
            </span>
          </span>

          <div class="form-control-feedback">
            <input
              placeholder=""
              type="text"
              id="securityAnswer"
              class="form-control col-12"
              formControlName="securityAnswerInput"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Save and return</button>
    </div>
  </form>
</div>
