<app-error-summary
  *ngIf="submitted && form.invalid"
  [formErrorsMap]="formErrorsMap"
  [form]="form"
  [serverError]="serverError"
></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l" data-testid="section-heading">{{ worker.nameOrId }}</span>
    <h1 class="govuk-heading-l">Delete staff record</h1>

    <h2 class="govuk-heading-m">Are you sure you want to delete this staff record?</h2>
    <p class="asc__negative-margin-right-4"><strong>This action cannot be undone.</strong> {{ this.warningMessage }}</p>

    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Select why you want to delete this staff record</h2>
          </legend>
          <div class="govuk-radios">
            <ng-container *ngFor="let reason of reasons; index as index">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  [id]="'reason-' + index"
                  name="reason"
                  type="radio"
                  [value]="reason.id"
                  formControlName="reason"
                />
                <label class="govuk-label govuk-radios__label" [for]="'reason-' + index"> {{ reason.reason }} </label>
              </div>
              <div
                *ngIf="reason.id === otherReasonId"
                class="govuk-radios__conditional"
                [class.govuk-radios__conditional--hidden]="selectedReasonId !== otherReasonId"
                id="detailForOtherReason"
                data-testid="other-reason-details"
              >
                <div
                  class="govuk-form-group"
                  [class.govuk-form-group--error]="submitted && form.get('details').invalid"
                >
                  <label class="govuk-label" for="details"> Provide details (optional) </label>
                  <span *ngIf="submitted && form.get('details').invalid" id="details-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ getFirstErrorMessage('details') }}
                  </span>
                  <textarea
                    class="govuk-textarea govuk-!-margin-bottom-1"
                    [class.govuk-input--error]="submitted && form.get('details').invalid"
                    rows="5"
                    id="details"
                    name="details"
                    formControlName="details"
                    (input)="onInputDetails($event)"
                  ></textarea>
                  <app-character-count
                    [textToCount]="detailsText"
                    [max]="otherReasonDetailMaxLength"
                  ></app-character-count>
                </div>
              </div>
            </ng-container>
          </div>
        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

      <div
        class="govuk-form-group govuk-!-margin-top-6"
        [class.govuk-form-group--error]="submitted && form.get('confirmDelete').invalid"
      >
        <span
          *ngIf="submitted && form.get('confirmDelete').invalid"
          id="confirmDelete-error"
          class="govuk-error-message"
        >
          <span class="govuk-visually-hidden">Error:</span>
          {{ getFirstErrorMessage('confirmDelete') }}
        </span>
        <div class="govuk-checkboxes__item govuk-checkboxes__item-align-middle">
          <input
            class="govuk-checkboxes__input"
            [class.govuk-input--error]="submitted && form.get('confirmDelete').invalid"
            id="confirmDelete"
            name="confirmDelete"
            type="checkbox"
            value="confirmDelete"
            formControlName="confirmDelete"
          />
          <label class="govuk-label govuk-checkboxes__label govuk-!-margin-left-2" for="confirmDelete">
            {{ this.confirmationCheckboxLabelText }}
          </label>
        </div>
      </div>
      <div class="govuk-button-group govuk-!-margin-top-8">
        <button class="govuk-button govuk-button--warning govuk-!-margin-right-9">Delete this staff record</button>
        <span class="govuk-visually-hidden">or</span>
        <a
          [routerLink]="['../staff-record-summary']"
          class="govuk-link govuk-link--no-visited-state govuk-button--link govuk-!-margin-left-9"
        >
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>
