<app-error-summary
  *ngIf="(submitted && form.invalid) || serverError"
  [formErrorsMap]="formErrorsMap"
  [serverError]="serverError"
  [form]="form"
>
</app-error-summary>

<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <fieldset class="govuk-fieldset">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">Add new starters in the last 12 months</h1>
          <p class="govuk-hint">This should only be for permanent or temporary staff.</p>
        </legend>
      </div>
    </div>
    <ng-container formArrayName="starterRecords">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-form-group govuk-!-margin-bottom-0">
          <label for="jobId-0" class="govuk-label">Job role</label>
        </div>
        <div class="govuk-grid-column-one-third">
          <label for="total-0" class="govuk-label">Number of new starters</label>
        </div>
      </div>
      <div
        *ngFor="let record of starterRecords.controls; let i = index"
        [formGroupName]="i"
        [class.govuk-form-group--error]="submitted && record.invalid"
      >
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-two-thirds">
            <span *ngIf="submitted" id="record-{{ i }}-error" class="govuk-error-message">
              <ng-container *ngIf="submitted && record.get('jobId').invalid">
                {{ getFormErrorMessage('starterRecords.jobId', 'required') }}
              </ng-container>
            </span>
            <select
              class="govuk-select govuk-!-width-full"
              [class.govuk-select--error]="submitted && record.get('jobId').invalid"
              [formControlName]="'jobId'"
              id="jobId-{{ i }}"
              name="jobId"
            >
              <option [ngValue]="null">Select job role</option>
              <option *ngFor="let job of selectableJobs(i)" [value]="job.id">
                {{ job.title }}
              </option>
            </select>
          </div>
          <div class="govuk-grid-column-one-third">
            <span *ngIf="submitted" id="record-total-{{ i }}-error" class="govuk-error-message">
              <ng-container *ngIf="submitted && record.get('total').invalid">
                <span *ngIf="record.get('total').errors.required">
                  {{ getFormErrorMessage('starterRecords.total', 'required') }}</span
                >
                <span *ngIf="record.get('total').errors.min">
                  {{ getFormErrorMessage('starterRecords.total', 'min') }}</span
                >
                <span *ngIf="record.get('total').errors.max">
                  {{ getFormErrorMessage('starterRecords.total', 'max') }}
                </span>
              </ng-container>
            </span>
            <input
              class="govuk-input govuk-!-width-one-half"
              [class.govuk-input--error]="submitted && record.get('total').invalid"
              [formControlName]="'total'"
              id="total-{{ i }}"
              name="total"
              type="number"
            />
            <a
              *ngIf="starterRecords.length > 1"
              href="#"
              class="govuk-list govuk-list--inline govuk-!-margin-left-3"
              (click)="removeRecord($event, i)"
              >Remove</a
            >
          </div>
        </div>
      </div>
    </ng-container>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        <button
          *ngIf="!allJobsSelected"
          class="govuk-button govuk-button--secondary"
          type="button"
          (click)="addStarter()"
        >
          Add another new starter
        </button>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-heading-m">Total: {{ totalStarters }}</p>
      </div>
    </div>

    <div class="govuk-form-group">
      <div class="govuk-radios">
        <div class="govuk-radios__item" *ngFor="let option of startersKnownOptions; let i = index">
          <input
            class="govuk-radios__input"
            id="noRecordsReason-{{ i }}"
            name="noRecordsReason"
            [formControlName]="'noRecordsReason'"
            type="radio"
            [value]="option.value"
          />
          <label class="govuk-label govuk-radios__label" for="noRecordsReason-{{ i }}">
            {{ option.label }}
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>
