<div class="main-page-container col-12">
  <div id="back" class="back-link">
    <a [routerLink]="['/workplace', 'vacancies']">
      <span class="arrow"></span>Back
    </a>
  </div>

  <form novalidate
    (ngSubmit)="submitHandler()"
    [formGroup]="form">

    <header>
      <h1 class="h1">Add new starters</h1>
      <p class="page-input-info">This should only be for permanent or temporary staff</p>
      <p class="page-description">If you had any new starters in the last 12 months, please add them below.</p>
    </header>

    <app-messages></app-messages>

    <div class="form-group mb-5 mt-5">
      <div class="col-12 p-0">
        <div formArrayName="recordsControl">
          <div class="row column-desc">
            <div class="col-6 col-sm-7">
              Job role
            </div>
            <div class="col-6 col-sm-5">
              Number of new starters
            </div>
          </div>

          <div *ngFor="let record of form.get('recordsControl').controls; let idx = index" [formGroupName]="idx" class="row record">
            <div class="col-6 col-sm-7">
              <select formControlName="jobId" class="form-control">
                <option [ngValue]="null">Select Job Title</option>
                <option *ngFor="let job of jobsLeft(idx)" [value]="job.id">
                  {{job.title}}
                </option>
              </select>
            </div>
            <div class="col-3 col-sm-2">
              <input type="number" formControlName="total" class="form-control"
                [appNumberMax]="999" appNumberPositiveOnly appNumberIntOnly [appNumberDigitsMax]="3" min="0" step="1"
                [ngClass]="{'is-invalid': (record.get('total').touched || record.get('total').dirty) && !record.get('total').valid }" />
            </div>
            <div *ngIf="idx !== 0" class="col-3 center-v no-padding-left">
              <button type="button" class="btn-link" (click)="removeRecord(idx)">Remove</button>
            </div>
          </div>
          <div class="row summary-and-controls mb-5 record">
            <div class="col-6 col-sm-7 center-v">
              <button *ngIf="this.isJobsNotTakenLeft()" type="button" class="btn-link" (click)="addVacancy()">+ Add another new starter</button>
            </div>
            <div class="col-5 summary">
              <span>Total: {{total}}</span>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div *ngFor="let reason of noRecordsReasons; let idx = index" class="row mb-5">
            <div class="col-12">
              <div class="multiple-choice">
                <input type="radio" id="selectReason-{{idx}}" formControlName="noRecordsReason" [value]="reason.value" />
                <label class="main-body-text p-0" for="selectReason-{{idx}}">{{reason.label}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button type="submit" class="btn btn-primary">Save and continue</button>
    </div>
  </form>
</div>
