<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form *ngIf="!qualificationId || (qualificationId && record)" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
        <fieldset class="govuk-fieldset" aria-describedby="qualification-conditional-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              {{ qualificationId ? 'Edit qualification details' : 'Add qualification details' }}
            </h1>
          </legend>

          <span id="qualification-conditional-hint" class="govuk-hint">Select the type of qualification</span>
          <span *ngIf="submitted && form.get('type').invalid" id="type-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('type') }}
          </span>
          <div class="govuk-radios govuk-radios--conditional">
            <ng-container *ngFor="let item of qualificationTypes | keyvalue">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  [formControlName]="'type'"
                  id="type-{{ item.key }}"
                  name="type"
                  type="radio"
                  [value]="item.value"
                />
                <label class="govuk-label govuk-radios__label" for="type-{{ item.key }}">
                  {{ item.value }}
                </label>
              </div>
              <div
                class="govuk-radios__conditional"
                [class.govuk-radios__conditional--hidden]="form.get('type').value !== item.value"
                id="conditional-terms-conditional-{{ item.key }}"
              >
                <app-qualification-form
                  [form]="form"
                  [worker]="worker"
                  [workplace]="workplace"
                  [type]="item"
                  [yearValidators]="yearValidators"
                  [notesMaxLength]="notesMaxLength"
                  [submitted]="submitted"
                  [formErrorsMap]="formErrorsMap"
                  [preselectedQualification]="record?.qualification?.group === item.value ? record.qualification : null"
                ></app-qualification-form>
              </div>
            </ng-container>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button">
      {{ qualificationId ? 'Update qualification' : 'Add qualification' }}
    </button>
    <a
      class="govuk-button govuk-button__link govuk-util__float-right"
      role="button"
      draggable="false"
      [routerLink]="qualificationId ? ['../../'] : ['../']"
      [fragment]="'qualifications-and-training'"
    >
      Cancel
    </a>
  </div>
</form>
