<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>
<div *ngIf="worker" class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-bottom-0">
      <span class="govuk-caption-xl" data-testid="workerNameAndRole">{{ worker.nameOrId }}</span>
    </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ qualificationId ? 'Qualification record details' : 'Add qualification record details' }}
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <a
      class="govuk-button govuk-button--link govuk__flex govuk__align-items-center"
      role="button"
      draggable="false"
      *ngIf="qualificationId"
      data-testid="delete-this-qualification-record"
      (click)="navigateToDeleteQualificationRecord()"
    >
      <img src="/assets/images/bin.svg" alt="" />
      <span class="govuk-!-margin-left-1 govuk__nowrap"> Delete this qualification record </span></a
    >
  </div>
</div>
<form *ngIf="!qualificationId || (qualificationId && record)" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
        <fieldset class="govuk-fieldset" aria-describedby="qualification-conditional-hint" role="group">
          <span id="qualification-conditional-hint" class="govuk-label govuk-!-margin-bottom-3"
            >Select type of qualification</span
          >
          <span *ngIf="submitted && form.get('type').invalid" id="type-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('type') }}
          </span>

          <div class="govuk-radios govuk-radios--conditional">
            <ng-container *ngFor="let item of qualificationTypes | keyvalue">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  [formControlName]="'type'"
                  id="type-{{ item.key }}"
                  name="type"
                  type="radio"
                  [value]="item.value"
                />
                <label class="govuk-label govuk-radios__label" for="type-{{ item.value }}">
                  {{ item.value }}
                </label>
              </div>
              <div
                class="govuk-radios__conditional govuk-!-margin-bottom-2"
                [class.govuk-radios__conditional--hidden]="form.get('type').value !== item.value"
                id="conditional-terms-conditional-{{ item.key }}"
              >
                <app-qualification-form
                  [form]="form"
                  [worker]="worker"
                  [workplace]="workplace"
                  [type]="item"
                  [notesMaxLength]="notesMaxLength"
                  [submitted]="submitted"
                  [formErrorsMap]="formErrorsMap"
                  [preselectedQualification]="record?.qualification?.group === item.value ? record.qualification : null"
                ></app-qualification-form>
              </div>
            </ng-container>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-button-group govuk-!-margin-top-4">
      <button type="submit" class="govuk-button govuk-!-margin-right-5">Save record</button>
      <a
        class="govuk-button govuk-button--link govuk-!-margin-left-9"
        role="button"
        draggable="false"
        (click)="navigateToPreviousPage()"
      >
        Cancel
      </a>
    </div>
  </div>
</form>
