<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <app-panel [title]="'&#10003; Success'">
      The staff record has<br />
      been saved
    </app-panel>
    <h2 class="govuk-heading-m">What you can do next?</h2>
    <p>You can add more staff records, or go to home.</p>
    <div class="govuk-button-group">
      <a class="govuk-button" role="button" draggable="false" [routerLink]="['../../create-staff-record']">
        Add another staff record
      </a>
      <a
        class="govuk-button govuk-button--link govuk-!-margin-left-8"
        role="button"
        draggable="false"
        [routerLink]="return.url"
        [fragment]="'home'"
      >
        Go to {{ return.label }}
      </a>
    </div>
  </div>
</div>
