<div class="sub-page-container col-8">
  <app-panel title="&#10003; Success">
    The staff record has<br />
    been saved
  </app-panel>
  <h4 class="h4">What you can do next?</h4>
  <p>You can add more staff records, or return to your homepage</p>
  <div class="btn-container container">
    <div class="row">
      <a routerLink="/worker/create-staff-record" role="button" class="btn btn-primary">
        Add another staff record
      </a>
      <a routerLink="/dashboard" fragment="staff-records" role="button" class="text-link ml-4">
        Return to dashboard
      </a>
    </div>
  </div>
</div>
