<div class="asc-wdf-status-box">
  @if (overallWdfEligibility && !worker.wdf?.isEligible) {
  <p class="asc-wdf-status-box__content">
    <img
      class="govuk-!-margin-right-2 govuk-util__vertical-align-top"
      src="/assets/images/large-orange-flag.svg"
      alt=""
    />
    <span class="govuk-visually-hidden">Orange warning flag</span>Update this staff record to save yourself time next
    year
  </p>
  } @if (worker.wdf?.isEligible) {
  <p class="asc-wdf-status-box__content">
    <img
      class="govuk-!-margin-right-2 govuk-util__vertical-align-top"
      src="/assets/images/large-green-tick.svg"
      alt=""
    />
    <span class="govuk-visually-hidden">Green tick</span>
    This staff record meets the funding requirements for {{ wdfStartDate | date: 'yyyy' }} to
    {{ wdfEndDate | date: 'yyyy' }}
  </p>
  } @if (!overallWdfEligibility && !worker.wdf?.isEligible) {
  <p class="asc-wdf-status-box__content">
    <img
      class="govuk-!-margin-right-2 govuk-util__vertical-align-center"
      src="/assets/images/large-red-flag.svg"
      alt=""
    />
    <span class="govuk-visually-hidden">Red flag</span>
    This staff record does not meet the funding requirements for
    {{ wdfStartDate | date: 'yyyy' }} to {{ wdfEndDate | date: 'yyyy' }}
  </p>
  }
</div>
