<!-- <app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary> -->

<form  (ngSubmit)="onSubmit()"   [formGroup]="form" #formEl>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <fieldset class="govuk-fieldset">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-8">
              <span  *ngIf="worker" class="govuk-caption-l" data-testid="workerName">{{ worker.nameOrId }}</span>
              <h1 class="govuk-fieldset__heading">
                Training record details
              </h1>
            </legend>

         <dl class="govuk-summary-list govuk-summary-list--top-border govuk-summary-list--wide-key govuk-summary-list--wide " style="width: 150%">
        <div class="govuk-summary-list__row" >
          <dt class="govuk-summary-list__key">Training course name</dt>
          <dd class="govuk-summary-list__value">
                     Basic safeguarding for support staff
            <a
              class="govuk-button  govuk-!-padding-left-0 govuk-button--link govuk__flex  govuk-link--no-visited-state"
              draggable="false"
              data-testid="includeTraining"
            >
              <img src="/assets/images/Addtraining.svg" alt="" />
              <span class="govuk__nowrap">Select a different training course </span>
              </a>
          </dd>
        </div>
          <div class="govuk-summary-list__row" >
          <dt class="govuk-summary-list__key">Training category</dt>
          <dd class="govuk-summary-list__value">

                      {{trainingRecord?.trainingCategory?.category}}

          </dd>
        </div>
          <div class="govuk-summary-list__row" >
          <dt class="govuk-summary-list__key govuk__nowrap">Is the training course accredited?</dt>
          <dd class="govuk-summary-list__value">

                      {{trainingRecord?.accredited}}

          </dd>
        </div>
               <div class="govuk-summary-list__row" >
          <dt class="govuk-summary-list__key govuk__nowrap">Who delivers the training course?</dt>
          <dd class="govuk-summary-list__value">

                      {{trainingRecord?.deliveredBy}}

          </dd>
        </div>
               <div class="govuk-summary-list__row" >
          <dt class="govuk-summary-list__key">Training provider name</dt>
          <dd class="govuk-summary-list__value">
                      {{trainingRecord?.externalProviderName ?trainingRecord?.externalProviderName : '-' }}
          </dd>
        </div>
               <div class="govuk-summary-list__row" >
          <dt class="govuk-summary-list__key govuk__nowrap">How is this training course delivered?</dt>
          <dd class="govuk-summary-list__value">
                      {{trainingRecord?.howWasItDelivered}}
          </dd>
        </div>
                <div class="govuk-summary-list__row" >
          <dt class="govuk-summary-list__key govuk__nowrap">How long is the training valid for?</dt>
          <dd class="govuk-summary-list__value">

                      {{trainingRecord?.validityPeriodInMonth}}

          </dd>
        </div>

      </dl>

          <div class="govuk-form-group govuk-!-margin-bottom-4">
            <div class="govuk-grid-row ">
            <div class="govuk-grid-column-one-half">
                 <div
              data-testid="completedDate"
              class=" govuk-form-group"

            >
              <fieldset class="govuk-fieldset" aria-describedby="completed-hint" role="group">
                <legend class="govuk-fieldset__legend">Training completion date</legend>
                <legend id="completed-hint" class="govuk-hint govuk-!-margin-bottom-3"> For example, 31 3 2024 </legend>
                 <span
                  *ngIf="submitted && form.get('completed').invalid"
                  id="completed-error"
                  class="govuk-error-message"
                >
                  <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('completed') }}
                </span>
               <app-date-picker
                  [formGroup]="form"
                  [formGroupName]="'completed'"
                  [submitted]="submitted"
                ></app-date-picker>
              </fieldset>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
          <div
              data-testid="expiresDate"
              class="govuk-form-group"
            >
              <fieldset class="govuk-fieldset" aria-describedby="expires-hint" role="group">
                <legend class="govuk-fieldset__legend">Training expiry date</legend>
                <legend id="expires-hint" class="govuk-hint  govuk-!-margin-bottom-3"> For example, 31 3 2025 </legend>
              <span *ngIf="submitted && form.get('expires').invalid" id="expires-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('expires') }}
                </span>
               <app-date-picker
                  [formGroup]="form"
                  [formGroupName]="'expires'"
                  [submitted]="submitted"
                ></app-date-picker>
              </fieldset>
            </div>
              </div>
             </div>
             </div>
         <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6" style="width: 150%"/>
         </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
            <a
              class="govuk-button govuk-button--link govuk-!-margin-bottom-0 govuk__flex govuk__align-items-center"

              data-testid="deleteButton"
            >
              <img src="/assets/images/bin.svg" alt="" />
              <span class="govuk-!-margin-left-1"> Delete this training record </span></a
            >
          </div>
        </div>
        <div *ngIf="!multipleTrainingDetails" class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <app-select-upload-certificate [filesToUpload]="filesToUpload" (selectFiles)="onSelectFiles($event)" [certificateErrors]="certificateErrors" />
             <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4 "/>
            <app-certifications-table
              *ngIf="trainingCertificates?.length > 0 || filesToUpload?.length > 0"
              data-testid="trainingCertificatesTable"
              [certificates]="trainingCertificates"
              [filesToUpload]="filesToUpload"
              (removeFileToUpload)="removeFileToUpload($event)"
              (removeSavedFile)="removeSavedFile($event)"
              (downloadCertificate)="downloadCertificates($event)"
            ></app-certifications-table>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-4">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-character-count govuk-!-margin-bottom-4">
              <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('notes').invalid">
                <label class="govuk-label govuk-!-font-weight-bold" for="notes"> Add a note </label>
                <span *ngIf="submitted && form.get('notes').invalid" id="notes-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('notes') }}
                </span>
                <button
                  type="button"
                  (click)="toggleNotesOpen()"
                  class="govuk-accordion__show-all govuk-!-margin-bottom-0"
                  [attr.aria-expanded]="notesOpen"
                >
                  <span
                    class="govuk-accordion-nav__chevron"
                    [class]="{
                      'govuk-accordion-nav__chevron--up': notesOpen,
                      'govuk-accordion-nav__chevron--down': !notesOpen
                    }"
                  ></span>
                  <span class="govuk-accordion__show-all-text">{{ !notesOpen ? 'Open notes' : 'Close notes' }}</span>
                </button>
                <div data-testid="notesSection"  class="govuk-!-margin-top-3 govuk-!-padding-bottom-1" [ngClass]="{ 'govuk-visually-hidden': !notesOpen }">
                  <textarea
                    class="govuk-textarea"
                    [class.govuk-textarea--error]="submitted && form.get('notes').invalid"
                    [formControlName]="'notes'"
                    id="notes"
                    name="notes"
                    rows="5"
                    [value]="notesValue"
                    (input)="handleOnInput($event)"
                  ></textarea>
                  <span
                    class="govuk-character-count__message govuk-hint"
                    [ngClass]="{
                      'govuk-hint': remainingCharacterCount >= 0,
                      'govuk-error-message': remainingCharacterCount < 0
                    }"
                    aria-live="polite"
                  >
                    <noscript> You can enter up to {{ notesMaxLength }} characters </noscript>
                    <ng-container>
                      You have {{ remainingCharacterCount | absoluteNumber | number }}
                      {{
                        remainingCharacterCount
                          | absoluteNumber
                          | i18nPlural
                            : {
                                '=1': 'character',
                                other: 'characters'
                              }
                      }}

                      {{ remainingCharacterCount >= 0 ? 'remaining' : 'too many' }}
                    </ng-container>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button govuk-!-margin-right-9">
         Save and return
        </button>

        <a
          class="govuk-button govuk-button--link govuk-!-margin-left-9"
          role="button"
          draggable="false"
          (click)="onCancel($event)"
        >
          Cancel
        </a>
      </div>
    </div>
  </div>
</form>
