<app-error-summary
  *ngIf="(submitted && form.invalid) || serverError"
  [form]="form"
  [formErrorsMap]="formErrorsMap"
  [serverError]="serverError"
></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Who are your service users?</h1>
    <p>Select all that apply.</p>
  </div>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-form-group" *ngFor="let group of serviceGroups">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          {{ group.group }}
        </h2>
      </legend>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item" *ngFor="let service of group.services">
          <input
            class="govuk-checkboxes__input"
            id="serviceUsers-{{ service.id }}"
            name="serviceUsers"
            type="checkbox"
            [value]="service.id"
            [checked]="service.isMyService"
            (change)="toggle($event.target)"
          />
          <label class="govuk-label govuk-checkboxes__label" for="serviceUsers-{{ service.id }}">
            {{ service.service }}
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button">Save and continue</button>
  </div>
</form>
