<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section 4 of 7</p>
  <h1 class="h1">Your details</h1>

  <form (ngSubmit)="onSubmit()" #userDetailsModule="ngForm">

    <div class="form-group mb-5">
      <div class="col-12 col-md-6 p-0">

        <div class="field-group">
          <label class="form-label" for="user-fullname">Your full name</label>
          <input name="user-fullname" placeholder="Enter full name" type="text" id="user-fullname" class="form-control col-12" />
        </div>
        <div class="field-group mt-5">
          <label class="form-label" for="user-title">Your job title</label>
          <input name="user-title" placeholder="Enter job title" type="text" id="user-title" class="form-control col-12" />
        </div>
        <div class="field-group mt-5">
          <label class="form-label" for="user-email">Your email address</label>
          <input name="user-email" placeholder="Enter email address" type="text" id="user-email" class="form-control col-12" />
        </div>
        <div class="field-group mt-5">
          <label class="form-label" for="user-phone">Contact phone number</label>
          <input name="user-phone" placeholder="Enter contact phone number" type="text" id="user-phone" class="form-control col-7" />
        </div>
      </div>

    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit" routerLink="/create-username">Continue</button>
    </div>

  </form>


</div>
