<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/confirm-workplace-details">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section 4 of 7</p>
  <h1 class="h1">Your details</h1>

  <form novalidate
        (ngSubmit)="save()"
        [formGroup]="userDetailsForm">

    <div class="form-group mb-5">
      <div class="col-12 col-md-6 p-0">

        <div class="field-group"
             [ngClass]="{'is-invalid': (userDetailsForm.get('userFullnameInput').touched ||
                                                userDetailsForm.get('userFullnameInput').dirty) &&
                                                !userDetailsForm.get('userFullnameInput').valid }">
          <label class="form-label" for="userFullname">Your full name</label>

          <span class="invalid-feedback">
            <span *ngIf="userDetailsForm.get('userFullnameInput').errors?.maxlength" class="main-body-text mb-2">
              The Full name must be no longer than 120 characters.
            </span>
            <span *ngIf="userDetailsForm.get('userFullnameInput').errors?.required" class="main-body-text mb-2">
              Please enter your Full name.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="userFullname" class="form-control col-12" formControlName="userFullnameInput" />

          </div>

        </div>
        <div class="field-group mt-5"
             [ngClass]="{'is-invalid': (userDetailsForm.get('userJobTitleInput').touched ||
                                                userDetailsForm.get('userJobTitleInput').dirty) &&
                                                !userDetailsForm.get('userJobTitleInput').valid }">
          <label class="form-label" for="userJobTitle">Your job title</label>

          <span class="invalid-feedback">
            <span *ngIf="userDetailsForm.get('userJobTitleInput').errors?.maxlength" class="main-body-text mb-2">
              The job title must be no longer than 120 characters.
            </span>
            <span *ngIf="userDetailsForm.get('userJobTitleInput').errors?.required" class="main-body-text mb-2">
              Please enter your Job title.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="userJobTitle" class="form-control col-12" formControlName="userJobTitleInput" />

          </div>
        </div>
        <div class="field-group mt-5"
             [ngClass]="{'is-invalid': (userDetailsForm.get('userEmailInput').touched ||
                                                userDetailsForm.get('userEmailInput').dirty) &&
                                                !userDetailsForm.get('userEmailInput').valid }">
          <label class="form-label" for="userEmail">Your email address</label>

          <span class="invalid-feedback">
            <span *ngIf="userDetailsForm.get('userEmailInput').errors?.maxlength" class="main-body-text mb-2">
              The job title must be no longer than 120 characters.
            </span>
            <span *ngIf="userDetailsForm.get('userEmailInput').errors?.required" class="main-body-text mb-2">
              Please enter your Email address.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="userEmail" class="form-control col-12" formControlName="userEmailInput" />

          </div>
        </div>
        <div class="field-group mt-5"
             [ngClass]="{'is-invalid': (userDetailsForm.get('userPhoneInput').touched ||
                                                userDetailsForm.get('userPhoneInput').dirty) &&
                                                !userDetailsForm.get('userPhoneInput').valid }">
          <label class="form-label" for="userPhone">Contact phone number</label>

          <span class="invalid-feedback">
            <span *ngIf="userDetailsForm.get('userPhoneInput').errors?.maxlength" class="main-body-text mb-2">
              The job title must be no longer than 120 characters.
            </span>
            <span *ngIf="userDetailsForm.get('userPhoneInput').errors?.required" class="main-body-text mb-2">
              Please enter your Contact phone number.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="userPhone" class="form-control col-12" formControlName="userPhoneInput" />

          </div>
        </div>
      </div>

    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>

  </form>


</div>
