<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/confirm-workplace-details">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section 4 of 7</p>
  <h1 class="h1">Your details</h1>

  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="userDetailsForm">

    <div class="form-group mb-5">
      <div class="col-12 col-md-6 p-0">

        <div class="field-group"
          [ngClass]="{'is-invalid': fullnameMessage || (submittedfullname && getUserFullnameInput.errors) }">

          <label class="form-label" for="userFullname">Your full name</label>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2"*ngIf="!submittedfullname">{{ fullnameMessage }}</span>
            <span class="main-body-text mb-2" *ngIf="submittedfullname && getUserFullnameInput.hasError('required')">
              Please enter your fullname.
            </span>
            <span class="main-body-text mb-2" *ngIf="submittedfullname && getUserFullnameInput.hasError('maxlength')">
              Your fullname must be no longer than 120 characters.
            </span>
          </span>
          <!-- <span class="invalid-feedback" *ngIf="submitted && f.userFullnameInput.errors">
              <span class="main-body-text mb-2" *ngIf="f.userFullnameInput.errors.required">
                Please enter your fullname.
              </span>
              <span class="main-body-text mb-2" *ngIf="f.userFullnameInput.errors.maxlength">
                Your fullname must be no longer than 120 characters.
              </span>
            </span> -->

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="userFullname" class="form-control col-12" formControlName="userFullnameInput" />

          </div>

        </div>
        <div class="field-group mt-5"
          [ngClass]="{'is-invalid': jobTitleMessage || (submittedJobTitle && getUserJobTitle.errors) }">

          <label class="form-label" for="userJobTitle">Your job title</label>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2" *ngIf="!submittedJobTitle">{{ jobTitleMessage }}</span>
            <span class="main-body-text mb-2" *ngIf="submittedJobTitle && getUserJobTitle.hasError('required')">
              Please enter your job title.
            </span>
            <span class="main-body-text mb-2" *ngIf="submittedJobTitle && getUserJobTitle.hasError('maxlength')">
              Your job title must be no longer than 120 characters.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="text" id="userJobTitle" class="form-control col-12" formControlName="userJobTitleInput" />

          </div>
        </div>
        <div class="field-group mt-5"
          [ngClass]="{'is-invalid': emailMessage || (submittedEmail && getUserEmailInput.errors) }">

          <label class="form-label" for="userEmail">Your email address</label>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2" *ngIf="!submittedEmail">{{ emailMessage }}</span>
            <span class="main-body-text mb-2" *ngIf="submittedEmail && getUserEmailInput.hasError('required')">
              Please enter your email address.
            </span>
            <span class="main-body-text mb-2" *ngIf="submittedEmail && getUserEmailInput.hasError('maxlength')">
              Your email address must be no longer than 120 characters.
            </span>
            <span class="main-body-text mb-2" *ngIf="submittedEmail && getUserEmailInput.hasError('email')">
              Please enter a valid email address.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="email" id="userEmail" class="form-control col-12" formControlName="userEmailInput" />

          </div>
        </div>
        <div class="field-group mt-5"
          [ngClass]="{'is-invalid': phoneMessage || (submittedPhone && getUserPhoneInput.errors) }">

          <label class="form-label" for="userPhone">Contact phone number</label>

          <span class="invalid-feedback">
            <span class="main-body-text mb-2" *ngIf="!submittedPhone">{{ phoneMessage }}</span>
            <span class="main-body-text mb-2" *ngIf="submittedPhone && getUserPhoneInput.hasError('required')">
              Please enter your contact phone number.
            </span>
            <span class="main-body-text mb-2" *ngIf="submittedPhone && getUserPhoneInput.hasError('pattern')">
              Invalid contact phone number.
            </span>
          </span>

          <div class="form-control-feedback">

            <input placeholder="" type="tel" id="userPhone" class="form-control col-12" formControlName="userPhoneInput" />

          </div>
        </div>
      </div>

    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>

  </form>


</div>
