<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Select your workplace</h1>

    <app-messages></app-messages>

    <div>
      form.invalid = {{ form.invalid }}
    </div>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && (form.invalid || serverError)">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Select your workplace from the following:
            </h2>
          </legend>
          <span *ngIf="submitted && form.invalid" id="workplace-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ getFormErrorMessage('workplace', 'required') }}
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item" *ngFor="let item of registration.locationdata; let i = index">
              <input
                class="govuk-radios__input"
                id="workplace-{{ i }}"
                value="{{ i }}"
                name="workplace"
                type="radio"
                value="yes"
                formControlName="workplace" />
              <label class="govuk-label govuk-radios__label" for="workplace-{{ i }}">
                {{ item.locationName }} - {{ item.townCity }} {{ item.postalCode }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-12  mt-4 mb-5 p-0">
        <a class="text-link" (click)="workplaceNotFound()" title="My workplace isn’t displayed"
        >My workplace isn’t displayed</a
        >
      </div>

      <button class="govuk-button govuk-!-margin-top-2" type="submit">Continue</button>
    </form>

  </div>
</div>

<!--            <span *ngIf="!form.valid" class="main-body-text mb-2">-->
<!--              Please select an address-->
<!--            </span>-->

<!--          <div class="row mb-4" *ngFor="let item of registration.locationdata; let i = index">-->
<!--            <div class="col-12">-->
<!--              <div class="multiple-choice">-->
<!--                <input-->
<!--                  type="radio"-->
<!--                  id="selectWorkplace-{{ i }}"-->
<!--                  formControlName="workplace"-->
<!--                  value="{{ i }}"-->
<!--                />-->
<!--                <label class="main-body-text p-0" for="selectWorkplace-{{ i }}"-->
<!--                  >{{ item.locationName }} - {{ item.townCity }} {{ item.postalCode }}</label-->
<!--                >-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12  mt-4 mb-5 p-0">-->
<!--      <a class="text-link" (click)="workplaceNotFound()" title="My workplace isn’t displayed"-->
<!--        >My workplace isn’t displayed</a-->
<!--      >-->
<!--    </div>-->

<!--    <div class="btn-container">-->
<!--      <button class="btn btn-primary" type="submit">Continue</button>-->
<!--    </div>-->
<!--  </form>-->
<!--  </div>-->
<!--</div>-->
