<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a (click)="clickBack()">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section {{ currentSection }} of {{ lastSection }}</p>
  <h1 class="h1">Select your workplace</h1>

  <form novalidate
        (ngSubmit)="onSubmit()"
        [formGroup]="selectWorkplaceForm">

    <app-messages></app-messages>

    <div class="form-group mb-5">
      <div class="col-12 p-0">
        <label class="main-body-text-bold mb-3 d-block">Select your workplace from the following:</label>

        <div [ngClass]="{'is-invalid panel col-10': this.isSubmitted && !selectWorkplaceForm.valid }">

          <span class="invalid-feedback">
            <span *ngIf="!selectWorkplaceForm.valid" class="main-body-text mb-2">
              Please select an address
            </span>
          </span>

          <div class="row mb-4" *ngFor="let item of registration.locationdata; let i = index">
            <div class="col-12">
              <div class="multiple-choice">
                <input type="radio" id="selectWorkplace-{{i}}" formControlName="selectWorkplaceSelected" value="{{i}}" />
                <label class="main-body-text p-0" for="selectWorkplace-{{i}}">{{ item.locationName }} - {{ item.townCity }} {{ item.postalCode }}</label>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


    <div class="col-12  mt-4 mb-5 p-0">
      <a class="text-link" (click)="workplaceNotFound()" title="My workplace isn’t displayed">My workplace isn’t displayed</a>
    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>

  </form>


</div>
