<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Monitor returns</h2>
  </div>
  <div class="govuk-grid-column-one-third govuk-util__align-right">
    <p>
      <a role="button" draggable="false" href="openAll" (click)="toggleAll($event)"> Open all </a>
    </p>
  </div>
</div>
<div class="govuk-accordion" data-module="govuk-accordion">
  <div class="govuk-accordion__section" *ngFor="let area of areas; let i = index">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" [id]="'accordion-default-heading-' + i">
          {{ area.letter }} - {{ area.name }}
        </span>
      </h2>
      <span class="govuk-accordion__icon" aria-hidden="true"></span>
    </div>
    <div
      id="accordion-default-content-1"
      [id]="'accordion-default-content-' + i"
      class="govuk-accordion__section-content"
      [aria-labelledby]="'accordion-default-heading-' + i"
    ></div>
  </div>
</div>

<button class="govuk-button govuk-button--warning">Reset returns data</button>
