<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l govuk-!-margin-bottom-2">{{ workplaceName }}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">The ASC-WDS Benefits Bundle</h1>
    <app-details [title]="revealTitle">
      <p>
        The ASC-WDS Benefits Bundle is our way of saying thank you for using the Adult Social Care Workforce Data Set
        (ASC-WDS). The Bundle give you exclusive discounts and special offers across a range of Skills for Care's
        products and services.
      </p>
    </app-details>
    <h3 class="govuk-heading-s govuk-!-margin-top-3">How to use the Benefits Bundle</h3>
    <p>
      Take a look at all the discounts and services that are available on this page then choose any that you fancy.
      Codes must be applied before you make a purchase though, as discounts cannot be given afterwards.
    </p>
    <p>Be sure to check back often, as more offers will be added in the future.</p>
    <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-0">Benefits Bundle discounts and services</h3>

    <div class="govuk-accordion" data-module="govuk-accordion">
      <div class="govuk-accordion__controls">
        <button type="button" (click)="toggleAll($event)" class="govuk-accordion__show-all" aria-expanded="false">
          <span
            class="govuk-accordion-nav__chevron"
            [class]="{ 'govuk-accordion-nav__chevron--up': allOpen, 'govuk-accordion-nav__chevron--down': !allOpen }"
          ></span>
          <span class="govuk-accordion__show-all-text">{{ !allOpen ? 'Show all' : 'Hide all' }}</span>
        </button>
      </div>

      <app-benefit-accordion [benefit]="benefits[4]" [index]="4" (toggleEmitter)="toggleAccordion(4)">
        <p>
          <a
            href="https://www.skillsforcare.org.uk/Recruitment-support/Retaining-your-workforce/Top-tips-for-adult-social-care-workforce-retention/Top-tips-for-adult-social-care-workforce-retention.aspx"
            target="_blank"
            >Top tips for adult social care workforce retention</a
          >
        </p>
        <p>
          When you have good people working for your organisation, you want to keep and develop them. Having staff who
          like their jobs and who do them well will reflect in the quality of care that they provide. This online guide
          of useful resources and case studies provides lots of suggestions on how to keep your staff.
        </p>

        <p>
          <a
            href="https://www.skillsforcare.org.uk/resources/documents/Support-for-leaders-and-managers/Supporting-a-diverse-workforce/LGBTQ-framework/LGBTQ-learning-framework.pdf"
            target="_blank"
            >(LGBTQ+) Care in Later Life</a
          >
        </p>
        <p>
          This learning framework sets out the knowledge, skills and values needed for working affirmatively with LGBTQ+
          people in later life.
        </p>

        <p>
          <a
            href="https://www.skillsforcare.org.uk/resources/documents/Support-for-leaders-and-managers/Developing-leaders-and-managers/Supporting-the-development-of-leadership-skills/Supporting-the-development-of-leadership-skills-guide.pdf"
            target="_blank"
            >Supporting the development of leadership skills</a
          >
        </p>
        <p>
          This guide outlines Skills for Care’s leadership offerings. They include learning programmes and
          qualifications, practical support for making connections through networking and relationship building.
        </p>

        <p>
          <a
            href="https://www.skillsforcare.org.uk/resources/documents/Support-for-leaders-and-managers/good-and-outstanding-care/Recommendations-for-CQC-providers.pdf"
            target="_blank"
            >Recommendations for CQC providers</a
          >
        </p>
        <p>
          Skills for Care's recommendations offer practical support to help you deliver 'good' and 'outstanding' care.
        </p>

        <p>
          <a
            href="https://www.skillsforcare.org.uk/Support-for-leaders-and-managers/Managing-a-service/Positive-workplace-culture/A-positive-culture-toolkit-for-adult-social-care.aspx"
            target="_blank"
            >A positive culture toolkit for adult social care</a
          >
        </p>
        <p>
          Having a positive, inclusive workplace culture enables employers to both attract and keep a diverse workforce
          of great staff. This toolkit will support you at different stages of your workplace culture journey to make
          sure your workplace is inclusive, compassionate and collaborative.
        </p>
      </app-benefit-accordion>

      <app-benefit-accordion [benefit]="benefits[0]" [index]="0" (toggleEmitter)="toggleAccordion(0)">
        <p>
          We've negotiated some great discounts from endorsed providers who offer high quality learning and development
          to the social care sector.
        </p>
        <p>
          <a [routerLink]="['training-discounts']">View discounts from Skills for Care's endorsed training providers</a>
        </p>
      </app-benefit-accordion>

      <app-benefit-accordion [benefit]="benefits[1]" [index]="1" (toggleEmitter)="toggleAccordion(1)">
        <p>
          Skills for Care offer low cost eLearning on a variety of topics. Your ASC-WDS account entitles you to 10% off
          the purchase price of the modules.
        </p>

        <p>
          <a [routerLink]="['elearning-discounts']">Read more about the eLearning modules on offer</a>
        </p>
      </app-benefit-accordion>

      <app-benefit-accordion [benefit]="benefits[2]" [index]="2" (toggleEmitter)="toggleAccordion(2)">
        <p>
          <a href="https://bookshop.skillsforcare.org.uk/Shop" target="_blank">Visit the Skills for Care bookshop</a>
          and use voucher code <strong>ASCWDS-2526</strong> to claim your discount.
        </p>
      </app-benefit-accordion>

      <app-benefit-accordion [benefit]="benefits[3]" [index]="3" (toggleEmitter)="toggleAccordion(3)">
        <p>
          These seminars from Skills for Care offer learning on a range of topics. They can be tailored to your needs
          and delivered directly to your organisation. Claim 10% off with your ASC-WDS workplace ID.
        </p>
        <p>
          <a [routerLink]="['tailored-seminars']">Read more about these tailored seminars</a>
        </p>
      </app-benefit-accordion>
    </div>
  </div>
</div>
