<ng-container *ngIf="articleList?.length > 0">
  <h3 class="govuk-heading-s govuk-!-margin-top-1">ASC-WDS news</h3>
  <hr class="govuk-section-break--m govuk-section-break--visible" />
  <ul class="govuk-list govuk-!-margin-bottom-6">
    <li
      class="govuk-!-margin-bottom-3"
      [ngClass]="{ 'govuk-!-font-weight-bold': article.slug === currentArticleSlug }"
      *ngFor="let article of articleList"
    >

    <app-link-with-arrow>
      <a [routerLink]="['/articles', article.slug]">{{ article.title }}</a>
    </app-link-with-arrow>

    <hr class="govuk-section-break--m govuk-section-break--visible" />

    </li>
  </ul>
</ng-container>
