<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" data-testid="heading">
    <h1 class="govuk-heading-l">
      Add and manage mandatory<br />
      training categories
    </h1>
  </div>

  <div
    class="govuk-grid-column-one-half govuk-!-margin-top-2 govuk-!-margin-bottom-6"
    data-testid="mandatoryTrainingInfo"
  >
    <p>
      Add the training categories you want to make mandatory for your staff. It will help you identify<br />
      who is missing training and let you know when<br />
      training expires.
    </p>
  </div>
  <div
    class="govuk-grid-column-one-half govuk-!-margin-bottom-2 govuk-util__align-right"
    data-testid="mandatoryTrainingButton"
  >
    <button class="govuk-button">Add a mandatory training category</button>
  </div>
  <div
    class="govuk-grid-column-one-half govuk-!-margin-bottom-6 govuk-util__align-right govuk-list govuk-list--inline"
    *ngIf="existingMandatoryTrainings.mandatoryTrainingCount > 0"
  >
    <a data-testid="removeMandatoryTrainingLink" href="#">Remove all mandatory training categories</a>
  </div>
</div>
<table
  class="govuk-table"
  data-testid="training-worker-table"
  *ngIf="existingMandatoryTrainings.mandatoryTrainingCount > 0"
>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Mandatory training categories</th>
      <th class="govuk-table__header" scope="col">Job roles</th>
    </tr>
  </thead>
  <ng-container>
    <tbody class="govuk-table__body" *ngFor="let records of existingMandatoryTrainings.mandatoryTraining">
      <tr class="govuk-table__row govuk-util__vertical-align-top">
        <td class="govuk-table__cell" [attr.data-testid]="'category-' + records.category">
          <a href="#">
            {{ records.category }}
          </a>
        </td>

        <td class="govuk-table__cell">
          <ng-container *ngIf="records.jobs.length > 28">
            <span data-testid="titleAll">{{ 'All' }}</span>
          </ng-container>
          <ng-container *ngIf="records.jobs.length < 29">
            <div data-testid="titleJob" *ngFor="let job of records.jobs">{{ job.title }}</div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </ng-container>
</table>
