<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What's new in ASC-WDS?</h1>
    <p class="govuk-!-padding-top-2">
      <span class="govuk-!-font-weight-bold">We've added NEW functionality</span> that lets you reuse training courses details in the training records you add.
    </p>
    <p class="govuk-!-padding-top-2">
      You'll only enter the details of a course once, so this should save you time and make your training records more accurate.
    </p>

    <p class="govuk-body">To add the details of a training course:</p>
    <ul class="govuk-list govuk-list--number">
      <li>Go to <a [routerLink]="['/dashboard']" [fragment]="'training-and-qualifications'" href="#" class="govuk-link">training and qualifications</a>.</li>
      <li>Click 'Add and manage training' button.</li>
      <li>Select the 'Add training courses' option.</li>
      <li>Click the 'Add a training course' button and add the details.</li>
    </ul>

    <p class="govuk-!-padding-top-2">
      You'll then be able to include the details of the training course in any training record that you add or update in the future.
    </p>

    <a [routerLink]="['/dashboard']" class="govuk-button govuk-!-margin-top-6">Close this page</a>
  </div>
</div>
