<ng-container *ngIf="qualifications?.length">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Qualifications ({{ qualifications.length }})</h2>
    </div>
    <div class="govuk-grid-column-one-half govuk-util__float-right govuk-util__align-right">
      <p>Updated {{ lastUpdated | date: 'd MMMM y' }}</p>
    </div>
  </div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Qualification type</th>
        <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
        <th class="govuk-table__header" scope="col">Year achieved</th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <ng-container *ngFor="let qualification of qualifications">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-weight-regular">
            {{ qualification.qualification.group }}
          </td>
          <td class="govuk-table__cell">
            {{ qualification.qualification.title }}
          </td>

          <td class="govuk-table__cell">
            {{ qualification?.year ? qualification.year : '-' }}
          </td>
          <td class="govuk-table__cell govuk-!-font-weight-regular">
            <a
              *ngIf="canEditWorker"
              class="govuk-link--no-visited-state"
              href="#"
              (click)="toggleDetails(qualification.uid, $event)"
              >{{
                qualificationDetailsLabel[qualification.uid] ? qualificationDetailsLabel[qualification.uid] : 'Open'
              }}</a
            >
          </td>
        </tr>
        <tr *ngIf="qualificationDetails[qualification.uid]" class="govuk-panel--gray ">
          <td colspan="4">
            <div class="govuk-grid-row govuk-!-margin-2">
              <div class="govuk-grid-column-two-thirds">
                <strong> Qualification notes</strong>
                <div>
                  {{ qualification?.notes ? qualification.notes : '-' }}
                </div>
              </div>
              <div class="govuk-grid-column-one-quarter-list__actions govuk-util__float-right">
                <a
                  *ngIf="canEditWorker"
                  class="govuk-link--no-visited-state govuk-!-margin-right-6"
                  href="#"
                  (click)="deleteQualification(qualification, $event)"
                  >Delete</a
                >
                <a
                  *ngIf="canEditWorker"
                  class="govuk-link--no-visited-state"
                  [routerLink]="['../qualification', qualification.uid]"
                  (click)="getRoute()"
                  >Change</a
                >
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
