<ng-container *ngIf="qualifications?.length">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Qualifications({{ qualifications.length }})</h2>
      <p>Last updated on {{ lastUpdated | date: 'd MMMM y' }}</p>
    </div>
  </div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Qualification type</th>
        <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
        <th class="govuk-table__header" scope="col">Year achieved</th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" *ngFor="let qualification of qualifications">
        <td class="govuk-table__cell govuk-!-font-weight-regular">
          {{ qualification.qualification.group }}
        </td>
        <td class="govuk-table__cell">
          {{ qualification.qualification.title }}
        </td>

        <td class="govuk-table__cell">
          {{ qualification?.year ? qualification.year : '-' }}
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-regular">
          <a
            *ngIf="canEditWorker"
            class="govuk-link--no-visited-state"
            href="#"
            (click)="deleteQualification(qualification, $event)"
            >Open</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
