<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('days').invalid">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you know how many days sickness they have taken in the last 12 months?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                [formControlName]="'daysKnown'"
                id="daysKnown-conditional-1"
                name="daysKnown"
                type="radio"
                value="Yes"
                aria-controls="conditional-daysKnown-conditional-1"
              />
              <label class="govuk-label govuk-radios__label" for="daysKnown-conditional-1">
                Yes
              </label>
            </div>
            <div
              class="govuk-radios__conditional govuk-input--width-20"
              [class.govuk-radios__conditional--hidden]="form.get('daysKnown').value !== 'Yes'"
              id="conditional-daysKnown-conditional-1"
            >
              <div class="govuk-form-group">
                <label class="govuk-label" for="days">
                  Number of days
                </label>
                <span *ngIf="submitted && form.get('days').errors" id="days-error" class="govuk-error-message">
                  <ng-container *ngIf="form.get('days').hasError('required')">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ getFormErrorMessage('days', 'required') }}
                  </ng-container>
                  <ng-container *ngIf="form.get('days').hasError('min')">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ getFormErrorMessage('days', 'min') }}
                  </ng-container>
                  <ng-container *ngIf="form.get('days').hasError('max')">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ getFormErrorMessage('days', 'max') }}
                  </ng-container>
                </span>
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-4"
                  [class.govuk-input--error]="submitted && form.get('days').invalid"
                  [formControlName]="'days'"
                  id="days"
                  name="days"
                  type="number"
                  [pattern]="floatPattern"
                />
              </div>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                [formControlName]="'daysKnown'"
                id="daysKnown-2"
                name="daysKnown"
                type="radio"
                value="No"
              />
              <label class="govuk-label govuk-radios__label" for="daysKnown-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>
