<div class="main-page-container col-12">
  <div id="back" class="back-link">
    <a [routerLink]="['/worker', worker.uid]" fragment="qualifications-and-training">
      <span class="arrow"></span>Back
    </a>
  </div>

  <form novalidate (ngSubmit)="submitHandler()" [formGroup]="form">
    <header>
      <h1 class="h1 col-12 col-lg-8">Add training details</h1>
    </header>

    <div class="form-group">
      <div class="field-group mb-5">
        <label for="category">
          Training category
        </label>
        <div *ngIf="submitted && form.get('category').hasError('required')" class="alert alert-danger">
          <p>Select a training category</p>
        </div>
        <select formControlName="category" class="form-control">
          <option [ngValue]="null">Select a training category</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.title }}
          </option>
        </select>
      </div>

      <div class="field-group mb-5">
        <label for="name">
          Training name
        </label>
        <div *ngIf="submitted && form.get('name').hasError('required')" class="alert alert-danger">
          <p>Enter a training name</p>
        </div>
        <input type="text" formControlName="name" class="form-control col-12" />
      </div>

      <div class="field-group mb-5">
        <label for="accredited" class="d-block">
          Is this training accredited?
        </label>
        <div *ngIf="submitted && form.get('accredited').hasError('required')" class="alert alert-danger">
          <p>Select if training is accredited</p>
        </div>
        <div class="multiple-choice">
          <input type="radio" formControlName="accredited" class="form-control" value="Yes" id="accredited-yes" />
          <label for="accredited-yes">Yes</label>
        </div>
        <div class="multiple-choice mb-5">
          <input type="radio" formControlName="accredited" class="form-control" value="No" id="accredited-no" />
          <label for="accredited-no">No</label>
        </div>
      </div>

      <div class="field-group mb-5">
        <label class="d-block">
          Date completed
        </label>
        <div *ngIf="submitted && form.get('completed').hasError('required')" class="alert alert-danger">
          <p>Enter the date when the training was completed</p>
        </div>
        <div *ngIf="submitted && form.get('completed').hasError('dateValid')" class="alert alert-danger">
          <p>Date completed is not a valid date</p>
        </div>
        <div *ngIf="submitted && form.get('completed').hasError('pastDate')" class="alert alert-danger">
          <p>Date completed can not be a date in the future</p>
        </div>
        <div *ngIf="submitted && form.get('completed').hasError('minDate')" class="alert alert-danger">
          <p>Date completed can not be more that 100 years in the past</p>
        </div>
        <p class="page-input-info">For example, 31 3 1980</p>
        <app-date-picker [formGroup]="form.get('completed')"></app-date-picker>
      </div>

      <div class="field-group mb-5">
        <label class="d-block">
          Expiry date
        </label>
        <div *ngIf="submitted && form.get('expiry').hasError('dateValid')" class="alert alert-danger">
          <p>Expiry date is not a valid date</p>
        </div>
        <div *ngIf="submitted && form.get('expiry').hasError('pastDate')" class="alert alert-danger">
          <p>Expiry date can not be a date in the future</p>
        </div>
        <div *ngIf="submitted && form.get('expiry').hasError('minDate')" class="alert alert-danger">
          <p>Expiry date can not be more that 100 years in the past</p>
        </div>
        <div *ngIf="submitted && form.hasError('expiryBeforeCompleted')" class="alert alert-danger">
          <p>Expiry date must be after date completed</p>
        </div>
        <p class="page-input-info">For example, 31 3 1980</p>
        <app-date-picker [formGroup]="form.get('expiry')"></app-date-picker>
      </div>

      <div class="field-group mb-5">
        <label for="notes" class="d-block">
          Add notes
        </label>
        <div *ngIf="submitted && form.get('notes').hasError('maxlength')" class="alert alert-danger">
          <p>Notes must be no longer than {{ form.get('notes').getError('maxlength').requiredLength }} characters.</p>
        </div>
        <textarea
          maxlength="1200"
          rows="5"
          class="textarea main-body-text col-12"
          formControlName="notes"
          id="notes"
        ></textarea>
      </div>
    </div>

    <div class="btn-container container">
      <div class="row">
        <button type="submit" class="btn btn-primary col-12 col-sm-4 col-lg-3">Add training</button>
        <a
          [routerLink]="['/worker', worker.uid]"
          fragment="qualifications-and-training"
          class="btn btn-link btn-link-no-underline col-md-3"
        >
          Cancel
        </a>
      </div>
    </div>
  </form>
</div>
