<h2 class="govuk-heading-s">Related content</h2>
<ul class="govuk-list">
  <li>
    <a [routerLink]="['../about-bulk-upload']">About bulk upload</a>
  </li>
  <li>
    <a [routerLink]="['../workplace-references']">View workplace and staff references</a>
  </li>
</ul>
<h2 class="govuk-!-margin-top-6 govuk-heading-s">Download your current data</h2>
<ul class="govuk-list govuk-list--download">
  <li>
    <a
      href="/bulk-upload/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-bulk-upload-workers.csv"
      (click)="downloadFile($event, BulkUploadFileType.Worker)"
    >
      Staff
    </a>
  </li>
  <li>
    <a
      href="/bulk-upload/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-bulk-upload-establishments.csv"
      (click)="downloadFile($event, BulkUploadFileType.Establishment)"
    >
      Workplace
    </a>
  </li>
  <li>
    <a
      href="/bulk-upload/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-bulk-upload-training.csv"
      (click)="downloadFile($event, BulkUploadFileType.Training)"
    >
      Training
    </a>
  </li>
</ul>
<h2 class="govuk-!-margin-top-6 govuk-heading-s">Download codes and guidance</h2>
<ul class="govuk-list govuk-list--download">
  <li>
    <a href="/public/download/BUDI_Staff_Records_Codes_and_Guidance_ACSWDS.pdf" target="_blank">
      Staff codes and guidance<span class="govuk-visually-hidden">, (opens in a new window)</span>
    </a>
  </li>
  <li>
    <a href="/public/download/BUDI_Workplace_Codes_and_Guidance_ACSWDS.pdf" target="_blank">
      Workplace codes and guidance<span class="govuk-visually-hidden">, (opens in a new window)</span>
    </a>
  </li>
  <li>
    <a href="/public/download/BUDI_Training_Records_Codes_and_Guidance_ACSWDS.pdf" target="_blank">
      Training codes and guidance<span class="govuk-visually-hidden">, (opens in a new window)</span>
    </a>
  </li>
</ul>
