<h2 class="govuk-heading-s">Related content</h2>
<ul class="govuk-list">
  <li>
    <a [routerLink]="['/dev', 'bulk-upload', 'about-bulk-upload']">About bulk upload</a>
  </li>
  <li>
    <a [routerLink]="['/bulk-upload', 'workplace-references']">View workplace and staff references</a>
  </li>
</ul>
<h2 class="govuk-!-margin-top-6 govuk-heading-s">Download your current data</h2>
<ul class="govuk-list govuk-list--download">
  <li>
    <a
      href="/bulk-upload/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-bulk-upload-workers.csv"
      (click)="downloadFile($event, BulkUploadFileType.Worker)"
    >
      Staff
    </a>
  </li>
  <li>
    <a
      href="/bulk-upload/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-bulk-upload-establishments.csv"
      (click)="downloadFile($event, BulkUploadFileType.Establishment)"
    >
      Workplace
    </a>
  </li>
  <li>
    <a
      href="/bulk-upload/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-bulk-upload-training.csv"
      (click)="downloadFile($event, BulkUploadFileType.Training)"
    >
      Training
    </a>
  </li>
</ul>

<app-codes-and-guidance></app-codes-and-guidance>
