<table class="govuk-table govuk-!-margin-top-2">
  <caption class="govuk-table__caption govuk-table__caption--m">
    Average pay and salaries
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Your workplace</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Comparison group</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header commparision-row-header">Care worker pay</th>
      <td class="govuk-table__cell workplace-cell">£10.26 (hourly)</td>
      <td class="govuk-table__cell comparision-group-cell">£9.75 (hourly)</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header commparision-row-header">Senior care worker pay</th>
      <td class="govuk-table__cell workplace-cell">£11.05 (hourly)</td>
      <td class="govuk-table__cell comparision-group-cell">£11.50 (hourly)</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header commparision-row-header">Registered nurse salary</th>
      <td class="govuk-table__cell workplace-cell">£34,130 (annually)</td>
      <td class="govuk-table__cell comparision-group-cell">£34,100 (annually)</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Registered manager salary</th>
      <td class="govuk-table__cell workplace-cell">£35,637 (annually)</td>
      <td class="govuk-table__cell comparision-group-cell">£36,185 (annually)</td>
    </tr>
  </tbody>
</table>
