<h1 class="govuk-heading-xl">Inactive Workplaces</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-list--definition">
      <dt>Total number of inactive workplaces to email</dt>
      <dd data-testid="inactiveWorkplaces">
        {{ inactiveWorkplaces | number }}
      </dd>
    </dl>

    <div class="govuk__flex">
      <div class="govuk-!-margin-top-6 govuk">
        <button
          class="govuk-button govuk-!-margin-right-9"
          [disabled]="!inactiveWorkplaces"
          (click)="confirmSendEmails($event, inactiveWorkplaces, emailType.InactiveWorkplaces)"
          type="submit"
        >
          Send emails
        </button>
      </div>
      <div class="govuk-!-margin-top-4 govuk__flex govuk-util__vertical-align-center">
        <div class="govuk-list--inline govuk-list govuk__flex govuk__align-items-center">
          <a class="govuk__flex govuk__align-items-center" (click)="downloadReport($event)" href="#">
            <img alt="" src="/assets/images/icon-download.svg" />
            <span class="govuk-!-margin-left-1">Download report</span>
          </a>
        </div>
      </div>
    </div>

    <div data-testid="emailCampaignHistory">
      <h2>History</h2>
      <table class="govuk-table" *ngIf="history.length > 0; else noHistory">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Total emails sent</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" *ngFor="let row of history">
            <td class="govuk-table__cell">{{ row.date | date: 'dd/MM/yyyy' }}</td>
            <td class="govuk-table__cell">{{ row.emails | number }}</td>
          </tr>
        </tbody>
      </table>

      <ng-template #noHistory>
        <p>No emails have been sent yet.</p>
      </ng-template>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-top-1">Admin reports</h3>
    <ul class="govuk-list govuk-list--download">
      <li>
        <a
          class="govuk-!-margin-bottom-0 govuk-!-margin-right-8"
          href="/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-local-authority-report.xls'"
          (click)="downloadLocalAuthorityAdminReport($event)"
        >
          Local admin authority progress
        </a>
      </li>
      <li class="govuk-!-margin-right-8">
        <a
          href="/download/{{ now | date: 'yyyy-MM-dd' }}-delete-report.xlsx"
          class="govuk-body-m"
          (click)="downloadDeleteReport($event)"
        >
          Delete report
        </a>
      </li>
      <li class="govuk-!-margin-right-8">
        <a
          href="/download/{{ now | date: 'yyyy-MM-dd' }}-registration-survey-report.xlsx"
          class="govuk-body-m"
          (click)="downloadRegistrationSurveyReport($event)"
        >
          Registration survey
        </a>
      </li>
      <li class="govuk-!-margin-right-8">
        <a
          href="/download/{{ now | date: 'yyyy-MM-dd' }}-satisfaction-survey-report.xlsx"
          class="govuk-body-m"
          (click)="downloadSatisfactionSurveyReport($event)"
        >
          Satisfaction survey
        </a>
      </li>
      <li class="govuk-!-margin-right-8">
        <a
          href="/download/{{ now | date: 'yyyy-MM-dd' }}-sfc-wdf-summary-report.csv"
          class="govuk-body-m"
          (click)="downloadWdfSummaryReport($event)"
        >
          WDF summary report
        </a>
      </li>
    </ul>
  </div>
</div>

<h1 class="govuk-heading-xl govuk-!-margin-top-5">Targeted Emails</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-list--definition">
      <dt>Total number of users to be emailed</dt>
      <dd data-testid="totalEmails">
        {{ totalEmails | number }}
      </dd>
    </dl>

    <div class="govuk-grid-row">
      <div class="govuk-form-group govuk-!-margin-top-3">
        <div class="govuk-grid-column-one-half">
          <label class="govuk-label" for="emailGroup"> Email group </label>
          <select
            [(ngModel)]="emailGroup"
            class="govuk-select govuk-!-width-full"
            id="emailGroup"
            data-testid="emailGroup"
            (change)="updateTotalEmails($event.target.value)"
          >
            <option value="">Select a user group</option>
            <option value="primaryUsers">Primary users</option>
            <option value="parentOnly">Parent only</option>
            <option value="singleAccountsOnly">Single accounts only</option>
          </select>
        </div>
        <div class="govuk-grid-column-one-half">
          <label class="govuk-label" for="selectedTemplateId"> Template ID </label>
          <select
            [(ngModel)]="selectedTemplateId"
            class="govuk-select govuk-!-width-full"
            id="selectedTemplateId"
            data-testid="selectedTemplateId"
          >
            <option value="">Select a template</option>
            <option *ngFor="let template of templates" [value]="template.id">{{ template.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <button
      class="govuk-button"
      [disabled]="emailGroup === '' || selectedTemplateId === ''"
      (click)="confirmSendEmails($event, totalEmails, emailType.TargetedEmails)"
      type="submit"
    >
      Send emails to selected group
    </button>
  </div>
</div>
