<h1 class="govuk-heading-xl">Inactive Workplaces</h1>
<a
      class="govuk-list govuk-list--inline govuk-list govuk__flex govuk__align-items-center"
      role="button"
      draggable="false"
      href=""
    >
      <img alt="" src="/assets/images/icon-download.svg" /><span class="govuk-!-margin-left-1">
        Download report
      </span>
    </a>

<dl class="govuk-list--definition">
  <dt>Total number of inactive workplaces</dt>
  <dd>
    {{ 5 }}
  </dd>
</dl>
<button class="govuk-button" type="submit">Send emails</button>
