.homepage-card-link {
  display: inline-block;
  width: 266px;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  padding-top: 7px;
}

.homepage-card-description {
  width: 266px;
}
