@import '~govuk-frontend/govuk/base';

.summary-box {
  border: 1px solid $govuk-border-colour;
  background-color: govuk-colour('light-grey');
  display: flex;
  padding: 30px 40px;
}

.column {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0px;
    width: 30%;
  }

  &:last-of-type {
    border-left: 2px solid $govuk-border-colour;
    flex: 1;
    display: flex;
  }
}

.individualTrainingColumns {
  flex: 1;
  padding-left: 60px;
}

.totalRecords {
  font-weight: bold;

  &__text {
    font-weight: inherit;
    font-size: 22px;
    margin-bottom: 0px;
  }

  &__count {
    color: govuk-colour('turquoise');
    font-size: 80px;
    padding-left: 50px;
  }
}

.records {
  font-weight: bold;
  display: flex;

  &__text {
    align-self: center;
    padding-left: 5px;
  }

  &__count {
    font-size: 50px;
    color: govuk-colour('turquoise');
  }
}
