@import '~govuk-frontend/govuk/base';

.summary-box {
  border: 1px solid $govuk-border-colour;
  background-color: govuk-colour('light-grey');
  display: flex;
  padding: 30px 40px;

  @media only screen and (max-width: 830px) {
    padding: 15px 20px;
  }

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    padding: 30px 20px;
  }
}

.column {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0px;
    width: 30%;

    @media only screen and (max-width: 690px) {
      width: 40%;
    }

    @media only screen and (max-width: 500px) {
      width: 80%;
      align-self: center;
    }
  }

  &:last-of-type {
    border-left: 1px solid $govuk-border-colour;
    flex: 1;
    display: flex;

    @media only screen and (max-width: 500px) {
      border-left: 0px;
      margin-top: 0px;
    }
  }

  @media only screen and (max-width: 690px) {
    flex-direction: column;
  }
}

.individualTrainingColumns {
  flex: 1;
  padding-left: 60px;

  @media only screen and (max-width: 920px) {
    padding-left: 30px;
  }

  @media only screen and (max-width: 690px) {
    padding-left: 0;
    width: 80%;
    align-self: center;
  }
}

.totalRecords {
  font-weight: bold;

  &__text {
    font-weight: inherit;
    font-size: 22px;
    margin-bottom: 0px;

    @media only screen and (max-width: 690px) {
      padding-top: 20px;
    }
  }

  &__count {
    color: govuk-colour('turquoise');
    font-size: 100px;
    padding-left: 50px;

    @media only screen and (max-width: 690px) {
      display: block;
    }
  }
}

hr {
  color: $govuk-border-colour;
  display: none;

  &.topLine {
    margin: 30px 50px 40px 50px;

    @media only screen and (max-width: 500px) {
      display: block;
    }
  }

  &.bottomLine {
    margin: 20px 80px;

    @media only screen and (max-width: 690px) {
      display: block;
    }

    @media only screen and (max-width: 500px) {
      margin: 40px 100px;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 8px;
}

.recordsCount {
  justify-self: end;
  font-weight: bold;

  &__count {
    font-size: 50px;
    color: govuk-colour('turquoise');
  }
}

.recordsText {
  font-weight: bold;
  font-size: 19px;
  color: $govuk-text-colour;
  align-self: center;
}

.recordStatus {
  justify-self: end;

  &__imageContainer {
    display: flex;
    align-items: center;
  }

  &__count {
    font-size: 30px;
    font-weight: bold;
    margin-left: 8px;
  }
}

.recordStatusText {
  align-self: center;
}
