<div class="row govuk-!-margin-bottom-5">
  <div class="asc-summary-box">
    <div class="govuk-grid-column-one-third asc-total-records">
      <p class="govuk-!-margin-bottom-0">
        <span class="asc-total-records--count govuk-!-margin-right-2">10</span
        ><span class="asc-total-records--text">records added</span>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-!-margin-bottom-0">
        <span class="asc-total-records--count govuk-!-margin-right-2">8</span
        ><span class="asc-total-records--text">training records</span>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-!-margin-bottom-0">
        <span class="asc-total-records--count govuk-!-margin-right-2">2</span
        ><span class="asc-total-records--text">qualification records</span>
      </p>
    </div>
  </div>
</div>
