<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">
    <div class="summary-box">
      <div class="totalRecords column">
        <p class="totalRecords__text">Number of <br />records added:</p>
        <span class="totalRecords__count">{{ trainingCount + qualificationsCount }}</span>
      </div>
      <hr class="topLine" />
      <div class="column">
        <div class="individualTrainingColumns">
          <div class="grid-container">
            <div class="recordsCount" data-testid="trainingCount">
              <span class="recordsCount__count">{{ trainingCount }}</span>
            </div>
            <div class="recordsText" data-testid="trainingText">
              <ng-container [ngPlural]="trainingCount">
                <ng-template ngPluralCase="=1">
                  <span>training record</span>
                </ng-template>
                <ng-template ngPluralCase="other">
                  <span>training records</span>
                </ng-template>
              </ng-container>
            </div>
            <div class="recordStatus" *ngIf="expiredTrainingCount">
              <div class="recordStatus__imageContainer" data-testid="expiredTrainingCount">
                <img src="/assets/images/flag-red.svg" alt="" />
                <span class="recordStatus__count">{{ expiredTrainingCount }}</span>
              </div>
            </div>
            <div class="recordStatusText" *ngIf="expiredTrainingCount" data-testid="expiredTrainingText">
              <ng-container [ngPlural]="expiredTrainingCount">
                <ng-template ngPluralCase="=1">
                  <span>record has expired</span>
                </ng-template>
                <ng-template ngPluralCase="other">
                  <span>records have expired</span>
                </ng-template>
              </ng-container>
            </div>
            <div class="recordStatus" *ngIf="expiresSoonTrainingCount">
              <div class="recordStatus__imageContainer" data-testid="expiresSoonTrainingCount">
                <img src="/assets/images/flag-orange.svg" alt="" />
                <span class="recordStatus__count">{{ expiresSoonTrainingCount }}</span>
              </div>
            </div>
            <div class="recordStatusText" *ngIf="expiresSoonTrainingCount" data-testid="expiresSoonTrainingText">
              <ng-container [ngPlural]="expiresSoonTrainingCount">
                <ng-template ngPluralCase="=1">
                  <span>record expires soon</span>
                </ng-template>
                <ng-template ngPluralCase="other">
                  <span>records expire soon</span>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
        <hr class="bottomLine" />
        <div class="individualTrainingColumns">
          <div class="grid-container">
            <div class="recordsCount" data-testid="qualificationsCount">
              <span class="recordsCount__count">{{ qualificationsCount }}</span>
            </div>
            <div class="recordsText" data-testid="qualificationsText">
              <ng-container [ngPlural]="qualificationsCount">
                <ng-template ngPluralCase="=1">
                  <span>qualification record</span>
                </ng-template>
                <ng-template ngPluralCase="other">
                  <span>qualification records</span>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
