<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form (ngSubmit)="onSubmit()" [formGroup]="form" #formEl>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <fieldset class="govuk-fieldset">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-8">
              <span class="govuk-caption-l" data-testid="section-heading">{{ section }}</span>
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>
            <div class="govuk-body" *ngIf="showWorkerCount" data-testid="numberOfStaffSelected">
              <span class="govuk-util__block govuk-!-font-weight-bold">Number of staff selected</span>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                      <p>{{ workerCount }}</p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <p>
                        <a
                          class="govuk-link govuk-!-margin-left-4"
                          [routerLink]="['..', 'select-staff']"
                          (click)="setIsSelectStaffChange()"
                          >Change</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ng-container *ngIf="multipleTrainingDetails; else singleRecord">
              <div *ngIf="showCategory" class="govuk-body" data-testid="trainingCategoryDisplay">
                <span class="govuk-util__block govuk-!-font-weight-bold">Training category</span>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-three-quarters">
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-half">
                        <p>{{ category }}</p>
                      </div>
                      <div class="govuk-grid-column-one-half">
                        <p>
                          <a class="govuk-link govuk-!-margin-left-4" [routerLink]="['..', 'select-training-category']"
                            >Change</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-template #singleRecord>
              <p class="govuk-body govuk-!-margin-bottom-1" data-testid="trainingCategoryDisplay">
                <span class="govuk-util__block"><b>Training category</b></span>
                <span class="govuk-util__block govuk-!-margin-top-2"
                  >{{ category }}
                  <a
                    *ngIf="showChangeLink && !trainingRecordId"
                    data-testid="changeTrainingCategoryLink"
                    class="govuk-link--no-visited-state govuk-!-margin-left-4"
                    [routerLink]="['..']"
                    >Change</a
                  >
                </span>
              </p>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4 " style="width: 150%"/>
            </ng-template>

            <div class="govuk-form-group govuk-!-margin-top-4" [class.govuk-form-group--error]="submitted && form.get('title').invalid">
              <label class="govuk-label" for="title"> Training name </label>
              <span *ngIf="submitted && form.get('title').invalid" id="title-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('title') }}
              </span>
              <input
                class="govuk-input govuk-date-input__input govuk-!-margin-bottom-3"
                [class.govuk-input--error]="submitted && form.get('title').invalid"
                [formControlName]="'title'"
                id="title"
                name="title"
                type="text"
              />
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2" style="width: 150%"/>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">Is the training course accredited?</legend>
                <div class="govuk-radios govuk-!-margin-bottom-2">
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="accredited-yes"
                      [formControlName]="'accredited'"
                      type="radio"
                      value="Yes"
                    />
                    <label class="govuk-label govuk-radios__label" for="accredited-yes"> Yes </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="accredited-no"
                      [formControlName]="'accredited'"
                      type="radio"
                      value="No"
                    />
                    <label class="govuk-label govuk-radios__label" for="accredited-no"> No </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="accredited-dont-know"
                      [formControlName]="'accredited'"
                      type="radio"
                      value="Don't know"
                    />
                    <label class="govuk-label govuk-radios__label" for="accredited-dont-know"> I do not know </label>
                  </div>
                </div>
              </fieldset>
               <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4" style="width: 150%"/>
            </div>
<!--
            <div class="govuk-radios govuk-radios--conditional">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">Who delivered the training course?</legend>
                <div class="govuk-radios govuk-!-margin-bottom-2">
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="accredited-yes"
                      [formControlName]="'accredited'"
                      type="radio"
                      value="Yes"
                    />
                    <label class="govuk-label govuk-radios__label" for="accredited-yes">In-house staff </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="accredited-no"
                      [formControlName]="'accredited'"
                      type="radio"
                      value="No"
                        (click)="onExternalProviderSelect('External provider')"
                    />
                    <label class="govuk-label govuk-radios__label" for="accredited-no">External provider</label>
                  </div>
                </div>

                       <div
                *ngIf="option.value === 'Other'"
                class="govuk-radios__conditional"
                [class.govuk-radios__conditional--hidden]="!showOtherInputField"
                id="conditional-employerType-conditional-1"
              >
                <div class="govuk-form-group">
                  <label class="govuk-label" for="other"> Other employer type (optional)</label>
                  <span *ngIf="submitted && form.get('other').invalid" id="other-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ getErrorMessage('other') }}
                  </span>
                  <input
                    class="govuk-input govuk-input--width-20"
                    [class.govuk-input--error]="submitted && form.get('other').invalid"
                    id="other"
                    [formControlName]="'other'"
                    name="other"
                    type="text"
                  />
                </div>
              </div>
              </fieldset>
               <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4" style="width: 150%"/>
            </div> -->



              <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend"> How was this training course delivered?</legend>
                <div class="govuk-radios govuk-!-margin-bottom-2">
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="accredited-yes"
                      [formControlName]="'accredited'"
                      type="radio"
                      value="Yes"
                    />
                    <label class="govuk-label govuk-radios__label" for="accredited-yes">Face to face </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="accredited-no"
                      [formControlName]="'accredited'"
                      type="radio"
                      value="No"
                    />
                    <label class="govuk-label govuk-radios__label" for="accredited-no">E-learning</label>
                  </div>
                </div>
              </fieldset>
               <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4" style="width: 150%"/>
            </div>
           <div class="govuk-form-group govuk-!-margin-top-4">
              <label class="govuk-label" for="title"> How many months is the training valid for before it expires? </label>
            <app-number-input-with-buttons
            #numberInputRef
            [min]="minNumberPerJobRole"
            [max]="maxNumberPerJobRole"

          >
          </app-number-input-with-buttons>
            </div>
    <div class="govuk-form-group ">
        <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            [class.govuk-input--error]="submitted && form.errors"
            id="termsAndConditions"
            name="termsAndConditions"
            type="checkbox"
            [formControlName]="'termsAndConditions'"
            data-testid="checkbox"
          />
          <label class="govuk-label govuk-checkboxes__label" for="termsAndConditions">
            This training does not expire
          </label>
        </div>
         <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2" style="width: 150%"/>
      </div>
    </div>


          <div class="govuk-form-group">
            <div class="govuk-grid-row ">
            <div class="govuk-grid-column-one-half">
                 <div
              data-testid="completedDate"
              class=" govuk-form-group"
              [class.govuk-form-group--error]="submitted && form.get('completed').invalid"
            >
              <fieldset class="govuk-fieldset" aria-describedby="completed-hint" role="group">
                <legend class="govuk-fieldset__legend">Training completion date</legend>
                <legend id="completed-hint" class="govuk-hint govuk-!-margin-bottom-3"> For example, 31 3 2024 </legend>
                <span
                  *ngIf="submitted && form.get('completed').invalid"
                  id="completed-error"
                  class="govuk-error-message"
                >
                  <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('completed') }}
                </span>
                <app-date-picker
                  [formGroup]="form"
                  [formGroupName]="'completed'"
                  [submitted]="submitted"
                ></app-date-picker>
              </fieldset>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
          <div
              data-testid="expiresDate"
              class="govuk-form-group"
              [class.govuk-form-group--error]="submitted && form.get('expires').invalid"
            >
              <fieldset class="govuk-fieldset" aria-describedby="expires-hint" role="group">
                <legend class="govuk-fieldset__legend">Training expiry date</legend>
                <legend id="expires-hint" class="govuk-hint  govuk-!-margin-bottom-3"> For example, 31 3 2025 </legend>
                <span *ngIf="submitted && form.get('expires').invalid" id="expires-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('expires') }}
                </span>
                <app-date-picker
                  [formGroup]="form"
                  [formGroupName]="'expires'"
                  [submitted]="submitted"
                ></app-date-picker>
              </fieldset>
            </div>
              </div>

             </div>
               <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3" style="width: 150%"/>
             </div>

     </div>

          <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
            <a
              class="govuk-button govuk-button--link govuk__flex govuk__align-items-center"
              *ngIf="trainingRecordId"
              draggable="false"
              (click)="navigateToDeleteTrainingRecord()"
              data-testid="deleteButton"
            >
              <img src="/assets/images/bin.svg" alt="" />
              <span class="govuk-!-margin-left-1"> Delete this training record </span></a
            >
          </div>
        </div>
        <div *ngIf="!multipleTrainingDetails" class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <app-select-upload-certificate [filesToUpload]="filesToUpload" (selectFiles)="onSelectFiles($event)" [certificateErrors]="certificateErrors" />
             <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4 "/>
            <app-certifications-table
              *ngIf="trainingCertificates?.length > 0 || filesToUpload?.length > 0"
              data-testid="trainingCertificatesTable"
              [certificates]="trainingCertificates"
              [filesToUpload]="filesToUpload"
              (removeFileToUpload)="removeFileToUpload($event)"
              (removeSavedFile)="removeSavedFile($event)"
              (downloadCertificate)="downloadCertificates($event)"
            ></app-certifications-table>

          </div>

        </div>
        <div class="govuk-grid-row govuk-!-margin-top-4">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-character-count govuk-!-margin-bottom-4">
              <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('notes').invalid">
                <label class="govuk-label govuk-!-font-weight-bold" for="notes"> Add a note </label>
                <span *ngIf="submitted && form.get('notes').invalid" id="notes-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('notes') }}
                </span>
                <button
                  type="button"
                  (click)="toggleNotesOpen()"
                  class="govuk-accordion__show-all govuk-!-margin-bottom-0"
                  [attr.aria-expanded]="notesOpen"
                >
                  <span
                    class="govuk-accordion-nav__chevron"
                    [class]="{
                      'govuk-accordion-nav__chevron--up': notesOpen,
                      'govuk-accordion-nav__chevron--down': !notesOpen
                    }"
                  ></span>
                  <span class="govuk-accordion__show-all-text">{{ !notesOpen ? 'Open notes' : 'Close notes' }}</span>
                </button>
                <div data-testid="notesSection"  class="govuk-!-margin-top-3 govuk-!-padding-bottom-1" [ngClass]="{ 'govuk-visually-hidden': !notesOpen }">
                  <textarea
                    class="govuk-textarea"
                    [class.govuk-textarea--error]="submitted && form.get('notes').invalid"
                    [formControlName]="'notes'"
                    id="notes"
                    name="notes"
                    rows="5"
                    [value]="notesValue"
                    (input)="handleOnInput($event)"
                  ></textarea>
                  <span
                    class="govuk-character-count__message govuk-hint"
                    [ngClass]="{
                      'govuk-hint': remainingCharacterCount >= 0,
                      'govuk-error-message': remainingCharacterCount < 0
                    }"
                    aria-live="polite"
                  >
                    <noscript> You can enter up to {{ notesMaxLength }} characters </noscript>
                    <ng-container>
                      You have {{ remainingCharacterCount | absoluteNumber | number }}
                      {{
                        remainingCharacterCount
                          | absoluteNumber
                          | i18nPlural
                            : {
                                '=1': 'character',
                                other: 'characters'
                              }
                      }}

                      {{ remainingCharacterCount >= 0 ? 'remaining' : 'too many' }}
                    </ng-container>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button govuk-!-margin-right-9" [disabled]="submitButtonDisabled">
          {{ buttonText }}
        </button>

        <a
          class="govuk-button govuk-button--link govuk-!-margin-left-9"
          role="button"
          draggable="false"
          (click)="onCancel($event)"
        >
          Cancel
        </a>
      </div>
    </div>
  </div>
</form>
