<app-dashboard-header></app-dashboard-header>

<p *ngIf="establishment?.name" class="govuk-caption-l govuk-!-margin-bottom-2">{{ establishment?.name }}</p>
<h1 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-7">My workplaces ({{ myWorkplacesCount }})</h1>

<ul class="govuk-list">
  <li class="govuk-util__list-record govuk-!-margin-bottom-0" *ngFor="let myWorkplace of myWorkplaces">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p>{{ myWorkplace.name }}</p>
        <p class="govuk-!-margin-bottom-1"><strong>Last updated</strong></p>
        <p class="govuk-!-margin-bottom-0">{{ myWorkplace.updated | date: 'd MMMM y' }}</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p>{{ myWorkplace.mainService }}</p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <p class="govuk-!-margin-bottom-1">
              <strong>
                <ng-container *ngIf="myWorkplace.parentPermissions === workplaceAndStaffPermission">
                  Workplace and staff records
                </ng-container>
                <ng-container *ngIf="myWorkplace.parentPermissions === workplacePermission">
                  Workplace
                </ng-container>
                <ng-container *ngIf="!myWorkplace.parentPermissions">
                  Workplace and staff records
                </ng-container>
              </strong>
            </p>
            <p class="govuk-!-margin-bottom-0">
              <ng-container *ngIf="myWorkplace.parentPermissions">
                <img class="govuk-util__relative-top-1 govuk-!-margin-right-1" src="/assets/images/tick-icon.svg" />
                Available
              </ng-container>
              <ng-container *ngIf="!myWorkplace.parentPermissions">
                <img class="govuk-util__relative-top-1 govuk-!-margin-right-1" src="/assets/images/cross-icon.svg" />
                Not available
              </ng-container>
            </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <p class="govuk-!-margin-bottom-1"><strong>Data owner</strong></p>
            <p class="govuk-!-margin-bottom-0">
              {{ myWorkplace.dataOwner }}
              <span class="govuk-util__float-right">Transfer data</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
