<app-dashboard-header></app-dashboard-header>

<p *ngIf="establishment?.name" class="govuk-caption-l govuk-!-margin-bottom-2">{{ establishment?.name }}</p>
<ng-container *ngIf="workplaces.length; else noWorkPlaces">
  <h1 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-7">My workplaces ({{ workplacesCount }})</h1>

  <ul class="govuk-list">
    <li class="govuk-util__list-record govuk-!-margin-bottom-0" *ngFor="let myWorkplace of workplaces">
      <app-my-workplace [myWorkplace]="myWorkplace"></app-my-workplace>
    </li>
  </ul>
</ng-container>

<ng-template #noWorkPlaces>
  <p>There are no workplaces.</p>
</ng-template>
