<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l">Workplace</span>
    <h1 *ngIf="isWorkPlaceUpdate" class="govuk-heading-l">Workplace details</h1>
    <h1 *ngIf="!isWorkPlaceUpdate" class="govuk-heading-l">{{ title }}</h1>

    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <fieldset class="govuk-fieldset">
        <ng-container *ngFor="let item of formControlsMap">
          <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get(item.name).errors">
            <label class="govuk-label" for="{{ item.name }}" [innerHTML]="item.label"></label>
            <span
              *ngIf="submitted && form.get(item.name).errors"
              id="{{ item.name }}-error"
              class="govuk-error-message"
            >
              <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage(item.name) }}
            </span>
            <input
              class="govuk-input govuk-input--width-{{ item.width }}"
              [formControlName]="item.name"
              id="{{ item.name }}"
              name="{{ item.name }}"
              [class.govuk-input--error]="submitted && form.get(item.name).errors"
              type="text"
            />
          </div>
        </ng-container>
      </fieldset>
      <div class="govuk-!-margin-top-4">
        <ng-container *ngIf="isWorkPlaceUpdate; else workplaceAdd">
          <app-workplace-submit-button
            [return]="!!return"
            (clicked)="setSubmitAction($event)"
            [isExistingStaffRecord]="false"
          ></app-workplace-submit-button>
        </ng-container>
        <ng-template #workplaceAdd>
          <button class="govuk-button" data-testid="button" type="submit">Continue</button>
        </ng-template>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-util__float-right">
      <app-progress-bar
        data-testid="progress-bar-1"
        [header]="'Workplace'"
        [sections]="workplaceSections"
        [currentSection]="'Find workplace'"
      ></app-progress-bar>
      <app-progress-bar
        *ngIf="this.flow.includes('registration')"
        data-testid="progress-bar-2"
        [header]="'User account'"
        [sections]="userAccountSections"
        [currentSection]="'Find workplace'"
      ></app-progress-bar>
    </div>
  </div>
</div>
