<ng-container *ngIf="worker">
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">Staff record summary</span>
    {{ worker.nameOrId }}
  </h1>

  <p class="govuk-!-margin-bottom-8">
    Before saving this staff record, check the information you have provided is correct.
  </p>

  <app-staff-record-summary [workplace]="workplace" [worker]="worker"></app-staff-record-summary>

  <button type="button" class="govuk-button" (click)="saveAndComplete()">Save and complete</button>
</ng-container>
