<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Bulk upload</h1>
    <app-bulk-upload-info></app-bulk-upload-info>
    <h2 class="govuk-heading-m">Before you can do a bulk upload</h2>
    <p>You need to add your unique references</p>
    <a role="button" draggable="false" class="govuk-button govuk-!-margin-top-6" [routerLink]="['/bulk-upload']">
      Return to bulk upload
    </a>
  </div>
  <div class="govuk-grid-column-one-third">
    <app-codes-and-guidance class="govuk-util__block"></app-codes-and-guidance>
  </div>
</div>
