<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" data-testid="heading">
    <span class="govuk-caption-l">Training and qualifications</span>
    <h1 class="govuk-heading-l">What happens when you remove a training course</h1>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-padding-top-1">
      When you remove a training course from ASC-WDS, training records that include the course:
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0 govuk__nowrap">are not deleted</p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0 govuk__nowrap">
          keep the details of the removed training course
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0 govuk__nowrap">
          still generate an alert when the training is due to expire
        </p>
      </li>
      <li>
        <p class="govuk-!-margin-left-3 govuk-!-margin-bottom-0 govuk__nowrap">
          keep any certificates and notes that were added
        </p>
      </li>
    </ul>

    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-!-padding-top-1 govuk__nowrap"><strong>Training course name:</strong> {{ trainingName }}</p>
      </div>
    </div>

    <div class="govuk-button-group govuk-!-margin-top-8">
      <button type="submit" class="govuk-button govuk-!-margin-right-9">Remove this training course</button>

      <a
        class="govuk-button govuk-button--link govuk-!-margin-left-9"
        role="button"
        draggable="false"
        href="#"
        (click)="onCancel($event)"
      >
        Cancel
      </a>
    </div>
  </div>
</div>
