<app-basic-record [workplace]="workplace" [worker]="worker" [return]="returnTo" [wdfView]="wdfView"></app-basic-record>
<app-personal-details
  [workplace]="workplace"
  [worker]="worker"
  [return]="returnTo"
  [wdfView]="wdfView"
></app-personal-details>
<app-employment [workplace]="workplace" [worker]="worker" [return]="returnTo" [wdfView]="wdfView"></app-employment>
<app-qualifications-and-training
  [workplace]="workplace"
  [worker]="worker"
  [return]="returnTo"
  [wdfView]="wdfView"
></app-qualifications-and-training>
