<app-basic-record [worker]="worker" [return]="returnTo" [wdfReportEnabled]="wdfReportEnabled"></app-basic-record>
<app-personal-details
  [worker]="worker"
  [return]="returnTo"
  [wdfReportEnabled]="wdfReportEnabled"
></app-personal-details>
<app-employment [worker]="worker" [return]="returnTo" [wdfReportEnabled]="wdfReportEnabled"></app-employment>
<app-qualifications-and-training
  [worker]="worker"
  [return]="returnTo"
  [wdfReportEnabled]="wdfReportEnabled"
></app-qualifications-and-training>
