<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Troubleshooting</h1>
    <p>Our handy hints could help you fix common problems and errors that some bulk uploaders have reported.</p>
    <div class="govuk-!-margin-top-7">
      <div class="asc-cms-content" *ngFor="let bulkUploadTroubleShootingPage of bulkUploadTroubleShootingPages">
        <h2 class="govuk-heading-m">{{ bulkUploadTroubleShootingPage.title }}</h2>
        <p [innerHTML]="bulkUploadTroubleShootingPage.content"></p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-!-margin-top-5">
      <app-bulk-upload-related-content
        [showViewLastBulkUpload]="false"
        [showViewReferences]="false"
        [showGetHelpWithBulkUploads]="false"
      >
      </app-bulk-upload-related-content>
    </div>
    <app-codes-and-guidance></app-codes-and-guidance>
  </div>
</div>
