<div [formGroup]="form">
  <select
    class="govuk-select"
    [class.govuk-select--error]="submitted && getAddress.errors"
    [formControlName]="'address'"
    id="address"
    name="address"
    (change)="onLocationChange($event.target.value)"
  >
    <option [value]="''" selected disabled>{{ locationAddresses.length }} addresses found</option>
    <option *ngFor="let location of locationAddresses; let i = index" [value]="i">
      {{ getLocationName(location) }}
    </option>
  </select>
</div>
