<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      <span class="govuk-caption-xl govuk-!-margin-bottom-3">Add learners</span>
      Now you need to add learners to your claim
    </h1>
    <p>There needs to be a staff record in ASC-WDS for each learner that you want to add.</p>
    <p class="govuk-inset-text">
      Staff records will need to include a name that matches the one shown on their learning award certificate, not an
      ID number<ng-container *ngIf="dobRequired">, and a date of birth</ng-container>.
    </p>

    <p *ngIf="['learningProgramme', 'digitalModule'].includes(claimType); else claimWithMultipleRequirements">
      You'll need to know the amount of money you want to claim for each learner.
    </p>
    <ng-template #claimWithMultipleRequirements>
      <p>For each learner, you'll need to know:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>their Unique Learner Number</li>
        <li *ngIf="claimType == 'qualification'">their Candidate Registration Number</li>
        <li>the amount of money you want to claim</li>
        <li *ngIf="claimType == 'qualification'">whether the qualification is part of an apprenticeship</li>
      </ul>
    </ng-template>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-top-8">
    <app-make-a-claim-progress-bar></app-make-a-claim-progress-bar>
  </div>
</div>
