@import 'govuk-frontend/govuk/base';

li {
  border-bottom: 1px $govuk-border-colour solid;
  padding: 10px 0;
  margin-bottom: 0;
  &:last-child {
    border-bottom: none;
  }

  &.active {
    a {
      color: $govuk-link-active-colour;
    }
  }

  a {
    text-decoration: none;
    font-weight: 600;
    color: $govuk-link-colour;
    &:hover {
      color: $govuk-link-hover-colour;
    }
  }
}
