<app-error-summary
  *ngIf="(submitted && form.invalid) || serverError"
  [formErrorsMap]="formErrorsMap"
  [serverError]="serverError"
  [form]="form"
>
</app-error-summary>

<form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Staff who have left in the last 12 months</h1>
    </legend>

    <p class="govuk-hint">This should only be for permanent or temporary staff.</p>

    <ng-container formArrayName="leavers">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-form-group govuk-!-margin-bottom-0">
          <label for="jobRole-0" class="govuk-label">Job Role</label>
        </div>
        <div class="govuk-grid-column-one-third">
          <label for="total-0" class="govuk-label">Number of leavers</label>
        </div>
      </div>
      <div
        *ngFor="let leaver of leavers.controls; let i = index"
        [formGroupName]="i"
        [class.govuk-form-group--error]="submitted && leaver.invalid"
      >
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-two-thirds">
            <select
              class="govuk-select govuk-!-width-full"
              [class.govuk-select--error]="submitted && leaver.get('jobRole').invalid"
              [formControlName]="'jobRole'"
              id="jobRole-{{ i }}"
              name="jobRole"
            >
              <option [ngValue]="null">Select job role</option>
              <option *ngFor="let job of selectableJobs(i)" [value]="job.id">
                {{ job.title }}
              </option>
            </select>
          </div>
          <div class="govuk-grid-column-one-third">
            <input
              class="govuk-input govuk-!-width-one-half"
              [class.govuk-input--error]="submitted && leaver.get('total').invalid"
              [formControlName]="'total'"
              id="total-{{ i }}"
              name="total"
              type="number"
            />
            <button
              *ngIf="leavers.length > 1"
              class="govuk-button govuk-button--link govuk-!-margin-bottom-0 govuk-!-margin-left-3"
              type="button"
              (click)="removeLeaver($event, i)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        <button
          *ngIf="!allJobsSelected"
          class="govuk-button govuk-button--secondary"
          type="button"
          (click)="addLeaver()"
        >
          Add another leaver
        </button>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-heading-m">Total: {{ totalLeavers }}</p>
      </div>
    </div>

    <div class="govuk-form-group">
      <div class="govuk-radios">
        <div class="govuk-radios__item" *ngFor="let option of leaversKnownOptions; let i = index">
          <input
            class="govuk-radios__input"
            id="leaversKnown-{{ i }}"
            name="leaversKnown"
            [formControlName]="'leaversKnown'"
            type="radio"
            [value]="option.value"
          />
          <label class="govuk-label govuk-radios__label" for="leaversKnown-{{ i }}">
            {{ option.label }}
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>
