<app-error-summary
  *ngIf="submitted && (form.invalid || serverError)"
  [formErrorsMap]="formErrorsMap"
  [form]="form"
  [serverError]="serverError"
>
</app-error-summary>
<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form" id="server-error">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            You need to select the new primary user before you delete {{ currentUserName }}
          </h1>
        </legend>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
          <span *ngIf="submitted && form.get('user').errors" id="user-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('user') }}
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item" *ngFor="let user of users; let i = index">
              <input
                [attr.aria-controls]="'user-conditional-' + i"
                class="govuk-radios__input"
                id="user-{{ i }}"
                [value]="user.uid"
                name="user"
                type="radio"
                [formControlName]="'user'"
              />
              <label class="govuk-label govuk-radios__label" for="user-{{ i }}">
                {{ user.fullname }}
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-one-third">
      <button type="submit" class="govuk-button">Save and continue</button>
    </div>
    <div class="govuk-grid-column-one-third">
      <a class="govuk-button govuk-button--link" (click)="cancelNavigation()">Cancel</a>
    </div>
  </div>
</form>
