h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.page-description {
  font-size: 16px;
  letter-spacing: 0;
}

form .form-group {
  label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  input {
    max-width: 12rem;
    margin-top: 1.5rem;
  }
}

.btn-container {
  margin-top: 3.5rem;

  .btn.btn-primary {
    font-weight: 300;
    letter-spacing: 1px;
  }
}
