@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.govuk-inset-text {
  @include rem(font-size, 16px);
  color: $black;
  @include rem(padding, 15px);
  // Margin top intended to collapse
  // This adds an additional 10px to the paragraph above
  @include rem(margin-top, 15px);
  @include rem(margin-bottom, 15px);

  clear: both;

  border-left: 10px solid map-get($color, grey);

  > :first-child {
    margin-top: 0;
  }

  > :only-child,
  > :last-child {
    margin-bottom: 0;
  }

  &.todo {
    border-color: $alert;
    background-color: $alert-background;
  }
}
