<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Staff records ({{ workers?.length || 0 }})</h2>
  </div>
  <div *ngIf="canAddWorker" class="govuk-grid-column-one-half govuk-util__align-right">
    <a
      role="button"
      draggable="false"
      class="govuk-button govuk-!-margin-bottom-0"
      [routerLink]="['/workplace', this.workplace.uid, 'staff-record', 'create-staff-record']"
    >
      Add a staff record
    </a>
  </div>
</div>

<app-status *ngIf="createStaffResponse" [title]="'&#10003; Success.'">
  {{
  createStaffResponse
    | i18nPlural
    : {
      '=1': '# staff record has been saved.',
      other: '# staff records have been saved.'
    }
  }}
</app-status>

<ng-container *ngIf="workers?.length > 0; else noStaffRecords">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-inset-text [color]="'todo'">
        <a [routerLink]="['/workplace', workplace.uid, 'staff-record', 'basic-records-start-screen']"
        > Who's had a flu vaccination since 1 September 2020?</a>
      </app-inset-text>
    </div>
  </div>
  <app-total-staff-panel
    [workplace]="workplace"
    [totalStaff]="totalStaff"
    [totalWorkers]="workers?.length"
    [returnToDash]="true"
  ></app-total-staff-panel>

  <app-staff-summary *ngIf="workers" [workplace]="workplace" [workers]="workers"></app-staff-summary>
</ng-container>

<ng-template #noStaffRecords>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-inset-text [color]="'todo'" [additionalClass]="'govuk-!-margin-bottom-0'">
        <a [routerLink]="['/workplace', workplace.uid, 'staff-record', 'basic-records-start-screen']"
        > Who's had a flu vaccination since 1 September 2020?</a>
      </app-inset-text>
    </div>
  </div>
  <app-inset-text color="warning">Start to add your staff records.</app-inset-text>

  <p>To add a staff record, you need to know that person’s:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>name or ID number</li>
    <li>main job role</li>
    <li>contract type</li>
  </ul>

  <p>After you’ve saved the mandatory details you should add details to this record, so that you’ve got a complete record for that person.</p>
  <p>To complete a record you’ll be asked questions about that person’s:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>personal details, like their date of birth</li>
    <li>employment details, like when they started their main job role</li>
    <li>qualifications and training</li>
  </ul>
</ng-template>
