<ng-container *ngIf="worker">
  <app-inset-text [color]="'success'">
    Staff record saved.
  </app-inset-text>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Staff record
      </h1>
    </div>
  </div>
  <app-basic-record [basicTitle]="'Mandatory details'" [workplace]="workplace" [worker]="worker" [return]="returnHere"></app-basic-record>
  <div class="govuk-!-margin-top-6">
    <button class="govuk-button govuk-!-margin-right-9" role="button" draggable="false" (click)="onSubmit({action: 'continue', save: false})">Add details to this record</button>
    <a href="#" class="govuk-button govuk-button--link" (click)="navigateToDashboard($event)"><span>View all staff records</span></a>
  </div>
</ng-container>
