<app-new-dashboard-header
  [tab]="'benchmarks'"
  [updatedDate]="tilesData?.meta.lastUpdated"
  data-html2canvas-ignore
></app-new-dashboard-header>

<div class="govuk-width-container govuk-!-margin-top-7">
  <app-benchmarks-select-view-panel
    [viewBenchmarksByCategory]="viewBenchmarksByCategory"
    (handleViewToggle)="handleViewBenchmarksByCategory($event)"
  >
  </app-benchmarks-select-view-panel>
  <div class="govuk-!-margin-top-7">
    <ng-container *ngIf="viewBenchmarksByCategory">
      <h2 class="govuk-heading-m">Recruitment and retention</h2>
    </ng-container>
  </div>
  <ng-container *ngIf="!viewBenchmarksByCategory">
    <h2 class="govuk-heading-m">Pay</h2>
  </ng-container>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-margin-top-2">
      <a
        class="asc-font-19"
        data-html2canvas-ignore
        [routerLink]="['/workplace', workplace.uid, 'benchmarks', 'about-the-data']"
        (click)="setReturn()"
        >About the data</a
      >
      <div *ngIf="tilesData?.meta.lastUpdated" data-testid="benchmarksLastUpdatedDate" class="govuk-!-margin-top-5">
        <p class="govuk-body">
          The comparison group data was refreshed on {{ tilesData?.meta.lastUpdated | date: 'd MMMM y' }}.
        </p>
      </div>

      <app-benchmarks-select-comparison-group
        [viewBenchmarksComparisonGroups]="viewBenchmarksComparisonGroups"
        (handleViewToggle)="handleViewComparisonGroups($event)"
        [mainServiceName]="workplace.mainService.name"
        [localAuthorityLocation]=""
      >
      </app-benchmarks-select-comparison-group>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">{{ workplace.mainService.name }} providers in Leeds</h3>
      <p class="govuk-body">
        Your selected comparison group is a maximun of
        <span class="govuk-body govuk-!-font-weight-bold">(Staff number)</span>
        staff from
        <span class="govuk-body govuk-!-font-weight-bold">(workplaces number)</span>
        workplaces using ASC-WDS and providing
        <span class="govuk-body govuk-!-font-weight-bold">{{ workplace.mainService.name }}</span>
        in (local authority)
      </p>
      <app-downlaod-pdf [linkUrl]="'/benchmarks.pdf'" (downloadPDF)="downloadAsPDF()"> </app-downlaod-pdf>
      <app-data-area-table></app-data-area-table>
    </div>
  </div>
  <app-benchmarks-about-the-data
    #aboutData
    class="govuk-visually-hidden"
    [workplace]="workplace"
  ></app-benchmarks-about-the-data>
</div>
