<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-list--inline govuk-list govuk__flex">
      <span class="govuk-caption-xl" data-testid="workerNameAndRole"> Training category </span>
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name or ID number</th>
          <th class="govuk-table__header" scope="col">Job role</th>
          <th class="govuk-table__header" scope="col">Expiry date</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
