<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"> Training category </span>
    <span data-testid="workerNameAndRole" *ngFor="let trainingCategory of trainingCategories">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-8" *ngIf="trainingCategory.id == trainingCategoryId">
        {{ trainingCategory.category }}
      </h1>
    </span>
  </div>
</div>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name or ID number</th>
      <th class="govuk-table__header" scope="col">Job role</th>
      <th class="govuk-table__header" scope="col">Expiry date</th>
      <th class="govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body" *ngFor="let trainingCategory of trainingCategories">
    <ng-container *ngIf="trainingCategory.id == trainingCategoryId">
      <tr class="govuk-table__row govuk-util__vertical-align-top" *ngFor="let training of trainingCategory.training">
        <td class="govuk-table__cell govuk-!-font-weight-regular">
          <ng-container *ngIf="canEditWorker; else nameOrId">
            <a
              [routerLink]="[
                '/workplace',
                this.workplace.uid,
                'training-and-qualifications-record',
                training.worker.uid,
                'training'
              ]"
            >
              {{ training.worker.NameOrIdValue }}</a
            >
          </ng-container>
          <ng-template #nameOrId>
            {{ training.worker.NameOrIdValue }}
          </ng-template>
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-regular">
          {{ training.worker.mainJob?.title }}
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-regular">
          {{ training.expires ? (training.expires | date: 'dd MMM y') : '-' }}
        </td>
        <td class="govuk-table__cell">
          <div *ngIf="trainingStatus(training) === trainingStatusService.EXPIRED" class="govuk-!-margin-bottom-1">
            <img
              src="/assets/images/flag-red.svg"
              alt=""
              class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
            />
            Expired
          </div>
          <div *ngIf="trainingStatus(training) === trainingStatusService.MISSING" class="govuk-!-margin-bottom-1">
            <img
              src="/assets/images/flag-red.svg"
              alt=""
              class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
            />
            Missing
          </div>
          <div *ngIf="trainingStatus(training) === trainingStatusService.EXPIRING">
            <img
              src="/assets/images/flag-orange.svg"
              alt=""
              class="govuk-!-margin-right-1 govuk-util__vertical-align-top"
            />
            Expiring soon
          </div>

          <div *ngIf="trainingStatus(training) === trainingStatusService.ACTIVE">OK</div>
        </td>
        <td class="govuk-table__cell">
          <div
            *ngIf="
              (trainingStatus(training) == trainingStatusService.EXPIRED ||
                trainingStatus(training) == trainingStatusService.EXPIRING) &&
              canEditWorker
            "
          >
            <a (click)="updateTrainingRecord($event, training)" href="#">Update</a>
          </div>
        </td>
        <td class="govuk-table__cell">
          <!-- <div *ngIf="trainingStatus(training) === trainingStatusService.MISSING && canEditWorker">
              <a (click)="addTrainingRecord($event, training)" href="#">Add</a>
            </div> -->
          <div *ngIf="trainingStatus(training) === trainingStatusService.MISSING && canEditWorker">
            <app-missing-mandatory-training
              [missingMandatoryTraining]="missingMandatoryTraining"
              (addClicked)="addButtonClicked()"
              [canEditWorker]="canEditWorker"
            ></app-missing-mandatory-training>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <button type="button" class="govuk-button govuk-!-margin-top-4" (click)="returnToHome()">Return to home</button>
  </div>
</div>

<!-- <div *ngIf="jobRoleMandatoryTraining.length === 0">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
    <p>
      No mandatory training has been set for the
      {{ worker.mainJob?.other ? worker.mainJob.other : worker.mainJob.title }} job role yet.
    </p>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
    <a
      class="govuk-list govuk-util__float-right"
      *ngIf="canEditWorker"
      draggable="false"
      role="button"
      [routerLink]="['/workplace', workplace.uid, 'add-mandatory-training']"
    >
      Manage mandatory training
    </a>
  </div>
</div>-->
