<ng-container *ngIf="worker">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        <span class="govuk-caption-xl">{{ worker.nameOrId }}</span>
        Staff record
      </h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-8">
      <p>Last updated on {{ worker.updated | date: 'longDate' }}</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-wdf-staff-record-status-message
        *ngIf="!updatedWorker.wdf.isEligible"
        [overallWdfEligibility]="overallWdfEligibility"
        [worker]="updatedWorker"
        [wdfStartDate]="wdfStartDate"
        [wdfEndDate]="wdfEndDate"
      ></app-wdf-staff-record-status-message>
    </div>
  </div>

  <app-staff-record-summary
    *ngIf="workplace && worker"
    [workplace]="workplace"
    [worker]="worker"
    [wdfView]="true"
    [overallWdfEligibility]="overallWdfEligibility"
    (allFieldsConfirmed)="refreshUpdatedWorkerAndWdfEligibility()"
  ></app-staff-record-summary>
  <div
    class="govuk-grid-row govuk-button-group govuk__align-items-center govuk__justify-content-space-between govuk__flex"
  >
    <div class="govuk-grid-column-one-half">
      <a class="govuk-button govuk-!-margin-top-3" [routerLink]="exitUrl.url" [fragment]="exitUrl.fragment"
        >Close this staff record</a
      >
    </div>
    <div class="govuk-grid-column-one-half">
      <app-wdf-pagination [workerList]="workerList"></app-wdf-pagination>
    </div>
  </div>
</ng-container>
