<div class="main-page-container col-12">
  <header>
    <h1 class="h1">Number of staff</h1>
    <p class="page-description">What is the total number of staff at your workplace?</p>
    <p class="page-comment">This includes permanent, temporary, pool/bank or agency staff.</p>
  </header>

  <form novalidate
    (ngSubmit)="onSubmit()"
    [formGroup]="staffForm">

    <div class="form-group mb-5">
      <div class="col-3 p-0">
          <input type="text"
               placeholder=""
               id="numStaff"
               formControlName="numStaff"
               class="form-control col-12 col-lg-6"
               required
               [ngClass]="{'is-invalid': (staffForm.get('numStaff').touched ||
                                          staffForm.get('numStaff').dirty) &&
                                          !staffForm.get('numStaff').valid }" />
        <span class="invalid-feedback">
          <span *ngIf="staffForm.get('numStaff').errors?.required" class="main-body-text">
            Please enter number of staff.
          </span>
          <span *ngIf="staffForm.get('numStaff').errors?.maxlength" class="main-body-text">
            Number of Staff must be more than 0 but 999 or less.
          </span>
        </span>
      </div>
    </div>
    <div class="btn-container">
      <button type="submit" class="btn btn-primary">Save and continue</button>
    </div>  
  </form>
</div>

