<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <fieldset class="govuk-fieldset govuk-!-margin-bottom-5">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Forgot your username or password?</h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="forgotUsername"
              name="usernameOrPassword"
              type="radio"
              value="username"
            />
            <label class="govuk-label govuk-radios__label" for="forgotUsername"> Username </label>
          </div>
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="forgotPassword"
              name="usernameOrPassword"
              type="radio"
              value="password"
            />
            <label class="govuk-label govuk-radios__label" for="forgotPassword"> Password </label>
          </div>
        </div>
      </fieldset>

      <app-details title="Forgot both?" data-testid="reveal-text">
        <p>
          <a [routerLink]="['/forgot-your-password']">Request a link to reset your password</a>
          and then come back here to find your username. Alternatively, call the ASC-WDS Support Team on
          <b>0113 241 0969</b> for help.
        </p>
      </app-details>

      <div class="govuk-button-group govuk-!-margin-top-8">
        <button class="govuk-button">Continue</button>
        <span class="govuk-visually-hidden">or</span>
        <a class="govuk-body-m govuk-button--link" [routerLink]="['/login']">Back to sign in</a>
      </div>
    </form>
  </div>
</div>
