<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ workplace.name }} (Workplace ID: {{ workplace.nmdsId }})</span>
          <h1 class="govuk-fieldset__heading">Make and Manage WDF claims</h1>
        </legend>
        <p data-testid="info" class="govuk-!-margin-bottom-6">
          The grant letter needs to be signed before you can make and manage Workforce Development Fund (WDF) claims.
        </p>
        <app-details [title]="revealTitle">
          <p data-testid="reveal">
            A grant letter is a legally binding agreement between Skills for Care and you workplace. It sets out the
            terms and conditions for claiming from the WDF.
          </p>
        </app-details>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-6">
            <h5 class="govuk-fieldset__heading">Who do you want to send the grant letter to?</h5>
          </legend>
          <span *ngIf="submitted" id="grantLetter-error" class="govuk-error-message">
            <span *ngIf="this.form.get('grantLetter').errors" id="grantLetter-error">{{
              getErrorMessage('grantLetter')
            }}</span>
          </span>
          <div class="govuk-radios govuk-radios--conditional govuk-!-margin-bottom-8">
            <!-- <ng-container *ngFor="let answer of options; let i = index">
              <div class="govuk-radios__item">
                <input
                  aria-controls="grantLetter-conditional-{{ i }}"
                  class="govuk-radios__input"
                  [formControlName]="'grantLetter'"
                  id="grantLetter-{{ i }}"
                  name="grantLetter"
                  type="radio"
                  [value]="answer"
                  (click)="onChange(answer)"
                />
                <label class="govuk-label govuk-radios__label" for="grantLetter-{{ i }}">
                  {{ answer }}
                </label>
              </div>

              <div
                *ngIf="answer === options[1]"
                class="govuk-radios__conditional"
                [class.govuk-radios__conditional--hidden]="!showNameAndEmail"
                data-testid="grantLetterRadio-conditional"
              >
                <div class="govuk-form-group" *ngIf="this.form.get('fullName')">
                  <label class="govuk-label" for="fullName"> Full name </label>
                  <span
                    *ngIf="submitted && submittedWithAddtionalFields && this.form.get('fullName').errors"
                    id="fullName-error"
                    class="govuk-error-message"
                  >
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ getErrorMessage('fullName') }}
                  </span>
                  <input
                    class="govuk-input govuk-input--width-20"
                    [class.govuk-input--error]="
                      submitted && submittedWithAddtionalFields && form.get('fullName').invalid
                    "
                    id="fullName"
                    formControlName="fullName"
                    name="fullName"
                    type="text"
                  />
                </div>
                <div class="govuk-form-group" *ngIf="this.form.get('emailAddress')">
                  <label class="govuk-label" for="emailAddress"> Email address </label>
                  <span
                    *ngIf="submitted && submittedWithAddtionalFields && form.get('emailAddress').invalid"
                    id="emailAddress-error"
                    class="govuk-error-message"
                  >
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ getErrorMessage('emailAddress') }}
                  </span>
                  <input
                    class="govuk-input govuk-input--width-20"
                    [class.govuk-input--error]="
                      submitted && submittedWithAddtionalFields && form.get('emailAddress').invalid
                    "
                    id="emailAddress"
                    formControlName="emailAddress"
                    name="emailAddress"
                    type="text"
                  />
                </div>
              </div>
            </ng-container> -->

            <div class="govuk-radios__item">
              <input
                aria-controls="grantLetter-conditional-0"
                class="govuk-radios__input"
                [formControlName]="'grantLetter'"
                id="grantLetter-0"
                name="grantLetter"
                type="radio"
                [value]="options[0]"
                (click)="onChange(options[0])"
              />
              <label class="govuk-label govuk-radios__label" for="grantLetter-0">
                {{ options[0] }}
              </label>
            </div>

            <div
              *ngIf="showNameAndEmailMyself"
              class="govuk-radios__conditional"
              data-testid="grantLetterRadio-conditional"
            >
              <div class="govuk-form-group" *ngIf="this.form.get('fullName')">
                <label class="govuk-label" for="fullName"> Full name </label>
                <span
                  *ngIf="submitted && this.form.get('fullName').errors"
                  id="fullName-error"
                  class="govuk-error-message"
                >
                  <span class="govuk-visually-hidden">Error:</span>
                  {{ getErrorMessage('fullName') }}
                </span>
                <input
                  class="govuk-input govuk-input--width-20"
                  [class.govuk-input--error]="submitted && form.get('fullName').invalid"
                  id="fullName"
                  formControlName="fullName"
                  name="fullName"
                  type="text"
                />
              </div>
              <div class="govuk-form-group" *ngIf="this.form.get('emailAddress')">
                <label class="govuk-label" for="emailAddress"> Email address </label>
                <span
                  *ngIf="submitted && form.get('emailAddress').invalid"
                  id="emailAddress-error"
                  class="govuk-error-message"
                >
                  <span class="govuk-visually-hidden">Error:</span>
                  {{ getErrorMessage('emailAddress') }}
                </span>
                <input
                  class="govuk-input govuk-input--width-20"
                  [class.govuk-input--error]="submitted && form.get('emailAddress').invalid"
                  id="emailAddress"
                  formControlName="emailAddress"
                  name="emailAddress"
                  type="text"
                />
              </div>
            </div>
            <div class="govuk-radios__item">
              <input
                aria-controls="grantLetter-conditional-1"
                class="govuk-radios__input"
                [formControlName]="'grantLetter'"
                id="grantLetter-1"
                name="grantLetter"
                type="radio"
                [value]="options[1]"
                (click)="onChange(options[1])"
              />
              <label class="govuk-label govuk-radios__label" for="grantLetter-1">
                {{ options[1] }}
              </label>
            </div>

            <div
              *ngIf="showNameAndEmailSomebody"
              class="govuk-radios__conditional"
              data-testid="grantLetterRadio-conditional"
            >
              <div class="govuk-form-group" *ngIf="this.form.get('fullName')">
                <label class="govuk-label" for="fullName"> Full name </label>
                <span
                  *ngIf="submitted && this.form.get('fullName').errors"
                  id="fullName-error"
                  class="govuk-error-message"
                >
                  <span class="govuk-visually-hidden">Error:</span>
                  {{ getErrorMessage('fullName') }}
                </span>
                <input
                  class="govuk-input govuk-input--width-20"
                  [class.govuk-input--error]="submitted && form.get('fullName').invalid"
                  id="fullName"
                  formControlName="fullName"
                  name="fullName"
                  type="text"
                />
              </div>
              <div class="govuk-form-group" *ngIf="this.form.get('emailAddress')">
                <label class="govuk-label" for="emailAddress"> Email address </label>
                <span
                  *ngIf="submitted && form.get('emailAddress').invalid"
                  id="emailAddress-error"
                  class="govuk-error-message"
                >
                  <span class="govuk-visually-hidden">Error:</span>
                  {{ getErrorMessage('emailAddress') }}
                </span>
                <input
                  class="govuk-input govuk-input--width-20"
                  [class.govuk-input--error]="
                    submitted && submittedWithAddtionalFields && form.get('emailAddress').invalid
                  "
                  id="emailAddress"
                  formControlName="emailAddress"
                  name="emailAddress"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <button class="govuk-button" type="submit">Send email</button>
    </form>
  </div>
</div>
