<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Manage WDF claims</h1>
        </legend>
        <p data-testid="info" class="govuk-!-margin-bottom-8">
          Before you can manage Workforce Development Fund (WDF) claims, <br />you need to email a copy of the grant
          letter to be signed.
        </p>
        <app-details [title]="revealTitle">
          <p data-testid="reveal">Coming soon...........</p>
        </app-details>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-6">
            <h5 class="govuk-fieldset__heading">Who do you want to email the grant letter to?</h5>
          </legend>
          <span *ngIf="submitted" id="regulated-error" class="govuk-error-message">
            <span *ngIf="this.form.get('grantLetter').errors" id="grantLetter-error">{{
              getErrorMessage('grantLetter')
            }}</span>
          </span>
          <div class="govuk-radios govuk-radios--conditional govuk-!-margin-bottom-8">
            <ng-container *ngFor="let answer of options; let idx = index">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  [formControlName]="'grantLetter'"
                  id="grantLetter-{{ idx }}"
                  name="grantLetter"
                  type="radio"
                  [value]="answer"
                  (change)="addControl(answer)"
                />
                <label class="govuk-label govuk-radios__label" for="grantLetter-{{ idx }}">
                  {{ answer }}
                </label>
              </div>
              <div
                *ngIf="answer === 'Somebody else'"
                class="govuk-radios__conditional"
                [class.govuk-radios__conditional--hidden]="form.get('grantLetter').value !== 'Somebody else'"
                [attr.data-testid]="'grantLetterRadio-conditional-' + idx"
              >
                <div class="govuk-form-group" *ngIf="this.form.get('fullName')">
                  <label class="govuk-label" for="fullName"> Full name </label>
                  <span *ngIf="submitted" id="fullName-error" class="govuk-error-message">
                    <span *ngIf="this.form.get('fullName').errors" id="fullName-error">{{
                      getErrorMessage('fullName')
                    }}</span>
                  </span>
                  <input
                    class="govuk-input govuk-input--width-20"
                    [class.govuk-input--error]="submitted && form.get('fullName').invalid"
                    id="fullName"
                    formControlName="fullName"
                    name="fullName"
                    type="text"
                  />
                </div>
                <div class="govuk-form-group" *ngIf="this.form.get('emailAddress')">
                  <label class="govuk-label" for="emailAddress"> Email address </label>
                  <span
                    *ngIf="submitted && form.get('emailAddress').invalid"
                    id="emailAddress-error"
                    class="govuk-error-message"
                  >
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ getErrorMessage('emailAddress') }}
                  </span>
                  <input
                    class="govuk-input govuk-input--width-20"
                    [class.govuk-input--error]="submitted && form.get('emailAddress').invalid"
                    id="emailAddress"
                    formControlName="emailAddress"
                    name="emailAddress"
                    type="text"
                  />
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </fieldset>

      <button class="govuk-button" type="submit">Send email</button>
    </form>
  </div>
</div>
