<span class="govuk-!-margin-bottom-0 govuk__flex govuk__nowrap">
  <ng-container *ngIf="showMeetingRequirementsMessage()">
    <span class="govuk-visually-hidden">{{ worker.nameOrId }} is</span>
    <img class="govuk-!-margin-right-1" src="/assets/images/tick-icon.svg" alt="" />
    <span class="govuk-visually-hidden">Green tick</span>Meeting requirements
  </ng-container>
  <ng-container *ngIf="showCheckStaffRecordMessage()">
    <img class="govuk-!-margin-right-1" src="/assets/images/flag-orange.svg" alt="" />
    <span class="govuk-visually-hidden">Orange warning flag</span>Check this staff record
  </ng-container>
</span>
