.govuk-input__currency {
  &::before {
    content: '£';
    display: inline-block;
    box-sizing: border-box;

    outline: none;
    vertical-align: top;

    height: 40px;
    margin-top: 0;

    padding: govuk-spacing(1) govuk-spacing(2);
    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
    border-right: 0;
    border-radius: 0;

    @include govuk-font($size: 19, $weight: normal, $line-height: 26px);
  }
}

.asc-email-input--wrapper {
  background-color: #f3f2f1;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);

  > .govuk-form-group {
    margin-bottom: 0;
  }

  .govuk-error-message {
    margin-bottom: govuk-spacing(2);
  }

  .asc-email-input--hint {
    display: inline-block;
    margin-bottom: govuk-spacing(2);
    font-weight: 700;
  }
}
