<app-error-summary *ngIf="submitted && serverError" [serverError]="serverError" [form]="form"> </app-error-summary>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <fieldset class="govuk-fieldset">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Did your organisation employ these workers from outside the UK or from inside the UK?
          </h1>
        </legend>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Why we ask for this information</span>
          </summary>
          <div class="govuk-details__text">
            <p>
              DHSC use this data to help the identify movement trends for workers with Health and Care Worker visas. The
              data is also used to inform recruitment plans.
            </p>
          </div>
        </details>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th
                  scope="row"
                  class="govuk-table__header govuk-!-font-weight-regular govuk-!-width-one-quarter"
                  style="vertical-align: middle"
                ></th>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row" *ngFor="let worker of employedFromOutsideUKStaff.controls; let i = index">
                <th
                  scope="row"
                  class="govuk-table__header govuk-!-font-weight-regular govuk-!-width-one-quarter"
                  style="vertical-align: middle"
                >
                  <a href="#" (click)="navigateToStaffRecord($event, worker)">
                    {{ worker.value.nameOrId }}
                  </a>
                </th>
                <td class="govuk-table__cell">
                  <div class="govuk-radios govuk-radios--inline">
                    <div
                      *ngFor="let answer of answers; let j = index"
                      class="govuk-radios__item govuk-!-margin-left-2 govuk-!-margin-bottom-0"
                    >
                      <input
                        id="insideOutsideUk-{{ i }}-{{ j }}"
                        name="insideOutsideUk-{{ i }}"
                        class="govuk-radios__input"
                        type="radio"
                        [checked]="worker.value == answer"
                        [value]="answer.value"
                        (change)="radioChange(i, j)"
                      />
                      <label class="govuk-label govuk-radios__label" for="fluJab-{{ i }}-{{ j }}">
                        {{ answer.tag }}
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </fieldset>
  <app-submit-exit-buttons [cta]="'Save information'" [exit]="'Cancel'" [return]="return"></app-submit-exit-buttons>
</form>
