<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Training and qualifications</span>
            <h1 class="govuk-fieldset__heading">
              What's the highest level of social care qualification that they have?
            </h1>
          </legend>

          <app-details [title]="'Help with qualification levels'">
            <a
              target="_blank"
              href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"
            >
              Find out more about qualification levels<span class="govuk-visually-hidden"
                >, (opens in a new window)</span
              >
            </a>
            on the GOV.UK website.
          </app-details>
          <p class="govuk-!-font-weight-bold">Qualification level</p>

          <div class="govuk-radios">
            <div *ngFor="let qualification of qualifications; let idx = index" class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                formControlName="qualification"
                id="qualification-{{ idx }}"
                name="qualification"
                type="radio"
                [value]="qualification.id"
              />
              <label class="govuk-label govuk-radios__label" for="qualification-{{ idx }}">
                {{ qualification.level | dontKnow }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" *ngIf="insideFlow && !insideSocialCareQualificationLevelSummaryFlow">
      <div class="govuk-!-margin-left-8">
        <app-progress-bar
          data-testid="progress-bar"
          [sections]="staffRecordSections"
          [currentSection]="'Training and qualifications'"
        ></app-progress-bar>
      </div>
    </div>
  </div>

  <app-submit-button
    [return]="!insideFlow || insideSocialCareQualificationLevelSummaryFlow"
    (clicked)="setSubmitAction($event)"
  ></app-submit-button>
</form>
