<div class="sub-page-container col-12">

  <div id="back" class="back-link">
    <a routerLink="/">
      <span class="arrow"></span>Back
    </a>
  </div>

  <p class="h5">Section 1 of 6</p>
  <h1 class="h1">Care Quality Commission regulation</h1>

  <form (ngSubmit)="onSubmit()" #CqcRegisteredQuestionModule="ngForm">

    <div class="form-group mb-5">
      <div class="col-12 p-0">
        <label class="main-body-text-bold mb-3 d-block">Are you regulated by the Care Quality Commission (CQC)?</label>

        <div class="row mb-5">
          <div class="col-12">
            <div class="multiple-choice">
              <input type="radio" id="reqQuestionYes" [(ngModel)]="registeredQuestionSelected" value="yes" name="yes">
              <label class="main-body-text p-0" for="reqQuestionYes">Yes</label>
            </div>
          </div>

          <div *ngIf="registeredQuestionSelected === 'yes'" class="panel panel-border-narrow col-10 col-lg-6">

            <div class="field-group">
              <label class="form-label" for="postcodeYes">Enter your postcode</label>
              <input name="postcodeYes" [(ngModel)]="questionCheck.postcodeYes" placeholder="postcode" type="text" id="postcodeYes" class="form-control col-12" />
            </div>
            <div class="field-group mt-2">
              <p class="label mt-4">or</p>

              <label class="form-label" for="locationId">Enter your location ID number</label>
              <input name="locationId" [(ngModel)]="questionCheck.locationId" placeholder="location" type="text" id="location" class="form-control col-12" />
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="multiple-choice">
              <input type="radio" id="regQuestionNo" [(ngModel)]="registeredQuestionSelected" value="no" name="no">
              <label class="main-body-text p-0" for="regQuestionNo">No</label>
            </div>
          </div>

          <div *ngIf="registeredQuestionSelected === 'no'" class="panel panel-border-narrow col-10 col-lg-6">
            <div class="field-group">

              <label class="main-body-text mb-3 d-block" for="postcodeNo">What is your postcode?</label>
              <input name="postcodeNo" [(ngModel)]="questionCheck.postcodeNo" placeholder="postcode" type="text" id="postcodeNo" class="form-control col-12" />
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>

  </form>


</div>
