<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" data-testid="heading">
    <h1 class="govuk-heading-l">
      Add and manage mandatory<br />
      training categories
    </h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds" style="width: 63%" data-testid="mandatoryTrainingInfo">
    <p>
      Add the training categories you want to make mandatory for your staff. It will help you identify who is missing
      training and let you know when training expires.
    </p>
  </div>

  <div
    class="govuk-grid-column-one-third govuk-util__align-right"
    style="width: 37%"
    data-testid="mandatoryTrainingButton"
  >
    <button (click)="navigateToAddNewMandatoryTraining()" class="govuk-button">
      Add a mandatory training category
    </button>
  </div>
</div>

<table class="govuk-table" data-testid="training-table" *ngIf="existingMandatoryTrainings?.mandatoryTrainingCount > 0">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row" data-testid="training-table-heading">
      <th class="govuk-table__header" scope="col">Mandatory training category</th>
      <th class="govuk-table__header" scope="col">Job role</th>
      <th class="govuk-table__header" scope="col">
        <a
          *ngIf="existingMandatoryTrainings?.mandatoryTrainingCount > 0"
          class="govuk-link govuk-link--no-visited-state govuk-util__normal"
          data-testid="removeMandatoryTrainingLink"
          draggable="false"
          role="button"
          [routerLink]="[
            '/workplace',
            establishment.uid,
            'add-and-manage-mandatory-training',
            'remove-all-mandatory-training'
          ]"
          >Remove all</a
        >
      </th>
    </tr>
  </thead>
  <ng-container>
    <tbody
      class="govuk-table__body"
      *ngFor="let records of existingMandatoryTrainings.mandatoryTraining; let i = index"
    >
      <tr class="govuk-table__row govuk-util__vertical-align-top">
        <td class="govuk-table__cell" [attr.data-testid]="'category-' + records.category">
          <a [routerLink]="[records.trainingCategoryId, 'edit-mandatory-training']">
            {{ records.category }}
          </a>
        </td>

        <td class="govuk-table__cell">
          <ng-container
            *ngIf="
              records.jobs.length === allJobsLength ||
              (mandatoryTrainingHasDuplicateJobRoles[i][records.trainingCategoryId].hasPreviousAllJobsLength &&
                mandatoryTrainingHasDuplicateJobRoles[i][records.trainingCategoryId].hasDuplicates)
            "
          >
            <span data-testid="titleAll">{{ 'All' }}</span>
          </ng-container>
          <ng-container
            *ngIf="
              records.jobs.length < allJobsLength &&
              !mandatoryTrainingHasDuplicateJobRoles[i][records.trainingCategoryId].hasPreviousAllJobsLength
            "
          >
            <div data-testid="titleJob" *ngFor="let job of records.jobs">{{ job.title }}</div>
          </ng-container>
        </td>
        <td class="govuk-table__cell">
          <a
            href="#"
            (click)="navigateToDeletePage($event, records.trainingCategoryId)"
            [attr.data-testid]="'remove-link-' + records.category"
          >
            Remove
          </a>
        </td>
      </tr>
    </tbody>
  </ng-container>
</table>
