<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" data-testid="heading">
    <span class="govuk-caption-l">Add a mandatory training category</span>
    <h1 class="govuk-heading-l">
      Add and manage mandatory<br />
      training categories
    </h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds" style="width: 63%" data-testid="mandatoryTrainingInfo">
    <p style="padding-top: 7px">
      Add the training categories you want to make mandatory for your staff. It will help you to identify who is missing
      training and let you know when training expires.
    </p>
  </div>

  <div
    class="govuk-grid-column-one-third govuk-util__align-right"
    style="width: 37%"
    data-testid="mandatoryTrainingButton"
  >
    <button (click)="navigateToAddNewMandatoryTraining($event)" class="govuk-button">
      Add a mandatory training category
    </button>
  </div>
</div>

@if (existingMandatoryTrainings?.mandatoryTrainingCount > 0) {
  <table class="govuk-table" data-testid="training-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row" data-testid="training-table-heading">
        <th class="govuk-table__header" scope="col">Mandatory training category</th>
        <th class="govuk-table__header" scope="col">Job role</th>
        <th class="govuk-table__header govuk-util__align-right" scope="col">
          @if (existingMandatoryTrainings?.mandatoryTrainingCount > 1) {
            <a
              class="govuk-link govuk-link--no-visited-state govuk-util__normal"
              data-testid="removeMandatoryTrainingLink"
              draggable="false"
              role="button"
              [routerLink]="[
                '/workplace',
                establishment.uid,
                'add-and-manage-mandatory-training',
                'remove-all-mandatory-training',
              ]"
              >Remove all</a
            >
          }
        </th>
      </tr>
    </thead>
    <ng-container>
      @for (records of existingMandatoryTrainings.mandatoryTraining; track $index; let i = $index) {
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-util__vertical-align-top">
            <td class="govuk-table__cell" [attr.data-testid]="'category-' + records.category">
              <a href="#" (click)="navigateToAddNewMandatoryTraining($event, records)">
                {{ records.category }}
              </a>
            </td>
            <td class="govuk-table__cell">
              @if (records.jobs.length === allJobsLength) {
                <span data-testid="titleAll">All</span>
              }
              @if (records.jobs.length < allJobsLength) {
                @for (job of records.jobs; track job.title) {
                  <div data-testid="titleJob">{{ job.title }}</div>
                }
              }
            </td>
            <td class="govuk-table__cell govuk-!-padding-right-0 govuk-util__align-right">
              <a
                href="#"
                (click)="navigateToDeletePage($event, records.trainingCategoryId)"
                class="govuk-link govuk-link--no-visited-state"
                [attr.data-testid]="'remove-link-' + records.category"
              >
                Remove
              </a>
            </td>
          </tr>
        </tbody>
      }
    </ng-container>
  </table>
}
