<app-table-pagination-wrapper
  [totalCount]="totalWorkerCount"
  [count]="workerCount"
  [searchTerm]="searchTerm"
  [sortByParamMap]="sortByParamMap"
  [sortOptions]="sortStaffOptions"
  accessibleLabel="for staff records"
  (fetchData)="getPageOfWorkers($event)"
  [label]="searchLabel"
  [maintainedPageIndex]="maintainedPageIndex"
  [sortByValue]="sortByValue"
>
  @if (showUpdatePayForMultipleStaffLink) {
    <ng-container placeAboveSearchBox>
      <div class="govuk-grid-column-three-quarters">
        <app-new-pill-with-link
          placeAboveSearchBox
          [linkText]="updatePayForMultipleStaffLinkText"
          [showNewPill]="showNewPill"
          data-testid="update-pay-for-multiple-staff-link"
          (clicked)="handleOnClick()"
        ></app-new-pill-with-link>
      </div>
    </ng-container>
  }
  @if (workerCount) {
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name or ID number</th>
          <th class="govuk-table__header" scope="col">Job role</th>
          <th class="govuk-table__header" scope="col">Last update</th>
          @if (!wdfView) {
            <th class="govuk-table__header" scope="col">
              <span class="govuk-visually-hidden">Status</span>
            </th>
          }
          @if (wdfView) {
            <th class="govuk-table__header" scope="col">WDF requirements</th>
          }
        </tr>
      </thead>
      <tbody class="govuk-table__body" data-testid="staff-table">
        @for (worker of paginatedWorkers; track worker.uid) {
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-regular">
              @if (canViewWorker) {
                <a href="#" (click)="getWorkerRecordPath($event, worker)">
                  {{ worker.nameOrId }}
                </a>
              } @else {
                {{ worker.nameOrId }}
              }
            </td>
            <td class="govuk-table__cell">{{ worker.mainJob.jobRoleName }}</td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden">last update</span>
              <span class="govuk__nowrap">{{ lastUpdated(worker.updated) }}</span>
            </td>
            @if (!wdfView) {
              <td class="govuk-table__cell">
                @if (canEditWorker && !worker.completed) {
                  <a
                    class="govuk-util__float-right"
                    [routerLink]="['/workplace', workplace.uid, 'staff-record', worker.uid, 'date-of-birth']"
                    [state]="{ navigatedFrom: 'staff-records' }"
                    >Add more details <span class="govuk-visually-hidden"> for {{ worker.nameOrId }}</span></a
                  >
                }
              </td>
            }
            @if (wdfView) {
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden">{{ worker.nameOrId }} is</span>
                <app-eligibility-icon [eligible]="worker.wdfEligible"></app-eligibility-icon>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="govuk-!-margin-top-6">
      <p class="govuk-util__bold">There are no matching results</p>
      <p>Make sure that your spelling is correct.</p>
    </div>
  }
</app-table-pagination-wrapper>
