<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Edit Staff Details</h1>
  </div>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div
    class="govuk-form-group"
    [class.govuk-form-group--error]="submitted && (form.get('nameOrId').invalid || serverError)"
  >
    <label class="govuk-label" for="nameOrId">
      Full name or ID number
    </label>
    <input
      class="govuk-input govuk-!-width-two-thirds"
      [class.govuk-input--error]="form.get('nameOrId').invalid"
      formControlName="nameOrId"
      id="nameOrId"
      name="nameOrId"
      type="text"
    />
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="mainJob">
      What is their main job role
    </label>
    <select class="govuk-select" formControlName="mainJob" id="mainJob" name="mainJob">
      <option [ngValue]="null">Select Main Job Role</option>
      <option *ngFor="let job of jobsAvailable" [value]="job.id">
        {{ job.title }}
      </option>
    </select>
  </div>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend">
        <h1 class="govuk-fieldset__heading">
          What type of contract do they have?
        </h1>
      </legend>
      <div class="govuk-radios">
        <div *ngFor="let contract of contractsAvailable; let idx = index" class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            formControlName="contract"
            id="contract-{{ idx }}"
            name="contract"
            type="radio"
            [value]="contract"
          />
          <label class="govuk-label govuk-radios__label" for="contract-{{ idx }}">
            {{ contract }}
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <app-submit-button [return]="!!return" (click)="onSubmit($event)"></app-submit-button>
</form>
