<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">{{ worker ? 'Edit' : 'Add' }} a staff record</h1>
        </legend>
        <div
          class="govuk-form-group"
          [class.govuk-form-group--error]="submitted && (form.get('nameOrId').invalid || serverError)"
        >
          <label class="govuk-label" for="nameOrId">
            <b>Name or ID number</b>
          </label>
          <span *ngIf="submitted && form.get('nameOrId').errors" id="nameOrId-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ getFormErrorMessage('nameOrId', 'required') }}
          </span>
          <input
            class="govuk-input govuk-!-width-two-thirds"
            [class.govuk-input--error]="submitted && form.get('nameOrId').invalid"
            [formControlName]="'nameOrId'"
            id="nameOrId"
            name="nameOrId"
            type="text"
          />
        </div>
        <div
          class="govuk-form-group"
          [class.govuk-form-group--error]="
            submitted && (form.get('mainJob').invalid || form.get('otherJobRole').invalid)
          "
        >
          <label class="govuk-label" for="mainJob">
            <b>Main job role</b>
          </label>
          <span *ngIf="submitted && form.get('mainJob').errors" id="mainJob-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ getFormErrorMessage('mainJob', 'required') }}
          </span>
          <select
            class="govuk-select"
            [class.govuk-select--error]="submitted && form.get('mainJob').invalid"
            [formControlName]="'mainJob'"
            id="mainJob"
            name="mainJob"
            (change)="selectedJobRole($event.target.value)"
          >
            <option [ngValue]="null">Select main job role</option>
            <option *ngFor="let job of jobsAvailable" [value]="job.id">
              {{ job.title }}
            </option>
          </select>

          <div
            class="govuk-radios__conditional govuk-!-margin-top-4"
            [class.govuk-select__conditional--hidden]="!showInputTextforOtherRole"
          >
            <label class="govuk-label" for="otherJobRole-conditional">
              <b>What is the job role?</b>
            </label>
            <span
              *ngIf="submitted && form.get('otherJobRole').invalid"
              id="otherJobRole-error"
              class="govuk-error-message"
            >
              <span class="govuk-visually-hidden">Error:</span>
              {{ getFormErrorMessage('otherJobRole', 'maxlength') }}
            </span>
            <input
              class="govuk-input govuk-!-width-two-thirds"
              [formControlName]="'otherJobRole'"
              id="otherJobRole-conditional"
              name="otherJobRole"
              type="text"
              aria-describedby="otherJobRole-hint"
              [class.govuk-select--error]="submitted && form.get('otherJobRole').invalid"
            />
          </div>
        </div>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('contract').invalid">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              <h1 class="govuk-fieldset__heading">
                <b> Type of contract </b>
              </h1>
            </legend>
            <span *ngIf="submitted && form.get('contract').errors" id="contract-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{ getFormErrorMessage('contract', 'required') }}
            </span>
            <div class="govuk-radios">
              <div *ngFor="let contract of contractsAvailable; let idx = index" class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  [class.govuk-input--error]="submitted && form.get('contract').invalid"
                  [formControlName]="'contract'"
                  id="contract-{{ idx }}"
                  name="contract"
                  type="radio"
                  [value]="contract"
                />
                <label class="govuk-label govuk-radios__label" for="contract-{{ idx }}">
                  {{ contract }}
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </fieldset>
    </div>
  </div>
  <app-submit-button
    [return]="canReturn"
    [canExit]="canExit"
    [recordSummary]="false"
    [callToAction]="this.submitTitle"
    (clicked)="onSubmit($event)"
  ></app-submit-button>
</form>
