<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form #formEl novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Is the main service you provide regulated by the Care Quality Commission?
          </h1>
        </legend>
        <app-details [title]="'Not sure if your main service is regulated?'">
          <p>
            Call the ASC-WDS Support Team on <strong>0113 241 0969</strong> or email
            <strong>ascwds-support@skillsforcare.org.uk</strong> for help.
          </p>
        </app-details>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
          <span *ngIf="submitted" id="regulated-error" class="govuk-error-message">
            <span *ngIf="this.form.get('regulatedByCQC').errors" data-testid="errorMessage" id="regulatedByCQC-error">{{
              getErrorMessage('regulatedByCQC')
            }}</span>
          </span>
          <div class="govuk-radios govuk-radios--conditional">
            <div class="govuk-radios__item">
              <input
                aria-controls="regulatedByCQC-conditional-1"
                class="govuk-radios__input"
                id="regulatedByCQC-1"
                name="regulatedByCQC"
                type="radio"
                value="yes"
                [formControlName]="'regulatedByCQC'"
              />
              <label class="govuk-label govuk-radios__label" for="regulatedByCQC-1"> Yes </label>
            </div>
            <div class="govuk-radios__item">
              <input
                aria-controls="regulatedByCQC-conditional-2"
                class="govuk-radios__input"
                id="regulatedByCQC-2"
                name="regulatedByCQC"
                type="radio"
                value="no"
                [formControlName]="'regulatedByCQC'"
              />
              <label class="govuk-label govuk-radios__label" for="regulatedByCQC-2"> No </label>
            </div>
          </div>
        </div>
      </fieldset>

      <button class="govuk-button" type="submit">Continue</button>
    </form>
  </div>
</div>
