<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">What type of employer is {{ employerName }}</h1>
  </div>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.get('employerType').invalid">
    <span id="employerType-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('employerType') }}
    </span>
    <div class="govuk-radios">
      <div *ngFor="let answer of options; let idx = index" class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          formControlName="employerType"
          id="employerType-{{ idx }}"
          name="employerType"
          type="radio"
          [value]="answer"
        />
        <label class="govuk-label govuk-radios__label" for="employerType-{{ idx }}">
          {{ answer }}
        </label>
      </div>
    </div>
  </div>
  <app-submit-button [return]="!!return" (click)="onSubmit($event)"></app-submit-button>
</form>
