<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && form.invalid">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">What type of employer is {{ establishment.name }}?</h1>
          </legend>

          <span
            *ngIf="submitted && form.get('employerType').invalid"
            id="employerType-error"
            class="govuk-error-message"
          >
            <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('employerType') }}
          </span>
          <div class="govuk-radios govuk-radios--conditional">
            <ng-container *ngFor="let answer of options; let idx = index">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  [formControlName]="'employerType'"
                  id="employerType-{{ idx }}"
                  name="employerType"
                  type="radio"
                  [value]="answer"
                />
                <label class="govuk-label govuk-radios__label" for="employerType-{{ idx }}">
                  {{ answer }}
                </label>
              </div>

              <div
                *ngIf="answer === 'Other'"
                class="govuk-radios__conditional"
                [class.govuk-radios__conditional--hidden]="form.get('employerType').value !== 'Other'"
                id="conditional-employerType-conditional-1"
              >
                <div class="govuk-form-group">
                  <label class="govuk-label" for="other">
                    Other Employer Type
                  </label>
                  <span id="employerType-hint" class="govuk-hint">
                    Optional
                  </span>
                  <span *ngIf="submitted && form.get('other').invalid" id="other-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ getFirstErrorMessage('other') }}
                  </span>
                  <input
                    class="govuk-input govuk-input--width-20"
                    [class.govuk-input--error]="submitted && form.get('other').invalid"
                    id="other"
                    [formControlName]="'other'"
                    name="other"
                    type="text"
                  />
                </div>
              </div>
            </ng-container>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>
