<div
  class="govuk-error-summary"
  aria-labelledby="error-summary-title"
  role="alert"
  tabindex="-1"
  data-module="error-summary"
  data-testid="error-summary-box"
  #errorSummary
>
  <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      @if (errors) {
        @if (getCurrentRoute(); as currentRoute) {
          @for (i of errors; track i) {
            <li>
              <a
                (click)="focusOnField(i.item)"
                [routerLink]="currentRoute"
                [replaceUrl]="true"
                [fragment]="getErrorId(i.item)"
                [queryParamsHandling]="'merge'"
                [innerHTML]="getFormErrorMessage(i.item, i.errors[0])"
              >
              </a>
            </li>
          }
        }
      }
      @if (serverError) {
        <li>
          <a
            [routerLink]="'.'"
            [fragment]="'server-error'"
            [queryParamsHandling]="'merge'"
            [innerHTML]="serverError"
          ></a>
        </li>
      }
      @if (customErrors) {
        @for (customError of customErrors; track customError.name) {
          <li>
            <a
              [routerLink]="'.'"
              [fragment]="customError.name"
              [queryParamsHandling]="'merge'"
              [innerHTML]="customError.message"
            ></a>
          </li>
        }
      }
    </ul>
  </div>
</div>
