<table class="govuk-table govuk-!-margin-top-6" [class.govuk-error-table]="hasErrors">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">File name</th>
      <th class="govuk-table__header" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">Records</th>
      <th class="govuk-table__header" scope="col">Actioned by</th>
      <th class="govuk-table__header" scope="col">Date</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <ng-container *ngFor="let file of uploadedFiles">
      <tr *ngIf="validationComplete">
        <td colspan="5">
          <app-file-validate-status [warnings]="file.warnings" [errors]="file.errors"></app-file-validate-status>
        </td>
      </tr>
      <tr [id]="getFileId(file)" class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell--file-name">
          <p class="govuk-!-margin-bottom-0">
            <a href="/bulk-upload/download/{{ encodeUrl(file.filename) }}" (click)="downloadFile($event, file.key)">
              {{ file.filename }}
            </a>
          </p>
        </td>
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors">
          {{ file.fileType ? bulkUploadFileTypeEnum[file.fileType] : getFileType(file.filename) }}
        </td>
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors">
          {{ file.records ? file.records : '-' }}
        </td>
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors">
          {{ file.username ? file.username : '-' }}
        </td>
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors">
          {{
            file.uploaded ? (file.uploaded | date: 'd MMM yyyy, h:mm') + (file.uploaded | date: 'a' | lowercase) : '-'
          }}
        </td>
        <td class="govuk-table__cell" [class.govuk-error-table__cell]="file.errors">
          <a href="#">Delete</a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-container *ngIf="!validationComplete">
  <button type="button" class="govuk-button govuk-!-margin-top-2" (click)="preValidateCheck()">Validate files</button>
</ng-container>

<ng-container *ngIf="validationComplete">
  <button
    *ngIf="!hasErrors"
    type="button"
    class="govuk-button govuk-button--primary govuk-!-margin-top-2"
    (click)="beginCompleteUpload()"
  >
    Complete the upload
  </button>
</ng-container>
