<ng-container *ngIf="worker">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        <span class="govuk-caption-xl">{{ worker.nameOrId }}</span>
        Staff record summary
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <p>Last updated on {{ worker.updated | date: 'longDate' }}</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
      <app-eligibility-icon [eligible]="isEligible"></app-eligibility-icon>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-margin-bottom-6">
        Check the information you have provided on this staff record is correct.
      </p>
    </div>
  </div>

  <app-staff-record-summary
    *ngIf="workplace && worker"
    [workplace]="workplace"
    [worker]="worker"
    [wdfView]="true"
  ></app-staff-record-summary>

  <app-wdf-confirmation-panel
    *ngIf="displayConfirmationPanel"
    (confirmed)="onConfirmAndSubmit()"
    [exitUrl]="exitUrl"
  ></app-wdf-confirmation-panel>
</ng-container>
