<app-error-summary
  *ngIf="(submitted && form.invalid) || serverError"
  [form]="form"
  [formErrorsMap]="formErrorsMap"
  [serverError]="serverError"
></app-error-summary>

<form #formEl (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">Sharing data with local authorities</h1>
        </legend>

        <p>Select which local authorities you would like to share your data with.</p>

        <div class="govuk-form-group" *ngIf="primaryAuthority">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              [formControlName]="'primaryAuthority'"
              id="primaryAuthority"
              type="checkbox"
              aria-describedby="primaryAuthority-hint"
            />
            <label class="govuk-label govuk-checkboxes__label" for="primaryAuthority">
              {{ primaryAuthority.name }}
            </label>
            <span id="primaryAuthority-hint" class="govuk-hint govuk-checkboxes__hint">
              This is the local authority you are located in
            </span>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-left-0">
    <p>Add more local authorities to share your data with.</p>
    <h2 class="govuk-heading-m">Local authorities</h2>
    <ng-container formArrayName="localAuthorities">
      <div
        class="govuk-form-group"
        *ngFor="let localAuthorities of localAuthoritiesArray.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="govuk-grid-column-two-thirds">
          <select
            class="govuk-select govuk-!-width-full"
            [formControlName]="'custodianCode'"
            id="localAuthorities-{{ i }}"
            name="custodianCode"
          >
            <option [ngValue]="null">Select Local authority</option>
            <option *ngFor="let authority of selectableAuthorities(i)" [value]="authority.custodianCode">
              {{ authority.name }}
            </option>
          </select>
        </div>
        <div class="govuk-grid-column-one-thirds govuk-!-padding-top-1">
          <a href="#" class="govuk-list govuk-list--inline" (click)="deleteLocalAuthority($event, i)">Remove</a>
        </div>
      </div>
    </ng-container>
    <button class="govuk-button govuk-button--secondary" type="button" (click)="addLocalAuthority()">
      Add another local authority
    </button>
  </div>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>
