@import '~govuk-frontend/govuk/base';

.asc-flowchart-image-container {
  overflow-x: scroll;
}

.asc-flowchart-row {
  width: 100%;
  min-width: 800px;

  &__justify-center {
    display: flex;
    justify-content: center;
  }

  &__flex {
    display: flex;
  }
}

.asc-flowchart-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.asc-flowchart-text-box {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;

  &__fixed-width {
    width: 340px;
  }
}

.asc-flowchart-flow-text {
  font-size: 16px;
  display: inline-block;
}

.asc-flowchart-image {
  width: 100%;

  &__margin-top {
    margin-top: 1px;
  }
}
