<app-error-summary *ngIf="submitted && form.invalid" [formErrorsMap]="formErrorsMap" [form]="form"></app-error-summary>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What is their nationality?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                [formControlName]="'nationalityKnown'"
                id="nationalityKnown-1"
                name="nationalityKnown"
                type="radio"
                value="British"
              />
              <label class="govuk-label govuk-radios__label" for="nationalityKnown-1">
                British
              </label>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                [formControlName]="'nationalityKnown'"
                id="nationalityKnown-conditional-2"
                name="nationalityKnown"
                type="radio"
                value="Other"
                aria-controls="conditional-nationalityKnown-conditional-2"
              />
              <label class="govuk-label govuk-radios__label" for="nationalityKnown-conditional-2">
                Other
              </label>
            </div>
            <div
              class="govuk-radios__conditional"
              [class.govuk-radios__conditional--hidden]="form.get('nationalityKnown').value !== 'Other'"
              id="conditional-nationalityKnown-conditional-2"
            >
              <div class="govuk-form-group">
                <label class="govuk-label" for="nationalityName">
                  Nationality
                </label>
                <span id="nationalityName-hint" class="govuk-hint">
                  Optional
                </span>
                <span
                  id="nationalityName-error"
                  class="govuk-error-message"
                  *ngIf="submitted && form.get('nationalityName').errors"
                >
                  {{ getFormErrorMessage('nationalityName', 'validNationality') }}
                </span>
                <div class="govuk-input--width-20">
                  <app-auto-suggest
                    [formGroup]="form"
                    [dataProvider]="nationalityNameFilter"
                    [formControlName]="'nationalityName'"
                  ></app-auto-suggest>
                </div>
              </div>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                [formControlName]="'nationalityKnown'"
                id="nationalityKnown-3"
                name="nationalityKnown"
                type="radio"
                value="Don't know"
              />
              <label class="govuk-label govuk-radios__label" for="nationalityKnown-3">
                Don't know
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <app-submit-button [return]="!!return" (clicked)="onSubmit($event)"></app-submit-button>
</form>
